Repository shiptest-ss13/Shiptest, pull requests merged in 2021-05, with the labels that each got.

#7 Adds new space suit for Solgov and a few other things that dont matter haha
  _maps/shuttles/arrival_pubby.dmm
  code/game/objects/effects/contraband.dm
  tgstation.dme
  whitesands/code/modules/clothing/spacesuits/hardsuits.dm
  whitesands/code/modules/clothing/spacesuits/softsuits.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/obj/clothing/hats.dmi
  whitesands/icons/obj/clothing/suits.dmi
  whitesands/icons/obj/contraband.dmi
Labels: DME Edit, Map Change, Sprites

#6 General housekeeping and refactoring
  _maps/map_files/generic/CentCom.dmm
  code/_globalvars/lists/flavor_misc.dm
  config/game_options.txt
  strings/star_names.txt
  whitesands/code/controllers/configuration/entries/game_options.dm
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/modules/overmap/_overmap.dm
  whitesands/code/modules/overmap/dynamic_events.dm
  whitesands/code/modules/overmap/events.dm
Labels: Config, Map Change

#9 Fixes/Ports from upstream/side(?)stream
  _maps/shuttles/whiteship_midway.dmm
  code/__HELPERS/unsorted.dm
  code/game/objects/structures/signs/_signs.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/mentor/follow.dm
  code/modules/mentor/mentor_verbs.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/vending/wardrobes.dm
  html/changelog.html
  html/changelogs/AutoChangeLog-pr-809.yml
  html/changelogs/AutoChangeLog-pr-840.yml
  tools/requirements.txt
  whitesands/code/game/machinery/cryopod.dm
  whitesands/code/modules/clothing/suits/jobs.dm
  whitesands/code/modules/mining/deepcore/drill.dm
  whitesands/code/modules/mining/deepcore/hopper.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/mob/moth_wings.dmi
  whitesands/icons/obj/clothing/hats.dmi
  whitesands/icons/obj/clothing/suits.dmi
Labels: Map Change, Sprites

#8 Adding more underclothes items, lets Ethereals wear them
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  icons/mob/clothing/underwear.dmi
Labels: Sprites

#10 Adds the Utility Jumpsuit
  tgstation.dme
  whitesands/code/modules/client/loadout/loadout_uniform.dm
  whitesands/code/modules/clothing/under/SolGov.dm
  whitesands/code/modules/clothing/under/misc.dm
  whitesands/icons/mob/clothing/under/misc.dmi
  whitesands/icons/obj/clothing/under/misc.dmi
Labels: DME Edit, Sprites

#11 Resprites Surgical Tools
  code/modules/surgery/tools.dm
  whitesands/icons/mob/inhands/equipment/medical_lefthand.dmi
  whitesands/icons/mob/inhands/equipment/medical_righthand.dmi
  whitesands/icons/obj/surgery.dmi
Labels: Sprites

#17 Nanoweave carpets
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  tgstation.dme
  whitesands/code/game/objects/items/stacks/tiles.dm
  whitesands/code/game/turfs/open/floor/carpet.dm
  whitesands/icons/obj/tiles.dmi
  whitesands/icons/turf/floors/nanoweave_beige.dmi
  whitesands/icons/turf/floors/nanoweave_blue.dmi
  whitesands/icons/turf/floors/nanoweave_dark.dmi
  whitesands/icons/turf/floors/nanoweave_orange.dmi
  whitesands/icons/turf/floors/nanoweave_purple.dmi
  whitesands/icons/turf/floors/nanoweave_red.dmi
Labels: DME Edit, Sprites

#16 Posters
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/objects/effects/contraband.dm
  code/game/objects/structures/signs/_signs.dm
  icons/obj/decals.dmi
  whitesands/icons/obj/contraband.dmi
Labels: Map Change, Sprites

#12 SpacemanDMM Sanity
  .vscode/tasks.json
  Build.bat
  SpacemanDMM.toml
  code/__HELPERS/unsorted.dm
  code/datums/traits/good.dm
  code/datums/traits/neutral.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/hologram.dm
  code/game/mecha/combat/durand.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/grenades/festive.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/client/preferences_toggles.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/mining/aux_base_camera.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/photography/photos/album.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/reagents/reagent_containers/chem_pack.dm
  code/modules/research/nanites/nanite_programs.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/shuttle/spaceship_navigation_beacon.dm
  code/world.dm
  tgui/packages/tgui/components/AnimatedNumber.js
  tgui/packages/tgui/format.js
  tools/bootstrap/node.bat
  tools/bootstrap/node_.ps1
  tools/build/cbt/fs.js
  tools/build/cbt/glob.js
  tools/build/cbt/task.js
  tools/mapmerge2/dmm.py
  whitesands/code/datums/status_effects/debuffs.dm
  whitesands/code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  whitesands/code/modules/mob/say_vr.dm
  whitesands/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Admin, tgui

#21 Species Blurbs updates, makes Jellypeople better to play as
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  config/game_options.txt
  whitesands/code/modules/mob/living/carbon/human/species_types/dwarves.dm
  whitesands/code/modules/mob/living/carbon/human/species_types/spider.dm
  whitesands/code/modules/mob/living/carbon/human/species_types/squidpeople.dm
Labels: Config
