Repository shiptest-ss13/Shiptest, pull requests merged in 2021-11, with the labels that each got.

#355 Wright-class
  _maps/configs/bogatyr.json
  _maps/configs/lamia.json
  _maps/configs/tide.json
  _maps/configs/wright.json
  _maps/shuttles/shiptest/isv_roberts.dmm
  _maps/shuttles/shiptest/lamia.dmm
  _maps/shuttles/shiptest/wright.dmm
  code/modules/jobs/job_types/assistant.dm
  whitesands/code/game/machinery/cryopod.dm
Labels: Map Change

#391 SolGov Outfit Update & Liberty Overhaul
  _maps/configs/solgov_carina.json
  _maps/configs/solgov_liberty.json
  _maps/shuttles/shiptest/solgov_carina.dmm
  _maps/shuttles/shiptest/solgov_liberty.dmm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
Labels: Map Change

#394 Adds the lizard-integrated lighter
  code/game/objects/items/cigs_lighters.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  icons/obj/cigarettes.dmi
Labels: Sprites

#395 changes handheld radio's perspective, demodularizes intercoms
  code/game/objects/items/devices/radio/intercom.dm
  icons/obj/radio.dmi
  whitesands/code/game/objects/items/devices/radio/encryptionkey.dm
  whitesands/code/game/objects/items/devices/radio/headset.dm
  whitesands/icons/obj/radio.dmi
Labels: Sprites

#400 [Fix] IPCs Can Speak EAL
  code/modules/surgery/organs/tongue.dm
Labels: Fix

#154 Disable Events
  code/controllers/subsystem/events.dm
Labels: Removal, Test Merged

#389 Some miscellaneous fixes
  .dockerignore
  .github/workflows/ci_suite.yml
  .vscode/tasks.json
  Dockerfile
  code/datums/status_effects/debuffs.dm
  code/datums/traits/neutral.dm
  code/modules/client/client_colour.dm
  shiptest.dme
  tools/TGUICompiler.php
  tools/build/build.js
  tools/ci/build.ps1
  tools/ci/run_server.sh
  tools/deploy.sh
  tools/expand_filedir_paths.py
  tools/linux_build.py
  tools/tgs4_scripts/PreCompile.bat
  whitesands/code/game/area/ship_areas.dm
  whitesands/code/game/machinery/Sleeper.dm
Labels: DME Edit, Github

#402 respirtes falshlights
  icons/obj/lighting.dmi
Labels: Sprites

#397 Two BRAND-NEW Tide-Class ships
  _maps/configs/cargotide.json
  _maps/configs/hightide.json
  _maps/shuttles/shiptest/cargotide.dmm
  _maps/shuttles/shiptest/hightide.dmm
Labels: Map Change

#396 High-Class job datums update
  _maps/configs/corphigh.json
  _maps/shuttles/shiptest/corp_high.dmm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Map Change

#404 fixes apc on high class and removes random wire on trunktide
  _maps/shuttles/shiptest/cargotide.dmm
  _maps/shuttles/shiptest/corp_high.dmm
Labels: Map Change

#406 Ports extra cowboy hats from vgstation
  code/datums/dog_fashion.dm
  icons/mob/clothing/head.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
  whitesands/code/modules/clothing/head/cowboy.dm
  whitesands/code/modules/clothing/head/jobs.dm
Labels: Sprites

#408 Winchester rifle
  _maps/shuttles/shiptest/mining_ship_all.dmm
  code/game/objects/items/spear.dm
  code/modules/cargo/packs.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/64x_guns_left.dmi
  icons/mob/inhands/weapons/64x_guns_right.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/48x32guns.dmi
  shiptest.dme
  whitesands/code/game/objects/items/shields.dm
  whitesands/code/game/objects/items/storage/backpack.dm
  whitesands/code/game/objects/items/weaponry.dm
  whitesands/code/modules/cargo/packs.dm
  whitesands/code/modules/projectiles/boxes_magazines/pistol.dm
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/code/modules/projectiles/guns/ballistic/shotgun.dm
  whitesands/code/modules/projectiles/guns/misc/bow.dm
  whitesands/icons/mob/clothing/back.dmi
  whitesands/icons/mob/inhands/weapons/64x_guns_left.dmi
  whitesands/icons/mob/inhands/weapons/64x_guns_right.dmi
  whitesands/icons/obj/guns/48x32guns.dmi
Labels: Map Change, DME Edit, Sprites

#411 Shaft Miner hazard jumpsuit
  code/modules/clothing/under/jobs/cargo.dm
  icons/mob/clothing/under/cargo.dmi
  icons/obj/clothing/under/cargo.dmi
Labels: Sprites

#57 resprites disks
  code/datums/holocall.dm
  code/game/machinery/dna_scanner.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/disks/disk.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/research/designs.dm
  code/modules/research/nanites/program_disks.dm
  code/modules/research/research_disk.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/ruins/spaceruin_code/clericsden.dm
  icons/obj/diskette.dmi
  shiptest.dme
  whitesands/code/modules/projectiles/boxes_magazines/pistol.dm
Labels: DME Edit, Sprites, Fix, Removal, Feature

#415 [Fix] Vendors Are No Longer Free
  _maps/shuttles/pirate/pirate_default.dmm
  _maps/shuttles/shiptest/pirate_libertatia.dmm
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.js
Labels: Map Change, TGUI, Fix

#409 Fixed Astraeus lack of area passthrough
  _maps/RandomRuins/SpaceRuins/astraeus.dmm
Labels: Map Change

#422 Lazy dir sprites for intercoms and other wall equipment
  icons/obj/radio.dmi
  icons/obj/stationobjs.dmi
  icons/obj/terminals.dmi
  icons/obj/wallmounts.dmi
Labels: Sprites

#421 fixes a pipe on hightide
  _maps/shuttles/shiptest/hightide.dmm
Labels: Map Change

#413 Adds 4 new ruins + fixes my fucky ruins
  _maps/RandomRuins/JungleRuins/jungle_surface_ninjashrine.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_roommates.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_SPOOKYCRASH.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_dwarffortress.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_fuckedupandevilclub.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_chokepoint.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_crash_bar.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_crash_cargo.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_crash_cult.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_crash_kitchen.dmm
  code/datums/ruins/lavaland.dm
  whitesands/code/datums/ruins/jungle.dm
  whitesands/code/datums/ruins/whitesands.dm
Labels: Map Change

#420 Miner jumpsuit recolor
  icons/mob/clothing/under/cargo.dmi
  icons/obj/clothing/under/cargo.dmi
Labels: Sprites

#399 Adds clothes to the pointshop: Charcoal suit and raincoat.
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/suits.dm
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/suits.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/suits.dmi
  whitesands/code/modules/client/loadout/loadout_suit.dm
  whitesands/code/modules/client/loadout/loadout_uniform.dm
Labels: Sprites

#419 IPC antenna layering changes
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/ipc_accessories.dmi
Labels: Sprites

#423 [Fix] Navy/Charcoal/Burgundy Suit On-Mob Sprite Fix
  code/modules/clothing/under/suits.dm
  icons/obj/clothing/under/suits.dmi
Labels: Sprites, Fix

#424 Adds table flipping
  code/game/objects/structures/table_flipped.dm
  code/game/objects/structures/tables_racks.dm
  icons/obj/flipped_tables.dmi
  shiptest.dme
  whitesands/code/game/objects/structures/tables_racks.dm
Labels: DME Edit, Sprites

#418 High-Visibility Jacket
  code/modules/clothing/suits/jobs.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#410 Fixes broken cowboy hat icons
  icons/obj/clothing/hats.dmi
  whitesands/code/modules/clothing/head/jobs.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/obj/clothing/hats.dmi
Labels: Sprites

#417 Scrapper-b Update
  _maps/shuttles/shiptest/scrapperb.dmm
Labels: Map Change

#416 Scrapper Update
  _maps/shuttles/shiptest/scrapper.dmm
Labels: Map Change

#428 Make cave ferns actually spawn on lavaland.
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  whitesands/code/modules/mining/lavaland/ash_flora.dm
  whitesands/icons/obj/lavaland/newlavalandplants.dmi
Labels: Sprites

#385 riggers
  _maps/configs/deserter_rigger.json
  _maps/configs/solgov_rigger.json
  _maps/shuttles/shiptest/rigger_b.dmm
  _maps/shuttles/shiptest/rigger_c.dmm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  whitesands/code/modules/jobs/job_types/solgov_rep.dm
Labels: Map Change

#433 Tweaks Shiptests
  _maps/configs/golem.json
  _maps/shuttles/mining/mining_kilo.dmm
  _maps/shuttles/ruin/ruin_pirate_cutter.dmm
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/golem_ship.dmm
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/scrapper.dmm
  _maps/shuttles/shiptest/scrapperb.dmm
  _maps/shuttles/shiptest/solar_class.dmm
  _maps/shuttles/shiptest/whiteship_box.dmm
  _maps/shuttles/shiptest/whiteship_delta.dmm
  _maps/shuttles/shiptest/whiteship_kilo.dmm
  _maps/shuttles/shiptest/whiteship_meta.dmm
Labels: Map Change

#443 [Fix] Removed Access Requirement from Disco Jukebox
  code/game/machinery/dance_machine.dm
Labels: Fix

#430 libertatia tweaks
  _maps/shuttles/shiptest/pirate_libertatia.dmm
Labels: Map Change

#414 Duke's Nuclear Fashion(Formerly Voulgier Class)
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/station_engineer.dm
  whitesands/code/modules/clothing/under/syndicate.dm
  whitesands/icons/mob/clothing/under/syndicate.dmi
  whitesands/icons/obj/clothing/under/syndicate.dmi
Labels: Sprites

#425 resprites the charcoal, navy, and burghundy suits, splits them into suit and jacket combos
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/suits.dm
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/suits.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/suits.dmi
  whitesands/code/modules/client/loadout/loadout_suit.dm
  whitesands/code/modules/clothing/gloves/tapegloves.dm
Labels: Sprites

#412 Riggs facelift
  _maps/configs/rigger.json
  _maps/shuttles/shiptest/rigger.dmm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Map Change

#405 Readds Rapid Shuttle Designator
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/items/shuttle_creator.dm
  code/modules/research/designs/tool_designs.dm
  config/config.txt
  shiptest.dme
  whitesands/code/modules/research/techweb/all_nodes.dm
Labels: Config, DME Edit

#437 Adds Table Bells
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/bar_ship_b.dmm
  _maps/shuttles/shiptest/chapel.dmm
  _maps/shuttles/shiptest/lamia.dmm
  _maps/shuttles/shiptest/wright.dmm
  code/game/objects/items/bell.dm
  icons/obj/assemblies.dmi
  shiptest.dme
  sound/items/ding.ogg
  whitesands/code/modules/client/loadout/loadout_general.dm
Labels: Map Change, DME Edit, Sprites, Sound

#436 Revamps Cryo Consoles
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/bar_ship_b.dmm
  _maps/shuttles/shiptest/bogatyr.dmm
  _maps/shuttles/shiptest/cargotide.dmm
  _maps/shuttles/shiptest/chapel.dmm
  _maps/shuttles/shiptest/corp_high.dmm
  _maps/shuttles/shiptest/engi_moth.dmm
  _maps/shuttles/shiptest/hightide.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/isv_roberts.dmm
  _maps/shuttles/shiptest/lamia.dmm
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/ntsv_bubble.dmm
  _maps/shuttles/shiptest/ntsv_skipper.dmm
  _maps/shuttles/shiptest/pirate_libertatia.dmm
  _maps/shuttles/shiptest/rigger.dmm
  _maps/shuttles/shiptest/rigger_b.dmm
  _maps/shuttles/shiptest/rigger_c.dmm
  _maps/shuttles/shiptest/scrapper.dmm
  _maps/shuttles/shiptest/scrapperb.dmm
  _maps/shuttles/shiptest/solar_class.dmm
  _maps/shuttles/shiptest/solgov_carina.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/shiptest/solgov_liberty.dmm
  _maps/shuttles/shiptest/whiteship_box.dmm
  _maps/shuttles/shiptest/whiteship_delta.dmm
  _maps/shuttles/shiptest/whiteship_kilo.dmm
  _maps/shuttles/shiptest/whiteship_meta.dmm
  _maps/shuttles/shiptest/whiteship_midway.dmm
  _maps/shuttles/shiptest/whiteship_pubby.dmm
  _maps/shuttles/shiptest/wright.dmm
  check_regex.yaml
  code/controllers/subsystem/mapping.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/overmap/ships/simulated_ship_data.dm
  tgui/packages/tgui/interfaces/CryoStorageConsole.js
  whitesands/code/game/machinery/cryopod.dm
  whitesands/code/modules/jobs/job_types/solgov_rep.dm
Labels: Map Change, TGUI

#438 Sound improvements
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/poddoor.dm
  code/game/objects/items/survery_handheld.dm
  code/modules/research/rdconsole.dm
  sound/effects/emergency.ogg
  sound/machines/airlock.ogg
  sound/machines/airlockclose.ogg
  sound/machines/blastdoor.ogg
  sound/machines/copier.ogg
  sound/machines/whirr_beep.ogg
  sound/weapons/laser.ogg
Labels: Sound

#407 the first of many ruins
  _maps/RandomRuins/SandRuins/whitesands_surface_saltmine
  _maps/RandomRuins/SpaceRuins/cultbox
Labels: Map Change

#380 NTSV Osprey
  _maps/configs/ntsv_osprey.json
  _maps/shuttles/shiptest/ntsv_osprey.dmm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
Labels: Map Change, TGUI

#456 Makes the alternative syringe sprites used
  code/modules/reagents/reagent_containers/syringes.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/projectiles.dmi
  icons/obj/syringe.dmi
Labels: Sprites

#449 Very minor medkit resprite, resprites medal boxes and makes the beer crate that appears on some sand ruins 3/4
  whitesands/icons/obj/storage.dmi
Labels: Sprites

#440 Metis-class
  _maps/configs/metis.json
  _maps/shuttles/shiptest/metis.dmm
  code/datums/ruins/lavaland.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/shaft_miner.dm
  whitesands/code/datums/ruins/jungle.dm
Labels: Map Change

#435 Add capybaras
  code/modules/mob/living/simple_animal/friendly/capybara.dm
  icons/mob/pets.dmi
  shiptest.dme
Labels: DME Edit, Sprites

#476 Li Tieguai update
  _maps/configs/independent_liteguai.json
  _maps/shuttles/shiptest/independent_litieguai.dmm
Labels: Map Change

#465 Adds more items to loadout/gear
  code/modules/client/loadout/loadout.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_eyewear.dm
  code/modules/client/loadout/loadout_footwear.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_ooc.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/client/loadout/loadout_uniform.dm
  shiptest.dme
Labels: DME Edit, Sprites
