Repository shiptest-ss13/Shiptest, pull requests merged in 2021-06, with the labels that each got.

#25 Resprites bloodred hardsuit
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#26 Labcoat resprites and other TG sprites
  code/modules/clothing/suits/labcoat.dm
  code/modules/hydroponics/grown/banana.dm
  icons/obj/hydroponics/harvest.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/kitchen.dmi
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/obj/clothing/hats.dmi
  whitesands/icons/obj/clothing/suits.dmi
Labels: Sprites

#19 a ship dedicated entirely for bartender mains
  _maps/_basemap.dm
  _maps/diner.json
  _maps/map_files/Diner/Diner.dmm
  _maps/shuttles/bar_ship.dmm
  config/maps.txt
  whitesands/code/datums/shuttles.dm
  whitesands/code/game/area/areas/shuttles.dm
Labels: Config, Map Change

#31 Resprites and Beaker (and Bottle) Lids
  code/game/machinery/iv_drip.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/obj/chemical.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
  whitesands/code/modules/reagents/reagent_containers/hypovial.dm
  whitesands/icons/obj/syringe.dmi
Labels: Sprites

#34 Adds new sprites and update code to the Lavaland flight flaslk
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/obj/chemical.dmi
  icons/obj/reagentfillings.dmi
Labels: Sprites

#38 Fixes whitesands ruins having their turfs overriden (probably) and adds a prerequisite for functioning jungle ruins
  _maps/RandomRuins/SandRuins/whitesands_surface_envy.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_golemhijack.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_medipen_plant.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_waterplant.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_youreinsane.dmm
  code/datums/mapgen/JungleGenerator.dm
Labels: Map Change

#39 Adds reinforced wooden table
  code/game/objects/structures/table_frames.dm
  tgstation.dme
  whitesands/code/game/objects/structures/tables_racks.dm
  whitesands/icons/obj/smooth_structures/reinforced_wood_table.dmi
Labels: DME Edit, Sprites

#20 Streamlines Ship Map Loading
  _maps/_basemap.dm
  _maps/amogus.json
  _maps/boxship.json
  _maps/deltaship.json
  _maps/diner.json
  _maps/map_files/Amogus/Amogus.dmm
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/IcemoonUnderground.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Mining/Whitesands.dmm
  _maps/map_files/Salvage/Salvage.dmm
  _maps/metaship.json
  _maps/midwayship.json
  _maps/multiz_debug.json
  _maps/pubbyship.json
  _maps/runtimestation.json
  _maps/salvage.json
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/shuttles/whiteship_midway.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/__HELPERS/names.dm
  code/__HELPERS/virtual_z_level.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/game/turfs/open/space/transit.dm
  code/modules/admin/verbs/maprotation.dm
  code/modules/buildmode/submodes/mapgen.dm
  code/modules/procedural_mapping/mapGenerators/repair.dm
  code/modules/shuttle/shuttle.dm
  config/maps.txt
  tools/ci/check_grep.sh
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/game/machinery/cryopod.dm
  whitesands/code/modules/overmap/_overmap.dm
  whitesands/code/modules/overmap/events.dm
  whitesands/code/modules/overmap/ships/simulated.dm
Labels: Admin, Config, Map Change

#33 Engineer Gaming ship
  _maps/engineergaming.json
  _maps/map_files/Engi/Engi.dmm
  _maps/shuttles/engi_moth.dmm
  config/maps.txt
  whitesands/code/datums/shuttles.dm
  whitesands/code/game/area/areas/shuttles.dm
Labels: Config, Map Change

#45 Ports sec rearming
  code/datums/components/pellet_cloud.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/cargo/packs.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/security.dm
  tgstation.dme
  whitesands/code/modules/modular_computers/computers/item/internal.dm
  whitesands/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/code/modules/projectiles/guns/ballistic/derringer.dm
  whitesands/code/modules/projectiles/guns/ballistic/rifle.dm
  whitesands/code/modules/projectiles/guns/energy.dm
  whitesands/code/modules/projectiles/guns/energy/energy_gun.dm
  whitesands/code/modules/projectiles/guns/energy/laser.dm
  whitesands/icons/mob/inhands/weapons/guns_left.dmi
  whitesands/icons/mob/inhands/weapons/guns_right.dmi
  whitesands/icons/obj/guns/energy.dmi
  whitesands/icons/obj/guns/projectile.dmi
Labels: DME Edit, Sprites

#47 some minor Shetland fixes and Also Another Thing
  _maps/shuttles/amogus_sus.dmm
  code/modules/research/techweb/all_nodes.dm
Labels: Map Change

#49 `close_overmap_objects` var null reference fix
  whitesands/code/modules/overmap/_overmap.dm
Labels: Fix, Removal

#52 emergency eject fixes
  _maps/shuttles/amogus_sus.dmm
Labels: Fix, Map Change

#53 Add amongus & move WS plushies to `whitesands` folder
  code/game/objects/items/plushes.dm
  tgstation.dme
  whitesands/code/game/objects/items/plushies.dm
  whitesands/code/modules/client/loadout/loadout_general.dm
  whitesands/icons/obj/plushes.dmi
  whitesands/sound/hornetnoises/agoguskill.ogg
Labels: DME Edit, Feature, Refactor, Sound, Sprites

#50 Z-limited Priority Announcements
  code/__HELPERS/priority_announce.dm
  code/__HELPERS/virtual_z_level.dm
  code/controllers/subsystem/communications.dm
  code/game/area/areas.dm
  code/game/area/areas/shuttles.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/requests_console.dm
  code/game/objects/effects/anomalies.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/events/anomaly.dm
  code/modules/events/anomaly_bluespace.dm
  code/modules/events/anomaly_flux.dm
  code/modules/events/anomaly_grav.dm
  code/modules/events/anomaly_pyro.dm
  code/modules/events/anomaly_vortex.dm
  code/modules/events/stray_cargo.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  whitesands/code/game/area/ship_areas.dm
  whitesands/code/modules/overmap/helm.dm
  whitesands/code/modules/overmap/ships/simulated.dm
Labels: Admin, Feature, Fix, Removal
