Repository shiptest-ss13/Shiptest, pull requests merged in 2021-09, with the labels that each got.

#200 Add arguments, config, and update features to `check_regex.py`
  .github/workflows/ci_suite.yml
  check_regex.yaml
  tools/ci/check_regex.py
  tools/requirements.txt
Labels: Github

#217 Asynchronous Typing Indicator
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_say.dm
Labels: Feature

#220 Runtime Indexing and Counting
  code/modules/error_handler/error_viewer.dm
Labels: Administration, Speed Mergeable

#170 Various Exploration Improvements
  _maps/shuttles/shiptest/golem_ship.dmm
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/ntsv_skipper.dmm
  _maps/shuttles/shiptest/rigger.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/lazarus_injector.dm
  code/modules/mining/equipment/marker_beacons.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mining/equipment/resonator.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mining/fulton.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/minebot.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/mortar.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/vending/_vending.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/chemical.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/reagentfillings.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Vending.js
  whitesands/code/datums/components/crafting/recipes.dm
  whitesands/code/game/objects/items/storage/firstaid.dm
  whitesands/code/modules/cargo/packs.dm
  whitesands/code/modules/clothing/suits/cloaks.dm
  whitesands/code/modules/mining/deepcore/equipment.dm
  whitesands/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  whitesands/code/modules/reagents/reagent_containers/hypospray.dm
  whitesands/code/modules/vending/mining_equipment.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/obj/clothing/suits.dmi
  whitesands/icons/obj/machines/vending.dmi
Labels: Map Change, DME Edit, Sprites, TGUI, Feature, Balance/Rebalance, Code Improvement, Test Merged

#223 Kinetic Crushers train mining skill
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Fix

#199 Churchship
  _maps/configs/chapel.json
  _maps/shuttles/shiptest/chapel.dmm
  code/game/machinery/computer/pod.dm
  code/game/objects/structures/flora.dm
  icons/obj/flora/chapeltree.dmi
  whitesands/code/game/area/ship_areas.dm
Labels: Map Change, Sprites, Feature

#208 Spiderplush
  code/controllers/subsystem/traumas.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/plushes.dm
  code/modules/holiday/easter.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/plushes.dmi
Labels: Sprites, Feature

#178 Adds the Tide-class Salvage Vessel
  _maps/configs/tide.json
  _maps/shuttles/shiptest/isv_roberts.dmm
Labels: Map Change, Feature

#206 Map Exporter Revamp + Cleanup
  check_regex.yaml
  code/__DEFINES/mapexporting.dm
  code/__HELPERS/_lists.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/admin/admin_verbs.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  code/modules/buildmode/submodes/mapgen.dm
  code/modules/mapping/writer.dm
  code/modules/mining/machine_silo.dm
  code/modules/procedural_mapping/mapGenerator.dm
  code/modules/procedural_mapping/mapGeneratorModule.dm
  code/modules/procedural_mapping/mapGeneratorModules/helpers.dm
  code/modules/procedural_mapping/mapGeneratorModules/nature.dm
  code/modules/procedural_mapping/mapGeneratorObj.dm
  code/modules/procedural_mapping/mapGeneratorReadme.dm
  code/modules/procedural_mapping/mapGenerators/asteroid.dm
  code/modules/procedural_mapping/mapGenerators/cellular.dm
  code/modules/procedural_mapping/mapGenerators/cult.dm
  code/modules/procedural_mapping/mapGenerators/lava_river.dm
  code/modules/procedural_mapping/mapGenerators/lavaland.dm
  code/modules/procedural_mapping/mapGenerators/nature.dm
  code/modules/procedural_mapping/mapGenerators/repair.dm
  code/modules/procedural_mapping/mapGenerators/shuttle.dm
  code/modules/procedural_mapping/mapGenerators/syndicate.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  tgstation.dme
  whitesands/code/controllers/subsystem/minimaps.dm
  whitesands/code/modules/admin/verbs/mapping.dm
  whitesands/code/modules/buildmode/submodes/map_export.dm
  whitesands/code/modules/client/verbs/minimap.dm
  whitesands/code/modules/mapping/minimaps.dm
  whitesands/code/modules/mapping/writer.dm
Labels: DME Edit, Admin, Fix, Removal, Feature, Refactor, Code Improvement

#233 Makes Hyperspace Not Delete You (again)
  code/game/turfs/open/space/transit.dm
Labels: Fix

#231 Runechat messages now attach to the holder which stands on a turf
  code/datums/chatmessage.dm
Labels: Fix

#240 narf blaster is now pistol instead of derringer
  code/modules/projectiles/guns/ballistic/toy.dm
Labels: Fix

#226 IPC Revival Hotfix
  code/modules/mob/living/brain/brain_item.dm
Labels: Fix

#239 Shuttle Purchase Logging
  code/modules/mob/dead/new_player/new_player.dm
Labels: Feature

#234 Cricket mapping patch
  _maps/configs/cricket.json
  _maps/shuttles/shiptest/solgov_cricket.dmm
  code/game/machinery/suit_storage_unit.dm
Labels: Map Change, Feature, Tweak

#238 makes the fucking flora no longer MADE OF METAL, including flora/rock
  code/game/objects/structures/flora.dm
  sound/effects/hit_stone.ogg
Labels: Feature, Sound, Tweak

#186 Wolves and watchers can only smash mineable walls and not normal walls.
  code/__DEFINES/mobs.dm
  code/game/turfs/closed/minerals.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wolf.dm
Labels: Balance/Rebalance

#241 Updates defib sprite again
  icons/obj/defib.dmi
Labels: Sprites, Tweak

#177 Fixes powernets going to war after a shuttle moves
  code/modules/shuttle/on_move.dm
Labels: Fix, Test Merge Candidate

#243 Finishes off the tape refactor
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/components/crafting/recipes.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/assist.dm
  whitesands/code/game/objects/items/stacks/tape.dm
Labels: Fix, Refactor

#189 Improvised pistol and armor.
  whitesands/code/datums/components/crafting/recipes.dm
  whitesands/code/modules/clothing/suits/armor.dm
  whitesands/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/code/modules/research/designs/autolathe_designs.dm
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/mob/inhands/weapons/guns_left.dmi
  whitesands/icons/mob/inhands/weapons/guns_right.dmi
  whitesands/icons/obj/ammo.dmi
  whitesands/icons/obj/clothing/suits.dmi
  whitesands/icons/obj/guns/projectile.dmi
Labels: Sprites, Feature, Test Merge Candidate

#250 Adds more wallmount closets
  whitesands/code/game/objects/structures/crates_lockers/closets/wallmount.dm
  whitesands/icons/obj/closet.dmi
Labels: Sprites, Feature

#255 erin fixes a ruin
  _maps/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
Labels: Map Change, Fix

#257 Stops coders from being able to run admin procs via admins' clients
  code/modules/admin/callproc/callproc.dm
Labels: Admin, Administration

#259 Bugfixes + Ship Namelist Expansion
  code/modules/overmap/ships/_ships.dm
  code/modules/overmap/ships/simulated.dm
  strings/ship_names.txt
  whitesands/icons/effects/overmap.dmi
Labels: Sprites, Fix, Feature, Tweak

#236 Individual Bluespace Jumping
  code/modules/overmap/helm.dm
  config/game_options.txt
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: Config, TGUI, Feature, Test Merge Candidate

#185 SolGov Liberty-class Interceptor
  _maps/configs/pirate_libertatia.json
  _maps/configs/solgov_liberty.json
  _maps/shuttles/shiptest/pirate_libertatia.dmm
  _maps/shuttles/shiptest/solgov_liberty.dmm
Labels: Map Change, Feature, Stale

#267 Phazon Core-Preference Message Removal
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
Labels: Fix

#265 Fixes prescription glasses not being given to the jobs that should have them with nearsighted.
  code/datums/traits/negative.dm
  whitesands/code/modules/client/loadout/loadout_eyewear.dm
Labels: Fix, Tweak, Good First PR

#269 Update Stale Workflow
  .github/workflows/stale.yml
Labels: Github

#261 Mutant colors can be set slightly darker
  code/game/objects/structures/mirror.dm
  code/modules/client/preferences.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  whitesands/code/modules/mob/living/carbon/human/species_types/squidpeople.dm
Labels: Tweak

#260 Slime Time: Minor midround slimeperson customization!
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/tails.dm
  icons/mob/mutant_bodyparts.dmi
Labels: Sprites, Feature

#237 rebalances the ETAR and ESG, does some inhand fixes
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/projectile/beams.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/code/modules/projectiles/guns/energy/energy_gun.dm
  whitesands/code/modules/projectiles/guns/energy/laser.dm
  whitesands/icons/obj/guns/energy.dmi
Labels: Sprites, Fix, Balance/Rebalance, Stale

#224 Ghetto chem improvements
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/chemical.dmi
  icons/obj/device.dmi
  icons/obj/reagentfillings.dmi
Labels: Sprites, Feature, Balance/Rebalance, Tweak, Test Merge Candidate

#225 fix local playsounds falloff
  code/game/sound.dm
Labels: Fix, Stale

#273 Click ship to teleport
  code/modules/overmap/dynamic_events.dm
  code/modules/overmap/ships/simulated.dm
Labels: Feature

#251 Teshari additions
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/clothing.dm
  code/modules/language/language_holder.dm
  code/modules/language/schechi.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/teshari.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  icons/mob/human_parts_greyscale.dmi
  icons/mob/teshari_parts.dmi
  tgstation.dme
  whitesands/code/modules/surgery/organs/tongue.dm
Labels: DME Edit, Sprites, Admin, Fix, Feature, Tweak, Stale

#276 Fix Survey Handheld Feedback
  code/game/objects/items/survery_handheld.dm
Labels: Fix

#275 unscrewed
  code/game/machinery/recharger.dm
  icons/obj/stationobjs.dmi
Labels: Sprites, Fix

#279 Stops Issues from Getting Tags From Referenced Testmerges
  .github/keylabeler.yml
Labels: Do not merge, Github

#286 power_puzzle can no longer be cheesed by deconstructing walls
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
Labels: Map Change

#278 Fixes crew manifest duplication with one simple trick
  code/modules/mob/dead/crew_manifest.dm
Labels: Fix

#130 bay clicky noises
  code/__DEFINES/~whitesands_defines/machines.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/buttons.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/structures/tables_racks.dm
  code/game/sound.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/overmap/helm.dm
  code/modules/power/apc.dm
  code/modules/recycling/conveyor2.dm
  goon/icons/obj/surgery.dmi
  sound/machines/button1.ogg
  sound/machines/button2.ogg
  sound/machines/button3.ogg
  sound/machines/button4.ogg
  sound/machines/keyboard/keypress1.ogg
  sound/machines/keyboard/keypress2.ogg
  sound/machines/keyboard/keypress3.ogg
  sound/machines/keyboard/keypress4.ogg
  sound/machines/keyboard/keystroke1.ogg
  sound/machines/keyboard/keystroke2.ogg
  sound/machines/keyboard/keystroke3.ogg
  sound/machines/keyboard/keystroke4.ogg
  sound/machines/pda_button1.ogg
  sound/machines/switch1.ogg
  sound/machines/switch2.ogg
  sound/machines/switch3.ogg
  sound/machines/terminal_select.ogg
  whitesands/code/game/machinery/Sleeper.dm
Labels: Sprites, Feature, Sound, Test Merged

#277 Ports ghost buster kit from bee
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/under/color.dm
  code/modules/mob/living/carbon/carbon.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/under/color.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/under/color.dmi
Labels: Sprites, Feature

#264 Boyardee Type B
  _maps/configs/diner_b.json
  _maps/shuttles/shiptest/bar_ship_b.dmm
Labels: Map Change

#291 adds handheld flash subtype to IKEA AI ruin
  _maps/RandomRuins/JungleRuins/jungle_surface_ikea_ai.dmm
Labels: Map Change

#293 Fixes many ruins
  _maps/RandomRuins/LavaRuins/lavaland_surface_dwarffortress.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_adobe.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_drugstore.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_farm.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_gunslingers.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_hunters.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_survivors.dmm
  code/datums/ruins/lavaland.dm
  whitesands/code/datums/ruins/space.dm
Labels: Map Change

#288 Makes tile reskinning work
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/mineral_floor.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  icons/obj/tiles.dmi
  whitesands/code/game/objects/items/airlock_painter.dm
  whitesands/icons/turf/floors/shuttle_floors.dmi
Labels: Sprites

#289 [Fix] Missing Vendor Item Sprites Fix
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mining/machine_vending.dm
  code/modules/vending/_vending.dm
Labels: Fix, Test Merge Candidate
