Repository shiptest-ss13/Shiptest, pull requests merged in 2021-05, with the labels that each got.

#3 syndicate spessman ruin
  _maps/RandomRuins/SpaceRuins/oldcodeops.dmm
  tgstation.dme
  whitesands/code/datums/ruins/space.dm
  whitesands/code/modules/mob/living/simple_animal/hostile/syndicatespaceman.dm
  whitesands/icons/mob/simple_human.dmi
Labels: DME Edit, Map Change, Sprites

#2 Fixes CI
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_medipen_plant.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_waterplant.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/_basemap.dm
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Mining/Whitesands.dmm
  code/__HELPERS/_lists.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/junction.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/simple.dm
  code/modules/events/bureaucratic_error.dm
  whitesands/code/modules/atmospherics/machinery/components/binary_devices/relief_valve.dm
  whitesands/code/modules/atmospherics/machinery/components/unary_devices/relief_valve.dm
Labels: Map Change

#7 Tweaks constructed item pre-filling, salvage ship autolathe no longer hacked by default.
  _maps/shuttles/mining_ship_all.dmm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/tool_designs.dm
Labels: Map Change

#13 Fixes Helm Console TGUI Error
  tgui/bin/tgui-dev-server.bat
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: tgui

#8 Syndicate armor and helmets
  whitesands/code/modules/clothing/head/helmet.dm
  whitesands/code/modules/clothing/suits/armor.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/obj/clothing/hats.dmi
  whitesands/icons/obj/clothing/suits.dmi
Labels: Sprites

#10 Configurable Smuggler Satchel Amounts
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/minor_mapping.dm
  config/game_options.txt
Labels: Config

#12 Removes Mining Planet
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/statpanel.dm
  code/datums/map_config.dm
  code/datums/world_topic.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/maprotation.dm
  code/modules/shuttle/emergency.dm
  tgstation.dme
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/game/objects/effects/spawners/planet.dm
Labels: Admin, DME Edit

#6 A new suspicious map
  _maps/_basemap.dm
  _maps/amogus.json
  _maps/map_files/Amogus/Amogus.dmm
  _maps/shuttles/amogus_sus.dmm
  config/maps.txt
  whitesands/code/datums/shuttles.dm
  whitesands/code/game/area/areas/shuttles.dm
Labels: Config, Map Change
