Repository shiptest-ss13/Shiptest, pull requests merged in 2021-10, with the labels that each got.

#295 tide-vomit-patch
  _maps/shuttles/shiptest/isv_roberts.dmm
Labels: Map Change

#296 Bluespace Jump update
  code/modules/overmap/helm.dm
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: TGUI

#268 Mining Pool Rebalance and Loot Reworks, Pt. 1
  code/datums/components/crafting/recipes.dm
  code/datums/martial/earthquake.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/candle.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/tribal_torch.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/pandora.dm
  code/modules/surgery/organs/heart.dm
  code/modules/vehicles/lavaboat.dm
  icons/effects/effects.dmi
  icons/mob/actions/actions_spells.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/suits.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/mob/onfire.dmi
  icons/obj/candle.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/suits.dmi
  icons/obj/guns/energy.dmi
  icons/obj/lavaland/artefacts.dmi
  icons/obj/projectiles.dmi
  sound/weapons/spur_chargefull.ogg
  sound/weapons/spur_chargehigh.ogg
  sound/weapons/spur_chargelow.ogg
  sound/weapons/spur_chargemed.ogg
  sound/weapons/spur_high.ogg
  sound/weapons/spur_hitmob.ogg
  sound/weapons/spur_hitwall.ogg
  sound/weapons/spur_low.ogg
  sound/weapons/spur_medium.ogg
  sound/weapons/spur_spawn.ogg
  tgstation.dme
Labels: DME Edit, Sprites, Feature, Sound, Balance/Rebalance, Tweak

#307 boy-b-windoorfix
  _maps/shuttles/shiptest/bar_ship_b.dmm
Labels: Map Change

#282 Adds the Bogatyr and Lamia-class ships
  _maps/configs/bogatyr.json
  _maps/configs/lamia.json
  _maps/shuttles/shiptest/bogatyr.dmm
  _maps/shuttles/shiptest/lamia.dmm
  code/game/turfs/closed/wall/mineral_walls.dm
Labels: Map Change

#311 [READY] Ports 'Qualified Doctor' skin from Yogstation#4988
  code/modules/mob/living/silicon/robot/robot_modules.dm
  whitesands/icons/mob/robots.dmi
Labels: Sprites

#309 Fix hole into space on riggs
  _maps/shuttles/shiptest/rigger.dmm
Labels: Map Change

#306 Riggs Table Fix
  _maps/shuttles/shiptest/rigger.dmm
Labels: Map Change

#280 The Scrapper
  _maps/configs/scrapper.json
  _maps/shuttles/shiptest/scrapper.dmm
Labels: Map Change, Feature

#281 Scrapper-B (The Discovery)
  _maps/configs/scrapperb.json
  _maps/shuttles/shiptest/scrapperb.dmm
Labels: Map Change, Feature

#283 More ruins
  _maps/RandomRuins/IceRuins/icemoon_underground_brazillianlab.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_burnies_lair.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_oldstation.dmm
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
  _maps/RandomRuins/JungleRuins/jungle_hangar.dmm
  _maps/RandomRuins/JungleRuins/jungle_nest.dmm
  _maps/RandomRuins/JungleRuins/jungle_pirate.dmm
  _maps/RandomRuins/JungleRuins/jungle_pizzawave.dmm
  _maps/RandomRuins/JungleRuins/jungle_seedling.dmm
  _maps/RandomRuins/JungleRuins/jungle_skeleton.dmm
  _maps/RandomRuins/JungleRuins/jungle_spider.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_weed_shack.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/JungleRuins/jungle_village.dmm
  _maps/RandomRuins/JungleRuins/jungle_witch.dmm
  _maps/RandomRuins/LavaRuins/kinggoatboss.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_ashwalker_shrine.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_spacepod_garage.dmm
  _maps/RandomRuins/SpaceRuins/chaosmarine.dmm
  _maps/RandomRuins/SpaceRuins/solgovhistory.dmm
  _maps/shuttles/shiptest/pirate_libertatia.dmm
  _maps/shuttles/shiptest/solgov_liberty.dmm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/space.dm
  code/game/machinery/doors/shutters.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/cult_templar.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/king_of_goats.dm
  icons/mob/animal.dmi
  icons/mob/simple_human.dmi
  icons/obj/doors/gates.dmi
  sound/machines/gate.ogg
  tgstation.dme
  whitesands/code/datums/ruins/icemoon.dm
  whitesands/code/datums/ruins/jungle.dm
  whitesands/code/datums/ruins/space.dm
  whitesands/code/datums/ruins/whitesands.dm
  whitesands/code/modules/clothing/head/helmet.dm
  whitesands/code/modules/clothing/head/jobs.dm
  whitesands/code/modules/clothing/under/jobs/command.dm
  whitesands/code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  whitesands/code/modules/projectiles/guns/ballistic/shotgun.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/under/command.dmi
  whitesands/icons/obj/clothing/hats.dmi
  whitesands/icons/obj/clothing/under/command.dmi
  whitesands/icons/obj/guns/48x32guns.dmi
  whitesands/icons/obj/guns/projectile.dmi
Labels: Map Change, DME Edit, Sprites, Sound

#317 Cleaning Up Warnings from Default Config
  config/config.txt
  config/game_options.txt
  whitesands/code/controllers/configuration/entries/game_options.dm
  whitesands/code/modules/client/loadout/loadout_general.dm
Labels: Config

#393 Custom ID sprite change.
  whitesands/icons/obj/card.dmi
Labels: Sprites

#376 Empty Space Docking
  code/modules/overmap/dynamic_events.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/simulated.dm
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: TGUI

#387 Port gastrectomy and cybernetic stomachs.
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/organs/stomach.dm
  icons/obj/surgery.dmi
  tgstation.dme
Labels: DME Edit, Sprites

#382 Overhauls Salvation ruin
  _maps/RandomRuins/SpaceRuins/dark_glade.dmm
  _maps/RandomRuins/SpaceRuins/way_home.dmm
  code/datums/ruins/space.dm
  code/game/objects/structures/flora.dm
  icons/obj/flora/jungletrees.dmi
  whitesands/code/datums/ruins/space.dm
  whitesands/code/game/area/areas/ruins/space.dm
Labels: Map Change, Sprites

#392 Independent updates
  _maps/configs/independent_liteguai.json
  _maps/configs/pirate_libertatia.json
  _maps/configs/rigger.json
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/pirate_libertatia.dmm
  _maps/shuttles/shiptest/rigger.dmm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Map Change
