Repository shiptest-ss13/Shiptest, pull requests merged in 2021-08, with the labels that each got.

#107 Ship Manifests
  code/_globalvars/tgui.dm
  code/controllers/subsystem/job.dm
  code/datums/datacore.dm
  code/modules/client/client_defines.dm
  code/modules/mob/dead/crew_manifest.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CrewManifest.js
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
  tgui/packages/tgui/styles/main.scss
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/datums/world_topic.dm
  whitesands/code/game/machinery/cryopod.dm
  whitesands/code/modules/overmap/_overmap.dm
  whitesands/code/modules/overmap/ships/simulated.dm
  whitesands/code/modules/overmap/ships/simulated_ship_data.dm
  whitesands/code/modules/shuttle/computer.dm
Labels: Code Improvement, DME Edit, Feature, Fix, TGUI

#99 A ship with telecomms in it.
  _maps/configs/cricket.json
  _maps/shuttles/shiptest/solar_class.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
Labels: Feature, Map Change

#120 Paramedic jackets are no longer invisible.
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/obj/clothing/suits.dmi
Labels: Sprites, Fix

#119 Two Space Ruins
  _maps/RandomRuins/SpaceRuins/fueldepot.dmm
  _maps/RandomRuins/SpaceRuins/transport18.dmm
  code/game/area/areas/ruins/space.dm
  whitesands/code/datums/ruins/space.dm
Labels: Map Change, Feature

#116 New Mosin-Nagant sprites by schwick.
  code/modules/projectiles/guns/ballistic/rifle.dm
  whitesands/icons/mob/clothing/back.dmi
  whitesands/icons/mob/inhands/weapons/64x_guns_left.dmi
  whitesands/icons/mob/inhands/weapons/64x_guns_right.dmi
  whitesands/icons/obj/guns/48x32guns.dmi
Labels: Sprites, Feature

#111 Libertatia
  _maps/configs/libertatia.json
  _maps/shuttles/shiptest/libertatia.dmm
Labels: Map Change, Feature

#106 ISV Riggs
  _maps/configs/rigger.json
  _maps/shuttles/shiptest/rigger.dmm
Labels: Map Change, Feature

#121 Libertatia fixes
  _maps/RandomRuins/SpaceRuins/fueldepot.dmm
  _maps/shuttles/shiptest/libertatia.dmm
Labels: Map Change, Fix, Tweak

#122 Syndicate Decal.
  code/game/objects/effects/decals/turfdecal/markings.dm
  icons/turf/decals.dmi
Labels: Sprites, Feature

#125 Fixes shetland's firelocks and wiring
  _maps/shuttles/shiptest/amogus_sus.dmm
Labels: Map Change, Fix

#128 Polar bear hide sprites.
  icons/obj/mining.dmi
Labels: Sprites, Feature

#126 Small bugfixes
  _maps/map_files/generic/CentCom.dmm
  code/controllers/subsystem/shuttle.dm
  code/game/turfs/open/space/transit.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/dead/new_player/new_player.dm
  whitesands/code/modules/overmap/ships/simulated.dm
  whitesands/code/modules/overmap/ships/simulated_ship_data.dm
Labels: Map Change, Fix, Removal

#127 Witch robe and hat resprites by TetraZeta.
  code/modules/clothing/suits/wiz_robe.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/obj/clothing/hats.dmi
  whitesands/icons/obj/clothing/suits.dmi
Labels: Sprites, Feature

#137 Fixing skull helmet and bone sword sprites.
  whitesands/code/game/objects/items/weaponry.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/obj/clothing/hats.dmi
Labels: Sprites, Fix

#105 Changes encounter type selection to actually mean something
  code/__DEFINES/~whitesands_defines/overmap.dm
  whitesands/code/modules/overmap/dynamic_events.dm
Labels: Tweak, Stale

#114 eruin ruinsns
  _maps/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_dwarffortress.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_onlyaspoonful.dmm
  code/datums/ruins/lavaland.dm
  whitesands/code/datums/ruins/jungle.dm
  whitesands/code/datums/ruins/whitesands.dm
Labels: Map Change, Feature, Stale

#134 Triples dissection research point gain
  code/modules/surgery/experimental_dissection.dm
Labels: Tweak

#142 One new space ruin.
  _maps/RandomRuins/SpaceRuins/syndicatewreck01.dmm
  code/datums/ruins/space.dm
Labels: Map Change, Feature

#118 SolGov Carina-Class Cutter
  _maps/configs/solgov_carina.json
  _maps/shuttles/shiptest/solgov_carina.dmm
Labels: Map Change, Feature

#123 hair gradients
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/game/objects/items/dyekit.dm
  code/modules/client/preferences.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/vending/games.dm
  icons/mob/hair_gradients.dmi
  icons/obj/dyespray.dmi
  tgstation.dme
  whitesands/code/modules/client/loadout/loadout_general.dm
Labels: DME Edit, Sprites, Feature

#150 removes a doubled up bracket in ghost gas scan
  code/game/objects/items/devices/scanners.dm
Labels: Grammar and Formatting

#138 Fixes PKAs lagging after a bit of use
  code/modules/projectiles/gun.dm
Labels: Fix

#140 NTSV Bubble-Class Colonial Ship
  _maps/configs/bubble.json
  _maps/shuttles/shiptest/ntsv_bubble.dmm
  config/maps.txt
Labels: Config, Map Change, Feature

#139 Trauma team ship
  _maps/configs/independent_liteguai.json
  _maps/shuttles/shiptest/independent_litieguai.dmm
Labels: Map Change, Feature

#131 Fixes miniature eguns not being able to have their cells removed or replaced
  code/modules/projectiles/guns/energy.dm
Labels: Fix, Code Improvement

#152 Emergency Hotfix + Airmix VV Dropdown
  code/__DEFINES/vv.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: Fix, Feature

#151 Updates map template loading
  code/modules/mapping/map_template.dm
  tools/ci/build_spaceman_dmm.sh
Labels: Fix

#148 Adds extended profiling features from TG
  code/__DEFINES/_profile.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/_logging.dm
  code/_compile_options.dm
  code/_globalvars/logging.dm
  code/controllers/subsystem/profiler.dm
  code/controllers/subsystem/time_track.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  tgstation.dme
Labels: DME Edit, Admin

#149 Fixes Anomaly Spawn
  code/modules/events/anomaly.dm
  code/modules/events/stray_cargo.dm
Labels: Fix

#155 Various sprites by Kryson: fork, spoon, pumpkins, meats, lamps, and fire axes.
  code/modules/clothing/head/misc_special.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/hydroponics/grown/pumpkin.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/food/food.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/kitchen.dmi
  icons/obj/lighting.dmi
Labels: Sprites, Feature

#153 General runtime fixes
  code/__HELPERS/files.dm
  code/__HELPERS/icons.dm
  code/datums/components/stationstuck.dm
  code/datums/helper_datums/teleport.dm
  code/modules/asset_cache/asset_cache_item.dm
  code/modules/events/dust.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  whitesands/code/modules/mapping/minimaps.dm
  whitesands/code/modules/overmap/helm.dm
Labels: Fix

#163 Add annotation feature to `check_regex.py`
  .github/workflows/ci_suite.yml
  code/__HELPERS/icons.dm
  code/modules/asset_cache/asset_cache_item.dm
  tools/ci/check_regex.py
Labels: Code Improvement, Github

#164 Utility jumpskirt no longer covers legs.
  whitesands/code/modules/clothing/under/misc.dm
Labels: Tweak

#160 New M-90gl sprites by schwick.
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/icons/mob/inhands/weapons/guns_left.dmi
  whitesands/icons/mob/inhands/weapons/guns_right.dmi
  whitesands/icons/obj/ammo.dmi
  whitesands/icons/obj/guns/projectile.dmi
Labels: Sprites, Feature

#161 Porting over Kryson's carpets.
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/fancy_floor.dm
  icons/obj/tiles.dmi
  icons/turf/floors/carpet_donk.dmi
  icons/turf/floors/carpet_executive.dmi
  icons/turf/floors/carpet_stellar.dmi
Labels: Sprites, Feature

#165 Move Overmap Module
  code/__DEFINES/overmap.dm
  code/modules/overmap/_overmap.dm
  code/modules/overmap/dynamic_events.dm
  code/modules/overmap/events.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/_ships.dm
  code/modules/overmap/ships/simulated.dm
  code/modules/overmap/ships/simulated_ship_data.dm
  tgstation.dme
Labels: DME Edit

#167 update stale.yml
  .github/workflows/stale.yml
Labels: Github

#146 Rad Ruins
  _maps/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
  _maps/RandomRuins/SpaceRuins/nuclear_dump.dmm
  tgstation.dme
  whitesands/code/datums/ruins/space.dm
  whitesands/code/game/objects/effects/radiation.dm
  whitesands/code/game/objects/structures/radioactive.dm
  whitesands/code/game/objects/structures/signs.dm
  whitesands/icons/effects/effects.dmi
  whitesands/icons/obj/64x32.dmi
  whitesands/icons/obj/hazard.dmi
Labels: Map Change, DME Edit, Sprites, Feature

#141 Prettifies Box Adds Guns and Medical QOL and Wideband and Holopads to Most Other Shiptests
  _maps/configs/box.json
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/engi_moth.dmm
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/ntsv_skipper.dmm
  _maps/shuttles/shiptest/rigger.dmm
  _maps/shuttles/shiptest/solar_class.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/whiteship/whiteship_box.dmm
  _maps/shuttles/whiteship/whiteship_delta.dmm
  _maps/shuttles/whiteship/whiteship_kilo.dmm
  _maps/shuttles/whiteship/whiteship_meta.dmm
  _maps/shuttles/whiteship/whiteship_midway.dmm
  _maps/shuttles/whiteship/whiteship_pubby.dmm
Labels: Map Change, Fix, Removal, Feature, Balance/Rebalance, Tweak

#168 fix toner cartridge icon state
  code/modules/paperwork/photocopier.dm
Labels: Fix

#169 New stool sprites. Demodularize chairs.
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/ntsv_skipper.dmm
  _maps/shuttles/shiptest/starfury_class.dmm
  _maps/shuttles/whiteship/whiteship_delta.dmm
  code/game/objects/structures/beds_chairs/chair.dm
  icons/obj/chairs.dmi
  whitesands/icons/obj/chairs.dmi
Labels: Map Change, Sprites, Feature

#129 fixes gun sounds and hitscan ruin
  _maps/RandomRuins/SpaceRuins/ntfacility.dmm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  tgstation.dme
  whitesands/code/datums/ruins/space.dm
  whitesands/code/modules/projectiles/ammunition/energy/laser.dm
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/code/modules/projectiles/guns/energy/laser.dm
  whitesands/icons/obj/guns/energy.dmi
Labels: Map Change, DME Edit, Sprites, Fix, Feature

#174 Fixes surgery again
  code/_onclick/item_attack.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Fix

#180 Change ID Card Icon
  whitesands/icons/obj/card.dmi
Labels: Sprites, Removal, Good First PR

#188 Update stale.yml
  .github/workflows/stale.yml
Labels: Github

#182 Asteroid De-Power
  whitesands/code/game/area/ship_areas.dm
Labels: Fix

#175 Respawn Timer
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/ticker.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/mob.dm
  config/config.txt
Labels: Config, Feature, Test Merged

#193 Li Teguai fix
  _maps/shuttles/shiptest/independent_litieguai.dmm
Labels: Map Change, Fix

#194 funny new syringe sprites
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
Labels: Sprites, Feature

#187 funny new defib sprites
  icons/mob/clothing/back.dmi
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/defib.dmi
Labels: Sprites, Feature

#184 Fix Mentors
  code/modules/admin/holder2.dm
  code/modules/client/client_procs.dm
  code/modules/mentor/holder2.dm
  code/modules/mentor/verbs/dementor.dm
  code/modules/mentor/verbs/mentorpm.dm
Labels: Admin, Administration

#192 New mop sprite
  icons/obj/janitor.dmi
Labels: Sprites, Feature

#203 Batch of Reconnection and Related Fix Ports
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/statpanel.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/adminmenu.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/beakerpanel.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/fix_air.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/admin/verbs/shuttlepanel.dm
  code/modules/admin/verbs/tripAI.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  html/statbrowser.html
  tgui/packages/tgui-panel/ping/middleware.js
  tools/ci/check_regex.py
Labels: Admin, TGUI, Fix, Tweak

#136 Adds extremely basic placeholder trading methods
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/libertatia.dmm
  _maps/shuttles/shiptest/ntsv_skipper.dmm
  _maps/shuttles/shiptest/solgov_carina.dmm
  code/game/atoms.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/cargo/console.dm
  code/modules/cargo/expressconsole.dm
  code/modules/economy/account.dm
  code/modules/overmap/ships/simulated.dm
  code/modules/overmap/ships/simulated_ship_data.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  tgstation.dme
  whitesands/code/modules/economy/selling_pad.dm
Labels: Map Change, DME Edit, Fix, Feature, Test Merged

#207 Fixes minor map config bugs
  _maps/configs/kilo.json
  _maps/configs/pubby.json
  _maps/golemship.json
  _maps/minigalaxy.json
  _maps/ministarfury.json
Labels: Map Change, Fix, Feature

#100 Dynamic "Greyscale" Simple Clothing System
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/traumas.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/fireaxe.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/mob/living/carbon/human/species_types/teshari.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  config/game_options.txt
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/species/teshari.dmi
  icons/mob/human_parts_greyscale.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/ScannerGate.js
Labels: Config, DME Edit, Sprites, TGUI, Feature, Do not merge, Test Merged

#144 Whitesands camps & ruins
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_adobe.dmm
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_drugstore.dmm
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_farm.dmm
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_assaultpodcrash.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_chokepoint.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_onlyaspoonful.dmm
Labels: Map Change, Feature, Tweak, Stale

#212 Major IPC Fixes
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organ_manipulation.dm
Labels: Fix, Code Improvement, Tweak

#214 compensates for the removal of IPC lungs
  code/modules/mob/living/brain/MMI.dm
Labels: Tweak
