Repository shiptest-ss13/Shiptest, pull requests merged in 2021-07, with the labels that each got.

#56 Eris gun noises
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  sound/weapons/gun/general/dry_fire.ogg
  sound/weapons/gun/general/dry_fire_old.ogg
  sound/weapons/gun/general/grenade_launch.ogg
  sound/weapons/gun/general/grenade_launch_old.ogg
  sound/weapons/gun/l6/shot.ogg
  sound/weapons/gun/l6/shot_old.ogg
  sound/weapons/gun/pistol/shot.ogg
  sound/weapons/gun/pistol/shot_alt.ogg
  sound/weapons/gun/pistol/shot_alt_old.ogg
  sound/weapons/gun/pistol/shot_old.ogg
  sound/weapons/gun/revolver/shot.ogg
  sound/weapons/gun/revolver/shot_alt_old.ogg
  sound/weapons/gun/revolver/shot_old.ogg
  sound/weapons/gun/rifle/shot.ogg
  sound/weapons/gun/rifle/shot_alt.ogg
  sound/weapons/gun/rifle/shot_alt2.ogg
  sound/weapons/gun/rifle/shot_old.ogg
  sound/weapons/gun/shotgun/shot.ogg
  sound/weapons/gun/shotgun/shot_alt_old.ogg
  sound/weapons/gun/shotgun/shot_old.ogg
  sound/weapons/gun/smg/shot.ogg
  sound/weapons/gun/smg/shot_alt_old.ogg
  sound/weapons/gun/smg/shot_old.ogg
  sound/weapons/gun/sniper/shot.ogg
  sound/weapons/gun/sniper/shot_old.ogg
  whitesands/code/modules/projectiles/guns/ballistic/derringer.dm
Labels: Feature, Fix, Removal, Sound

#55 cryo tube ruin.
  _maps/RandomRuins/SpaceRuins/cryocontainment.dmm
  code/datums/ruins/space.dm
Labels: Feature, Map Change

#59 re-areas several ruins shuttles and does minor fixes to some mainline shuttles
  _maps/shuttles/amogus_sus.dmm
  _maps/shuttles/engi_moth.dmm
  _maps/shuttles/mining_ship_all.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/ruin_solgov_exploration_pod.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/ruin_syndicate_fighter_shiv.dmm
  _maps/shuttles/whiteship_kilo.dmm
Labels: Feature, Fix, Map Change

#62 Fixes powernet issue
  code/modules/shuttle/on_move.dm
Labels: Fix, Removal

#60 Makes stars less boring or something
  whitesands/code/__DEFINES/overmap.dm
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/modules/overmap/_overmap.dm
  whitesands/icons/effects/overmap.dmi
  whitesands/icons/effects/overmap_large.dmi
  whitesands/icons/effects/overmap_larger.dmi
Labels: Code Improvement, Feature, Sprites

#64 Removes access requirements for all APCs/air alarms
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/power/apc.dm
Labels: Fix, Removal, Tweak

#44 Adds a bunch of new ruins by Swifterjackie
  _maps/RandomRuins/IceRuins/icemoon_surface_slimerancher.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_ikea_ai.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_tumblr_sexyman.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_unabomber_cabin.dmm
  _maps/shuttles/radio_funny.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  tgstation.dme
  whitesands/code/datums/ruins/jungle.dm
  whitesands/code/datums/shuttles.dm
  whitesands/code/game/objects/items/cards_ids.dm
  whitesands/code/game/objects/structures/ghost_role_spawners.dm
Labels: DME Edit, Map Change

#66 Dwayne upgrade
  _maps/shuttles/mining_ship_all.dmm
Labels: Feature, Fix, Map Change, Removal, Tweak

#63 NTSV Skipper
  _maps/shuttles/ntsv_skipper.dmm
  _maps/skipper.json
  config/maps.txt
  whitesands/code/datums/shuttles.dm
Labels: Config, Feature, Fix, Map Change, Removal

#67 Makes all the whiteships theoretically useable
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/shuttles/whiteship_midway.dmm
  _maps/shuttles/whiteship_pubby.dmm
Labels: Administration, Feature, Fix, Map Change, Removal, Tweak

#71 Fixes a bug with loading some ships in via shuttle manipulator
  _maps/shuttles/amogus_sus.dmm
  _maps/shuttles/bar_ship.dmm
  _maps/shuttles/engi_moth.dmm
  _maps/shuttles/mining_ship_all.dmm
  _maps/shuttles/ntsv_skipper.dmm
  _maps/shuttles/radio_funny.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_solgov_exploration_pod.dmm
Labels: Fix, Map Change

#69 ice ruin
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  tgstation.dme
  whitesands/code/datums/ruins/icemoon.dm
Labels: DME Edit, Feature, Fix, Map Change, Removal

#65 Basic round-ending system
  code/__DEFINES/shuttles.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/verbs/randomverbs.dm
  whitesands/code/modules/overmap/helm.dm
Labels: Admin, Administration, Feature, Fix, Removal

#73 Fixes ETAR overlay showing up on things the ETAR overlay should not be showing up on
  whitesands/icons/obj/guns/energy.dmi
Labels: Fix, Sprites

#74 Euclidean Movement Port & Minor Fixes
  code/__DEFINES/maths.dm
  code/datums/mapgen/biomes/_biome.dm
  code/modules/mob/mob_movement.dm
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/modules/overmap/ships/_ships.dm
Labels: Fix, Removal, Tweak

#80 Removes character references
  _maps/shuttles/engi_moth.dmm
  code/game/objects/items/plushes.dm
Labels: Feature, Map Change, Removal, Tweak

#79 Helm bug fixes
  code/__DEFINES/~whitesands_defines/overmap.dm
  whitesands/code/modules/overmap/dynamic_events.dm
  whitesands/code/modules/overmap/helm.dm
  whitesands/code/modules/overmap/ships/simulated.dm
Labels: Fix, Tweak

#84 Makes portable seed extractors craftable
  whitesands/code/datums/components/crafting/recipes.dm
Labels: Feature

#86 Replaces most important WS links/refs with Shiptest
  .github/AUTODOC_GUIDE.md
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/DOWNLOADING.md
  .github/FUNDING.yml
  .github/workflows/round_id_linker.yml
  README.md
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/lighting.dm
  code/game/world.dm
  config/config.txt
  html/changelog.html
  html/templates/header.html
Labels: Config, Github, Tweak

#89 Update recipes.dm
  whitesands/code/datums/components/crafting/recipes.dm
Labels: Fix

#87 2 new ruins for whitesands made mainly by Erin
  _maps/RandomRuins/SandRuins/whitesands_surface_assaultpodcrash.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_conveniencestore.dmm
  whitesands/code/datums/ruins/whitesands.dm
Labels: Feature, Map Change

#91 adds boss ruins to lavaland
  _maps/RandomRuins/LavaRuins/bubblegum_ruin.dmm
  _maps/RandomRuins/LavaRuins/colossus_ruin.dmm
  _maps/RandomRuins/LavaRuins/drake_ruin.dmm
  code/datums/ruins/lavaland.dm
Labels: Code Improvement, Feature, Map Change

#78 Lava Comm Outpost ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  config/lavaruinblacklist.txt
Labels: Config, Map Change

#95 adds funny spoon
  code/modules/vending/drinnerware.dm
  tgstation.dme
  whitesands/code/modules/mining/equipment/mining_tools.dm
  whitesands/icons/mob/inhands/equipment/mining_lefthand.dmi
  whitesands/icons/mob/inhands/equipment/mining_righthand.dmi
  whitesands/icons/obj/mining.dmi
Labels: DME Edit, Feature, Sprites

#41 Mini Galaxy and the flyable golem ship
  _maps/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/configs/golem.json
  _maps/configs/solar.json
  _maps/configs/starfury.json
  _maps/golemship.json
  _maps/minigalaxy.json
  _maps/ministarfury.json
  _maps/shuttles/shiptest/golem_ship.dmm
  _maps/shuttles/shiptest/solar_class.dmm
  _maps/shuttles/shiptest/starfury_class.dmm
  code/game/objects/structures/ghost_role_spawners.dm
  config/maps.txt
  tgstation.dme
  whitesands/code/game/objects/structures/crates_lockers/closets/wallmount.dm
  whitesands/code/game/objects/structures/ghost_role_spawners.dm
  whitesands/code/modules/clothing/head/jobs.dm
  whitesands/icons/obj/closet.dmi
Labels: Config, DME Edit, Feature, Fix, Map Change, Removal, Sprites, Stale

#90 Syndicate drip part 1
  code/modules/clothing/head/misc.dm
  whitesands/code/modules/clothing/suits/coats.dm
  whitesands/code/modules/clothing/under/syndicate.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/mob/clothing/under/syndicate.dmi
  whitesands/icons/obj/clothing/hats.dmi
  whitesands/icons/obj/clothing/suits.dmi
  whitesands/icons/obj/clothing/under/syndicate.dmi
Labels: Feature, Sprites

#102 Skipper Fixes
  _maps/shuttles/shiptest/ntsv_skipper.dmm
Labels: Feature, Fix, Map Change

#101 Ruin List Tweaks
  code/controllers/subsystem/mapping.dm
  code/datums/ruins/icemoon.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mapping/ruins.dm
  tgstation.dme
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/datums/ruins/icemoon.dm
  whitesands/code/datums/ruins/whitesands.dm
  whitesands/code/modules/mapping/map_template.dm
Labels: Admin, DME Edit, Fix, Tweak
