Repository shiptest-ss13/Shiptest, pull requests merged in 2021-12, with the labels that each got.

#455 The Independent Suit Update
  _maps/shuttles/shiptest/rigger.dmm
  code/__DEFINES/obj_flags.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/mecha/mecha.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/mining/machine_vending.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/cargo.dmi
  icons/mob/clothing/under/engineering.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  whitesands/code/modules/cargo/packs.dm
  whitesands/code/modules/spacepods/spacepod.dm
  whitesands/code/modules/vending/mining_equipment.dm
Labels: Map Change, Sprites

#442 Pill Class-B(lack)
  _maps/configs/blackpill.json
  _maps/shuttles/shiptest/pill_black.dmm
Labels: Map Change

#462 Finishes sec rearming, sort of rebances ship sec , Starfury facelift
  _maps/configs/starfury.json
  _maps/configs/twinkleshine.json
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/solgov_liberty.dmm
  _maps/shuttles/shiptest/starfury_class.dmm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/vending/security.dm
  icons/obj/guns/energy.dmi
  icons/obj/vending.dmi
  whitesands/code/game/objects/structures/ghost_role_spawners.dm
  whitesands/code/modules/projectiles/guns/energy/energy_gun.dm
  whitesands/code/modules/projectiles/guns/energy/laser.dm
  whitesands/code/modules/vending/mining_equipment.dm
Labels: Map Change, Sprites

#450 Swifter's Ship Emporium But Updated
  _maps/configs/goon.json
  _maps/configs/luxembourg.json
  _maps/configs/pill.json
  _maps/configs/raven.json
  _maps/configs/spitfire.json
  _maps/configs/statio.json
  _maps/custom/raven_redone.dmm
  _maps/shuttles/shiptest/corp_high.dmm
  _maps/shuttles/shiptest/hightide.dmm
  _maps/shuttles/shiptest/independant_pill.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/lamia.dmm
  _maps/shuttles/shiptest/nanotrasen_goon.dmm
  _maps/shuttles/shiptest/nanotrasen_raven.dmm
  _maps/shuttles/shiptest/nanotrasen_station.dmm
  _maps/shuttles/shiptest/scrapper.dmm
  _maps/shuttles/shiptest/scrapperb.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  _maps/shuttles/shiptest/syndicate_spitfire.dmm
  _maps/shuttles/shiptest/whiteship_delta.dmm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  whitesands/code/game/machinery/shuttle/shuttle_engine_types.dm
Labels: Map Change

#457 Adds Document Folder Sprites by yours truly!
  icons/obj/bureaucracy.dmi
Labels: Sprites, Stale

#500 Resprites the suit storage units
  code/game/machinery/suit_storage_unit.dm
  icons/obj/machines/suit_storage.dmi
Labels: Sprites

#480 Readds more Nanotrasen clothing, makes the skipper fully NT
  _maps/configs/skipper.json
  _maps/shuttles/shiptest/ntsv_osprey.dmm
  code/modules/clothing/head/jobs.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/under/command.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/command.dmi
  whitesands/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  whitesands/code/modules/clothing/under/jobs/command.dm
Labels: Map Change, Sprites

#497 Upgrade nodeJS & tgUI yarn
  dependencies.sh
  tgui/.yarn/releases/yarn-2.4.0.cjs
  tgui/.yarn/releases/yarn-3.1.1.cjs
  tgui/.yarnrc.yml
  tgui/yarn.lock
Labels: TGUI, Dependencies

#451 Ashwalkers nerf and yeets the solgov history musuem ruin
  _maps/RandomRuins/SpaceRuins/solgovhistory.dmm
  code/datums/ruins/icemoon.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
  whitesands/code/datums/ruins/space.dm
Labels: Map Change

#503 Osprey tweaks
  _maps/configs/ntsv_osprey.json
  _maps/shuttles/shiptest/ntsv_osprey.dmm
  code/modules/clothing/head/collectable.dm
Labels: Map Change

#508 Completely fixes Default input
  code/controllers/subsystem/input.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/setup.dm
Labels: Test Merge Candidate

#513 Mining Hardsuit visual fix.
  icons/mob/clothing/head.dmi
Labels: Sprites

#516 Fixes spider spinneret clipping through jumpsuits.
  whitesands/icons/mob/spider_spinneret.dmi
Labels: Sprites

#510 Add: Ally Tie
  code/modules/clothing/neck/_neck.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: Sprites

#509 Add: Porting Amaretto and Associated Cocktails
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/vending/boozeomat.dm
  whitesands/icons/obj/drinks.dmi
Labels: Sprites

#481 create new space ruin
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  code/datums/ruins/space.dm
Labels: Map Change

#383 Decal Fixes/Updates [MDB IGNORE]
  _maps/RandomRuins/JungleRuins/jungle_surface_tumblr_sexyman.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_crash_cargo.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/clownplanet.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/nuclear_dump.dmm
  _maps/RandomRuins/SpaceRuins/syndicatewreck01.dmm
  _maps/RandomRuins/SpaceRuins/transport18.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/speedway.dmm
  _maps/custom/raven_redone.dmm
  _maps/shuttles/hunter/hunter_space_cop.dmm
  _maps/shuttles/infiltrator/infiltrator_advanced.dmm
  _maps/shuttles/infiltrator/infiltrator_basic.dmm
  _maps/shuttles/mining/mining_large.dmm
  _maps/shuttles/ruin/ruin_caravan_victim.dmm
  _maps/shuttles/shiptest/chapel.dmm
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/nanotrasen_raven.dmm
  _maps/shuttles/shiptest/ntsv_osprey.dmm
  _maps/shuttles/shiptest/rigger.dmm
  _maps/shuttles/shiptest/rigger_b.dmm
  _maps/shuttles/shiptest/rigger_c.dmm
  _maps/shuttles/shiptest/solgov_carina.dmm
  _maps/shuttles/shiptest/starfury_class.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  _maps/shuttles/shiptest/whiteship_kilo.dmm
  _maps/shuttles/shiptest/whiteship_pubby.dmm
  code/game/objects/effects/decals/turfdecal/markings.dm
  tools/mapmerge2/convert2baytile.bat
  tools/mapmerge2/map_scripts/baytileconversion.txt
  whitesands/code/game/turfs/open/floor/flooring_decals.dm
  whitesands/icons/turf/decals.dmi
Labels: Map Change, Sprites, hacktoberfest-accepted

#477 new map "jungle-botany"
  _maps/RandomRuins/JungleRuins/jungle_botany.dmm
  code/datums/ruins/jungle.dm
  shiptest.dme
Labels: Map Change, DME Edit, Do not merge, Stale

#486 adding a new map
  _maps/RandomRuins/SpaceRuins/excavator_DK.dmm
  code/datums/ruins/space.dm
Labels: Map Change, Stale

#519 Fixes slimeperson customization code somewhat
  code/datums/mutable_appearance.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/mutant_bodyparts.dmi
Labels: Sprites

#499 Ship Name Randomization Refactor and related changes
  _maps/custom/raven_redone.dmm
  _maps/example_ship_config.json
  _maps/ship_config_schema.json
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/bar_ship_b.dmm
  _maps/shuttles/shiptest/engi_moth.dmm
  _maps/shuttles/shiptest/golem_ship.dmm
  _maps/shuttles/shiptest/independant_pill.dmm
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/nanotrasen_goon.dmm
  _maps/shuttles/shiptest/nanotrasen_raven.dmm
  _maps/shuttles/shiptest/nanotrasen_station.dmm
  _maps/shuttles/shiptest/ntsv_osprey.dmm
  _maps/shuttles/shiptest/pill_black.dmm
  _maps/shuttles/shiptest/radio_funny.dmm
  _maps/shuttles/shiptest/solar_class.dmm
  _maps/shuttles/shiptest/starfury_class.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  _maps/shuttles/shiptest/syndicate_spitfire.dmm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/shuttles.dm
  code/game/objects/items/shuttle_creator.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/simulated.dm
  code/modules/overmap/ships/simulated_ship_data.dm
  code/modules/shuttle/shuttle.dm
  code/modules/unit_tests/ship_placement.dm
  strings/ship_names.json
  strings/ship_names.txt
  tgui/packages/tgui/interfaces/CrewManifest.js
  tgui/packages/tgui/interfaces/HelmConsole.js
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/game/machinery/cryopod.dm
Labels: Map Change, TGUI

#520 Makes jellypeople consistently transparent
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

#525 Fixes Decal Errors
  _maps/RandomRuins/RockRuins/rockplanet_moth.dmm
  _maps/RandomRuins/RockRuins/rockplanet_ore_proccessing_facility.dmm
  _maps/RandomRuins/SpaceRuins/excavator_DK.dmm
Labels: Map Change

#526 Updated Ship Namelists
  _maps/configs/blackpill.json
  _maps/configs/pill.json
  _maps/ship_config_schema.json
  strings/ship_names.json
Labels: Map Change

#529 Do Not Abuse Lizards (Ruin Removal)
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  code/datums/ruins/space.dm
Labels: Map Change

#504 Tartarus-Class Military Carrier
  _maps/configs/carrier.json
  _maps/shuttles/shiptest/carrier.dmm
  code/__DEFINES/flags.dm
  code/game/shuttle_engines.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/cargo_technician.dm
  icons/turf/shuttle.dmi
  whitesands/code/modules/spacepods/spacepod.dm
Labels: Map Change, Sprites

#541 Pandemic Resprite
  code/modules/reagents/chemistry/machinery/pandemic.dm
  icons/obj/chemical.dmi
Labels: Sprites

#540 Curates the Icemoon ruins list
  _maps/RandomRuins/IceRuins/icemoon_surface_asteroid.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_hotsprings.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_lust.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_mining_site.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_slimerancher.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_bathhouse.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_lavaland.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_library.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_mining_site.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_puzzle.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_wrath.dmm
  config/iceruinblacklist.txt
  whitesands/code/datums/ruins/icemoon.dm
Labels: Config, Map Change

#544 Changes i forgot to push in the Icemoon ruins curation PR
  _maps/RandomRuins/IceRuins/icemoon_surface_slimerancher.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
  code/datums/ruins/icemoon.dm
  whitesands/code/datums/ruins/icemoon.dm
Labels: Map Change

#545 Updates the brazilgun ruin
  _maps/RandomRuins/IceRuins/icemoon_underground_brazillianlab.dmm
  whitesands/code/datums/ruins/icemoon.dm
Labels: Map Change

#552 Fixes the E-SG 500 shotgun being invisible
  code/modules/vending/security.dm
  icons/obj/guns/energy.dmi
  whitesands/code/modules/projectiles/guns/energy/energy_gun.dm
Labels: Sprites

#528 Space Ruin: Dangerous Research / Occult Research Station
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  code/datums/ruins/space.dm
Labels: Map Change

#568 Luxembourg's window to space
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
Labels: Map Change

#555 Fixing my broken ass ruins
  _maps/RandomRuins/RockRuins/rockplanet_crash_cult.dmm
  _maps/RandomRuins/RockRuins/rockplanet_crash_kitchen.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_crash_bar.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_crash_cargo.dmm
  code/datums/ruins/rockplanet.dm
  whitesands/code/datums/ruins/whitesands.dm
Labels: Map Change
