Repository shiptest-ss13/Shiptest, pull requests merged in 2022-05, with the labels that each got.

#1016 Basically i made the surplus rifle sprite alittle less shitty.
  icons/obj/guns/projectile.dmi
Labels: Sprites

#982 Schmiedeberg-class Pharmacology Ship
  _maps/configs/schmiedeberg-class.json
  _maps/shuttles/shiptest/schmiedeberg-class.dmm
Labels: Map Change, Test Merged

#1022 Replaced borg hud with regular one in Riggs MD closet
  _maps/shuttles/shiptest/rigger.dmm
Labels: Map Change

#1014 Erases the Jungle_Skeleton and Surface_Monkies ruin from existence.
  _maps/RandomRuins/JungleRuins/jungle_skeleton.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_monkies.dmm
  config/jungleruinblacklist.txt
  whitesands/code/datums/ruins/jungle.dm
Labels: Config, Map Change, Deprecated Modularization

#1024 Updates syndicate softsuit + variants
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#1020 Modular Bartending
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/modglass.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/mining/ores_coins.dm
  code/modules/power/cable.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/ruins/rockplanet_ruin_code.dm
  code/modules/vending/boozeomat.dm
  icons/obj/food/modglass.dmi
  icons/obj/food/modglass_fillings.dmi
  icons/obj/food/modglass_garnishes.dmi
  icons/obj/food/modglass_garnishes_items.dmi
  shiptest.dme
  whitesands/code/game/turf/open/floor/whitesands.dm
  whitesands/code/modules/mining/lavaland/ash_flora.dm
  whitesands/code/modules/mining/ores_coins.dm
Labels: DME Edit, Sprites, Deprecated Modularization

#558 speech controllers and hearers_in_view improvements
  code/__DEFINES/flags.dm
  code/__DEFINES/important_recursive_contents.dm
  code/__DEFINES/speech_controller.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/game.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/bitfields.dm
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/speech_controller.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/passworddoor.dm
  code/game/machinery/harvester.dm
  code/game/machinery/hologram.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/eightball.dm
  code/modules/assembly/voice.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_say.dm
  code/modules/research/nanites/nanite_programmer.dm
  code/modules/spells/spell_types/shapeshift.dm
  shiptest.dme
Labels: DME Edit

#1035 Osprey console fix
  _maps/shuttles/shiptest/ntsv_osprey.dmm
Labels: Map Change

#1031 Small fixes to Boyardee
  _maps/shuttles/shiptest/bar_ship.dmm
Labels: Map Change

#1027 removes clipping
  icons/mob/clothing/underwear.dmi
Labels: Sprites

#1047 carrier improvements
  _maps/configs/carrier.json
  _maps/shuttles/shiptest/carrier.dmm
  code/game/shuttle_engines.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
Labels: Map Change

#1054 VSCode DMI editor!!!
  .vscode/extensions.json
  .vscode/settings.json
Labels: Tools

#1046 Removes Paper Detroit from the game.
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/RandomRuins/SpaceRuins/originalcontent.dmm
  code/datums/ruins/space.dm
  code/modules/ruins/spaceruin_code/originalcontent.dm
  config/spaceruinblacklist.txt
  shiptest.dme
Labels: Config, Map Change, DME Edit

#1017 Removes no underwear trait from IPC, sarathi, and rachnids
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  whitesands/code/modules/mob/living/carbon/human/species_types/spider.dm
Labels: Deprecated Modularization

#846 Arrowhead-class
  _maps/configs/independent_arrowhead.json
  _maps/shuttles/shiptest/independent_arrowhead.dmm
Labels: Map Change, New Ship

#1066 Reverts https://github.com/shiptest-ss13/Shiptest/pull/846
  _maps/configs/independent_arrowhead.json
  _maps/shuttles/shiptest/independent_arrowhead.dmm
Labels: Map Change

#1048 Removes asteroid1-5 and derelict1-6 space ruins.
  _maps/RandomRuins/SpaceRuins/asteroid1.dmm
  _maps/RandomRuins/SpaceRuins/asteroid2.dmm
  _maps/RandomRuins/SpaceRuins/asteroid3.dmm
  _maps/RandomRuins/SpaceRuins/asteroid4.dmm
  _maps/RandomRuins/SpaceRuins/asteroid5.dmm
  _maps/RandomRuins/SpaceRuins/derelict1.dmm
  _maps/RandomRuins/SpaceRuins/derelict2.dmm
  _maps/RandomRuins/SpaceRuins/derelict3.dmm
  _maps/RandomRuins/SpaceRuins/derelict4.dmm
  _maps/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/RandomRuins/SpaceRuins/derelict6.dmm
  code/datums/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Config, Map Change

#1043 Boyardee updates 2
  _maps/configs/diner.json
  _maps/shuttles/shiptest/bar_ship.dmm
  code/modules/jobs/job_types/assistant.dm
Labels: Map Change

#1065 Sleeper Sprites by Yours Truly
  icons/obj/cryogenic2.dmi
  icons/obj/machines/sleeper.dmi
  whitesands/code/game/machinery/cryopod.dm
Labels: Sprites, Deprecated Modularization

#1074 Updates digi syndie hardsuits to use the current sprite
  icons/mob/species/misc/digitigrade_suits.dmi
Labels: Sprites

#1036 The Carina RP Update
  _maps/shuttles/shiptest/minutemen_carina.dmm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/brigdoors.dm
  whitesands/code/game/objects/structures/crates_lockers/closets/wallmount.dm
Labels: Map Change, Test Merged, Deprecated Modularization

#958 Adds gauss weapons
  code/game/machinery/recharger.dm
  code/modules/projectiles/ammunition/special/gauss.dm
  code/modules/projectiles/boxes_magazines/external/gauss.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/powered.dm
  code/modules/projectiles/projectile/bullets/gauss.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/projectiles.dmi
  shiptest.dme
  sound/weapons/gun/gauss/magovercharge.ogg
  sound/weapons/gun/gauss/magpistol.ogg
  sound/weapons/gun/gauss/magrifle.ogg
  sound/weapons/gun/gauss/mg_reload.ogg
  sound/weapons/gun/gauss/pistol_reload.ogg
  sound/weapons/gun/gauss/rifle_reload.ogg
  sound/weapons/gun/gauss/sniper_reload.ogg
Labels: DME Edit, Sprites, Sound

#1090 Fixes missing wire on libertatia-class hauler
  _maps/shuttles/shiptest/pirate_libertatia.dmm
Labels: Map Change

#1092 Moves ash/salt garnish to crafting menu
  code/datums/components/crafting/recipes.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Server, Blame Zephyr

#1086 Vox tailfeather is a neck quill instead of a head quill
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/species/vox/vox_quills.dmi
Labels: Sprites

#1088 Adds explorer gas mask sprite for vox
  icons/mob/species/vox/onmob_mask_vox.dmi
Labels: Sprites

#1113 We forgot to qdel the ntnet relays
  code/modules/overmap/helm.dm
Labels: Speed Mergeable

#1081 Ship Keys
  code/modules/clothing/under/accessories.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: TGUI

#1110 Fixes Schmiedeberg-Class Pill Press
  _maps/shuttles/shiptest/schmiedeberg-class.dmm
Labels: Map Change

#1111 New IPC screen, "Bubbles"
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/ipc_accessories.dmi
Labels: Sprites

#872 Turf fire
  code/controllers/subsystem/turf_fire.dm
  code/game/objects/effects/turf_fire.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  icons/effects/turf_fire.dmi
  icons/mob/inhands/weapons/flamethrower_lefthand.dmi
  icons/mob/inhands/weapons/flamethrower_righthand.dmi
  icons/obj/flamethrower.dmi
  icons/obj/guns/48x32guns.dmi
  shiptest.dme
  sound/weapons/gun/flamethrower/flamethrower1.ogg
  sound/weapons/gun/flamethrower/flamethrower2.ogg
  sound/weapons/gun/flamethrower/flamethrower3.ogg
  sound/weapons/gun/flamethrower/flamethrower_empty.ogg
Labels: DME Edit, Sprites, Sound, Test Merged

#1050 Adds the Scav-class Drifter
  _maps/configs/scav.json
  _maps/shuttles/shiptest/scav.dmm
  code/game/machinery/suit_storage_unit.dm
Labels: Map Change, Test Merged, New Ship

#1117 Adds soap to the boyardee
  _maps/shuttles/shiptest/bar_ship.dmm
Labels: Map Change

#1084 Superpill (Pill-Class derivative)
  _maps/configs/superpill.json
  _maps/shuttles/shiptest/pill_super.dmm
Labels: Map Change, Do not merge, Good First PR, Crime Against Humanity, New Ship

#1038 Fixes annoying issues + Remaps a jungle ruin
  _maps/RandomRuins/JungleRuins/jungle_botany.dmm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice whelp.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
Labels: Map Change, Test Merge Candidate

#1125 updates the superpill to use normal line endings
  _maps/shuttles/shiptest/pill_super.dmm
Labels: Map Change

#1126 adds github workflows for codeowner reviews and dmi5
  .github/workflows/codeowner_reviews.yml
  .github/workflows/dmi5.yml
  icons/runtime/default_title.dmi
Labels: Sprites, Github, Speed Mergeable

#1099 New SMES sprites by Irra
  code/modules/power/smes.dm
  icons/obj/machines/smes.dmi
  icons/obj/power.dmi
Labels: Sprites

#1139 Makes GitHub Stop adding that setting file randomly
  .gitignore
Labels: Speed Mergeable

#1085 Rube-Goldberg Class Engineering Project (Gone OSHA)
  _maps/configs/engineeringmess.json
  _maps/shuttles/shiptest/engineeringmess.dmm
  code/datums/holocall.dm
  code/game/objects/items/storage/backpack.dm
  icons/obj/computer.dmi
Labels: Map Change, Sprites, New Ship

#902 New ruin any percent
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
Labels: Map Change, Test Merge Candidate
