Repository shiptest-ss13/Shiptest, pull requests merged in 2022-02, with the labels that each got.

#751 Names For the Name God
  _maps/configs/gorlex_hyena.json
  _maps/configs/kugelblitz.json
  _maps/configs/ntsv_osprey.json
  _maps/ship_config_schema.json
  strings/ship_names.json
Labels: Map Change

#749 Resprites some Kepori color matrix gear to not look obnoxiously large.
  icons/mob/clothing/species/kepori.dmi
Labels: Sprites

#759 Adds some admin messages to the shuttle manipulator
  code/modules/admin/verbs/shuttlepanel.dm
Labels: Admin

#732 Nanotrasen Deserter Vault Ruin
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
Labels: Map Change

#543 Mapping Checks & Map Fixes
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/bar_ship_b.dmm
  _maps/shuttles/shiptest/cargotide.dmm
  _maps/shuttles/shiptest/chapel.dmm
  _maps/shuttles/shiptest/engi_moth.dmm
  _maps/shuttles/shiptest/hightide.dmm
  _maps/shuttles/shiptest/lamia.dmm
  _maps/shuttles/shiptest/nanotrasen_goon.dmm
  _maps/shuttles/shiptest/nanotrasen_raven.dmm
  _maps/shuttles/shiptest/nanotrasen_station.dmm
  _maps/shuttles/shiptest/ntsv_osprey.dmm
  _maps/shuttles/shiptest/ntsv_skipper.dmm
  _maps/shuttles/shiptest/rigger.dmm
  _maps/shuttles/shiptest/rigger_b.dmm
  _maps/shuttles/shiptest/rigger_c.dmm
  _maps/shuttles/shiptest/scrapper.dmm
  _maps/shuttles/shiptest/scrapperb.dmm
  _maps/shuttles/shiptest/solar_class.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/shiptest/syndicate_geneva.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  _maps/shuttles/shiptest/whiteship_kilo.dmm
  _maps/shuttles/shiptest/whiteship_meta.dmm
  _maps/shuttles/shiptest/whiteship_midway.dmm
  _maps/shuttles/shiptest/whiteship_pubby.dmm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/overmap/ships/simulated.dm
  code/modules/unit_tests/ship_placement.dm
  whitesands/code/controllers/subsystem/overmap.dm
Labels: Map Change, Admin, Deprecated Modularization

#745 Updates the syndicate hardsuit with a brand new sprite.
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, Do not merge

#624 Adds radiation ruin.
  _maps/RandomRuins/SpaceRuins/oretruck.dmm
  code/game/area/areas/ruins/space.dm
Labels: Map Change

#733 Independent Hardsuit Refactor
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/cargotide.dmm
  _maps/shuttles/shiptest/chapel.dmm
  _maps/shuttles/shiptest/hightide.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/isv_roberts.dmm
  _maps/shuttles/shiptest/pirate_libertatia.dmm
  _maps/shuttles/shiptest/wright.dmm
Labels: Map Change

#723 Configurable Overmap Size
  _maps/map_files/generic/CentCom.dmm
  code/modules/overmap/_overmap.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/_ships.dm
  config/game_options.txt
  whitesands/code/controllers/configuration/entries/game_options.dm
  whitesands/code/controllers/subsystem/overmap.dm
Labels: Config, Map Change, Test Merge Candidate, Deprecated Modularization

#729 Removes Metacoins/Antag Tokens, Minor Loadout Rework
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/~whitesands_defines/metacoin.dm
  code/__HELPERS/roundend.dm
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/mapping.dm
  code/modules/admin/admin.dm
  code/modules/client/loadout/_loadout.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_eyewear.dm
  code/modules/client/loadout/loadout_footwear.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_ooc.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/mob.dm
  config/game_options.txt
  shiptest.dme
  whitesands/code/controllers/configuration/entries/general.dm
  whitesands/code/datums/achievements/scores.dm
  whitesands/code/modules/admin/topic.dm
  whitesands/code/modules/admin/verbs/modify_antag_tokens.dm
  whitesands/code/modules/client/antag_tokens.dm
  whitesands/code/modules/metacoin/metacoin.dm
Labels: Config, DME Edit, Admin, Deprecated Modularization, SQL

#782 Ports Screen Alerts from TGMC, adds random planet names.
  code/__DEFINES/dcs/ship_signals.dm
  code/__HELPERS/time.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/client_defines.dm
  code/modules/overmap/dynamic_events.dm
  code/modules/overmap/ships/simulated.dm
  code/modules/screen_alerts/_screen_alerts.dm
  shiptest.dme
  strings/planet_names.txt
  strings/planet_prefixes.txt
Labels: DME Edit

#787 Icemoon Icevault Patch
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
Labels: Map Change

#786 Updates nt command sprites
  code/modules/jobs/job_types/captain.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/command.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/command.dmi
  whitesands/code/modules/clothing/head/jobs.dm
  whitesands/code/modules/clothing/under/jobs/command.dm
Labels: Sprites, Deprecated Modularization

#777 Fixes ship location sanity check
  code/modules/overmap/ships/simulated.dm
Labels: Test Merge Candidate

#779 Cryopod/Console resprite
  icons/obj/computer.dmi
  icons/obj/cryogenic2.dmi
  whitesands/code/game/machinery/cryopod.dm
Labels: Sprites, Deprecated Modularization

#767 Fixes underwear clipping through clothes
  icons/mob/clothing/underwear.dmi
Labels: Sprites

#794 Digitigrade compatibility for skirts
  code/modules/clothing/under/jobs/civilian/curator.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/skirt_dress.dm
  code/modules/clothing/under/suits.dm
  code/modules/clothing/under/syndicate.dm
  whitesands/code/modules/clothing/under/jobs/cargo.dm
  whitesands/code/modules/clothing/under/jobs/command.dm
  whitesands/code/modules/clothing/under/jobs/engineering.dm
  whitesands/code/modules/clothing/under/jobs/medical.dm
  whitesands/code/modules/clothing/under/jobs/rnd.dm
  whitesands/code/modules/clothing/under/jobs/service.dm
  whitesands/code/modules/clothing/under/misc.dm
  whitesands/code/modules/clothing/under/syndicate.dm
Labels: Deprecated Modularization

#788 Chisels for Wall Renovations and Modifications
  code/game/objects/items/tools/chisel.dm
  code/game/turfs/closed/walls.dm
  icons/obj/tools.dmi
  shiptest.dme
Labels: DME Edit, Sprites

#783 Glass and RGlass Floor Tiles
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/glass.dm
  icons/obj/tiles.dmi
Labels: Sprites

#766 Panic bunker bypass verb for admins
  code/controllers/subsystem/persistence.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/panicbunker.dm
  code/modules/client/client_procs.dm
Labels: Admin

#765 Icemoon icecropolis
  _maps/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_icecropolis.dmm
  code/datums/components/dooropendeathproc.dm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/machinery/doors/shutters.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  shiptest.dme
Labels: Map Change, DME Edit

#744 Adds a telecom floor tile
  code/game/turfs/open/floor/misc_floor.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  icons/turf/floors/misc.dmi
  whitesands/icons/turf/floors/misc.dmi
Labels: Sprites, Deprecated Modularization

#791 re:tables
  icons/obj/smooth_structures/table.dmi
Labels: Sprites

#828 Bumps python to 3.9.10
  .github/workflows/ci_suite.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/make_changelogs.yml
  dependencies.sh
  tools/bootstrap/python39._pth
  tools/bootstrap/python_.ps1
  tools/changelog/generate_cl.py
  tools/changelog/makeChangelog.bat
  tools/changelog/ss13_genchangelog.py
  tools/ci/check_changelogs.sh
  tools/requirements.txt
  tools/ss13_genchangelog.py
Labels: Github

#827 Fixes SQL errors, AGAIN
  code/controllers/subsystem/blackbox.dm
  code/modules/admin/verbs/adminhelp.dm
Labels: Admin

#835 Fixes changelog compilation CI
  .github/workflows/compile_changelogs.yml
Labels: Github

#831 Jackboots resprite and Black gloves resprite
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/shoes.dmi
Labels: Sprites

#803 Hopefully fixes 3 harddels, fixes overlay lighting runtimes
  code/datums/components/riding.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  whitesands/code/modules/mining/deepcore/drill.dm
  whitesands/code/modules/mining/deepcore/ore_vein.dm
Labels: Deprecated Modularization

#711 The Great Handgun Re-Flattening
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/ammo.dmi
  icons/obj/storage.dmi
  whitesands/code/modules/projectiles/ammunition/ballistic/smg.dm
  whitesands/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  whitesands/code/modules/projectiles/boxes_magazines/pistol.dm
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/code/modules/projectiles/projectile/bullets/smg.dm
Labels: Sprites, Deprecated Modularization

#833 Fix many erroneous lazylist macro uses
  code/__HELPERS/_lists.dm
  code/controllers/subsystem/parallax.dm
  code/controllers/subsystem/sounds.dm
  code/controllers/subsystem/timer.dm
  code/datums/action.dm
  code/datums/weather/weather.dm
  code/game/alternate_appearance.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/launchpad_control.dm
  code/game/objects/items/storage/wallets.dm
  code/modules/admin/chat_commands.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/client/client_procs.dm
  code/modules/detectivework/scanner.dm
  code/modules/mob/dead/observer/logout.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/mob/logout.dm
  code/modules/tgui/tgui.dm
  code/modules/vehicles/vehicle_actions.dm
Labels: Admin

#837 Fix three hanging references to mobs
  code/datums/mind.dm
  code/modules/admin/view_variables/reference_tracking.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob.dm
Labels: Admin

#724 What if I Maintained the Tide-class, Hightide-class, Trunktide-class, Metis-class, Bogatyr-class, Lamia-class, and Wright-class, and High-class Shiptests Ahahaha (Now with an even longer PR title because GitHub doesn't actually limit them for some reason wow isn't that amazing?)
  _maps/configs/bogatyr.json
  _maps/configs/cargotide.json
  _maps/configs/corphigh.json
  _maps/configs/hightide.json
  _maps/configs/lamia.json
  _maps/configs/metis.json
  _maps/configs/tide.json
  _maps/configs/wright.json
  _maps/shuttles/shiptest/bogatyr.dmm
  _maps/shuttles/shiptest/cargotide.dmm
  _maps/shuttles/shiptest/corp_high.dmm
  _maps/shuttles/shiptest/hightide.dmm
  _maps/shuttles/shiptest/isv_roberts.dmm
  _maps/shuttles/shiptest/lamia.dmm
  _maps/shuttles/shiptest/metis.dmm
  _maps/shuttles/shiptest/wright.dmm
Labels: Map Change

#840 Uh Oh Yuh Oh Hightide-Class Had The Wrong Boards
  _maps/shuttles/shiptest/hightide.dmm
Labels: Map Change

#842 Removes a single "g" from shiptest.dme
  shiptest.dme
Labels: DME Edit

#844 Fix more hanging references
  code/__HELPERS/qdel.dm
  code/_onclick/drag_drop.dm
  code/controllers/subsystem/icon_smooth.dm
  code/datums/hud.dm
  code/datums/mind.dm
  code/datums/traits/_quirk.dm
  code/game/objects/objs.dm
  code/game/turfs/turf.dm
  code/modules/admin/view_variables/reference_tracking.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob.dm
Labels: Admin

#764 Minor Map-export Fixes
  code/modules/buildmode/submodes/map_export.dm
  code/modules/mapping/writer.dm
  shiptest.dme
Labels: DME Edit

#716 Holofield Generators
  code/datums/wires/autolathe.dm
  code/datums/wires/shieldwallgen.dm
  code/game/machinery/buttons.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/stationobjs.dmi
  shiptest.dme
Labels: DME Edit, Sprites

#808 Adds rockplanet and jungle ruin blacklists
  code/__DEFINES/maps.dm
  code/controllers/subsystem/mapping.dm
  code/datums/ruins/jungle.dm
  code/datums/ruins/rockplanet.dm
  code/game/area/areas/mining.dm
  code/modules/admin/verbs/debug.dm
  config/jungleruinblacklist.txt
  config/rockruinblacklist.txt
  whitesands/code/datums/ruins/jungle.dm
Labels: Config, Admin, Deprecated Modularization

#770 Possibly Fixes Shuttle Engine (real and fake) Harddel Issues
  _maps/shuttles/shiptest/carrier.dmm
  code/game/shuttle_engines.dm
  code/modules/shuttle/shuttle.dm
  whitesands/code/game/machinery/shuttle/shuttle_engine.dm
  whitesands/code/game/machinery/shuttle/shuttle_engine_types.dm
Labels: Map Change, Deprecated Modularization

#849 Fixes duplicate area on Metis
  _maps/shuttles/shiptest/metis.dmm
  icons/turf/areas.dmi
  whitesands/code/game/area/ship_areas.dm
Labels: Map Change, Sprites, Deprecated Modularization

#674 Inteq risk management group, a neutral PMC faction
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_shoes.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/syndicate.dmi
  icons/obj/guns/48x32guns.dmi
  sound/weapons/gun/rifle/akm.ogg
  whitesands/code/game/objects/items/storage/backpack.dm
  whitesands/code/modules/clothing/head/berets.dm
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/icons/obj/storage.dmi
Labels: Sprites, Sound, Deprecated Modularization

#757 Attempt to chase down various runtimes, Grants R_DEBUG log access
  code/__DEFINES/misc.dm
  code/__HELPERS/_logging.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/npcpool.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/components/gps.dm
  code/datums/components/material_container.dm
  code/datums/components/orbiter.dm
  code/datums/components/overlay_lighting.dm
  code/datums/components/riding.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/Cavegens/AsteroidCaves.dm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/datums/mapgen/Cavegens/WhitesandsCaves.dm
  code/datums/mapgen/JungleGenerator.dm
  code/datums/mapgen/_MapGenerator.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/hologram.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/RCD.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/ipintel.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/cargo/expressconsole.dm
  code/modules/economy/account.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/setup.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_silo.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/mob.dm
  code/modules/overmap/dynamic_events.dm
  code/modules/overmap/ships/simulated.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/nanites/nanite_programs/utility.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  icons/mob/species/ipc/bodyparts.dmi
  interface/stylesheet.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/interfaces/OreRedemptionMachine.js
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/game/machinery/shuttle/shuttle_engine_types.dm
  whitesands/code/modules/antagonists/borer/borer.dm
Labels: Sprites, Admin, TGUI, Deprecated Modularization

#848 Turf fires
  code/__DEFINES/is_helpers.dm
  code/controllers/subsystem/turf_fire.dm
  code/game/machinery/firealarm.dm
  code/game/objects/effects/turf_fire.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  icons/effects/turf_fire.dmi
  shiptest.dme
  sound/weapons/gun/flamethrower/flamethrower1.ogg
  sound/weapons/gun/flamethrower/flamethrower2.ogg
  sound/weapons/gun/flamethrower/flamethrower3.ogg
  sound/weapons/gun/flamethrower/flamethrower_empty.ogg
Labels: DME Edit, Sprites, Sound

#822 Ports TGUI select equpiment
  check_regex.yaml
  code/__DEFINES/vv.dm
  code/__HELPERS/icons.dm
  code/controllers/subsystem/persistence.dm
  code/datums/outfit.dm
  code/game/objects/items.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/outfit_editor.dm
  code/modules/admin/outfit_manager.dm
  code/modules/admin/outfits.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/selectequipment.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/zombie/items.dm
  shiptest.dme
  tgui/packages/common/collections.js
  tgui/packages/tgui/interfaces/OutfitEditor.js
  tgui/packages/tgui/interfaces/OutfitManager.js
  tgui/packages/tgui/interfaces/SelectEquipment.js
Labels: DME Edit, Admin, TGUI

#750 Osprey Tweaks
  _maps/configs/ntsv_osprey.json
  _maps/shuttles/shiptest/ntsv_osprey.dmm
Labels: Map Change, Stale

#863 Adds Jukebox Song Location to Jukebox Readme
  config/jukebox_music/README.txt
Labels: Config

#857 Removes Antimatter Engines. (x2)
  check_regex.yaml
  shiptest.dme
  whitesands/code/modules/cargo/exports/large_objects.dm
  whitesands/code/modules/cargo/packs.dm
  whitesands/code/modules/power/antimatter/containment_jar.dm
  whitesands/code/modules/power/antimatter/control.dm
  whitesands/code/modules/power/antimatter/shielding.dm
Labels: DME Edit, Deprecated Modularization

#869 Revert "Turf fires"
  code/__DEFINES/is_helpers.dm
  code/controllers/subsystem/turf_fire.dm
  code/game/machinery/firealarm.dm
  code/game/objects/effects/turf_fire.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  icons/effects/turf_fire.dmi
  shiptest.dme
  sound/weapons/gun/flamethrower/flamethrower1.ogg
  sound/weapons/gun/flamethrower/flamethrower2.ogg
  sound/weapons/gun/flamethrower/flamethrower3.ogg
  sound/weapons/gun/flamethrower/flamethrower_empty.ogg
Labels: DME Edit, Sprites, Sound

#871 i hate tgui i hate tgui i hate tgui i hate tgui
  code/controllers/subsystem/shuttle.dm
  code/game/atoms.dm
  code/modules/admin/outfit_editor.dm
  code/modules/admin/outfit_manager.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/admin/verbs/selectequipment.dm
  code/modules/admin/view_variables/filterrific.dm
  code/modules/tgui/states/admin.dm
Labels: Admin, Fix

#875 Replaces the default whitesands title screen and makes the extended credits banner shiptest
  code/game/gamemodes/extended/extended.dm
  icons/runtime/default_title.dmi
  icons/title_cards.dmi
Labels: Sprites

#817 Prettify the TEG
  check_regex.yaml
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/power/generator.dm
  icons/obj/machines/thermoelectric.dmi
  tgui/packages/tgui/interfaces/ThermalGenerator.js
Labels: Sprites, TGUI

#866 Adds long labcoats
  code/modules/clothing/suits/labcoat.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
  shiptest.dme
  whitesands/code/modules/clothing/suits/labcoat.dm
Labels: DME Edit, Sprites, Deprecated Modularization

#747 Izzy the Iguana, master of Pipes
  whitesands/code/modules/mob/living/simple_animal/friendly/gator.dm
  whitesands/icons/mob/pets.dmi
Labels: Sprites, Deprecated Modularization
