Repository shiptest-ss13/Shiptest, pull requests merged in 2022-10, with the labels that each got.

#1565 Paramedic uniform resprite + Paramedic winter coats
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/jobs/job_types/paramedic.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/hooded.dmi
  icons/obj/clothing/under/medical.dmi
Labels: Sprites, Code change

#1567 Touches up the winchester sprite
  icons/obj/guns/48x32guns.dmi
Labels: Sprites

#1568 Adds 14 new, non-referential hair styles.
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
Labels: Sprites, Code change

#1171 Catalogues All the Ruins of Shiptest
  _maps/map_catalogue.txt
  _maps/map_catalogue_key.txt
Labels: Map Change

#1361 Komodo Tweaks
  _maps/configs/komodo.json
  _maps/shuttles/shiptest/gorlex_Komodo.dmm
Labels: Map Change, Code change

#1556 Ports "Fix looping timers qdeleted in their callbacks"
  code/controllers/subsystem/timer.dm
Labels: Code change

#1362 Removes the .45-70 from the Nemo
  _maps/configs/independent_nemo.json
  _maps/shuttles/shiptest/independent_nemo.dmm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/64x_guns_left.dmi
  icons/mob/inhands/weapons/64x_guns_right.dmi
  icons/obj/guns/48x32guns.dmi
Labels: Map Change, Sprites, Tweak, Code change

#1571 Fixes quirk runtime (Hopefully)
  code/modules/client/preferences.dm
Labels: Code change

#1570 Waste Ruin Catalog + Slight Clean Up
  _maps/RandomRuins/WasteRuins/wasteplanet_clowncrash.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_lab.dmm
  _maps/map_catalogue.txt
Labels: Map Change, Test Merge Candidate

#1582 Adds a resprite for the existing Narsour
  icons/obj/drinks.dmi
Labels: Sprites

#1513 Ranger Patch
  _maps/shuttles/shiptest/nanotrasen_powerrangers.dmm
  code/datums/lp_mission_holotapes.dm
  code/modules/jobs/job_types/lp_jobs.dm
Labels: Map Change, Code change

#1541 Holy ship: a shepherd remake
  _maps/configs/independent_shepherd.json
  _maps/shuttles/shiptest/chapel.dmm
  _maps/shuttles/shiptest/independent_shepherd.dmm
  code/modules/jobs/job_types/chaplain.dm
Labels: Map Change, Code change

#1577 Caravan gets a holoshield + outpost console.
  _maps/shuttles/shiptest/IndiCaravanTypeA.dmm
Labels: Map Change

#1578 undoes a fuckup on a ruin
  _maps/RandomRuins/BeachRuins/beach_colony.dmm
Labels: Map Change

#1574 rockplanet_cult is no longer coated in gibonite.
  _maps/RandomRuins/RockRuins/rockplanet_cult.dmm
Labels: Map Change

#1575 Quick Scav Patch
  _maps/shuttles/shiptest/scav.dmm
Labels: Map Change

#1391 Aegis class long term care vessel(But again since VSCODE wanted to break.)
  _maps/configs/aegis.json
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/jobs/job_types/psychologist.dm
Labels: Map Change, Test Merged, Test Merge Candidate, New Ship, Code change

#1481 Schmiedeberg-Class Remap
  _maps/configs/schmiedeberg-class.json
  _maps/shuttles/shiptest/schmiedeberg-class.dmm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
Labels: Map Change, Code change

#1548 DIsables the Boyardee-B
  _maps/configs/diner_b.json
Labels: Map Change

#1590 Replaces an invalid item on the Aegis
  _maps/shuttles/shiptest/syndicate_aegis.dmm
Labels: Map Change

#1593 Fixes AI Interaction with Intercomms
  code/modules/tgui/tgui.dm
Labels: Code change

#1591 Fixes Lingering PDA Message Overlay
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Code change

#1592 Fixes Engine Precharger Overlays
  icons/obj/shuttle.dmi
Labels: Sprites
