Repository shiptest-ss13/Shiptest, pull requests merged in 2022-01, with the labels that each got.

#566 [Fix] Prevent Elzu Infinite Charge from Syringes
  _maps/shuttles/shiptest/isv_roberts.dmm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/packs.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  whitesands/code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Map Change, Fix

#576 fixe pubby thrusters
  _maps/shuttles/shiptest/whiteship_pubby.dmm
Labels: Map Change

#498 Gorlex Hyena-Class Salvage Ship
  _maps/configs/gorlex_hyena.json
  _maps/shuttles/shiptest/gorlex_hyena.dmm
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  icons/obj/tiles.dmi
  icons/turf/floors/carpet_red_gold.dmi
  whitesands/code/game/area/ship_areas.dm
Labels: Map Change, Sprites

#580 Makes the Statio.3-class unbuyable
  _maps/configs/statio.json
Labels: Map Change

#582 Chat Formatting Update
  code/__DEFINES/logging.dm
  code/__DEFINES/say.dm
  code/__HELPERS/_logging.dm
  code/__HELPERS/text.dm
  code/controllers/configuration/entries/game_options.dm
  code/datums/chatmessage.dm
  code/datums/emotes.dm
  code/game/atoms.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/client/verbs/looc.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_say.dm
  config/game_options.txt
Labels: Config

#584 [CURSED] Kepori Collar sprite
  code/modules/clothing/neck/_neck.dm
  icons/mob/clothing/species/kepori.dmi
Labels: Sprites

#532 Resprites energy based weapons
  _maps/RandomRuins/JungleRuins/jungle_pirate.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_crash_cargo.dmm
  _maps/shuttles/pirate/pirate_default.dmm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/toys.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/defib.dmi
  icons/obj/transforming_energy.dmi
Labels: Map Change, Sprites

#594 Murders a stray pixel on the blood-red hardsuit helmet
  icons/obj/clothing/hats.dmi
Labels: Sprites

#563 Kugelblitz 2: The revenge of the CE
  _maps/configs/kugelblitz.json
  _maps/shuttles/shiptest/engi_moth.dmm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Map Change

#561 Minor Rachnid Fixes
  config/game_options.txt
  whitesands/code/modules/mob/living/carbon/human/species_types/spider.dm
Labels: Config

#600 Fix layer issues
  code/world.dm
Labels: High Priority

#596 Automatic Respawn Timers
  code/_globalvars/lists/client.dm
  code/controllers/subsystem/ticker.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/living/death.dm
  code/modules/mob/mob.dm
  config/config.txt
Labels: Config

#564 Makes seed vault vendors free
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_seed_vault.dmm
Labels: Map Change

#597 Messages admins when someone touches a controller
  code/controllers/controller.dm
  code/datums/datumvars.dm
  code/modules/admin/view_variables/modify_variables.dm
  code/modules/admin/view_variables/topic.dm
Labels: Admin

#608 Updates DEBUG verb list.
  code/modules/admin/admin_verbs.dm
Labels: Admin

#588 Limits grouped runtimes shown, Adds missing HREF token
  code/controllers/subsystem/blackbox.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/error_handler/error_viewer.dm
Labels: Admin

#606 Adds a Scrubbing network to the Pubby
  _maps/shuttles/shiptest/whiteship_pubby.dmm
Labels: Map Change

#570 The Turtleneck Resprite!
  icons/mob/clothing/under/rnd.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/under/rnd.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites

#569 Updates EVA suit sprites.
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#619 CRLF shit
  _maps/shuttles/shiptest/whiteship_pubby.dmm
Labels: Map Change

#583 Area & Ambience fixes
  _maps/RandomRuins/LavaRuins/lavaland_surface_dead_ratvar.dmm
  _maps/RandomRuins/RockRuins/rockplanet_boxsci.dmm
  _maps/RandomRuins/RockRuins/rockplanet_clock.dmm
  _maps/RandomRuins/RockRuins/rockplanet_clowncrash.dmm
  _maps/RandomRuins/RockRuins/rockplanet_crash_cult.dmm
  _maps/RandomRuins/RockRuins/rockplanet_crash_kitchen.dmm
  _maps/RandomRuins/RockRuins/rockplanet_cult.dmm
  _maps/RandomRuins/RockRuins/rockplanet_dangerpod.dmm
  _maps/RandomRuins/RockRuins/rockplanet_fortress_of_solitide.dmm
  _maps/RandomRuins/RockRuins/rockplanet_heirophant.dmm
  _maps/RandomRuins/RockRuins/rockplanet_house.dmm
  _maps/RandomRuins/RockRuins/rockplanet_lab.dmm
  _maps/RandomRuins/RockRuins/rockplanet_miningexpedition.dmm
  _maps/RandomRuins/RockRuins/rockplanet_ore_proccessing_facility.dmm
  _maps/RandomRuins/RockRuins/rockplanet_pioneer.dmm
  _maps/RandomRuins/RockRuins/rockplanet_pod.dmm
  _maps/RandomRuins/RockRuins/rockplanet_rd_god.dmm
  _maps/RandomRuins/RockRuins/rockplanet_tradepost.dmm
  _maps/RandomRuins/RockRuins/rockplanet_wizard.dmm
  code/modules/overmap/dynamic_events.dm
Labels: Map Change

#628 quick-fixes dumb mapping mistake introduced in areas & ambience
  _maps/RandomRuins/RockRuins/rockplanet_fortress_of_solitide.dmm
Labels: Map Change

#629 Dwayne & Kilo Updates
  _maps/configs/dwayne.json
  _maps/configs/kilo.json
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/whiteship_kilo.dmm
  code/modules/jobs/job_types/quartermaster.dm
Labels: Map Change

#632 Bay highvis jacket & evening gloves port
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#639 Kepori name and language changes
  code/__HELPERS/names.dm
  code/modules/language/language_holder.dm
  code/modules/language/schechi.dm
  code/modules/language/teceti_unified.dm
  icons/misc/language.dmi
  shiptest.dme
  whitesands/code/modules/surgery/organs/tongue.dm
Labels: DME Edit, Sprites

#635 Dwayne & Kilo Namelists & Prefixes
  _maps/configs/dwayne.json
  _maps/configs/kilo.json
Labels: Map Change

#627 Hyena Tweaks
  _maps/shuttles/shiptest/gorlex_hyena.dmm
  whitesands/code/modules/projectiles/boxes_magazines/pistol.dm
Labels: Map Change

#560 Makes movement_force based on thrust capacity
  _maps/RandomRuins/RockRuins/rockplanet_crash_cult.dmm
  _maps/shuttles/pirate/pirate_default.dmm
  _maps/shuttles/ruin/ruin_caravan_victim.dmm
  _maps/shuttles/ruin/ruin_pirate_cutter.dmm
  _maps/shuttles/shiptest/whiteship_box.dmm
  _maps/shuttles/shiptest/whiteship_delta.dmm
  _maps/shuttles/shiptest/whiteship_kilo.dmm
  _maps/shuttles/shiptest/whiteship_meta.dmm
  _maps/shuttles/shiptest/whiteship_midway.dmm
  _maps/shuttles/shiptest/whiteship_pubby.dmm
  code/modules/overmap/ships/simulated.dm
Labels: Map Change

#605 Scrapper-B Continuity
  _maps/shuttles/shiptest/scrapperb.dmm
Labels: Map Change

#631 Cybersun Medic Uniform
  code/modules/clothing/head/soft_caps.dm
  code/modules/jobs/job_types/paramedic.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/syndicate.dmi
  whitesands/code/modules/clothing/under/syndicate.dm
Labels: Sprites

#663 Length check ship names.
  code/modules/overmap/helm.dm
Labels: Fix, High Priority

#655 Safety moth posters!
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
  whitesands/icons/obj/contraband.dmi
Labels: Sprites

#673 Removes the Pill
  _maps/configs/blackpill.json
  _maps/configs/pill.json
Labels: Map Change

#657 Refactor and Fix Stationloving into Shiploving
  code/__DEFINES/dcs/signals.dm
  code/_globalvars/lists/mapping.dm
  code/datums/components/shiploving.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  shiptest.dme
Labels: DME Edit, Admin

#656 Contributing Guidelines Refactor
  .github/CONTRIBUTING.md
  .github/MAPS_AND_AWAY_MISSIONS.md
  .github/labeler.yml
Labels: Github

#682 update verify link
  code/modules/discord/accountlink.dm
Labels: Blame Zephyr

#681 Renormalize all files to Unix EOL
  .gitattributes
  _maps/shuttles/shiptest/scrapperb.dmm
  code/_globalvars/lists/achievements.dm
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/ticker.dm
  code/datums/outfit.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/recharger.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/turfs/turf.dm
  code/modules/clothing/under/accessories.dm
  code/modules/events/abductor.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/stomach.dm
  icons/effects/crayondecal.dmi
  icons/effects/parallax.dmi
  icons/obj/machines/stasis.dmi
  icons/obj/surgery.dmi
  sound/misc/compiler-failure.ogg
  sound/misc/compiler-stage1.ogg
  sound/misc/compiler-stage2.ogg
  sound/misc/server-ready.ogg
  tgui/.yarn/releases/yarn-3.1.1.cjs
  tools/CreditsTool/CreditsTool.csproj
  tools/CreditsTool/Program.cs
  tools/HitboxExpander/README.txt
  tools/HitboxExpander/third_party/Imaging-1.1.7.zip
  tools/HitboxExpander/third_party/zlib.zip
  tools/Runtime Condenser/Main.cpp
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM.sln
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Form1.Designer.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Form1.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Form1.resx
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Program.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/AssemblyInfo.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/Resources.Designer.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/Resources.resx
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/Settings.Designer.cs
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/Properties/Settings.settings
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/UnstandardnessTestForDM.csproj
  tools/UnstandardnessTestForDM/UnstandardnessTestForDM/bin/Debug/UnstandardnessTestForDM.vshost.exe.manifest
  tools/WebhookProcessor/secret.php
  tools/tgs4_scripts/PreSynchronize.ps1
Labels: Map Change, Sprites, TGUI, Sound, Blame Zephyr

#689 scrap me plenty
  _maps/configs/scrapper.json
  _maps/shuttles/shiptest/independent_scrapper.dmm
Labels: Map Change

#692 Resprites the uzi
  code/modules/projectiles/guns/ballistic/automatic.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Sprites

#694 scrapmare mode
  _maps/configs/scrapper.json
  _maps/shuttles/shiptest/scrapper.dmm
Labels: Map Change

#505 Vinethud vote notification
  code/controllers/subsystem/vote.dm
  sound/misc/vinethud.ogg
Labels: Sound

#695 Resprites the Stechkin and APS Machine Pistol
  icons/obj/guns/projectile.dmi
Labels: Sprites

#700 Updates codeowners again
  .github/CODEOWNERS
Labels: Github

#666 Adds a lint for line endings
  .gitattributes
  .github/workflows/ci_suite.yml
  config/external_rsc_urls.txt
  config/policy.json
  strings/clockwork_cult_changelog.txt
Labels: Config, Github

#705 scrapper go away
  _maps/configs/scrapper.json
Labels: Map Change

#678 QoL additions for engineering
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/research/designs/machine_designs.dm
  whitesands/code/modules/research/designs/autolathe_designs.dm
Labels: Deprecated Modularization

#696 [Fix] Couch Rotation
  icons/obj/sofa.dmi
Labels: Sprites, Fix

#613 Minor Refactor of Shuttle Loading Code
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/vote.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/unit_tests/ship_placement.dm
  tgui/packages/tgui/interfaces/ShuttleManipulator.js
  whitesands/code/controllers/subsystem/overmap.dm
Labels: TGUI, Deprecated Modularization

#523 Adds the "Ethereal dance grenade"
  code/game/objects/items/grenades/discogrenade.dm
  icons/obj/grenade.dmi
  shiptest.dme
  whitesands/code/modules/uplink/uplink_items.dm
Labels: DME Edit, Sprites

#432 Computer restyle?
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/law.dm
  code/game/machinery/computer/pod.dm
  code/modules/events/pirates.dm
  code/modules/library/lib_machines.dm
  code/modules/overmap/helm.dm
  code/modules/power/solar.dm
  icons/obj/computer.dmi
  icons/obj/modular_console.dmi
  icons/obj/stock_parts.dmi
  whitesands/code/modules/economy/selling_pad.dm
Labels: Sprites

#698 Improvments to Syndicate Captain drip
  code/modules/clothing/head/jobs.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  shiptest.dme
Labels: DME Edit, Sprites

#704 New Peaked Cap sprites!
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites

#715 Shuffles around a few admin verbs
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/shuttlepanel.dm
  code/modules/mob/mob_helpers.dm
Labels: Admin

#725 Ruins Tide's aesthetic to fix Shuttle Permit issues
  _maps/shuttles/shiptest/isv_roberts.dmm
Labels: Map Change

#679 Adds a POI to the Ice Planet
  _maps/RandomRuins/IceRuins/icemoon_demonlab.dmm
  code/game/area/areas/ruins/icemoon.dm
  whitesands/code/datums/ruins/icemoon.dm
Labels: Map Change, Deprecated Modularization

#713 Suit storage resprite 2: Vengence
  icons/obj/machines/suit_storage.dmi
Labels: Sprites

#739 Moderate Severity Ship Bugfixes
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/simulated.dm
  code/modules/overmap/ships/simulated_ship_data.dm
  whitesands/code/controllers/subsystem/overmap.dm
Labels: Deprecated Modularization

#731 Removes Hyena Cargo
  _maps/shuttles/shiptest/gorlex_hyena.dmm
Labels: Map Change

#742 Computer sprite improvments
  icons/obj/computer.dmi
Labels: Sprites

#589 Spitfire 2: Geneva Conventions Be Damned
  _maps/configs/geneva.json
  _maps/configs/spitfire.json
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/syndicate_geneva.dmm
  _maps/shuttles/shiptest/syndicate_spitfire.dmm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Map Change
