Repository shiptest-ss13/Shiptest, pull requests merged in 2022-06, with the labels that each got.

#1056 Gun DealerShip - An Admin-Only Event Ship
  _maps/configs/gun_dealer.json
  _maps/shuttles/shiptest/gun_dealer.dmm
Labels: Map Change, New Ship

#652 Weathers
  code/controllers/subsystem/overmap.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/weather.dm
  code/datums/map_zones.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_controller.dm
  code/datums/weather/weather_types/acid_rain.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/hailstorm.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/rain.dm
  code/datums/weather/weather_types/sandstorm.dm
  code/datums/weather/weather_types/shroud_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/datums/weather/weather_types/snowfall.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/admin/verbs/randomverbs.dm
  icons/effects/weather_effects.dmi
  shiptest.dme
  sound/effects/thunder/thunder1.ogg
  sound/effects/thunder/thunder10.ogg
  sound/effects/thunder/thunder2.ogg
  sound/effects/thunder/thunder3.ogg
  sound/effects/thunder/thunder4.ogg
  sound/effects/thunder/thunder5.ogg
  sound/effects/thunder/thunder6.ogg
  sound/effects/thunder/thunder7.ogg
  sound/effects/thunder/thunder8.ogg
  sound/effects/thunder/thunder9.ogg
  sound/weather/wind/wind1.ogg
  sound/weather/wind/wind2.ogg
  sound/weather/wind/wind3.ogg
  sound/weather/wind/wind4.ogg
  sound/weather/wind/wind5.ogg
  sound/weather/wind/wind6.ogg
Labels: DME Edit, Sprites, Admin, Sound, Test Merged, Stale Exempt, High Priority

#1120 Remaps jungle_seedling.dmm
  _maps/RandomRuins/JungleRuins/jungle_seedling.dmm
Labels: Map Change

#1121 Fixes missing healing item icons and removes foamdupes on said items
  code/game/objects/items/stacks/medical.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  icons/obj/stack_objects.dmi
Labels: Sprites

#941 Trims down the """Economy"""
  code/controllers/subsystem/economy.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/medical_kiosk.dm
  code/game/machinery/stasis.dm
  code/game/objects/items/wayfinding.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/bounty_console.dm
  code/modules/cargo/expressconsole.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/modular_computers/file_system/programs/cargobounty.dm
  code/modules/modular_computers/file_system/programs/department_management.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/vending/_vending.dm
  shiptest.dme
Labels: DME Edit, Test Merge Candidate

#1181 IPC Resprite Part 1: The Customizable One But Better!
  icons/mob/species/ipc/bodyparts.dmi
Labels: Sprites

#1101 Improves disk sprites
  code/datums/holocall.dm
  code/modules/disks/disk.dm
  code/modules/research/designs.dm
  icons/obj/diskette.dmi
Labels: Sprites

#1137 Fix windoor on the scave
  _maps/shuttles/shiptest/scav.dmm
Labels: Map Change

#1130 Syndicate clothing resprite, a port from TG.
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites

#1087 Shortens vox glove sprites
  icons/mob/clothing/species/vox.dmi
Labels: Sprites, Stale

#1060 Adds the Caravan-Class
  _maps/configs/IndiCaravanTypeA.json
  _maps/shuttles/shiptest/IndiCaravanTypeA.dmm
Labels: Map Change, Test Merge Candidate, New Ship

#1061 IRMG Colossus-class Armored Frigate
  _maps/configs/inteq_colossus.json
  _maps/shuttles/shiptest/inteq_colossus.dmm
  code/game/objects/items/toys.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  icons/obj/toy.dmi
Labels: Map Change, Sprites, Test Merge Candidate, New Ship

#945 The MedTech™ chemical manufacturing plant ruin
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  config/jungleruinblacklist.txt
  whitesands/code/datums/ruins/jungle.dm
Labels: Config, Map Change, Test Merged, Deprecated Modularization

#1138 Cream pie rapid machine gun fire
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin

#1096 Midway Remaster
  _maps/configs/midway.json
  _maps/shuttles/shiptest/whiteship_midway.dmm
Labels: Map Change

#1193 Resprites the IPC/pAI recharge cable!
  icons/obj/power.dmi
Labels: Sprites

#1114 Some gun resprites, adds the Cobra 20
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/48x32guns.dmi
  icons/obj/guns/projectile.dmi
Labels: Sprites

#1183 optimizes icon2html() for icon files known to be in the rsc at compile time
  code/__DEFINES/flags.dm
  code/__HELPERS/icon_smoothing.dm
  code/__HELPERS/icons.dm
  code/game/machinery/doors/airlock.dm
  code/modules/asset_cache/asset_cache_item.dm
  code/modules/asset_cache/transports/asset_transport.dm
Labels: Test Merged

#1187 Adds sprites & digitgrade compatability for a few types of boots
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/species/misc/digitigrade_shoes.dmi
Labels: Sprites

#1174 Ports TG ambience
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/ambience.dm
  code/datums/mapgen/Cavegens/ReebeGenerator.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/area/ship_areas.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences_toggles.dm
  code/modules/overmap/objects/dynamic_datum.dm
  shiptest.dme
Labels: DME Edit, Test Merged

#1217 Corrects Discord verification instructions
  code/modules/discord/accountlink.dm
Labels: Server, Speed Mergeable, Blame Zephyr

#1122 Helmet resprite
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites, Stale

#928 Resprites intercoms
  code/game/objects/items/devices/radio/intercom.dm
  icons/obj/radio.dmi
  icons/obj/wallframe.dmi
Labels: Sprites, Test Merged

#1119 A ship ton of engineering resprites
  _maps/RandomRuins/IceRuins/icemoon_demonlab.dmm
  _maps/configs/ntsv_osprey.json
  _maps/configs/raven.json
  _maps/configs/skipper.json
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/cargo.dmi
  icons/mob/clothing/under/engineering.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/command.dmi
  icons/obj/clothing/under/engineering.dmi
  tools/UpdatePaths/clothingunderrepath.txt
Labels: Map Change, Sprites, Test Merged

#1070 Boyardee-B update
  _maps/configs/diner_b.json
  _maps/shuttles/shiptest/bar_ship_b.dmm
  code/modules/clothing/under/suits.dm
  code/modules/jobs/job_types/assistant.dm
  icons/mob/clothing/under/suits.dmi
  icons/obj/clothing/under/suits.dmi
Labels: Map Change, Sprites

#1218 Autolathe revamp (Autolathe TGUI port, cassette style disks, more design disks (functionality))
  code/game/machinery/autolathe.dm
  code/modules/research/designs.dm
  code/modules/research/designs/electronics_designs.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/diskette.dmi
  tgui/packages/tgui/interfaces/Autolathe.js
Labels: Sprites, TGUI, Test Merge Candidate

#1116 Ports Whitesands13/Whitesands#766 "No More Chemspam: Redux" 2
  code/__DEFINES/botany.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/blackmarket/blackmarket_item.dm
  code/modules/cargo/blackmarket/blackmarket_items/misc.dm
  code/modules/cargo/blackmarket/blackmarket_uplink.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/hydroponics_chemreact.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/floral.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/designs/biogenerator_designs.dm
  icons/obj/guns/energy.dmi
  icons/obj/projectiles.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Stale

#1241 CODEOWNER File Modification
  .github/CODEOWNERS
Labels: Github

#1197 Donation System with Rewards and Reskins
  check_regex.yaml
  code/modules/donator/_donator.dm
  config/donators/zephyrtfa.json
  shiptest.dme
Labels: Config, DME Edit

#1161 Adds the Tranquility-class Flying Apartment Complex
  _maps/configs/tranq.json
  _maps/shuttles/shiptest/tranq.dmm
  code/game/area/ship_areas.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/curator.dm
Labels: Map Change, Test Merged

#1152 Nerfs the shit out of xenos part one: Ports
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/shuttles/shiptest/metis.dmm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/traumas.dm
  code/datums/components/tackle.dm
  code/game/objects/structures/displaycase.dm
  code/modules/antagonists/devil/imp/imp.dm
  code/modules/antagonists/xeno/xeno.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/events/alien_infestation.dm
  code/modules/holiday/holidays.dm
  code/modules/mining/equipment/vendor_items.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/praetorian.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/queen.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/sentinel.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_defense.dm
  code/modules/mob/living/carbon/alien/humanoid/life.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/alien/login.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/alien/status_procs.dm
  code/modules/mob/living/carbon/alien/utilities/structures.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/projectiles/projectile/special/neurotoxin.dm
  code/modules/spells/spell_types/wizard.dm
  icons/mob/alien.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Stale

#1229 Kepori Polishing pt.1
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  icons/mob/kepori_parts.dmi
Labels: Sprites

#1001 Adds the options for IPCs to have their brains as MMI's
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Test Merged

#1233 fireblossoms are equippable now
  code/modules/mining/lavaland/ash_flora.dm
  icons/mob/clothing/head.dmi
Labels: Sprites

#1235 Another Rube Goldpatch
  _maps/shuttles/shiptest/engineeringmess.dmm
Labels: Map Change, Test Merged

#1203 Nemo-Class RnD & Medbay Tweaks
  _maps/configs/nemo-class.json
  _maps/shuttles/shiptest/nemo-class.dmm
Labels: Map Change, Test Merged

#1149 (Hopefully) Final jungle ruin adjustments and remaps
  _maps/RandomRuins/JungleRuins/jungle_hangar.dmm
  _maps/RandomRuins/JungleRuins/jungle_spider.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_bombmakers_cabin.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_ninjashrine.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_roommates.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_unabomber_cabin.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_weed_shack.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/JungleRuins/jungle_witch.dmm
  code/datums/ruins/jungle.dm
Labels: Map Change, Test Merged

#1079 Welding animation port
  code/game/objects/items.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/effects/welding_effect.dmi
Labels: Sprites

#950 Adds cement and concrete, used to make concrete walls and floors.
  code/__DEFINES/icon_smoothing.dm
  code/datums/mood_events/generic_negative_events.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/objects/items/pitchfork.dm
  code/game/objects/items/tools/chisel.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/closed/wall/conc_walls.dm
  code/game/turfs/closed/wall/material_walls.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/conc_floor.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/guns/misc/blastcannon.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  icons/effects/concrete_damage.dmi
  icons/effects/footprints.dmi
  icons/turf/floors.dmi
  icons/turf/floors/hexacrete.dmi
  icons/turf/walls/concrete.dmi
  icons/turf/walls/hexacrete.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Test Merged
