Repository shiptest-ss13/Shiptest, pull requests merged in 2022-03, with the labels that each got.

#883 TG style stasis beds
  icons/obj/machines/stasis.dmi
Labels: Sprites

#865 inhands and tweaks nt ak
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/48x32guns.dmi
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Sprites, Deprecated Modularization

#826 Pill trilogy: The sweet return of the successor unchained
  _maps/configs/sugarcube.json
  _maps/shuttles/shiptest/sugarcube.dmm
Labels: Map Change

#697 Donk co clothing
  code/game/objects/items/cards_ids.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/quartermaster.dm
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/syndicate.dmi
  shiptest.dme
  whitesands/code/game/objects/structures/crates_lockers/closets/wallmount.dm
  whitesands/code/modules/clothing/under/syndicate.dm
Labels: DME Edit, Sprites, Deprecated Modularization

#784 Hunting Revolver + .357 Rebalance
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: Sprites

#909 Demodularizes whitesands packs.dm and generally cleans up the cargo catalogue
  code/modules/cargo/packs.dm
  shiptest.dme
  whitesands/code/modules/cargo/packs.dm
Labels: DME Edit, Deprecated Modularization

#879 Fixes manifest bug
  tgui/packages/tgui/interfaces/CrewManifest.js
Labels: TGUI, Stale

#900 Fixes NT Captain Jumpskirt
  icons/mob/clothing/under/command.dmi
Labels: Sprites

#795 Adds short people, body size options port
  code/__DEFINES/DNA.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/dna.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
Labels: Stale

#913 spider meat bread slice icon state fix
  icons/obj/food/burgerbread.dmi
Labels: Sprites

#894 100 Gecs
  code/modules/clothing/under/syndicate.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/station_engineer.dm
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites

#901 Removes the Autodoc
  _maps/RandomRuins/SandRuins/whitesands_surface_golemhijack.dmm
  code/game/machinery/autodoc.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  shiptest.dme
  whitesands/code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Map Change, DME Edit, Deprecated Modularization

#927 Removes Unused and Unmaintained Species to Reduce Bloat
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/corporate.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  shiptest.dme
Labels: DME Edit

#926 Makes Expulsion Thrusters Require Fuel, Regarding Issue #867
  whitesands/code/game/machinery/shuttle/shuttle_heater.dm
Labels: Deprecated Modularization

#882 Misc Fixes
  check_regex.yaml
  code/game/machinery/doors/airlock_types.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/research/rdconsole.dm
  code/modules/tgui/tgui.dm
  whitesands/code/modules/antagonists/borer/borer.dm
  whitesands/code/modules/antagonists/borer/borer_html.dm
Labels: Deprecated Modularization

#804 Removes the old mining vendor, NT marine vendor, NT marine port from TG, gives the raven a sec tech lite
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/RandomRuins/RockRuins/rockplanet_moth.dmm
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/configs/diner_b.json
  _maps/configs/kugelblitz.json
  _maps/shuttles/shiptest/golem_ship.dmm
  _maps/shuttles/shiptest/nanotrasen_raven.dmm
  _maps/shuttles/shiptest/nanotrasen_station.dmm
  _maps/shuttles/shiptest/starfury_class.dmm
  _maps/shuttles/shiptest/whiteship_pubby.dmm
  check_regex.yaml
  code/datums/components/deployable.dm
  code/datums/ert.dm
  code/game/machinery/deployable.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/manned_turret.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/suits/armor.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/vending/security.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/security.dmi
  icons/obj/computer.dmi
  icons/obj/projectiles.dmi
  icons/obj/turrets.dmi
  icons/obj/vending.dmi
  icons/obj/vending_restock.dmi
  shiptest.dme
  sound/weapons/gun/hmg/hmg.ogg
  whitesands/code/modules/clothing/under/accessories.dm
  whitesands/code/modules/clothing/under/jobs/security.dm
  whitesands/code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  whitesands/code/modules/vending/mining_equipment.dm
  whitesands/icons/obj/ammo.dmi
  whitesands/icons/obj/machines/vending.dmi
  whitesands/icons/obj/vending.dmi
Labels: Map Change, DME Edit, Sprites, Sound, Deprecated Modularization

#907 Gearcap sanitization
  code/modules/client/preferences_savefile.dm
Labels: Stale Exempt

#924 Fixes the cryopods on the skipper and adds a cryo console
  _maps/shuttles/shiptest/ntsv_skipper.dmm
Labels: Map Change

#861 Removes selling pads from most ships
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/bar_ship_b.dmm
  _maps/shuttles/shiptest/bogatyr.dmm
  _maps/shuttles/shiptest/cargotide.dmm
  _maps/shuttles/shiptest/carrier.dmm
  _maps/shuttles/shiptest/chapel.dmm
  _maps/shuttles/shiptest/corp_high.dmm
  _maps/shuttles/shiptest/engi_moth.dmm
  _maps/shuttles/shiptest/hightide.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/isv_roberts.dmm
  _maps/shuttles/shiptest/lamia.dmm
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/nanotrasen_goon.dmm
  _maps/shuttles/shiptest/nanotrasen_raven.dmm
  _maps/shuttles/shiptest/nanotrasen_station.dmm
  _maps/shuttles/shiptest/ntsv_bubble.dmm
  _maps/shuttles/shiptest/ntsv_skipper.dmm
  _maps/shuttles/shiptest/rigger.dmm
  _maps/shuttles/shiptest/rigger_b.dmm
  _maps/shuttles/shiptest/rigger_c.dmm
  _maps/shuttles/shiptest/scrapper.dmm
  _maps/shuttles/shiptest/scrapperb.dmm
  _maps/shuttles/shiptest/solar_class.dmm
  _maps/shuttles/shiptest/solgov_carina.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/shiptest/syndicate_geneva.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  _maps/shuttles/shiptest/whiteship_box.dmm
  _maps/shuttles/shiptest/whiteship_kilo.dmm
  _maps/shuttles/shiptest/whiteship_meta.dmm
  _maps/shuttles/shiptest/whiteship_pubby.dmm
  _maps/shuttles/shiptest/wright.dmm
  code/modules/cargo/expressconsole.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Map Change

#942 SGT poster
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Sprites

#935 Fixes magboot sprites
  icons/mob/clothing/feet.dmi
Labels: Sprites

#888 re:Materials
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  icons/obj/stack_objects.dmi
Labels: Sprites

#949 Ports the Imaginos toolboxes
  icons/mob/inhands/equipment/toolbox_lefthand.dmi
  icons/mob/inhands/equipment/toolbox_righthand.dmi
  icons/obj/storage.dmi
Labels: Sprites

#948 Better fire extinguisher sprites
  code/game/objects/items/extinguisher.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/extinguisher.dmi
  icons/obj/items_and_weapons.dmi
Labels: Sprites
