Repository shiptest-ss13/Shiptest, pull requests merged in 2022-07, with the labels that each got.

#1250 Bronze Tile Resprite
  icons/obj/clockwork_objects.dmi
Labels: Sprites

#1255 Kepori Polishing pt. 2
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  icons/mob/augmentation/augments_kepori.dmi
  icons/mob/clothing/species/kepori.dmi
  icons/mob/kepori_parts.dmi
  icons/mob/species/kepori/bodyparts.dmi
Labels: Sprites

#1128 Pubby class remake
  _maps/configs/pubby.json
  _maps/shuttles/shiptest/whiteship_pubby.dmm
Labels: Map Change, Test Merged, Test Merge Candidate

#1141 Syndicate Cascade Class Genetics Vessel
  _maps/configs/cascade.json
  _maps/shuttles/shiptest/Syndicate_Cascade.dmm
  code/game/objects/items/weaponry.dm
Labels: Map Change, Test Merged

#1170 Nerfs the oldcode nukie ship map for being a deathtrap.
  _maps/RandomRuins/SpaceRuins/oldcodeops.dmm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Map Change, Test Merged

#1265 Resprites shipkey (random colors) and make wearable on neck
  code/modules/overmap/ships/controlled_ship_datum.dm
  icons/obj/vehicles.dmi
Labels: Sprites

#1276 Advanced Airlock Controller fix: Actually considers airlocks at edge of map as external
  code/game/machinery/airlock_cycle_control.dm
Labels: Fix

#1279 Adds five new IPC antennae
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/ipc_accessories.dmi
Labels: Sprites

#1302 Wood riddance
  _maps/shuttles/shiptest/rigger_b.dmm
  code/__DEFINES/colors.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/fancy_floor.dm
  icons/turf/wood.dmi
Labels: Map Change, Sprites

#1296 Fix several runtimes and potentially baseturfs
  code/__HELPERS/sanitize_values.dm
  code/__HELPERS/string_lists.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/stacks/stack.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/turf.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Test Merge Candidate, High Priority

#1277 adds the vampire cloak
  code/modules/clothing/suits/cloaks.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/cloaks.dmi
Labels: Sprites

#1287 Fixes a space tile I missed in jungle_surface_ninjashrine
  _maps/RandomRuins/JungleRuins/jungle_surface_ninjashrine.dmm
Labels: Map Change

#1294 Move Rejuvenate admin proc to it's own file and adds it to the right click verb menu for mobs
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/rejuvenate.dm
  code/modules/mob/living/carbon/human/species.dm
  shiptest.dme
Labels: DME Edit, Admin

#1259 removes mob computer_id and lastKnownIP vars, adjusts borer/split personality code
  code/__DEFINES/role_preferences.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/mind.dm
  code/modules/admin/player_panel.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/client/client_procs.dm
  code/modules/client/player_details.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/login.dm
  code/modules/mob/mob_defines.dm
Labels: Admin

#1305 Integrated Pawsitronic Nyassis
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/ipc_accessories.dmi
  icons/mob/species/ipc/bodyparts.dmi
Labels: Sprites

#1062 Removes felinids*
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/controllers/subsystem/traumas.dm
  code/datums/components/tackle.dm
  code/datums/mood_events/generic_negative_events.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/implants/implantchair.dm
  code/game/objects/items/pet_carrier.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/purrbation.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/cargo/packs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/simple_animal/hostile/cat_butcher.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/surgery/organs/tongue.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/ScannerGate.js
Labels: DME Edit, Admin, TGUI

#1285 Riggs update
  _maps/configs/independent_rigger.json
  _maps/shuttles/shiptest/independent_rigger.dmm
Labels: Map Change

#1159 Lagoon-class Cruise Ship
  _maps/configs/tour_cruise_ship.json
  _maps/shuttles/shiptest/tour_cruise_ship.dmm
  strings/ship_names.json
Labels: Map Change, Test Merged, New Ship

#1216 Adds a new jungle ruin, 'Old Crashed Interceptor'
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  code/datums/ruins/jungle.dm
  code/game/area/areas/ruins/jungle.dm
  code/modules/projectiles/projectile/beams.dm
  config/jungleruinblacklist.txt
  whitesands/icons/turf/decals.dmi
Labels: Config, Map Change, Sprites, Test Merged, Deprecated Modularization

#1303 ports numerous PRs from tg related to ssTimers
  check_regex.yaml
  code/__DEFINES/MC.dm
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/timer.dm
  code/datums/datum.dm
  code/game/objects/effects/spawners/xeno_egg_delivery.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/jobs/job_types/_job.dm
  config/config.txt
Labels: Config, Admin

#1319 hahahah no
  code/game/objects/items/devices/PDA/cart.dm
Labels: Server, Speed Mergeable, Blame Zephyr

#1324 Donator clothing framework | one donator item
  code/modules/donator/_donator.dm
  code/modules/donator/ianthewanderer.dm
  code/modules/donator/legislature.dmi
  config/donators/ianthewanderer.json
  config/donators/zephyrtfa.json
  shiptest.dme
Labels: Config, DME Edit, Sprites

#1237 overmap star refactor
  code/__DEFINES/overmap.dm
  code/controllers/subsystem/overmap.dm
  code/modules/overmap/objects/star.dm
Labels: Test Merged

#1314 Syndicate & Mining Digi Sprites
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
Labels: Sprites

#1206 Rebalances Xenobio aspects
  code/game/objects/items/devices/scanners.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Stale, Red Label

#1242 Synapse-Class Viral Study Vessel
  _maps/configs/synapse.json
  _maps/shuttles/shiptest/synapsev2.dmm
  code/game/objects/items/cigs_lighters.dm
  icons/obj/cigarettes.dmi
Labels: Map Change, Sprites, Test Merged, New Ship

#1331 Adds Kepori variation to some Syndicate & Faction suits
  code/__DEFINES/inventory.dm
  code/__DEFINES/species_clothing_defines.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
Labels: Sprites

#1264 People with no hunger now regenerate blood
  code/modules/mob/living/blood.dm
Labels: Stale

#1274 Syndicate Space Suit Rebalance & Scarlet Hardsuit
  _maps/shuttles/shiptest/gorlex_hyena.dmm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/syndi.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Map Change, Sprites

#1334 Removes Miasma
  _maps/shuttles/shiptest/pill_super.dmm
  code/__DEFINES/atmospherics.dm
  code/datums/atmosphere/planetary.dm
  code/datums/components/rot.dm
  code/datums/mapgen/Cavegens/RockplanetCaves.dm
  code/datums/mutations/actions.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/atmospherics/auxgm/gas_types.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/cargo/bounties/engineering.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/lungs.dm
  shiptest.dme
  tgui/packages/tgui/constants.js
Labels: Map Change, DME Edit, TGUI, Test Merged

#1345 Removes Masinyane from Purchase
  _maps/configs/masinyane.json
Labels: Map Change

#1333 Updates Kepori body parts to allow for more dynamic clothing
  icons/mob/species/kepori/bodyparts.dmi
Labels: Sprites

#1308 The Grand Limbgrower TGUI update, now two new research nodes, data disks, snazzy ui I modified specifically for this server, way more options, and a QoL feature
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/datums/components/crafting/recipes.dm
  code/game/machinery/limbgrower.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/tails.dm
  tgui/packages/tgui/interfaces/Limbgrower.js
Labels: TGUI, Test Merged

#1351 this breakey, fixey (test PR, for the synapse breaking branches)
  _maps/configs/synapse.json
Labels: Map Change

#1335 Adds shuttle moving sounds
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/shuttle.dm
  sound/vehicles/engine_landing.ogg
  sound/vehicles/engine_startup.ogg
Labels: Sound, Test Merged

#1295 Sanitizes _maps and removes old unused items
  _maps/custom/raven_redone.dmm
  _maps/shuttles/aux_base/aux_base_default.dmm
  _maps/shuttles/aux_base/aux_base_small.dmm
  _maps/shuttles/escape_pod/escape_pod_default.dmm
  _maps/shuttles/escape_pod/escape_pod_large.dmm
  _maps/shuttles/infiltrator/infiltrator_basic.dmm
  _maps/shuttles/mining/mining_box.dmm
  _maps/shuttles/mining/mining_delta.dmm
  _maps/shuttles/mining/mining_freight.dmm
  _maps/shuttles/mining/mining_kilo.dmm
  _maps/shuttles/mining/mining_large.dmm
  _maps/shuttles/mining/mining_packed.dmm
  _maps/shuttles/misc/hunter_bounty.dmm
  _maps/shuttles/misc/hunter_russian.dmm
  _maps/shuttles/misc/hunter_space_cop.dmm
  _maps/shuttles/misc/infiltrator_advanced.dmm
  _maps/shuttles/misc/pirate_default.dmm
  _maps/shuttles/misc/ruin_caravan_victim.dmm
  _maps/shuttles/misc/ruin_pirate_cutter.dmm
  _maps/shuttles/misc/ruin_solgov_exploration_pod.dmm
  _maps/shuttles/misc/ruin_syndicate_dropship.dmm
  _maps/shuttles/misc/ruin_syndicate_fighter_shiv.dmm
  _maps/shuttles/snowdin/snowdin_excavation.dmm
  _maps/shuttles/snowdin/snowdin_mining.dmm
  _maps/templates/medium_shuttle1.dmm
  _maps/templates/medium_shuttle2.dmm
  _maps/templates/medium_shuttle3.dmm
  _maps/templates/medium_shuttle4.dmm
  _maps/templates/small_asteroid_1.dmm
  _maps/templates/small_shuttle_1.dmm
  code/datums/shuttles.dm
Labels: Map Change, Test Merge Candidate

#1260 Nanotrasen Ranger-Class Aid Vessel (Power Rangers)
  _maps/configs/nanotrasent_powerrangers.json
  _maps/shuttles/shiptest/nanotrasen_powerrangers.dmm
  code/__DEFINES/access.dm
  code/datums/lp_mission_holotapes.dm
  code/game/MapData/shuttles/nanotrasen_powerrangers.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/lp_jobs.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merged, New Ship

#1316 Fixes and Tweaks the Tranq
  _maps/shuttles/shiptest/tranq.dmm
Labels: Map Change, Test Merge Candidate

#1182 basic outposts and missions, v0.1
  _maps/shuttles/shiptest/amogus_sus.dmm
  _maps/shuttles/shiptest/bar_ship.dmm
  _maps/shuttles/shiptest/engi_moth.dmm
  _maps/shuttles/shiptest/mining_ship_all.dmm
  _maps/shuttles/shiptest/ntsv_skipper.dmm
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/names.dm
  code/controllers/subsystem/overmap.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/supplypod.dm
  code/modules/cargo/supplypod_beacon.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/missions.dm
  code/modules/overmap/missions/acquire_mission.dm
  code/modules/overmap/missions/research_mission.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/outpost.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/research/designs/mining_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/stationobjs.dmi
  shiptest.dme
  strings/names/moth_last.txt
  strings/station_suffixes.txt
  tgui/packages/tgui/interfaces/CargoExpress.js
  tgui/packages/tgui/interfaces/OutpostComms.js
  whitesands/icons/effects/overmap.dmi
Labels: Map Change, DME Edit, Sprites, TGUI, Test Merged, Red Label, Deprecated Modularization

#1146 Tweaks metis xenos
  _maps/shuttles/shiptest/metis.dmm
  code/datums/elements/mobappearance.dm
  code/datums/elements/renamemob.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/mobspawner.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/flufftext/Hallucination.dm
  icons/mob/borer.dmi
  shiptest.dme
  whitesands/icons/mob/borer.dmi
Labels: Map Change, DME Edit, Sprites, Deprecated Modularization

#1367 resolve check regex issues
  .github/workflows/ci_suite.yml
  check_regex.yaml
  tools/changelog/generate_cl.py
  tools/changelog/makeChangelog.bat
  tools/changelog/ss13_genchangelog.py
  tools/changelog/tags.yml
Labels: Github

#1300 Adds a new Ice Planet ruin, the Hydroponics Lab
  _maps/RandomRuins/IceRuins/icemoon_hydroponics_lab.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/modules/ruins/icemoonruin_code/hydroponicslab.dm
  shiptest.dme
Labels: Map Change, DME Edit

#1292 Surplus Ammo & A Bunch of Ammo Balance Tweaks
  code/game/objects/items/storage/boxes.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/ammo.dmi
  icons/obj/storage.dmi
Labels: Sprites

#1359 Temporarily disables the Cascade
  _maps/configs/cascade.json
Labels: Map Change

#1236 Grand Prosthetics Rework [MERGE ME PLEASE GOD]
  check_regex.yaml
  code/__DEFINES/preferences.dm
  code/__HELPERS/mobs.dm
  code/datums/traits/negative.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  icons/mob/augmentation/augments_vox.dmi
Labels: Sprites, Test Merged

#1378 Makes Master Compile Again
  code/__DEFINES/misc.dm
  code/modules/holodeck/holodeck_map_templates.dm
  shiptest.dme
Labels: DME Edit

#1379 Default Ship Limit & Example Config Update
  _maps/example_ship_config.json
  code/datums/shuttles.dm
Labels: Map Change

#1380 Disables the Rube Goldberg
  _maps/configs/engineeringmess.json
Labels: Map Change

#1325 Init Time Reduction for Developers
  .github/workflows/ci_suite.yml
  _maps/_basemap.dm
  _maps/map_files/generic/blank.dmm
  code/__DEFINES/configuration.dm
  code/_compile_options.dm
  code/controllers/subsystem/overmap.dm
  code/controllers/subsystem/persistence.dm
  code/controllers/subsystem/redbot.dm
  code/datums/emotes.dm
  code/modules/overmap/objects/dynamic_datum.dm
  config/comms.txt
  config/game_options.txt
Labels: Config, Map Change, Server, Github, Speed Mergeable, Tools

#1392 Lizard snout layering fix
  icons/mob/mutant_bodyparts.dmi
Labels: Sprites

#1393 [SERVER ISSUE] Resolves recent perf issues
  code/modules/overmap/objects/dynamic_datum.dm
Labels: Server

#1384 Admin verb to spawn planets/ruins
  code/__DEFINES/overmap.dm
  code/__DEFINES/ruins.dm
  code/controllers/subsystem/overmap.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/overmap/objects/dynamic_datum.dm
  shiptest.dme
Labels: DME Edit, Admin

#1395 Resprites the flat cap
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/misc.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites
