Repository shiptest-ss13/Shiptest, pull requests merged in 2022-04, with the labels that each got.

#690 AI EyeObjects are now smarter about being deleted
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Do not merge

#934 IPCs can now run Doom (adds several IPC screens)
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/ipc_accessories.dmi
Labels: Sprites

#966 Removes the Statio.3
  _maps/configs/statio.json
  _maps/shuttles/shiptest/nanotrasen_station.dmm
Labels: Map Change, Removal, Server

#964 Fix farm map
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_farm.dmm
Labels: Map Change

#947 Componentizes Udders
  code/datums/components/udder.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
  shiptest.dme
Labels: DME Edit

#955 Makes powering the defibs on Geneva more obvious
  _maps/shuttles/shiptest/syndicate_geneva.dmm
Labels: Map Change

#961 Nanotrasen Security sprites, some other sprites in general
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/configs/raven.json
  _maps/configs/skipper.json
  code/datums/dog_fashion.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/command.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/command.dmi
  icons/obj/clothing/under/security.dmi
  tools/UpdatePaths/clothingunderrepath.txt
  whitesands/code/modules/jobs/job_types/brigphys.dm
Labels: Map Change, Sprites, Deprecated Modularization

#962 Add cryo console to Solar-class
  _maps/shuttles/shiptest/solar_class.dmm
Labels: Map Change

#969 Planet Loading Changes
  code/_compile_options.dm
  code/modules/overmap/objects/dynamic_datum.dm
  whitesands/code/controllers/subsystem/overmap.dm
Labels: Server, Deprecated Modularization

#979 fixes a single space tile on the skipper
  _maps/shuttles/shiptest/ntsv_skipper.dmm
Labels: Map Change

#972 Moth deathsound
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  sound/voice/moth/moth_a.ogg
Labels: Sound

#965 adds altogether too many loadout items
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_footwear.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/client/loadout/loadout_uniform.dm
  whitesands/code/modules/clothing/head/cowboy.dm
Labels: Deprecated Modularization

#963 Ports the Tg maid sprite, to replace the flat one
  code/game/objects/items/storage/boxes.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/under/costume.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites

#983 Adds dusters
  _maps/shuttles/shiptest/rigger.dmm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/security_officer.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Map Change, Sprites

#839 BYO-class
  _maps/configs/diy.json
  _maps/shuttles/shiptest/diy.dmm
Labels: Map Change, Do not merge, Stale, New Ship

#957 High glass is no more
  _maps/shuttles/shiptest/corp_high.dmm
Labels: Map Change

#970 Syndicate and IRMG maid outfits
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites

#908 Maintains my maps
  _maps/RandomRuins/IceRuins/icemoon_demonlab.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_icecropolis.dmm
Labels: Map Change

#967 Reworks the Carina to a Minuteman ship
  _maps/configs/minutemen_carina.json
  _maps/configs/solgov_carina.json
  _maps/shuttles/shiptest/minutemen_carina.dmm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  icons/mob/clothing/mask.dmi
  icons/obj/ammo.dmi
  whitesands/code/modules/projectiles/boxes_magazines/pistol.dm
Labels: Map Change, Sprites, Deprecated Modularization

#998 miscellaneous fixes part one
  code/datums/components/shiploving.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/Secrets.js
Labels: DME Edit, Admin, TGUI

#1002 Replaces a bunch of goon icons
  code/game/machinery/bank_machine.dm
  code/game/machinery/dish_drive.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/objects/structures/guncase.dm
  code/modules/mining/lavaland/ruins/gym.dm
  goon/icons/obj/closet.dmi
  goon/icons/obj/fitness.dmi
  goon/icons/obj/goon_terminals.dmi
  goon/icons/obj/kitchen.dmi
  goon/sound/effects/spring.ogg
  icons/obj/closet.dmi
  icons/obj/gym_equipment.dmi
  icons/obj/kitchen.dmi
  sound/machines/creak.ogg
Labels: Sprites, Sound

#999 The Cratening: Shiptest Edition
  _maps/shuttles/shiptest/cargotide.dmm
  _maps/shuttles/shiptest/hightide.dmm
  _maps/shuttles/shiptest/isv_roberts.dmm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
  goon/icons/obj/crates.dmi
  icons/obj/crates.dmi
Labels: Map Change, Sprites

#995 Windows tweaks and fixes
  _maps/RandomRuins/RockRuins/rockplanet_clowncrash.dmm
  _maps/RandomRuins/RockRuins/rockplanet_tradepost.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_solgovcrash.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/escape_pod/escape_pod_large.dmm
  _maps/shuttles/hunter/hunter_space_cop.dmm
  _maps/shuttles/ruin/ruin_solgov_exploration_pod.dmm
  _maps/shuttles/shiptest/rigger_b.dmm
  _maps/shuttles/shiptest/rigger_c.dmm
  _maps/shuttles/shiptest/solgov_liberty.dmm
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/modules/mining/equipment/survival_pod.dm
Labels: Map Change

#890 Nemo-class Spacelife Research Vessel
  _maps/configs/nemo-class.json
  _maps/shuttles/shiptest/nemo-class.dmm
Labels: Map Change, Test Merged

#1010 fixes wrong flash being used on some maps
  _maps/RandomRuins/IceRuins/icemoon_demonlab.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_ikea_ai.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_waterplant.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/custom/raven_redone.dmm
  _maps/shuttles/shiptest/nanotrasen_raven.dmm
  _maps/shuttles/shiptest/nemo-class.dmm
  _maps/shuttles/shiptest/ntsv_osprey.dmm
  _maps/shuttles/shiptest/solar_class.dmm
Labels: Map Change

#1009 the card program requires a card slot to run parts of ui_data
  code/modules/modular_computers/file_system/programs/card.dm
Labels: Fix

#1015 makes shutters buildable
  code/game/machinery/doors/poddoor.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/poddoor_assembly.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/research/designs/autolathe_designs.dm
  shiptest.dme
Labels: DME Edit
