Repository shiptest-ss13/Shiptest, pull requests merged in 2022-12, with the labels that each got.

#1615 Fixes a minor mapping error I made
  _maps/shuttles/shiptest/independent_litieguai.dmm
Labels: Map Change

#1595 Adjusts necropolis chest loot pools and ports a rework of the berserkers hardsuit
  code/__DEFINES/colors.dm
  code/__DEFINES/traits.dm
  code/datums/action.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/movespeed/modifiers/items.dm
  icons/mob/actions/actions_items.dmi
  icons/mob/clothing/belt_mirror.dmi
Labels: Sprites, Code change

#1495 Mechbay ruin
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/wasteplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
  code/game/area/areas/ruins/wasteplanet.dm
Labels: Map Change, Test Merge Candidate, Code change

#1502 Kilo Class Mining Ship QOL
  _maps/shuttles/shiptest/whiteship_kilo.dmm
Labels: Map Change

#1508 New Ruin: Crashed Research Pinnance
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashed_pinnance.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  config/lavaruinblacklist.txt
Labels: Config, Map Change, Test Merge Candidate, Code change

#1552 Replaces Slimerancher.dmm with Slimelab.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_slimerancher.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_slimelab.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/modules/power/rtg.dm
Labels: Map Change, Test Merge Candidate, Code change

#1620 Fixes the phantom map change that 1580 is causing
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
Labels: Map Change

#1621 Syndicate maid outfit and shemagh 2: Electric boogaloo
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/clothing/neck/_neck.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites, Code change

#1619 Subshuttle Catalog + Folder
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  code/datums/shuttles.dm
Labels: Map Change, Code change

#1605 re:posters
  _maps/RandomRuins/JungleRuins/jungle_nest.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_fuckedupandevilclub.dmm
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_adobe.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_chokepoint.dmm
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/RandomRuins/deprecated/forgottenship.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/shuttles/misc/hunter_bounty.dmm
  _maps/shuttles/misc/infiltrator_advanced.dmm
  _maps/shuttles/misc/pirate_default.dmm
  _maps/shuttles/shiptest/gorlex_hyena.dmm
  _maps/shuttles/shiptest/gun_dealer.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_hound.dmm
  _maps/shuttles/shiptest/lamia.dmm
  _maps/shuttles/shiptest/metis.dmm
  _maps/shuttles/shiptest/minutemen_carina.dmm
  _maps/shuttles/shiptest/syndicate_geneva.dmm
  _maps/shuttles/shiptest/tranq.dmm
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Map Change, Sprites, Code change

#1617 Makes Elzu have lizard namegen
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  strings/names/stars_constellations.txt
Labels: Code change

#1629 Makes most hostile mining/jungle mobs unable to smash down metal walls in a single hit
  code/modules/mob/living/simple_animal/hostile/jungle/_jungle_mobs.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/mob/living/simple_animal/hostile/jungle/mega_arachnid.dm
  code/modules/mob/living/simple_animal/hostile/jungle/seedling.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice whelp.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wolf.dm
Labels: Code change

#1628 Buffs the research point values produced by tesla coils
  code/modules/power/tesla/coil.dm
Labels: Code change

#1581 Sun-light traits for z-levels
  code/__DEFINES/maps.dm
  code/controllers/subsystem/shuttle.dm
  code/modules/power/solar.dm
Labels: Code change

#1576 5 new crates + new crate category
  code/modules/cargo/packs/exploration.dm
  shiptest.dme
Labels: DME Edit, Code change

#1631 changes the tiki bar sign
  code/game/objects/structures/barsigns.dm
  icons/obj/barsigns.dmi
Labels: Sprites, Code change

#1647 Revert "Mechbay ruin"
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/wasteplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
  code/game/area/areas/ruins/wasteplanet.dm
Labels: Map Change, Code change

#1650 Adds crafting recipes for glass shards and plasma glass shards
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Code change

#1642 Crate Fix
  code/modules/cargo/packs/exploration.dm
Labels: Code change

#1634 resprites racks
  icons/obj/items_and_weapons.dmi
  icons/obj/objects.dmi
Labels: Sprites

#1632 resprites survey handhelds
  icons/obj/item/survey_handheld.dmi
Labels: Sprites
