Repository shiptest-ss13/Shiptest, pull requests merged in 2022-11, with the labels that each got.

#1554 Fix Spawn PlanetRuin
  code/__DEFINES/overmap.dm
  code/__DEFINES/ruins.dm
  code/controllers/subsystem/mapping.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/overmap/objects/dynamic_datum.dm
Labels: Admin, Code change

#1597 Glass spear resprite
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Sprites

#1598 welding helmet resprite
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites

#1604 Holofield Power Draw Increase + Subtype for mapping
  code/game/machinery/shieldgen.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Code change

#1544 Fixes Transport18 so you can take its beer engines. Adds a disclaimer to liquid engine code.
  _maps/RandomRuins/SpaceRuins/transport18.dmm
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Map Change, Code change

#1580 Add files via upload
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
Labels: Map Change

#1600 Li Tiegaui Update Plus Gear Reduction
  _maps/shuttles/shiptest/independent_litieguai.dmm
Labels: Map Change

#1616 Ports SSmetrics from bee, which was ported from Para
  check_regex.yaml
  code/__DEFINES/MC.dm
  code/__HELPERS/time.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/acid.dm
  code/controllers/subsystem/fire_burning.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machines.dm
  code/controllers/subsystem/metrics.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/overmap.dm
  code/controllers/subsystem/processing/processing.dm
  code/controllers/subsystem/spacedrift.dm
  code/controllers/subsystem/tgui.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/weather.dm
  code/game/world.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/subsystem_metric_sanity.dm
  config/config.txt
  shiptest.dme
Labels: Config, DME Edit, Server, Code change
