Repository shiptest-ss13/Shiptest, pull requests merged in 2022-09, with the labels that each got.

#1503 Fixes epicenters doing double damage
  code/controllers/subsystem/explosions.dm
Labels: Code change

#1522 resprites some hydro equipment
  icons/obj/hydroponics/equipment.dmi
Labels: Sprites

#1363 SRM Glaive-Class Hunter Ship
  _maps/configs/srm_glaive.json
  _maps/shuttles/shiptest/srm_glaive.dmm
  code/__DEFINES/research.dm
  code/game/MapData/shuttles/srm_glaive.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/machinery/departmental_protolathe.dm
  code/modules/research/techweb/all_nodes.dm
  shiptest.dme
Labels: Map Change, DME Edit, New Ship, Code change

#1530 fixes titanium windows being unable to be secured
  code/game/objects/structures/window.dm
Labels: Code change

#1529 fixes ruin shuttles not spawning
  _maps/shuttles/ruin/ruin_caravan_victim.dmm
  _maps/shuttles/ruin/ruin_pirate_cutter.dmm
  _maps/shuttles/ruin/ruin_solgov_exploration_pod.dmm
  _maps/shuttles/ruin/ruin_syndicate_dropship.dmm
  _maps/shuttles/ruin/ruin_syndicate_fighter_shiv.dmm
  code/datums/shuttles.dm
Labels: Map Change, Code change

#1515 resprites can of beans, some chip packs, 4noraisins
  icons/obj/food/food.dmi
Labels: Sprites

#1451 You May Now Kiss The Girlboss
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/hud/alert.dm
  code/_onclick/item_attack.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/status_effects/neutral.dm
  code/datums/traits/negative.dm
  code/game/objects/items.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/emote.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/head.dm
  sound/effects/kiss.ogg
  sound/weapons/attributions.txt
Labels: Sound, Code change

#1534 Disables the Wright-Class Anything Vessel
  _maps/configs/wright.json
Labels: Map Change

#1532 Deletes the Synapse-Class Viral Study Vessel
  _maps/configs/synapse.json
  _maps/shuttles/shiptest/synapsev2.dmm
Labels: Map Change, Test Merge Candidate

#1526 IPC blush screen
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/ipc_accessories.dmi
Labels: Sprites, Code change

#1525 vanguards actually get headsets
  _maps/shuttles/shiptest/inteq_colossus.dmm
  code/modules/jobs/job_types/head_of_security.dm
Labels: Map Change, Code change

#1517 apc sprite edits
  icons/obj/power.dmi
Labels: Sprites

#1512 IRMG sprite update, lizard compatible edition
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_shoes.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/hooded.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites, Code change

#1509 hydroponics produce resprite
  code/game/objects/effects/glowshroom.dm
  icons/obj/hydroponics/harvest.dmi
Labels: Sprites, Code change

#1447 Dwarf Rework
  code/_onclick/hud/alert.dm
  code/modules/language/dwarven.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/dwarves.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/hud/screen_alert.dmi
  strings/names/dwarf_first.txt
  strings/names/dwarf_last.txt
Labels: Sprites, Code change

#1528 fixes two internals-related issues
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: Code change

#1489 Hyena Tweaks
  _maps/shuttles/shiptest/gorlex_hyena.dmm
Labels: Map Change, Tweak, Test Merged, Test Merge Candidate

#1543 overmap expansion 4.1
  code/datums/components/largeobjecttransparency.dm
  code/game/turfs/open/acid.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
Labels: Code change

#1551 fixes species suit overlay icons being very not working correctly at all
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Code change

#1501 Elzuosa in Real 4k HD
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/surgery/organs/tails.dm
  icons/mob/ethereal_parts.dmi
  icons/mob/human_parts.dmi
  icons/mob/species/ethereal/bodyparts.dmi
Labels: Sprites, Admin, Code change

#1557 fixes some vanity suit items not showing up
  code/modules/clothing/suits/_suits.dm
Labels: Code change

#1538 Railing and stairs improvements
  code/datums/components/rotation.dm
  code/game/objects/items/decal_painter.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/railings.dm
  icons/turf/floors/tiles.dmi
Labels: Sprites, Code change

#1553 Adds a few ruin area def files, adds comments to existing ones
  code/game/area/areas/ruins/beachplanet.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/area/areas/ruins/jungle.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/ruins/sandplanet.dm
  code/game/area/areas/ruins/space.dm
  code/game/area/areas/ruins/wasteplanet.dm
  shiptest.dme
Labels: DME Edit, Code change

#1416 Adds Quirk species-locks, adds on_addiction_remove, properly handles quirk conflicts
  check_regex.yaml
  code/__HELPERS/cmp.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/dna.dm
  code/datums/traits/_quirk.dm
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/datums/traits/neutral.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
Labels: Do not merge, Test Merged, Test Merge Candidate, Code change

#1542 resprites wooden tv and glass display cases
  icons/obj/stationobjs.dmi
Labels: Sprites

#1561 re:casings
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_brazillianlab.dmm
  _maps/shuttles/shiptest/nanotrasen_powerrangers.dmm
  code/datums/components/crafting/recipes.dm
  code/game/mecha/equipment/weapons/mecha_ammo.dm
  code/game/objects/items/shrapnel.dm
  code/game/objects/items/weaponry.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/ballistic/lmg.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  code/modules/projectiles/ammunition/caseless/_caseless.dm
  code/modules/projectiles/ammunition/caseless/foam.dm
  code/modules/projectiles/ammunition/caseless/misc.dm
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/projectiles/ammunition/special/gauss.dm
  code/modules/projectiles/boxes_magazines/external/grenade.dm
  icons/obj/ammo.dmi
  icons/obj/ammo_bullets.dmi
  icons/obj/ammo_shotshells.dmi
  icons/obj/guns/toy.dmi
Labels: Map Change, Sprites, Code change

#1562 Skill issue
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Admin, Code change

#1262 [MDB Ignore] Convert all `/turf/open/space/basic` to `/turf/open/space`
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/RockRuins/rockplanet_cult.dmm
  _maps/RandomRuins/SpaceRuins/Fast_Food.dmm
  _maps/RandomRuins/SpaceRuins/astraeus.dmm
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/RandomRuins/SpaceRuins/cryocontainment.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/excavator_DK.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/RandomRuins/SpaceRuins/scav_mining.dmm
  _maps/RandomRuins/SpaceRuins/spacegym.dmm
  _maps/RandomRuins/deprecated/forgottenship.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/speedway.dmm
  _maps/shuttles/shiptest/chapel.dmm
  _maps/shuttles/shiptest/engineeringmess.dmm
  _maps/shuttles/shiptest/radio_funny.dmm
Labels: Map Change, Do not merge, Test Merged, Test Merge Candidate

#1563 pronounce this robot
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Code change
