Repository shiptest-ss13/Shiptest, pull requests merged in 2022-08, with the labels that each got.

#1410 Adds coconut creme in a bottle to Booze-O-Mats
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/vending/boozeomat.dm
  whitesands/icons/obj/drinks.dmi
Labels: Sprites, Deprecated Modularization

#1411 IRMG Clothing Resprite: Halcyon Sanctioned:tm:
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites

#1409 navigationally challenged is no longer auto-applied to new players
  code/controllers/subsystem/processing/quirks.dm
Labels: Fix

#1408 changing species no longer heals all limbs and organs
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#1413 Fixes Rolling Jumpsuits
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix

#1427 Fixes Mentor Verbs
  code/datums/keybinding/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Admin

#1374 adjusts reaction priorities to stop bugs
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Stale

#1412 Fixes surveying research notes disappearing into hell when your hands are full
  code/game/objects/items/survery_handheld.dm
Labels: Fix

#1368 The Interrim Mining Experience
  _maps/shuttles/shiptest/gorlex_hyena.dmm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/sharpener.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/events/wizard/magicarp.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/slime.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/wizard.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/research/xenobiology/crossbreeding/mutative.dm
  code/modules/spells/spell_types/the_traps.dm
  code/modules/surgery/tools.dm
  icons/mob/guardian.dmi
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/library.dmi
  shiptest.dme
  sound/items/shitty_drill.ogg
Labels: Map Change, DME Edit, Sprites, Sound, Stale

#1435 Makes text lines & goggles IPC screens not color locked to red
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/ipc_accessories.dmi
Labels: Sprites

#1442 New Sneakers by Any%!
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/shoes.dmi
Labels: Sprites

#1439 The Hindenburg(Balloon Alerts)
  code/__DEFINES/layers.dm
  code/__HELPERS/game.dm
  code/_onclick/telekinesis.dm
  code/datums/chatmessage.dm
  code/datums/components/deployable.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/reagents/reagent_containers.dm
  shiptest.dme
Labels: DME Edit, Blame Zephyr

#1437 Ports layershifting
  code/controllers/configuration/entries/client_features.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_layershift.dm
  config/client_features.txt
  config/config.txt
  shiptest.dme
Labels: Config, DME Edit

#1441 Bubble-B-Gone
  _maps/configs/bubble_b.json
  _maps/shuttles/shiptest/sgv_bubble_b.dmm
Labels: Map Change, Removal

#1299 [TESTMERGE REQUIRED] Fix various runtimes, enables Initialize SHOULD_NOT_SLEEP
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/components/storage/concrete/stack.dm
  code/datums/holocall.dm
  code/datums/mind.dm
  code/datums/mutations/antenna.dm
  code/game/atoms.dm
  code/game/machinery/computer/arena.dm
  code/game/machinery/doors/alarmlock.dm
  code/game/machinery/doors/spacepod.dm
  code/game/machinery/slotmachine.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/items/devices/polycircuit.dm
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/cash.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/items/wayfinding.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/objects/structures/girders.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/antagonists/borer/syndiborer.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/corpse.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/fields/fields.dm
  code/modules/fields/timestop.dm
  code/modules/mapping/map_template.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/hologram/hologram.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/snake.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/mob/living/simple_animal/hostile/zombie.dm
  code/modules/power/singularity/narsie.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/research/machinery/_production.dm
  code/modules/shuttle/shuttle.dm
  code/modules/spacepods/prebuilt.dm
  code/modules/surgery/organs/tails.dm
  code/modules/unit_tests/outfit_sanity.dm
Labels: Test Merge Candidate

#1425 port tgui changelog
  .github/workflows/compile_changelogs.yml
  .gitignore
  check_regex.yaml
  code/__DEFINES/misc.dm
  code/_globalvars/regexes.dm
  code/datums/changelog.dm
  code/game/world.dm
  code/modules/asset_cache/asset_list_items.dm
  interface/interface.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/Changelog.js
Labels: DME Edit, TGUI, Github

#1398 Air alarms now have heaters
  code/modules/atmospherics/machinery/airalarm.dm
  tgui/packages/tgui/interfaces/AirAlarm.js
Labels: TGUI

#1377 Updates the Lamia
  _maps/configs/lamia.json
  _maps/ship_config_schema.json
  _maps/shuttles/shiptest/lamia.dmm
  strings/ship_names.json
Labels: Map Change

#1354 Updates the Shetland
  _maps/configs/independent_shetland.json
  _maps/configs/shetland.json
  _maps/shuttles/shiptest/independent_shetland.dmm
Labels: Map Change, Test Merge Candidate

#1317 Ports "Ports "Revives "Adds sound effects to surgeries"" and others" and "Adds medical sounds"
  code/game/objects/items/stacks/medical.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/bone_repair.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/mechanical.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/surgery_helpers.dm
  code/modules/surgery/surgery_step.dm
  sound/effects/ointment.ogg
  sound/effects/rip1.ogg
  sound/effects/rip2.ogg
  sound/items/tape_flip.ogg
  sound/items/taperecorder_close.ogg
  sound/surgery/bone1.ogg
  sound/surgery/bone2.ogg
  sound/surgery/bone3.ogg
  sound/surgery/cautery1.ogg
  sound/surgery/cautery2.ogg
  sound/surgery/hemostat1.ogg
  sound/surgery/organ1.ogg
  sound/surgery/organ2.ogg
  sound/surgery/retractor1.ogg
  sound/surgery/retractor2.ogg
  sound/surgery/saw.ogg
  sound/surgery/scalpel1.ogg
  sound/surgery/scalpel2.ogg
Labels: Sound, Test Merge Candidate

#1459 removes the botagyr
  _maps/configs/bogatyr.json
  _maps/shuttles/shiptest/bogatyr.dmm
Labels: Map Change

#1424 "port" SStimer and SSgarbage from /TG/
  code/__DEFINES/qdel.dm
  code/__DEFINES/time.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/qdel.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/timer.dm
  code/datums/weakrefs.dm
  config/config.txt
Labels: Config

#1344 The Luxembourg Rework
  _maps/configs/luxembourg.json
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/mob/living/simple_animal/friendly/gator.dm
Labels: Map Change, Test Merge Candidate

#1419 Ranger Class minor patch
  _maps/shuttles/shiptest/nanotrasen_powerrangers.dmm
  code/modules/jobs/access.dm
Labels: Map Change

#1337 Prevent duplicate names for vents and scrubbers
  code/__HELPERS/sequential_id.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  shiptest.dme
Labels: DME Edit

#1352 New jungle ruin (Paradise)
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  code/datums/ruins/jungle.dm
  code/game/area/areas/ruins/jungle.dm
  config/jungleruinblacklist.txt
Labels: Config, Map Change, Code change

#1473 Resprites circuit boards
  code/game/objects/items/circuitboards/circuitboard.dm
  icons/obj/module.dmi
Labels: Sprites

#1480 Ports satchel/backpack resprites
  icons/mob/clothing/back.dmi
  icons/obj/storage.dmi
Labels: Sprites

#1469 Hud restyle
  icons/mob/hud.dmi
Labels: Sprites

#1485 Fixes a bug in RSC preloading code
  code/modules/client/client_procs.dm
Labels: Code change

#1487 fixes robotic limb surgery steps cancelling immediately
  code/modules/surgery/mechanic_steps.dm
Labels: Code change

#1462 Inteq Hound-class Corvette
  _maps/configs/inteq_hound.json
  _maps/shuttles/shiptest/inteq_hound.dmm
  code/game/area/ship_areas.dm
  code/game/machinery/dance_machine.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/signs/signs_warning.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  icons/obj/ammo.dmi
  icons/obj/decals.dmi
  icons/obj/stationobjs.dmi
Labels: Map Change, Sprites, New Ship, Code change

#1460 BYO remap
  _maps/shuttles/shiptest/diy.dmm
Labels: Map Change

#1452 Delta Remap
  _maps/configs/delta.json
  _maps/shuttles/shiptest/whiteship_delta.dmm
Labels: Map Change

#1438 Revamps Meteor and Ion Storm Overmap Events
  code/__DEFINES/power.dm
  code/game/gamemodes/meteor/meteors.dm
  code/modules/overmap/objects/event_datum.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Stale

#1496 fixes armor penetration
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/datums/elements/embed.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Code change

#1491 balloon alert pr bugfixes
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/reagents/reagent_containers.dm
Labels: Code change

#1490 sorts every single suit sprite into different icon files based on function
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/shiptest/syndicate_geneva.dmm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/items/religion.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/suits/utility.dm
  code/modules/hydroponics/beekeeping/beekeeper_suit.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/solgov_rep.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/clothing/suits/toggle.dmi
  icons/mob/clothing/suits/utility.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/hooded.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  icons/obj/clothing/suits/toggle.dmi
  icons/obj/clothing/suits/utility.dmi
Labels: Map Change, Sprites, Code change

#1455 Even more more runtime fixes
  code/controllers/subsystem/timer.dm
  code/game/machinery/autolathe.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/living/carbon/hologram/hologram.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/overmap/ships/ship_datum.dm
  code/modules/screen_alerts/_screen_alerts.dm
Labels: Admin

#1482 WhoIs Visibility Toggle
  code/datums/world_topic.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/client/verbs/who.dm
Labels: Code change

#1476 Inteq Guns & Commander Resprite
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_hound.dmm
  code/game/objects/items/storage/toolbox.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/48x32guns.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/stationobjs.dmi
Labels: Map Change, Sprites, Code change

#1504 Update world_topic.dm
  code/datums/world_topic.dm
  code/modules/client/preferences.dm
Labels: Code change

#1514 Changes Phanic to Weasel Kid
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, Code change
