Repository shiptest-ss13/Shiptest, pull requests merged in 2023-10, with the labels that each got.

#2382 adds sarathi ears
  code/modules/mob/dead/new_player/sprite_accessories/lizard.dm
  icons/mob/species/lizard/frills.dmi
  icons/mob/species/lizard/horns.dmi
Labels: Sprites, Code change

#2389 Bed Updates
  code/game/objects/items/stacks/sheets/sheet_types.dm
  icons/obj/bedsheets.dmi
  icons/obj/lavaland/survival_pod.dmi
  icons/obj/objects.dmi
Labels: Sprites, Code change

#2388 makes it so you can build lightswitch frames from an autolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change

#2373 Rations 2 Electric Boogalo
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/storage/ration.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/ration.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Labels: Code change

#2404 Sets Lugol to admin spawn
  _maps/configs/syndicate_lugol.json
Labels: Map Change

#1670 Heron- Class!
  _maps/configs/nanotrasen_heron.json
  _maps/shuttles/shiptest/nanotrasen_heron.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/nanotrasen_falcon.dmm
  code/datums/shuttles.dm
  code/game/area/ship_areas.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/security_officer.dm
Labels: Map Change, Test Merge Candidate, New Ship, Code change

#2303 fixes some issues on the box and li tieguai class ships
  _maps/shuttles/shiptest/independent_box.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
Labels: Map Change

#2371 Adds the Floating Resort ruin to Beaches!
  _maps/RandomRuins/BeachRuins/beach_float_resort.dmm
  code/datums/ruins/beachplanet.dm
  code/game/area/areas/ruins/beachplanet.dm
Labels: Map Change, Code change

#2357 Berbs
  .github/TICK_ORDER.md
  code/__DEFINES/MC.dm
  code/__DEFINES/callbacks.dm
  code/__DEFINES/input.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/time.dm
  code/__DEFINES/verb_manager.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/click.dm
  code/controllers/master.dm
  code/controllers/subsystem/input.dm
  code/controllers/subsystem/speech_controller.dm
  code/controllers/subsystem/verb_manager.dm
  code/datums/callback.dm
  code/datums/verb_callbacks.dm
  code/modules/client/client_procs.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_say.dm
  code/modules/point/point.dm
  code/modules/tgui/tgui.dm
  code/modules/unit_tests/resist.dm
  shiptest.dme
Labels: DME Edit, Github, Code change, Test Merge Required

#2262 Cepheus nerfs
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
Labels: Map Change

#2399 Boyardee holofield
  _maps/shuttles/shiptest/independent_boyardee.dmm
Labels: Map Change

#2403 Various Assorted Fixes
  check_regex.yaml
  code/datums/components/storage/storage.dm
  code/game/machinery/dance_machine.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/limbgrower.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/recycling/disposal/pipe.dm
  tgui/packages/tgui/interfaces/Vending.js
Labels: TGUI, Code change

#2379 Removes mentions of Russians, Capitalism/Stalinium Golems, Derelict Drone Subtype, Tweaks AI Ion Laws
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
  _maps/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  _maps/deprecated/Ruins/TheDerelict.dmm
  _maps/deprecated/Ships/independent_high.dmm
  _maps/shuttles/shiptest/pirate_ember.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_komodo.dmm
  code/game/machinery/droneDispenser.dm
  code/game/objects/effects/spawners/bundle.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/tanks/watertank.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/fugitive_role_spawners.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/cargo/bounties/medical.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/shuttle/special.dm
  code/modules/uplink/uplink_items.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/sovietsoda.dm
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/under/costume.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/under/security.dmi
  icons/obj/stack_objects.dmi
  sound/misc/Cyka Blyat.ogg
  sound/misc/Russian_Anthem_chorus.ogg
  sound/misc/capitialism.ogg
  strings/ion_laws.json
Labels: Map Change, Sprites, Sound, Code change

#2365 Maploader Optimisations
  check_regex.yaml
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/typeids.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/vis_overlays.dm
  code/datums/datum.dm
  code/datums/mapgen/_biome.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/datums/position_point_vector.dm
  code/datums/shuttles.dm
  code/game/atoms.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/machinery/airlock_cycle_control.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/effects/spawners/bundle.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/effects/spawners/traps.dm
  code/game/objects/effects/spawners/xeno_egg_delivery.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/admin/admin.dm
  code/modules/admin/sound_emitter.dm
  code/modules/admin/view_variables/reference_tracking.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/events/holiday/xmas.dm
  code/modules/holodeck/computer.dm
  code/modules/language/language_holder.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/preloader.dm
  code/modules/mapping/reader.dm
  code/modules/mob/say_vr.dm
  code/modules/unit_tests/biome_lists.dm
Labels: Admin, Code change

#2414 Fixes Moth Language Bind
  code/modules/language/mouse.dm
Labels: Code change

#2412 Adds 2 new barsigns
  code/game/objects/structures/barsigns.dm
  icons/obj/barsigns.dmi
Labels: Sprites, Code change

#1898 Adds a new ruin, The Cave Crew!
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/map_catalogue.txt
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/frontiersmen_gut.dmm
  code/datums/ruins/jungle.dm
  code/datums/shuttles.dm
  code/game/area/areas/ruins/jungle.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/frontiersman.dm
Labels: Map Change, Code change

#2426 Removes every last visible mention of Lizard Wine
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/surgery/organs/tails.dm
Labels: Code change

#2374 Crate shelf
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crateshelf.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/turf.dm
  icons/obj/objects.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2424 re:lights
  icons/obj/lighting.dmi
Labels: Sprites

#2430 Nerfs the everloving almighty shit out of the jungle demonic office ruin
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
Labels: Map Change

#2421 Fixes Ghosts Haunting People's Bags
  code/datums/components/storage/storage.dm
Labels: Code change

#2434 disable halloween species
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
Labels: Code change

#2416 rachnid gupdate
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories/_sprite_accessories.dm
  code/modules/mob/dead/new_player/sprite_accessories/ears.dm
  code/modules/mob/dead/new_player/sprite_accessories/lizard.dm
  code/modules/mob/dead/new_player/sprite_accessories/rachnid.dm
  code/modules/mob/living/carbon/human/consistent_human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/surgery/bodyparts/species_parts/rachnid_bodyparts.dm
  icons/mob/human_parts.dmi
  icons/mob/species/lizard/frills.dmi
  icons/mob/species/misc/cat.dmi
  icons/mob/species/misc/fox.dmi
  icons/mob/species/rachnid/bodyparts.dmi
  icons/mob/species/rachnid/spider_legs.dmi
  icons/mob/species/rachnid/spider_mandibles.dmi
  icons/mob/species/rachnid/spider_spinneret.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Admin, Code change

#2384 Adds the Nomad crash site to the rockplanet
  _maps/RandomRuins/RockRuins/rockplanet_nomadcrash.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/rockplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
  icons/turf/decals.dmi
Labels: Map Change, Sprites, Code change

#2441 Removes deprecated ruin blacklists and other .txt files.
  code/controllers/subsystem/mapping.dm
  code/datums/ruins/beachplanet.dm
  code/datums/ruins/icemoon.dm
  code/datums/ruins/jungle.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/rockplanet.dm
  code/datums/ruins/space.dm
  code/datums/ruins/wasteplanet.dm
  code/datums/ruins/whitesands.dm
  config/atmos_mix.txt
  config/awaymissionconfig.txt
  config/external_rsc_urls.txt
  config/iceruinblacklist.txt
  config/jobs.txt
  config/jungleruinblacklist.txt
  config/lavaruinblacklist.txt
  config/maps.txt
  config/rockruinblacklist.txt
  config/sandruinblacklist.txt
  config/spaceruinblacklist.txt
Labels: Config, Code change
