Repository shiptest-ss13/Shiptest, pull requests merged in 2023-02, with the labels that each got.

#1656 Abandoned Mech Bay 2: Moderately Better Edition
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/wasteplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
  code/game/area/areas/ruins/wasteplanet.dm
Labels: Map Change, Test Merge Candidate, Code change, New Ruin

#1704 fixes spline corners always being white
  _maps/RandomRuins/IceRuins/icemoon_hydroponics_lab.dmm
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/shuttles/shiptest/syndicate_cybersun_kansatsu.dmm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
Labels: Map Change, Code change

#1739 Hound is purchasable again
  _maps/configs/inteq_hound.json
Labels: Map Change

#1714 Reworks the box class
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/shuttles/shiptest/independent_box.dmm
Labels: Map Change

#1685 Cepheus-Class Mech Carrier! (CMM)
  _maps/configs/minutemen_cepheus.json
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/security_officer.dm
Labels: Map Change, Test Merge Candidate, New Ship, Code change

#1751 Fixes Illegal Wall Objects on the Talos
  _maps/shuttles/shiptest/inteq_talos.dmm
Labels: Map Change

#1756 Pops the Bubble
  _maps/configs/independent_bubble.json
Labels: Map Change

#1755 Obliterates the Scrapper
  _maps/configs/independent_scrapper_b.json
  _maps/shuttles/shiptest/independent_scrapper_b.dmm
  _maps/shuttles/shiptest/scrapper.dmm
Labels: Map Change

#1623 New Beach Ruin: Crashed engineering ship
  _maps/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/beachplanet.dm
Labels: Map Change, Code change, New Ruin

#1732 Fixed Gecko atmos
  _maps/shuttles/shiptest/nanotrasen_gecko.dmm
Labels: Map Change, Test Merge Candidate

#1750 INFINITE HYPERFUSION stopgap measures
  code/__DEFINES/radiation.dm
  code/__HELPERS/radiation.dm
  code/datums/components/radioactive.dm
  code/datums/map_zones.dm
  code/datums/radiation_wave.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Code change

#1703 Reworks Power Puzzle
  _maps/RandomRuins/SpaceRuins/nuclear_dump.dmm
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
  code/game/area/areas/ruins/space.dm
Labels: Map Change, Test Merge Candidate, Code change

#1754 Patches the Bombed Starport To Be Less Bad
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  icons/obj/fluff.dmi
Labels: Map Change, Sprites

#1767 removes weird "median" floors
  code/game/turfs/open/floor/plasteel_floor.dm
  icons/turf/floors/medians.dmi
Labels: Sprites, Code change

#1768 Better holofield generator feedback
  code/game/machinery/shieldgen.dm
  icons/effects/effects.dmi
Labels: Sprites, Code change

#1761 Makes the brigphysjacket (leaddoctor armour) not invisible
  code/modules/clothing/suits/armor.dm
Labels: Code change

#1763 fixes space tiles under windows on rockplanet_cult.dmm
  _maps/RandomRuins/RockRuins/rockplanet_cult.dmm
Labels: Map Change

#1759 Makes the intercom and wideband face the right direction when built o…
  code/game/objects/items/devices/radio/intercom.dm
Labels: Code change

#1742 Updates plated catwalks to use the correct icon states
  code/game/objects/structures/catwalk.dm
Labels: Code change

#1752 Updates Firelocks on Delta, with misc tweaks.
  _maps/shuttles/shiptest/nanotrasen_delta.dmm
Labels: Map Change

#1760 Die Of Fate Change
  code/modules/awaymissions/mission_code/Academy.dm
Labels: Administration, Code change

#1772 Removes the Raven
  _maps/configs/nanotrasen_raven.json
  _maps/shuttles/shiptest/nanotrasen_raven.dmm
Labels: Map Change

#1705 Adds asteroid siding, whitesands siding, rock siding and Corners your weather sprites
  _maps/RandomRuins/BeachRuins/beach_ancient_ruin.dmm
  _maps/RandomRuins/BeachRuins/beach_colony.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_slimelab.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_weed_shack.dmm
  code/game/objects/effects/decals/turfdecal/weather.dm
  icons/misc/beach.dmi
  icons/turf/decals.dmi
Labels: Map Change, Sprites, Code change

#1701 beach ruin, The Treasure Cove!
  _maps/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/beachplanet.dm
  code/game/area/areas/ruins/beachplanet.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: Map Change, Code change, New Ruin

#1747 Fixes a few broken icons and a bug with the survivor rifle
  code/game/objects/items/spear.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Code change

#1613 Light Onehalf Rework
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
Labels: Map Change, Code change

#1583 New Beach Ruin: Knight's Rest
  _maps/RandomRuins/BeachRuins/beach_knights_rest.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/beachplanet.dm
  code/game/area/areas/ruins/beachplanet.dm
Labels: Map Change, Code change, New Ruin

#1782 Fixes CI
  Dockerfile
  tgui/package.json
  tgui/yarn.lock
Labels: TGUI, Dependencies

#1711 Holographic signs and barriers have a limited lifespan
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/deprecated/Ships/syndicate_kugelblitz.dmm
  _maps/shuttles/shiptest/independent_metis.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  code/game/objects/effects/countdown.dm
  code/game/objects/items/holosign_creator.dm
  code/game/objects/structures/holosign.dm
Labels: Map Change, Code change

#1764 SEV Lugol-class GEC Engineering Project
  _maps/configs/syndicate_lugol.json
  _maps/shuttles/shiptest/syndicate_gec_lugol.dmm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/modules/clothing/suits/utility.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/chief_engineer.dm
Labels: Map Change, Test Merge Candidate, New Ship, Code change

#1770 Li-tieg touchup
  _maps/shuttles/shiptest/independent_litieguai.dmm
  code/modules/jobs/job_types/paramedic.dm
Labels: Map Change, Code change

#1777 Minor fixes/tweaks to the Aegis-Class
  _maps/shuttles/shiptest/syndicate_aegis.dmm
Labels: Map Change, Test Merge Candidate

#1773 Removes Skeleton Spawners from jungle_demon
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
Labels: Map Change

#1792 Switches away from Prettierx
  tgui/package.json
  tgui/yarn.lock
Labels: TGUI, Dependencies

#1800 Removes Spacepods
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/RandomZLevels/speedway.dmm
  _maps/deprecated/Ships/minutemen_carina.dmm
  _maps/deprecated/Ships/nanotrasen_pubby.dmm
  _maps/deprecated/Ships/syndicate_kugelblitz.dmm
  _maps/shuttles/shiptest/independent_prague.dmm
  _maps/shuttles/shiptest/independent_rigger_c.dmm
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
  _maps/shuttles/shiptest/solgov_rigger_t.dmm
  _maps/shuttles/shiptest/syndicate_twinkleshine.dmm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/~whitesands_defines/spacepods.dm
  code/_globalvars/lists/typecache.dm
  code/_onclick/drag_drop.dm
  code/game/machinery/doors/spacepod.dm
  code/game/objects/items/manuals.dm
  code/game/objects/items/stacks/rods.dm
  code/modules/awaymissions/mission_code/speedway.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_defines.dm
  code/modules/research/designs/spacepod_designs.dm
  code/modules/research/machinery/protolathe.dm
  code/modules/research/machinery/techfab.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/spacepods/construction.dm
  code/modules/spacepods/equipment.dm
  code/modules/spacepods/parts.dm
  code/modules/spacepods/physics.dm
  code/modules/spacepods/prebuilt.dm
  code/modules/spacepods/spacepod.dm
  config/awaymissionconfig.txt
  goon/icons/obj/spacepods/2x2.dmi
  goon/icons/obj/spacepods/construction_2x2.dmi
  goon/icons/obj/spacepods/parts.dmi
  shiptest.dme
Labels: Config, Map Change, DME Edit, Sprites, Code change

#1700 The Crashed Starwalker
  _maps/RandomRuins/BeachRuins/beach_crashed_starwalker.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/beachplanet.dm
  code/game/area/areas/ruins/beachplanet.dm
  code/game/turfs/open/floor/plasteel_floor.dm
Labels: Map Change, Test Merge Candidate, Code change, New Ruin
