Repository shiptest-ss13/Shiptest, pull requests merged in 2023-08, with the labels that each got.

#2225 Adds digitigrade sprites for solgov stuff
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/solgov.dm
  icons/mob/clothing/under/SolGov.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
Labels: Sprites, Code change

#2220 Destroying Sprite Cruft Part One: Cruft Sucks
  icons/obj/iv_drip.dmi
  icons/obj/kitchen.dmi
  icons/obj/library.dmi
  icons/obj/objects.dmi
  icons/obj/stationobjs.dmi
  icons/obj/vending.dmi
Labels: Sprites, Test Merge Candidate

#2217 bedsheet/random fix, cleans up special dorms bedsheet list, replaces random bedsheets in most maps
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_icecropolis.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_slimelab.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_dwarffortress.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/RandomRuins/SpaceRuins/excavator_DK.dmm
  _maps/deprecated/Ships/syndicate_kugelblitz.dmm
  _maps/shuttles/shiptest/independent_boyardee.dmm
  _maps/shuttles/shiptest/independent_rigger.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  _maps/shuttles/shiptest/independent_shetland.dmm
  _maps/shuttles/shiptest/nanotrasen_mimir.dmm
  code/game/objects/structures/bedsheet_bin.dm
Labels: Map Change, Code change

#2203 Removes His Grace
  code/__DEFINES/combat.dm
  code/__DEFINES/span.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/game/data_huds.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/training_machine.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mob/living/carbon/monkey/death.dm
  code/modules/uplink/uplink_items.dm
  interface/stylesheet.dm
  shiptest.dme
Labels: DME Edit, Code change

#2197 Update anomalies_plasmasoul.dm
  code/game/objects/effects/anomalies/anomalies_plasmasoul.dm
Labels: Code change

#2168 npcs now use virtual z level to manage z based activity
  code/__DEFINES/dcs/signals.dm
  code/controllers/subsystem/idlenpcpool.dm
  code/controllers/subsystem/mobs.dm
  code/datums/map_zones.dm
  code/game/atoms_movable.dm
  code/game/machinery/navbeacon.dm
  code/game/sound.dm
  code/game/world.dm
  code/modules/lighting/emissive_blocker.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/lighting/lighting_object.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/dead/observer/logout.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_defines.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle.dm
  code/modules/vending/_vending.dm
Labels: Code change, Test Merge Required

#2185 Updates TGS support
  .github/workflows/tgs_test.yml
  .gitignore
  .tgs.yml
  .tgs4.yml
  code/__DEFINES/spaceman_dmm.dm
  code/_debugger.dm
  code/controllers/failsafe.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/assets.dm
  code/controllers/subsystem/autotransfer.dm
  code/controllers/subsystem/jukeboxes.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/overmap.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/timer.dm
  code/game/world.dm
  code/modules/events/fugitive_spawning.dm
  code/modules/events/pirates.dm
  shiptest.dme
  tools/tgs4_scripts/PreSynchronize.bat
  tools/tgs4_scripts/PreSynchronize.ps1
  tools/tgs4_scripts/PreSynchronize.sh
  tools/tgs4_scripts/WatchdogLaunch.sh
  tools/tgs_scripts/InstallDeps.sh
  tools/tgs_scripts/PreCompile.bat
  tools/tgs_scripts/PreCompile.sh
  tools/tgs_scripts/WatchdogLaunch.sh
  tools/tgs_test/Program.cs
  tools/tgs_test/README.md
  tools/tgs_test/StaticFile.cs
  tools/tgs_test/TgsYml.cs
  tools/tgs_test/Tgstation.TgsTest.csproj
  tools/tgs_test/Tgstation.TgsTest.sln
Labels: DME Edit, Github, Code change

#2210 Paracelsus-class Definitive Edition
  _maps/configs/solgov_paracelsus.json
  _maps/shuttles/shiptest/solgov_paracelsus.dmm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/outfits/solgov.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/solgov.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/SolGov.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/SolGov.dmi
Labels: Map Change, Sprites, Code change

#2209 Twink Tweaks
  _maps/shuttles/shiptest/syndicate_twinkleshine.dmm
  code/modules/clothing/masks/gasmask.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/brig_physician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
Labels: Map Change, Code change

#2204 Adds elf ears for humans.
  code/__DEFINES/DNA.dm
  code/modules/mob/dead/new_player/sprite_accessories/ears.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/surgery/organs/ears.dm
  icons/mob/mutant_bodyparts.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites, Code change

#2242 fix errors found with opendream
  code/datums/components/construction.dm
  code/datums/components/nanites.dm
  code/datums/components/squeak.dm
  code/game/objects/items/flamethrower.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/vehicles/speedbike.dm
Labels: Code change

#2172 Nerfs Block Chance + Cooldown
  code/game/objects/items.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/weaponry.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/cult_templar.dm
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
Labels: Code change

#2186 Balance changes to prices for sec_supply
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#2187 port ckey in deadchat from yogs
  code/__DEFINES/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/mob_say.dm
Labels: Code change

#2239 Fixes midway boxers
  icons/mob/clothing/underwear/underwear_legs.dmi
Labels: Sprites

#2196 the lizdate (lizards. REMASTERED)
  code/__DEFINES/misc.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/sprite_accessories/ears.dm
  code/modules/mob/dead/new_player/sprite_accessories/lizard.dm
  code/modules/mob/dead/new_player/sprite_accessories/tails.dm
  code/modules/mob/living/carbon/human/consistent_human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  icons/mob/mutant_bodyparts.dmi
  icons/mob/species/lizard/bodyparts.dmi
  icons/mob/species/lizard/frills.dmi
  icons/mob/species/lizard/horns.dmi
  icons/mob/species/lizard/markings.dmi
  icons/mob/species/lizard/tails.dmi
  icons/mob/species/misc/cat.dmi
  icons/mob/species/misc/fox.dmi
Labels: Sprites, Admin, Code change

#2247 re:Saint-Roumain Militia
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/toggle.dmi
  icons/mob/clothing/under/suits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/toggle.dmi
  icons/obj/clothing/under/suits.dmi
Labels: Sprites

#2248 Minutemen But Actually Good Looking
  code/game/objects/items/storage/belt.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/clothing/suits/toggle.dmi
  icons/mob/clothing/under/command.dmi
  icons/mob/clothing/under/security.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  icons/obj/clothing/suits/toggle.dmi
  icons/obj/clothing/under/command.dmi
  icons/obj/clothing/under/security.dmi
Labels: Sprites, Code change

#2245 Darker moff underwings, updated moon fly wing sprite
  icons/mob/moth_wings.dmi
Labels: Sprites

#2236 Removes grav anomalies from rock planet cave spawners
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Code change

#2238 Access restricts the Aegis bridge
  _maps/shuttles/shiptest/syndicate_aegis.dmm
Labels: Map Change

#2249 Revert "outpost tweaks & fixes"
  _maps/outpost/hangar/nt_asteroid_56x40.dmm
  _maps/outpost/hangar/test_20x20.dmm
  _maps/outpost/hangar/test_2_20x20.dmm
  _maps/outpost/hangar/test_2_40x20.dmm
  _maps/outpost/hangar/test_2_40x40.dmm
  _maps/outpost/hangar/test_2_56x20.dmm
  _maps/outpost/hangar/test_40x20.dmm
  _maps/outpost/hangar/test_40x40.dmm
  _maps/outpost/hangar/test_56x20.dmm
  _maps/outpost/hangar/test_56x40.dmm
  _maps/outpost/outpost_test_1.dmm
  _maps/outpost/outpost_test_2.dmm
  code/game/area/areas/outpost.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/objects/outpost/outpost_types.dm
Labels: Map Change, Code change

#2258 Adds a bunch of cargo related jumpsuit sprites for keporis. Take two
  code/modules/clothing/under/jobs/cargo.dm
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
Labels: Sprites, Code change

#2231 removes beach_push_it
  _maps/RandomRuins/BeachRuins/beach_push_it.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/beachplanet.dm
Labels: Map Change, Code change

#2240 Sprites, repaths
  _maps/shuttles/shiptest/solgov_paracelsus.dmm
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  code/modules/clothing/outfits/solgov.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/jobs/job_types/prisoner.dm
  icons/mob/clothing/patient.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/patient_lefthand.dmi
  icons/mob/inhands/patient_righthand.dmi
  icons/mob/species/misc/digitigrade_shoes.dmi
  icons/obj/clothing/patient.dmi
  icons/obj/clothing/under/medical.dmi
Labels: Map Change, Sprites, Code change

#2135 Slightly more robust holopads
  code/datums/holocall.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/machinery/hologram.dm
Labels: Code change

#2207 Ports Assorted Do_After Chicanary
  code/__HELPERS/mobs.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Code change

#2261 Removes printing circuit imprinters
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Code change

#2259 Redoes Cowboy Hats
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites

#2263 Kepori Clothing expansion
  code/__DEFINES/species_clothing_defines.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/clothing/underwear/species/underwear_socks_kepori.dmi
  icons/mob/clothing/underwear/species/underwear_torso_kepori.dmi
  icons/mob/species/kepori/onmob_belt_kepori.dmi
  icons/mob/species/kepori/onmob_eyes_kepori.dmi
  icons/mob/species/kepori/onmob_feet_kepori.dmi
  icons/mob/species/kepori/onmob_hands_kepori.dmi
  icons/mob/species/kepori/onmob_head_kepori.dmi
  icons/mob/species/kepori/onmob_mask_kepori.dmi
  icons/mob/species/kepori/onmob_suit_kepori.dmi
Labels: Sprites, Test Merge Candidate, Code change

#2234 Remove cloak storage
  code/datums/components/storage/concrete/pockets.dm
  code/modules/clothing/suits/cloaks.dm
Labels: Code change

#2229 The Darkening
  _maps/shuttles/shiptest/independent_beluga.dmm
  _maps/shuttles/shiptest/independent_box.dmm
  _maps/shuttles/shiptest/independent_boyardee.dmm
  _maps/shuttles/shiptest/independent_bubble.dmm
  _maps/shuttles/shiptest/independent_byo.dmm
  _maps/shuttles/shiptest/independent_caravan.dmm
  _maps/shuttles/shiptest/independent_halftrack.dmm
  _maps/shuttles/shiptest/independent_junker.dmm
  _maps/shuttles/shiptest/independent_kilo.dmm
  _maps/shuttles/shiptest/independent_lagoon.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/independent_masinyane.dmm
  _maps/shuttles/shiptest/independent_meta.dmm
  _maps/shuttles/shiptest/independent_nemo.dmm
  _maps/shuttles/shiptest/independent_pillbottle.dmm
  _maps/shuttles/shiptest/independent_rigger.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  _maps/shuttles/shiptest/independent_schmiedeberg.dmm
  _maps/shuttles/shiptest/independent_shepherd.dmm
  _maps/shuttles/shiptest/independent_shetland.dmm
  _maps/shuttles/shiptest/independent_tranquility.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_talos.dmm
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  _maps/shuttles/shiptest/minutemen_vela.dmm
  _maps/shuttles/shiptest/nanotrasen_delta.dmm
  _maps/shuttles/shiptest/nanotrasen_gecko.dmm
  _maps/shuttles/shiptest/nanotrasen_osprey.dmm
  _maps/shuttles/shiptest/nanotrasen_skipper.dmm
  _maps/shuttles/shiptest/pirate_ember.dmm
  _maps/shuttles/shiptest/pirate_libertatia.dmm
  _maps/shuttles/shiptest/pirate_noderider.dmm
  _maps/shuttles/shiptest/radio_funny.dmm
  _maps/shuttles/shiptest/solgov_chronicle.dmm
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  _maps/shuttles/shiptest/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/shiptest/syndicate_gec_lugol.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_hyena.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_komodo.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  _maps/shuttles/shiptest/syndicate_twinkleshine.dmm
  _maps/shuttles/subshuttles/independent_kunai.dmm
  _maps/shuttles/subshuttles/independent_sugarcube.dmm
  code/game/area/ship_areas.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Map Change, Code change

#2253 Ship Select now clearly and visibly shows what faction a ship is on both purchase and late join.
  code/__HELPERS/names.dm
  code/modules/mob/dead/new_player/ship_select.dm
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: TGUI, Code change

#2270 gown path fix
  _maps/shuttles/shiptest/solgov_paracelsus.dmm
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  code/modules/clothing/outfits/solgov.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/jobs/job_types/prisoner.dm
Labels: Map Change, Code change

#2265 IPC Age Fix
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Code change

#2251 Stops ships from accelerating when nobody is at a helm
  code/modules/overmap/helm.dm
Labels: Code change

#2278 Super minor ship lighting stuff
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/independent_schmiedeberg.dmm
  _maps/shuttles/shiptest/independent_shetland.dmm
Labels: Map Change

#2282 fix skin buttons not working for interviewees (let them read the rules)
  code/__DEFINES/statpanel.dm
  code/__HELPERS/verbs.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Blame Zephyr, Code change

#2283 Increases the volume of money noises
  sound/items/handling/coin_drop.ogg
  sound/items/handling/coin_pickup.ogg
  sound/items/handling/dosh_drop.ogg
  sound/items/handling/dosh_pickup.ogg
Labels: Sound

#2289 Kills the Icecropolis Ruin
  _maps/RandomRuins/IceRuins/icemoon_underground_icecropolis.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
Labels: Map Change, Code change

#2288 Adds Cameras To The Chronicle
  _maps/configs/solgov_chronicle.json
  _maps/shuttles/shiptest/solgov_chronicle.dmm
Labels: Map Change

#2281 IRMG aesthetic updates: the adminbus fun toys
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/species/kepori/onmob_suit_kepori.dmi
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites, Code change

#2176 Finishes The Ballistic Rework
  _maps/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/shuttles/shiptest/independent_dwayne.dmm
  _maps/shuttles/shiptest/independent_nemo.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  _maps/shuttles/shiptest/srm_glaive.dmm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/ballistic/lmg.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  code/modules/projectiles/ammunition/special/gauss.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/lmg.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/boxes_magazines/external/sniper.dm
  code/modules/projectiles/boxes_magazines/external/toy.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/boxes_magazines/internal/derringer.dm
  code/modules/projectiles/boxes_magazines/internal/grenade.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/bullets/gauss.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/research/designs.dm
  code/modules/research/designs/weapon_designs.dm
  icons/obj/ammo.dmi
  icons/obj/ammo_bullets.dmi
Labels: Map Change, Sprites, Code change

#2246 LOOC Fixes
  code/__DEFINES/chat.dm
  code/__DEFINES/logging.dm
  code/__DEFINES/say.dm
  code/__HELPERS/_logging.dm
  code/_globalvars/configuration.dm
  code/datums/chatmessage.dm
  code/game/atoms.dm
  code/modules/admin/admin.dm
  code/modules/client/preferences_toggles.dm
  code/modules/client/verbs/looc.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mentor/verbs/mentorsay.dm
  code/modules/mob/say_vr.dm
  icons/UI_Icons/chat/chat_icons.dmi
  interface/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Sprites, Admin, TGUI, Code change

#2268 Adds mech purchasing, jackhammer purchasing, anti radiation medkit.
  code/game/mecha/working/clarke.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/tools.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  shiptest.dme
Labels: DME Edit, Code change

#2273 Assorted rock behaviors
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/RockRuins/rockplanet_crash_cult.dmm
  _maps/RandomRuins/RockRuins/rockplanet_cult.dmm
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/RandomRuins/RockRuins/rockplanet_miningexpedition.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/RandomRuins/SpaceRuins/oretruck.dmm
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_clowncrash.dmm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/datums/mapgen/single_biome/WasteplanetCaves.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/closed/minerals.dm
Labels: Map Change, Code change

#2237 Removes putting machines in walls
  code/game/objects/structures/false_walls.dm
Labels: Code change

#2276 Cleans Melter Anomalies a little
  code/game/objects/effects/anomalies/anomalies_melter.dm
  code/modules/assembly/signaler.dm
Labels: Code change

#2224 Mudskipper-class Salvage Clipper
  _maps/configs/independent_mudskipper.json
  _maps/configs/independent_scav.json
  _maps/shuttles/shiptest/independent_mudskipper.dmm
  _maps/shuttles/shiptest/independent_scav.dmm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/overmap/helm.dm
  code/modules/reagents/reagent_containers/jug.dm
Labels: Map Change, Code change

#2294 Adds crop turtleneck
  code/modules/mob/dead/new_player/sprite_accessories/underwear/underwear_torso.dm
  icons/mob/clothing/underwear/underwear_torso.dmi
Labels: Sprites, Code change

#2296 fix turtleneck
  code/modules/mob/dead/new_player/sprite_accessories/underwear/underwear_torso.dm
Labels: Code change

#2047 New Lavaland Ruin: The Nanotrasen Genetics Research Facility
  _maps/RandomRuins/LavaRuins/lavaland_surface_codelab.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/turfs/open/floor/plating/lavaland.dm
  code/modules/ruins/lavalandruin_code/codelab.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#2298 various resprites
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/aibots.dmi
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/obj/defib.dmi
  icons/obj/lighting.dmi
  icons/obj/storage.dmi
  icons/obj/tools.dmi
Labels: Sprites, Code change

#2214 IRMG Vaquero-class Light Frigate
  _maps/configs/inteq_vaquero.json
  _maps/shuttles/shiptest/inteq_vaquero.dmm
Labels: Map Change

#2299 The iconfixongler
  code/game/machinery/iv_drip.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  icons/obj/iv_drip.dmi
  icons/obj/vending.dmi
Labels: Sprites, Code change

#2284 Make IPC able to recharge at borg stations
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Code change

#2275 Pill Press
  code/modules/cargo/packs/chemistry.dm
  code/modules/reagents/chemistry/machinery/chem_press.dm
  icons/obj/chemical.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2306 Fixes an abundance of mapping icon sprites in flora and mineral walls as well as invisible trees on sandplanet
  code/game/objects/structures/flora.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor/plating/whitesands.dm
  code/modules/hydroponics/grown/spaceflora.dm
  code/modules/mining/lavaland/ash_flora.dm
  icons/obj/lavaland/ash_flora.dmi
Labels: Sprites, Code change

#2317 Jukebox icon state fix
  icons/obj/stationobjs.dmi
Labels: Sprites
