Repository shiptest-ss13/Shiptest, pull requests merged in 2023-12, with the labels that each got.

#2545 remove sgt report
  code/modules/admin/admin_verbs.dm
Labels: Admin, Code change

#2541 You no longer beat R&D machinery when linking
  code/modules/research/rdmachines.dm
Labels: Code change

#2540 New Gorlex Marauders Part 1: Hardsuits!
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_luxembourg.dmm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Map Change, Sprites, Code change

#2559 hades missing sprites for right hand in-hands fix
  icons/mob/inhands/weapons/guns_righthand.dmi
Labels: Sprites

#2560 Fixes tackles causing semi-permanent slowdown, and not being able to trigger grabs
  code/datums/components/tackle.dm
Labels: Code change

#2561 Casually wearing your tactical turtleneck no longer makes it invisible
  icons/mob/species/misc/digitigrade.dmi
Labels: Sprites

#2562 Nigiri sushi sprite fix
  icons/obj/food/food.dmi
Labels: Sprites

#2555 stops outposts placing on top of space
  code/modules/overmap/objects/outpost/outpost_types.dm
Labels: Code change

#2537 Total golem death
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/map_catalogue.txt
  code/__DEFINES/DNA.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/lists/names.dm
  code/_globalvars/lists/poll_ignore.dm
  code/controllers/subsystem/traumas.dm
  code/datums/components/spooky.dm
  code/datums/diseases/advance/symptoms/species.dm
  code/datums/mind.dm
  code/datums/status_effects/debuffs.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/turfs/closed/minerals.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/jobs/jobs.dm
  code/modules/language/language_holder.dm
  code/modules/language/terrum.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/xenobiology/crossbreeding/charged.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/research/xenobiology/crossbreeding/industrial.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/spells/spell_types/construct_spells.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/tongue.dm
  code/modules/surgery/organs/vocal_cords.dm
  icons/mob/human_parts.dmi
  icons/mob/human_parts_greyscale.dmi
  icons/obj/surgery.dmi
  shiptest.dme
  strings/names/golem.txt
Labels: Map Change, DME Edit, Sprites, Code change

#2535 fixes some backend shipjoin stuff
  code/modules/jobs/job_exp.dm
  code/modules/mob/dead/new_player/ship_select.dm
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: TGUI, Code change

#2517 Weather Radio Port
  code/__DEFINES/colors.dm
  code/datums/components/weatherannouncer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/mining/equipment/miningradio.dm
  code/modules/research/designs/mining_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/miningradio.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2499 fixes unit tests
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/configs/nanotrasen_heron.json
  _maps/shuttles/independent/independent_pillbottle.dmm
  _maps/shuttles/independent/independent_rube_goldberg.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/independent_superpill.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/modules/atmospherics/machinery/pipes/heat_exchange/junction.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/simple.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/power/singularity/emitter.dm
  code/modules/shuttle/shuttle.dm
  code/modules/unit_tests/ship_outpost_placement.dm
Labels: Map Change, Code change

#2564 Malleable glass fix
  code/modules/reagents/reagent_containers.dm
Labels: Code change

#2497 Changes the description and path of the Gorlex uniforms
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/outfits/syndicate.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Map Change, Sprites, Code change

#2573 licorice
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  icons/obj/food/frozen_treats.dmi
Labels: Sprites, Code change

#2550 Update wintercoats, sort files
  code/modules/clothing/suits/wintercoats.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/head/winterhood.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/clothing/suits/wintercoat.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/head/winterhood.dmi
  icons/obj/clothing/suits/hooded.dmi
  icons/obj/clothing/suits/wintercoat.dmi
Labels: Sprites, Code change

#2577 Limits Riggs-class ships to one
  _maps/configs/independent_rigger.json
Labels: Map Change

#2579 New vote sound, puts vote in examine blocks
  code/controllers/subsystem/vote.dm
Labels: Code change

#2580 fix a few easy to spot hard deletes
  code/game/machinery/computer/crew.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/vehicles/scooter.dm
Labels: Code change

#2570 Adjusts BYOND Skin Buttons
  code/__DEFINES/statpanel.dm
  code/controllers/configuration/entries/general.dm
  config/config.txt
  interface/interface.dm
  interface/skin.dmf
  tgui/packages/tgui-panel/themes.js
Labels: Config, TGUI, Code change

#2567 bowls/mushroom bowls now use fill icon stuff for their fillings
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/mining/lavaland/ash_flora.dm
  icons/obj/food/soupsalad.dmi
  icons/obj/lavaland/ash_flora.dmi
Labels: Sprites, Code change

#2565 Syndicate undersuits without alt appearances are no longer adjustable into the letters "suit"
  code/modules/clothing/under/syndicate.dm
Labels: Code change

#2558 Ends the centuries-old war between David the goliath and the Hyena turrets
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
Labels: Map Change

#2568 Fixes APC icon weirdness
  code/modules/power/apc.dm
Labels: Code change

#2542 Multi-Color tails, small tail, and a new marking
  code/modules/mob/dead/new_player/sprite_accessories/_sprite_accessories.dm
  code/modules/mob/dead/new_player/sprite_accessories/lizard.dm
  icons/mob/clothing/underwear/underwear_legs.dmi
  icons/mob/species/lizard/bodyparts.dmi
  icons/mob/species/lizard/frills.dmi
  icons/mob/species/lizard/markings.dmi
  icons/mob/species/lizard/spines.dmi
  icons/mob/species/lizard/tails.dmi
Labels: Sprites, Code change

#2539 Removes a duplicate air alarm on the Kansatsu
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
Labels: Map Change

#2578 Basic ship spawning queue
  code/controllers/subsystem/overmap.dm
  code/modules/mob/dead/new_player/ship_select.dm
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: TGUI, Code change

#2487 Splits unit tests into MULTIPLE concurrent jobs
  .github/workflows/ci_suite.yml
  .github/workflows/run_integration_tests.yml
  code/_compile_options.dm
  code/modules/unit_tests/_unit_tests.dm
Labels: GitHub, Code change

#2572 Removes telekinetic beaker cap manipulation
  code/modules/reagents/reagent_containers.dm
Labels: Code change

#2413 {Icemoon, Ruin} The Crashed Holemaker
  _maps/RandomRuins/IceRuins/icemoon_crashed_holemaker.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/turfs/open/floor/plating/planet.dm
  code/modules/awaymissions/corpse.dm
  icons/effects/mapping_helpers.dmi
Labels: Map Change, Sprites, Code change

#2363 Adds a crashed pubby as a sand world ruin
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/whitesands.dm
  code/game/area/areas/ruins/sandplanet.dm
Labels: Map Change, Code change

#2593 Adds what seems to be a missing pixel to the skillcapes and fixes a dead pixel on the cleaning skillcape
  icons/mob/clothing/neck.dmi
Labels: Sprites

#2588 AB+ blood fix
  code/datums/blood_type.dm
Labels: Code change

#2603 "fixes" material tiles
  code/game/turfs/open/floor.dm
  icons/turf/floors/tiles.dmi
Labels: Sprites, Code change

#2607 Fix science goggles displaying wrong research value for anomalies
  code/game/objects/effects/anomalies/_anomalies.dm
Labels: Code change

#2604 Vox Hardhats Fix
  icons/mob/species/vox/onmob_head_vox.dmi
Labels: Sprites

#2601 Fixes double defined outfit datum
  code/modules/jobs/job_types/assistant.dm
Labels: Code change

#2597 crate shjelf layer fix
  code/game/objects/structures/crateshelf.dm
Labels: Code change

#2596 Tweaks memo input text slightly
  code/modules/overmap/ships/owner_action.dm
Labels: Code change

#2592 fix for charliestation gravity
  _maps/RandomRuins/IceRuins/icemoon_underground_oldstation.dmm
  code/game/area/areas/ruins/space.dm
Labels: Map Change, Code change

#2591 Removes a flora with an error texture on Jungle_Paradise
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
Labels: Map Change

#2605 crate shelf UX tweaks
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crateshelf.dm
Labels: Code change

#2552 TGS Support Updates
  code/__DEFINES/misc.dm
  code/__HELPERS/chat.dm
  code/controllers/subsystem/ping.dm
  code/datums/tgs_event_handler.dm
  code/modules/admin/chat_commands.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/panicbunker.dm
  code/modules/discord/tgs_commands.dm
Labels: Admin, GitHub, Code change

#2556 Removes the (Independent) Lieutenant job
  _maps/configs/independent_shetland.json
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/datums/components/storage/concrete/pockets.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/berets.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/accessories.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Map Change, Code change

#2609 make world status use config values
  .vscode/settings.json
  code/game/world.dm
Labels: Code change

#2608 Fixes the decompressed katana bricking itself
  code/game/objects/items/melee/misc.dm
Labels: Code change

#2602 Syndicate Jacket Fix
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/modules/clothing/suits/armor.dm
  code/modules/shuttle/shuttle_rotate.dm
Labels: Map Change, Code change

#2590 Nerfs legion core implanting to not be an aheal
  code/modules/mining/equipment/regenerative_core.dm
Labels: Code change

#2586 Heating rations now provides their bonus vitamin/nutriment reagents
  code/modules/food_and_drinks/food/ration.dm
Labels: Code change
