Repository shiptest-ss13/Shiptest, pull requests merged in 2023-11, with the labels that each got.

#2450 Recolors the leather duster
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#2453 Reworks The Visuals Of Independent And Nanotrasen Captains
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  code/__byond_version_compat.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/jobs/job_types/captain.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/under/command.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/under/command.dmi
Labels: Map Change, Sprites, Code change

#2440 Fixes snow siding pathing.
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  code/game/objects/effects/decals/turfdecal/weather.dm
  icons/turf/snow.dmi
Labels: Map Change, Sprites, Code change

#2451 You can no longer respawn as a character with a name that matches an already existing character
  code/_globalvars/lists/mobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/mob.dm
Labels: Code change

#2460 Quick tweaks to syndicate clothes and the Hunter Montagne
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites

#2457 Digi sprites for pants, cmm jumpsuit
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  code/modules/antagonists/gang/gang.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/pants.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/under/shorts_pants.dmi
  icons/mob/species/misc/digitigrade.dmi
Labels: Map Change, Sprites, Code change

#2287 PGF Content Part One
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/game/objects/items.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/outfits/gezena.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/faction/gezena/energy_gunsword.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/clothing/faction/gezena/back.dmi
  icons/mob/clothing/faction/gezena/belt.dmi
  icons/mob/clothing/faction/gezena/feet.dmi
  icons/mob/clothing/faction/gezena/hands.dmi
  icons/mob/clothing/faction/gezena/head.dmi
  icons/mob/clothing/faction/gezena/neck.dmi
  icons/mob/clothing/faction/gezena/suits.dmi
  icons/mob/clothing/faction/gezena/uniforms.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/inhands/faction/gezena/gezena_lefthand.dmi
  icons/mob/inhands/faction/gezena/gezena_righthand.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_shoes.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/faction/gezena/belt.dmi
  icons/obj/clothing/faction/gezena/feet.dmi
  icons/obj/clothing/faction/gezena/hands.dmi
  icons/obj/clothing/faction/gezena/head.dmi
  icons/obj/clothing/faction/gezena/neck.dmi
  icons/obj/clothing/faction/gezena/suits.dmi
  icons/obj/clothing/faction/gezena/uniforms.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/guns/faction/gezena/48x32.dmi
  icons/obj/guns/faction/gezena/energy.dmi
  icons/obj/guns/faction/gezena/lefthand.dmi
  icons/obj/guns/faction/gezena/righthand.dmi
  icons/obj/power.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  shiptest.dme
  sound/weapons/gun/energy/laserpistol.ogg
  sound/weapons/gun/energy/lasersniper.ogg
Labels: DME Edit, Sprites, Sound, Code change

#2358 Genericises multi-dock prevention
  code/controllers/subsystem/overmap.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/docking_ticket.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/shuttle/shuttle.dm
Labels: Code change

#2385 Adds the Inkwell-class Supply Freighter
  _maps/configs/solgov_inkwell.json
  _maps/shuttles/solgov/solgov_inkwell.dmm
Labels: Map Change

#2464 re:hair: baseline
  code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  icons/mob/hair_extensions.dmi
  icons/mob/human_face.dmi
Labels: Sprites, Code change

#2443 Gun Safeties
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/unit_tests/projectiles.dm
  icons/obj/guns/safety.dmi
Labels: Sprites, Code change

#2456 Fixes bloodstains getting stuck
  code/datums/components/forensics.dm
  code/datums/elements/decals/blood.dm
Labels: Test Merge Candidate, Code change

#2391 Adds a metric fuckton of pAI faces
  code/modules/mob/living/silicon/pai/software.dm
  icons/obj/aicards.dmi
Labels: Sprites, Code change

#2221 Syndicate-ing
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/configs/syndicate_aegis.json
  _maps/configs/syndicate_cybersun_kansatsu.json
  _maps/configs/syndicate_gorlex_hyena.json
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/configs/syndicate_lugol.json
  _maps/configs/syndicate_luxembourg.json
  _maps/configs/syndicate_twinkleshine.json
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/factions.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/buttons.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/embedded_controller/airlock_controller.dm
  code/game/machinery/igniter.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/clothing/outfits/syndicate.dm
  code/modules/clothing/outfits/vr.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/brig_physician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Code change

#2476 Add a warning for last words.
  code/datums/components/edit_complainer.dm
  code/modules/mob/living/living_say.dm
Labels: Code change

#2475 Finishes up PH strings for PGF items
  code/modules/clothing/factions/gezena.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/faction/gezena/energy_gunsword.dm
Labels: Code change

#2166 Trickwines! Part 2!
  _maps/shuttles/roumain/srm_glaive.dmm
  code/__DEFINES/reagents.dm
  code/datums/components/crafting/recipes.dm
  code/game/MapData/shuttles/srm_glaive.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/effects/forcefields.dm
  code/game/objects/items/manuals.dm
  code/game/objects/structures/flora.dm
  code/modules/admin/verbs/pray.dm
  code/modules/food_and_drinks/drinks/drinks/breakawayflask.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/food_and_drinks/kitchen_machinery/big_mortar.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/movespeed/modifiers/reagent.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
  code/modules/reagents/reagent_containers/mortar.dm
  code/modules/spells/spell_types/forcewall.dm
  icons/hud/screen_alert.dmi
  icons/mob/inhands/misc/food_lefthand.dmi
  icons/mob/inhands/misc/food_righthand.dmi
  icons/obj/drinks.dmi
  icons/obj/objects.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Admin, Code change

#2478 syndicate turret update
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Map Change, Code change

#2465 Static Whispers
  code/__DEFINES/say.dm
  code/game/objects/effects/anomalies/anomalies_static.dm
Labels: Code change

#2477 "Fixes" Subshuttle Error
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Code change

#2482 Strangles the CI with my bare hands
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Code change

#2470 The Evolution of Bar RP
  code/_onclick/hud/radial.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/sauna.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/cargo/packs/tools.dm
  code/modules/clothing/towels.dm
  icons/effects/effects.dmi
  icons/mob/clothing/towel.dmi
  icons/obj/clothing/towel.dmi
  icons/obj/structures.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2486 God
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Code change

#2484 The Cybersun-ening
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/outfits/syndicate.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites, Code change

#2479 Fixes scanner icon setting
  code/modules/overmap/missions/research_mission.dm
Labels: Code change

#2471 Changes Plasmasoul
  code/game/objects/effects/anomalies/anomalies_plasmasoul.dm
Labels: Code change

#2442 Does Penance So The Ghosts Go Away
  _maps/outpost/elevator_indie.dmm
  _maps/outpost/indie_space.dmm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_maps.dm
  code/game/turfs/closed/_closed.dm
  code/modules/overmap/objects/outpost/outpost_types.dm
  icons/obj/decals.dmi
Labels: Map Change, Sprites, Code change

#2415 Bubble docking adjustment
  _maps/shuttles/independent/independent_bubble.dmm
Labels: Map Change

#2334 Massive Ruin Fixes + Removals PR
  _maps/RandomRuins/JungleRuins/jungle_spider.dmm
  _maps/RandomRuins/RockRuins/rockplanet_clock.dmm
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_golemhijack.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_youreinsane.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/RandomRuins/SpaceRuins/nuclear_dump.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/jungle.dm
  code/datums/ruins/rockplanet.dm
  code/datums/ruins/space.dm
  code/datums/ruins/whitesands.dm
  code/game/area/areas/ruins/space.dm
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Map Change, Code change

#2315 Eoehoma Firearms (& friends)
  _maps/RandomRuins/IceRuins/icemoon_underground_oldstation.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  check_regex.yaml
  code/__DEFINES/dcs/signals.dm
  code/datums/components/fullauto.dm
  code/game/machinery/recharger.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/energy/_energy.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/faction/gezena/energy_gunsword.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/vending/security.dm
  icons/mob/actions/actions_items.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  icons/obj/guns/48x32guns.dmi
  icons/obj/guns/energy.dmi
  icons/obj/projectiles.dmi
  icons/obj/storage.dmi
  sound/weapons/gun/laser/e-fire.ogg
  sound/weapons/gun/laser/e40_bal.ogg
  sound/weapons/gun/laser/e40_las.ogg
  sound/weapons/gun/laser/heavy_laser.ogg
  sound/weapons/gun/laser/nt-fire.ogg
Labels: Map Change, Sprites, Sound, Test Merge Candidate, Code change

#2494 Fixes a hat
  code/modules/clothing/outfits/syndicate.dm
Labels: Code change

#2492 Trickwine Hotfix
  code/__DEFINES/traits.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/outline.dm
  code/modules/food_and_drinks/drinks/drinks/breakawayflask.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
  icons/mob/inhands/misc/food_lefthand.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2504 Restores space parallax to its former whimsical glory.
  icons/effects/parallax.dmi
Labels: Sprites

#2510 remove deepthroat
  code/modules/food_and_drinks/food/snacks_meat.dm
Labels: Code change

#2514 removes more weird
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code change

#2516 Removes "fat" status and everything related.
  _maps/deprecated/Ruins/TheDerelict.dmm
  _maps/deprecated/Ships/nanotrasen_pubby.dmm
  _maps/shuttles/nanotrasen/nanotrasen_mimir.dmm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/hud/alert.dm
  code/datums/components/mood.dm
  code/datums/components/tackle.dm
  code/datums/mood_events/needs_events.dm
  code/game/machinery/fat_sucker.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/ruins/objects_and_mobs/sin_ruins.dm
  code/modules/surgery/lipoplasty.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/ScannerGate.js
  tools/UpdatePaths/Scripts/2516_remove_fat.txt
Labels: Map Change, DME Edit, TGUI, Code change

#2512 Fixes invisible radiation medkits
  code/game/objects/items/storage/firstaid.dm
  icons/obj/storage.dmi
Labels: Sprites, Code change

#2507 New Space Parallax
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/parallax.dm
  icons/effects/parallax.dmi
  icons/turf/space.dmi
Labels: Sprites, Code change

#2524 changes the fancy pen font to Adobe Garamond
  code/__DEFINES/fonts.dm
Labels: Code change

#2518 add bad apple to ipc screen types
  code/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  icons/mob/ipc_accessories.dmi
Labels: Sprites, Code change

#2534 Assorted cringe removal pt.whatever
  _maps/RandomRuins/LavaRuins/lavaland_surface_dwarffortress.dmm
  _maps/RandomRuins/SpaceRuins/Fast_Food.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/shuttles/minutemen/minutemen_asclepius.dmm
  _maps/templates/holodeck_thunderdome1218.dmm
  code/controllers/subsystem/traumas.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/crafting/tailoring.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/implants/implantchair.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/mirror.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/medical.dm
  code/modules/cargo/exports/gear.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head.dmi
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/items_and_weapons.dmi
Labels: Map Change, Sprites, Code change

#2529 Fix digi sprite on marine armor subtypes
  code/modules/clothing/suits/armor.dm
Labels: Code change
