Repository shiptest-ss13/Shiptest, pull requests merged in 2023-03, with the labels that each got.

#1804 Rips out fitted var + removes lizard tail hiding
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  code/modules/clothing/under/jobs/civilian/curator.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirt_dress.dm
  code/modules/clothing/under/suits.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Code change

#1812 fixes rigger-c
  _maps/configs/deserter_rigger.json
Labels: Map Change

#1811 Justice for the Justice helmet
  code/modules/clothing/head/helmet.dm
Labels: Code change

#1801 Railing fix
  code/game/objects/structures/railings.dm
Labels: Code change

#1795 Re:pais
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/software.dm
  icons/obj/aicards.dmi
  icons/obj/pda.dmi
Labels: Sprites, Code change

#1796 Fixed #1709 issue on map inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
Labels: Map Change

#1769 Fixes Kepori and Vox prosthetics when spawning
  code/modules/client/preferences.dm
Labels: Code change

#1791 11 new emergency holopads
  _maps/shuttles/shiptest/independent_boyardee.dmm
  _maps/shuttles/shiptest/independent_hightide.dmm
  _maps/shuttles/shiptest/independent_midway.dmm
  _maps/shuttles/shiptest/independent_nemo.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  _maps/shuttles/shiptest/independent_scav.dmm
  _maps/shuttles/shiptest/independent_tide.dmm
  _maps/shuttles/shiptest/independent_tranquility.dmm
  _maps/shuttles/shiptest/independent_trunktide.dmm
  _maps/shuttles/shiptest/independent_wright.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_hound.dmm
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  _maps/shuttles/shiptest/nanotrasen_goon.dmm
  _maps/shuttles/shiptest/nanotrasen_powerrangers.dmm
  _maps/shuttles/shiptest/radio_funny.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  _maps/shuttles/shiptest/syndicate_boyardee_b.dmm
  _maps/shuttles/shiptest/syndicate_gec_lugol.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  code/game/objects/items/storage/belt.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/mob/living/carbon/hologram/em_holopads.dm
  code/modules/mob/living/carbon/hologram/hologram.dm
Labels: Map Change, Code change

#1815 Moar railings re-pr
  code/game/objects/structures/railings.dm
  icons/obj/fluff.dmi
  icons/obj/railing.dmi
  icons/obj/railing_m.dmi
Labels: Sprites, Code change

#1794 Tweaks the Lugol
  _maps/configs/syndicate_lugol.json
  _maps/shuttles/shiptest/syndicate_gec_lugol.dmm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/shaft_miner.dm
Labels: Map Change, Code change

#1816 Adds an extra check to prevent admins from spawning planets on top of others
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin, Test Merge Candidate, Code change

#1814 Adds black holes as stars
  code/modules/overmap/objects/star.dm
  icons/misc/overmap_larger.dmi
Labels: Sprites, Test Merge Candidate, Code change

#1758 potentially fixes incorrect ruin turf icon_states
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating.dm
Labels: Code change

#1640 Mashes several of the Whitesands Survivor Camp ruins into one extra large ruin
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_adobe.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_farm.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_gunslingers.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_hunters.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_survivors.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/whitesands.dm
Labels: Map Change, Code change, New Ruin

#1832 Ship descriptions
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: TGUI

#1829 Fixes Wikibooks
  code/game/objects/items/manuals.dm
  code/modules/library/lib_items.dm
Labels: Code change

#1828 Fix wall safes
  icons/obj/storage.dmi
Labels: Sprites

#1827 Remaps the Osprey
  _maps/configs/nanotrasen_osprey.json
  _maps/shuttles/shiptest/nanotrasen_osprey.dmm
Labels: Map Change

#1817 Map Exporter Overhaul
  code/__HELPERS/_lists.dm
  code/datums/shuttles.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/writer.dm
  code/modules/power/apc.dm
  code/modules/reagents/reagent_containers.dm
  icons/obj/lighting.dmi
Labels: Sprites, Admin, Test Merge Candidate, Code change

#1835 uncomments populate_turfs CHECK_TICK (oops!)
  code/datums/mapgen/_MapGenerator.dm
Labels: Code change

#1837 Fixes connected computer sprites
  icons/obj/computer.dmi
Labels: Sprites

#1780 Overmap Expansion 4.2
  code/__HELPERS/unsorted.dm
  code/datums/mapgen/planetary/BeachGenerator.dm
  code/datums/mapgen/planetary/JungleGenerator.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/single_biome/WasteplanetCaves.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/lobstrosity.dm
  icons/mob/brimdemon.dmi
  icons/obj/flora/grass-sticks.dmi
  icons/obj/flora/rocks.dmi
  icons/obj/lavaland/artefacts.dmi
  icons/obj/lavaland/ash_flora.dmi
  icons/obj/mining.dmi
  shiptest.dme
  sound/creatures/brimdemon.ogg
  sound/creatures/brimdemon_crush.ogg
Labels: DME Edit, Sprites, Sound, Test Merge Candidate, Code change

#1783 Botany Balance Pass
  _maps/RandomRuins/BeachRuins/beach_push_it.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_slimelab.dmm
  _maps/RandomRuins/JungleRuins/jungle_botany.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_seed_vault.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/deprecated/Ships/syndicate_geneva.dmm
  _maps/shuttles/shiptest/independent_boyardee.dmm
  _maps/shuttles/shiptest/independent_lagoon.dmm
  _maps/shuttles/shiptest/independent_meta.dmm
  _maps/shuttles/shiptest/independent_schmiedeberg.dmm
  _maps/shuttles/shiptest/independent_shepherd.dmm
  _maps/shuttles/shiptest/independent_tranquility.dmm
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  _maps/shuttles/shiptest/syndicate_boyardee_b.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/salvaging.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/peas.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/research/designs/biogenerator_designs.dm
  code/modules/ruins/lavaland_ruin_code.dm
Labels: Map Change, Test Merge Candidate, Code change

#1778 fixes industrial_loading
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
Labels: Code change

#1845 The Lizardening Part One (And Friends)
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/clothing/under/cargo.dmi
  icons/mob/clothing/under/color.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/clothing/under/shorts_pants.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/mutant_bodyparts.dmi
  icons/mob/species/lizard/bodyparts.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_shoes.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits/hooded.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Sprites, Code change
