Repository shiptest-ss13/Shiptest, pull requests merged in 2023-06, with the labels that each got.

#1946 Shipturfs and various patchie
  _maps/shuttles/shiptest/independent_shepherd.dmm
  _maps/shuttles/shiptest/srm_glaive.dmm
  code/game/MapData/shuttles/srm_glaive.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/game/turfs/open/water.dm
  code/modules/jobs/job_types/chaplain.dm
Labels: Map Change, Code change

#2013 'fixed' the ticket panel for you.
  code/modules/admin/verbs/adminhelp.dm
Labels: Admin, Speed Mergeable, High Priority, Code change

#1973 IRMG Gunsprite update and IRMG marksman rifle
  code/modules/projectiles/guns/ballistic/automatic.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/48x32guns.dmi
  icons/obj/guns/projectile.dmi
Labels: Sprites, Code change

#2006 Ports updated food container sprites (TG)
  code/modules/food_and_drinks/food/condiment.dm
  icons/obj/food/containers.dmi
Labels: Sprites, Code change

#2023 Remove booty borgs
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/mob/robots.dmi
Labels: Sprites, Code change

#2019 Port tg attack animations
  code/game/atoms_movable.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Code change

#2012 Sets engine prechargers to 5kw charge by default.
  code/game/machinery/shuttle/shuttle_engine_types.dm
Labels: Code change

#2004 ports mothplushies and flushedplush
  code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
Labels: Sprites, Code change

#2002 fix grammatical stuff with elzuose
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/surgery/organs/tails.dm
Labels: Code change

#1995 changes the rig heat suit to use its own helmet
  code/game/MapData/shuttles/nanotrasen_powerrangers.dm
Labels: Code change

#1945 Overmap 4.5: Wasteplanet Expansion
  _maps/RandomRuins/RockRuins/rockplanet_heirophant.dmm
  code/__DEFINES/atmospherics.dm
  code/datums/atmosphere/planetary.dm
  code/datums/components/spawner.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/game/objects/effects/radiation.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/structures/hivebot.dm
  code/game/objects/structures/spawner.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
  code/game/turfs/open/water.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/overmap/planets/planet_types.dm
  code/modules/shuttle/on_move.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#1993 Shrinks the Kilo crew count
  _maps/configs/independent_kilo.json
Labels: Map Change

#1988 Moves poor cryo pod behavior onto base cryo pods.
  code/game/machinery/cryopod.dm
Labels: Code change

#2000 Flyswatter sprite changes
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Sprites

#2007 Lil things
  _maps/shuttles/shiptest/independent_box.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  code/datums/looping_sounds/item_sounds.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/decal_painter.dm
  code/game/objects/items/kitchen.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/accessories.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/drinnerware.dm
  code/modules/vending/wardrobes.dm
  icons/obj/chairs.dmi
  icons/obj/kitchen.dmi
  icons/obj/railing_m.dmi
  icons/obj/railing_modern.dmi
  icons/obj/smooth_structures/table_chem.dmi
Labels: Map Change, Sprites, Code change

#2005 Ports a tasty treat (the BLT)
  code/modules/food_and_drinks/food/snacks_sandwichtoast.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  icons/obj/food/burgerbread.dmi
Labels: Sprites, Code change

#2017 double beds [ported from Beestation]
  code/__DEFINES/dye_keys.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/bedsheet_bin.dm
  icons/obj/bedsheets.dmi
  icons/obj/objects.dmi
Labels: Sprites, Code change

#2024 Pixel shifting out of the way port from Skyrat
  code/modules/mob/mob_defines.dm
  code/modules/pixelshifting/pixelshift.dm
Labels: Code change

#2027 Cuts out Jobs On The Radio
  code/game/machinery/telecomms/broadcasting.dm
  code/game/say.dm
Labels: Code change

#1942 Tendril changes
  code/datums/components/spawner.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
Labels: Code change

#2015 The Tidal Barrier
  _maps/configs/independent_hightide.json
  _maps/configs/independent_tide.json
  _maps/configs/independent_trunktide.json
  _maps/deprecated/Ships/independent_tide.dmm
  _maps/shuttles/shiptest/independent_hightide.dmm
  _maps/shuttles/shiptest/independent_trunktide.dmm
Labels: Map Change

#2031 SolGov-ening part 4: Finishing Touches!
  code/game/objects/items/energyhalberd.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/outfits/solgov.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/paperwork/stamps.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  icons/stamp_icons/large_stamp-solgov.png
Labels: Sprites, Code change

#2043 Updates Namelists
  _maps/configs/independent_box.json
  _maps/configs/independent_boyardee.json
  _maps/configs/independent_bubble.json
  _maps/configs/independent_byo.json
  _maps/configs/independent_caravan.json
  _maps/configs/independent_dwayne.json
  _maps/configs/independent_halftrack.json
  _maps/configs/independent_kilo.json
  _maps/configs/independent_lagoon.json
  _maps/configs/independent_litieguai.json
  _maps/configs/independent_masinyane.json
  _maps/configs/independent_meta.json
  _maps/configs/independent_metis.json
  _maps/configs/independent_nemo.json
  _maps/configs/independent_pill.json
  _maps/configs/independent_rigger.json
  _maps/configs/independent_rube_goldberg.json
  _maps/configs/independent_scav.json
  _maps/configs/independent_schmiedeberg.json
  _maps/configs/independent_shepherd.json
  _maps/configs/independent_shetland.json
  _maps/configs/independent_solar.json
  _maps/configs/independent_tranquility.json
  _maps/configs/inteq_colossus.json
  _maps/configs/inteq_hound.json
  _maps/configs/inteq_talos.json
  _maps/configs/minutemen_asclepius.json
  _maps/configs/minutemen_cepheus.json
  _maps/configs/minutemen_corvus.json
  _maps/configs/nanotrasen_delta.json
  _maps/configs/nanotrasen_gecko.json
  _maps/configs/nanotrasen_mimir.json
  _maps/configs/nanotrasen_osprey.json
  _maps/configs/nanotrasen_powerrangers.json
  _maps/configs/nanotrasen_skipper.json
  _maps/configs/pirate_ember.json
  _maps/configs/pirate_libertatia.json
  _maps/configs/pirate_noderider.json
  _maps/configs/srm_glaive.json
  _maps/configs/syndicate_aegis.json
  _maps/configs/syndicate_cybersun_kansatsu.json
  _maps/configs/syndicate_gorlex_hyena.json
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/configs/syndicate_lugol.json
  _maps/configs/syndicate_luxembourg.json
  _maps/configs/syndicate_twinkleshine.json
  _maps/ship_config_schema.json
  strings/ship_names.json
Labels: Map Change

#2035 Adds an overlay and sound to cleaning
  code/game/objects/items.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/mop.dm
  code/modules/detectivework/footprints_and_rag.dm
  icons/effects/effects.dmi
Labels: Sprites, Code change

#2021 Being on Harm Intent now causes you to face your mouse. Also ports mouseentered optimizations
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/mouse_entered.dm
  code/datums/keybinding/carbon.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/modules/client/client_procs.dm
  code/modules/mob/mob.dm
  code/modules/status_bar/status_bar.dm
  interface/skin.dmf
  shiptest.dme
Labels: DME Edit, Code change

#2044 Removes away missions
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/challenge.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/RandomZLevels/wildwest.dmm
Labels: Map Change

#2020 makes sarathi hiss more
  code/modules/surgery/organs/tongue.dm
Labels: Code change

#2016 Seaweed and sushi!
  code/datums/components/crafting/recipes.dm
  code/datums/mapgen/planetary/BeachGenerator.dm
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/research/designs/biogenerator_designs.dm
  icons/obj/food/food.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/lavaland/ash_flora.dmi
  icons/obj/stack_objects.dmi
Labels: Sprites, Code change

#2041 decal painer fix
  code/game/objects/items/decal_painter.dm
Labels: Code change

#2040 last modern railing fix
  icons/obj/railing_modern.dmi
Labels: Sprites

#2037 Adds buckling to adjacent objects and fixes a bug when climbing tables you are already on
  code/game/objects/buckling.dm
  code/game/objects/structures.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/kitchen_spike.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/ninja/suit/n_suit_verbs/energy_net_nets.dm
  code/modules/power/singularity/emitter.dm
Labels: Code change

#2045 Minor changes to the Syndicate Battle Sphere ruin
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
Labels: Map Change

#1920 Beluga-Class Transport (we rich as hell!)
  _maps/configs/independent_beluga.json
  _maps/shuttles/shiptest/independent_beluga.dmm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/security_officer.dm
Labels: Map Change, Code change

#2055 NT radio key reclamation lawsuit (band-aid fix TAKE TWO!)
  _maps/configs/independent_box.json
  _maps/configs/independent_boyardee.json
  _maps/configs/independent_meta.json
Labels: Map Change

#2051 Assorted Sabre Things
  code/game/objects/items/storage/belt.dm
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/items_and_weapons.dmi
Labels: Sprites, Code change

#2054 TileTest Part 1: Big Sweeping Changes!
  _maps/RandomRuins/BeachRuins/beach_colony.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_ikea_ai.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_weed_shack.dmm
  _maps/RandomRuins/SpaceRuins/astraeus.dmm
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/fueldepot.dmm
  _maps/RandomRuins/SpaceRuins/gondolaasteroid.dmm
  _maps/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/RandomRuins/SpaceRuins/nuclear_dump.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/SpaceRuins/transport18.dmm
  _maps/deprecated/Ships/independent_high.dmm
  _maps/shuttles/shiptest/independent_boyardee.dmm
  _maps/shuttles/shiptest/independent_bubble.dmm
  _maps/shuttles/shiptest/independent_caravan.dmm
  _maps/shuttles/shiptest/independent_dwayne.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/independent_meta.dmm
  _maps/shuttles/shiptest/independent_pillbottle.dmm
  _maps/shuttles/shiptest/independent_schmiedeberg.dmm
  _maps/shuttles/shiptest/independent_shetland.dmm
  _maps/shuttles/shiptest/independent_solar.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_hound.dmm
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
  _maps/shuttles/shiptest/nanotrasen_delta.dmm
  _maps/shuttles/shiptest/nanotrasen_osprey.dmm
  _maps/shuttles/shiptest/pirate_ember.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_komodo.dmm
  _maps/shuttles/subshuttles/independent_kunai.dmm
  code/__DEFINES/colors.dm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/items/decal_painter.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  icons/obj/smooth_structures/more_catwalk.dmi
  icons/turf/decals.dmi
  icons/turf/floors.dmi
  icons/turf/floors/shuttle_floors.dmi
  icons/turf/floors/techfloor.dmi
  icons/turf/floors/tiles.dmi
  icons/turf/wood.dmi
Labels: Map Change, Sprites, Code change

#2008 Aspawns byo
  _maps/configs/independent_byo.json
Labels: Map Change

#2072 Partial revert of bot stuff
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Code change

#2064 Replaces Bar Tables in maps
  _maps/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/shiptest/nanotrasen_mimir.dmm
  _maps/templates/holodeck_lounge.dmm
  tools/UpdatePaths/Scripts/2064_replace_bartables.txt
Labels: Map Change

#2063 Removes The Deepcore Mining Stuff
  _maps/shuttles/shiptest/independent_byo.dmm
  code/__DEFINES/DCM.dm
  code/__DEFINES/~whitesands_defines/machines.dm
  code/datums/dcmnet.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/pinpointer.dm
  code/game/turfs/closed/minerals.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/mining/deepcore/_deepcore.dm
  code/modules/mining/deepcore/drill.dm
  code/modules/mining/deepcore/equipment.dm
  code/modules/mining/deepcore/hopper.dm
  code/modules/mining/deepcore/hub.dm
  code/modules/mining/deepcore/ore_vein.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/ores_coins.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  shiptest.dme
  tools/UpdatePaths/Scripts/Removes Deepcore.txt
Labels: Map Change, DME Edit, Code change

#2073 Fixes the "Spawn Planet/Ruin" verb in the Fun tab
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin, Code change

#2048 Makes suits not hide as much mutant parts
  code/modules/mob/living/carbon/human/species.dm
Labels: Code change

#1914 Trickwines! Again!
  _maps/shuttles/shiptest/srm_glaive.dmm
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/manuals.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/movespeed/modifiers/reagent.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/obj/drinks.dmi
Labels: Map Change, Sprites, Code change

#2032 Updates the Talos
  _maps/configs/inteq_talos.json
  _maps/shuttles/shiptest/inteq_talos.dmm
Labels: Map Change

#2030 Remaps the Colossus's armory
  _maps/configs/inteq_colossus.json
  _maps/shuttles/shiptest/inteq_colossus.dmm
  code/game/objects/items/storage/toolbox.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  icons/obj/ammo.dmi
Labels: Map Change, Sprites, Code change

#2057 Hydroponics tray resprite
  code/modules/hydroponics/hydroponics.dm
  icons/obj/hydroponics/equipment.dmi
Labels: Sprites, Code change

#2078 Blots Out the Sun (Solar Removal)
  _maps/configs/independent_solar.json
  _maps/shuttles/shiptest/independent_solar.dmm
Labels: Map Change

#1996 replaces the seed vendor on the ember class
  _maps/shuttles/shiptest/pirate_ember.dmm
Labels: Map Change

#2082 removes maid box from loadout
  code/modules/client/loadout/loadout_general.dm
Labels: Code change

#2056 Makes Cryosickness a range of effects
  code/game/machinery/cryopod.dm
Labels: Code change

#2049 Should fix "burning while docked" error
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/overmap/ships/ship_datum.dm
Labels: Code change

#2039 FOXALIVE - Disables Nanites
  code/modules/research/techweb/all_nodes.dm
Labels: Removal, Code change

#2089 cools down lava planets
  code/datums/atmosphere/planetary.dm
Labels: Code change

#2010 Ship tags and descriptions
  _maps/configs/independent_beluga.json
  _maps/configs/independent_box.json
  _maps/configs/independent_boyardee.json
  _maps/configs/independent_bubble.json
  _maps/configs/independent_byo.json
  _maps/configs/independent_caravan.json
  _maps/configs/independent_dwayne.json
  _maps/configs/independent_halftrack.json
  _maps/configs/independent_kilo.json
  _maps/configs/independent_lagoon.json
  _maps/configs/independent_litieguai.json
  _maps/configs/independent_masinyane.json
  _maps/configs/independent_meta.json
  _maps/configs/independent_metis.json
  _maps/configs/independent_nemo.json
  _maps/configs/independent_pill.json
  _maps/configs/independent_rigger.json
  _maps/configs/independent_rube_goldberg.json
  _maps/configs/independent_scav.json
  _maps/configs/independent_schmiedeberg.json
  _maps/configs/independent_shepherd.json
  _maps/configs/independent_shetland.json
  _maps/configs/independent_tranquility.json
  _maps/configs/inteq_colossus.json
  _maps/configs/inteq_hound.json
  _maps/configs/inteq_talos.json
  _maps/configs/minutemen_asclepius.json
  _maps/configs/minutemen_cepheus.json
  _maps/configs/minutemen_corvus.json
  _maps/configs/nanotrasen_delta.json
  _maps/configs/nanotrasen_gecko.json
  _maps/configs/nanotrasen_mimir.json
  _maps/configs/nanotrasen_osprey.json
  _maps/configs/nanotrasen_powerrangers.json
  _maps/configs/nanotrasen_skipper.json
  _maps/configs/pirate_ember.json
  _maps/configs/pirate_libertatia.json
  _maps/configs/pirate_noderider.json
  _maps/configs/radio.json
  _maps/configs/srm_glaive.json
  _maps/configs/syndicate_aegis.json
  _maps/configs/syndicate_cybersun_kansatsu.json
  _maps/configs/syndicate_gorlex_hyena.json
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/configs/syndicate_lugol.json
  _maps/configs/syndicate_luxembourg.json
  _maps/configs/syndicate_twinkleshine.json
  _maps/ship_config_schema.json
  _maps/ship_tags_descriptions_guide.txt
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/shuttles.dm
  code/modules/mob/dead/new_player/ship_select.dm
  tgui/packages/tgui/interfaces/ShipEditor.js
  tgui/packages/tgui/interfaces/ShipSelect.js
  tgui/packages/tgui/interfaces/ShuttleManipulator.js
Labels: Map Change, TGUI, Code change

#2046 Junker-Class Salvage(d) Ship
  _maps/configs/independent_junker.json
  _maps/shuttles/shiptest/independent_junker.dmm
  code/game/MapData/shuttles/misc.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Code change

#2029 Vela Industrial Cruiser
  _maps/configs/minutemen_vela.json
  _maps/shuttles/shiptest/minutemen_vela.dmm
  code/game/area/ship_areas.dm
  code/game/objects/structures/signs/signs_warning.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/shaft_miner.dm
Labels: Map Change, Code change

#2084 Fixes The Chicken Issue
  code/game/objects/effects/spawners/mobspawner.dm
Labels: Code change

#2097 Stabilizes space_level handling, preventing overlapping planet generation/allocation
  code/controllers/subsystem/mapping.dm
  code/modules/mapping/space_management/space_level.dm
  code/modules/mapping/space_management/zlevel_manager.dm
Labels: Code change

#2093 Fixes some prettier issues people had
  tgui/.prettierrc.yml
  tgui/package.json
  tgui/yarn.lock
Labels: TGUI, Dependencies

#2014 Harddel fixes
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
  code/datums/components/plumbing/_plumbing.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Code change

#2102 Add's missing APCs to the Osprey
  _maps/shuttles/shiptest/nanotrasen_osprey.dmm
Labels: Map Change

#2067 NT radio reclamation lawsuit part three.
  _maps/configs/independent_meta.json
Labels: Map Change

#1991 Overmap 4.6: Anomalous Activity
  code/__DEFINES/anomalies.dm
  code/__DEFINES/maths.dm
  code/datums/mapgen/planetary/JungleGenerator.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/effects/anomalies/anomalies_flux.dm
  code/game/objects/effects/anomalies/anomalies_gravity.dm
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
  code/game/objects/effects/anomalies/anomalies_heartbeat.dm
  code/game/objects/effects/anomalies/anomalies_melter.dm
  code/game/objects/effects/anomalies/anomalies_phantom.dm
  code/game/objects/effects/anomalies/anomalies_plasmasoul.dm
  code/game/objects/effects/anomalies/anomalies_pulsar.dm
  code/game/objects/effects/anomalies/anomalies_pyroclastic.dm
  code/game/objects/effects/anomalies/anomalies_sparkler.dm
  code/game/objects/effects/anomalies/anomalies_static.dm
  code/game/objects/effects/anomalies/anomalies_veins.dm
  code/game/objects/effects/anomalies/anomalies_vortex.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/assembly/signaler.dm
  code/modules/disks/disk.dm
  code/modules/events/anomaly.dm
  code/modules/events/anomaly_bluespace.dm
  code/modules/events/anomaly_flux.dm
  code/modules/events/anomaly_grav.dm
  code/modules/events/anomaly_pyro.dm
  code/modules/events/anomaly_vortex.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/mob_defines.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/research/rdconsole.dm
  icons/effects/anomalies.dmi
  icons/obj/assemblies/new_assemblies.dmi
  shiptest.dme
  sound/health/fastbeat2.ogg
  sound/health/slowbeat2.ogg
Labels: DME Edit, Sprites, Sound, Code change
