Repository shiptest-ss13/Shiptest, pull requests merged in 2023-05, with the labels that each got.

#1928 Makes cooking oil a substitute for liquid gibs in soap production
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Code change

#1929 Makes brimdemon butchering actually produce meat
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
Labels: Code change

#1820 ports the exosuit pka from tgstation
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/working/ripley.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mecha/mecha_equipment.dmi
Labels: Sprites, Code change

#1936 adds fox girls
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/tails.dm
  icons/mob/species/misc/fox.dmi
Labels: Sprites, Code Improvement, Code change

#1935 Med tool resprite
  code/game/objects/items/devices/scanners.dm
  code/modules/surgery/tools.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/device.dmi
  icons/obj/surgery.dmi
Labels: Sprites, Code change

#1938 Updates Actions
  .github/workflows/ci_suite.yml
  .github/workflows/codeowner_reviews.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/dmi5.yml
  .github/workflows/docker_publish.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/make_changelogs.yml
  .github/workflows/stale.yml
  .github/workflows/update_tgs_dmapi.yml
Labels: Github

#1834 Changes the airlock sounds
  code/_globalvars/lists/flavor_misc.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/mecha/combat/honker.dm
  code/game/objects/items/puzzle_pieces.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  sound/machines/airlock.ogg
  sound/machines/airlock_alien_prying.ogg
  sound/machines/airlockclose.ogg
  sound/machines/airlocks/access_denied.ogg
  sound/machines/airlocks/blastdoor.ogg
  sound/machines/airlocks/bolts_down.ogg
  sound/machines/airlocks/bolts_up.ogg
  sound/machines/airlocks/close_force.ogg
  sound/machines/airlocks/external/airlock_ext_close.ogg
  sound/machines/airlocks/external/airlock_ext_open.ogg
  sound/machines/airlocks/gate.ogg
  sound/machines/airlocks/hatch/hatch_close.ogg
  sound/machines/airlocks/hatch/hatch_open.ogg
  sound/machines/airlocks/open_force.ogg
  sound/machines/airlocks/shutters/shutters_close.ogg
  sound/machines/airlocks/shutters/shutters_open.ogg
  sound/machines/airlocks/standard/close.ogg
  sound/machines/airlocks/standard/open.ogg
  sound/machines/creaking.ogg
Labels: Sound, Stale, Code change

#1937 Port examine blocks
  code/__DEFINES/chat.dm
  code/__DEFINES/misc.dm
  code/controllers/subsystem/ticker.dm
  code/datums/components/mood.dm
  code/datums/mind.dm
  code/game/atoms.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/silicon/ai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob.dm
Labels: Code change

#1891 Mining equipment & Fauna slight rebalance
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice whelp.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
Labels: Code change

#1930 Removes tendril and portal GPS Signals
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
Labels: Code change

#1933 Resprites most of the old soulful hardsuits
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Sprites, Code change

#1724 Nanotrasen Mimir-Class Rehabilitation (Prison) Vessel
  _maps/configs/nanotrasen_mimir.json
  _maps/shuttles/shiptest/nanotrasen_mimir.dmm
  code/game/MapData/shuttles/nanotrasen_mimir.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, New Ship, Code change

#1922 Squishes the Cricket
  _maps/configs/solgov_cricket.json
Labels: Map Change, Removal, Test Merge Candidate

#1943 Minor tweak to elzuose "meat"
  code/modules/food_and_drinks/food/snacks/meat.dm
Labels: Code change

#1908 Fishing hut rework
  _maps/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/map_catalogue.txt
  code/game/objects/structures/spawner.dm
Labels: Map Change, Code change

#1825 Reworks the Twinkleshine-Class
  _maps/configs/syndicate_twinkleshine.json
  _maps/shuttles/shiptest/syndicate_twinkleshine.dmm
  code/_globalvars/lists/names.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/brig_physician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
  strings/names/twinkle.txt
Labels: Map Change, Code change

#1853 Enables Kansatsu + Minor Changes
  _maps/configs/syndicate_cybersun_kansatsu.json
  _maps/shuttles/shiptest/syndicate_cybersun_kansatsu.dmm
Labels: Map Change

#1953 ORM QOL: input/output directions can now be changed separately
  code/__DEFINES/machines.dm
  code/modules/mining/machine_redemption.dm
Labels: Code change

#1958 Literally removes RnD from every ship
  _maps/RandomRuins/SandRuins/whitesands_surface_golemhijack.dmm
  _maps/shuttles/shiptest/independent_bubble.dmm
  _maps/shuttles/shiptest/independent_byo.dmm
  _maps/shuttles/shiptest/independent_caravan.dmm
  _maps/shuttles/shiptest/independent_hightide.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/independent_metis.dmm
  _maps/shuttles/shiptest/independent_nemo.dmm
  _maps/shuttles/shiptest/independent_rigger.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  _maps/shuttles/shiptest/independent_scav.dmm
  _maps/shuttles/shiptest/independent_solar.dmm
  _maps/shuttles/shiptest/independent_tide.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_hound.dmm
  _maps/shuttles/shiptest/inteq_talos.dmm
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  _maps/shuttles/shiptest/nanotrasen_delta.dmm
  _maps/shuttles/shiptest/nanotrasen_gecko.dmm
  _maps/shuttles/shiptest/nanotrasen_osprey.dmm
  _maps/shuttles/shiptest/nanotrasen_powerrangers.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/shiptest/solgov_liberty.dmm
  _maps/shuttles/shiptest/srm_glaive.dmm
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  _maps/shuttles/shiptest/syndicate_gec_lugol.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_komodo.dmm
  _maps/shuttles/shiptest/syndicate_twinkleshine.dmm
  _maps/shuttles/shiptest/wizard_lamia.dmm
Labels: Map Change, Fix, Code Improvement, Do not merge, Good First PR, Test Merge Required

#1957 Finishes the energy halberd and makes rainbow energy weapon sprites follow proper rainbow order
  code/game/objects/items/energyhalberd.dm
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/transforming_energy.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#1963 Reroutes the Skipper's TEG cold-loop pipes
  _maps/shuttles/shiptest/nanotrasen_skipper.dmm
Labels: Map Change

#1969 Adds observer starter spots to all ships (that did not already have them)
  _maps/shuttles/shiptest/independent_box.dmm
  _maps/shuttles/shiptest/independent_bubble.dmm
  _maps/shuttles/shiptest/independent_byo.dmm
  _maps/shuttles/shiptest/independent_caravan.dmm
  _maps/shuttles/shiptest/independent_dwayne.dmm
  _maps/shuttles/shiptest/independent_halftrack.dmm
  _maps/shuttles/shiptest/independent_hightide.dmm
  _maps/shuttles/shiptest/independent_kilo.dmm
  _maps/shuttles/shiptest/independent_lagoon.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/independent_meta.dmm
  _maps/shuttles/shiptest/independent_metis.dmm
  _maps/shuttles/shiptest/independent_nemo.dmm
  _maps/shuttles/shiptest/independent_pillbottle.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  _maps/shuttles/shiptest/independent_scav.dmm
  _maps/shuttles/shiptest/independent_schmiedeberg.dmm
  _maps/shuttles/shiptest/independent_shepherd.dmm
  _maps/shuttles/shiptest/independent_solar.dmm
  _maps/shuttles/shiptest/independent_tide.dmm
  _maps/shuttles/shiptest/independent_tranquility.dmm
  _maps/shuttles/shiptest/independent_trunktide.dmm
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  _maps/shuttles/shiptest/nanotrasen_delta.dmm
  _maps/shuttles/shiptest/nanotrasen_mimir.dmm
  _maps/shuttles/shiptest/nanotrasen_powerrangers.dmm
  _maps/shuttles/shiptest/nanotrasen_skipper.dmm
  _maps/shuttles/shiptest/pirate_noderider.dmm
  _maps/shuttles/shiptest/radio_funny.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/shiptest/srm_glaive.dmm
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  _maps/shuttles/shiptest/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/shiptest/syndicate_gec_lugol.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_hyena.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_komodo.dmm
  _maps/shuttles/shiptest/syndicate_luxembourg.dmm
  _maps/shuttles/shiptest/syndicate_twinkleshine.dmm
  _maps/shuttles/shiptest/wizard_lamia.dmm
Labels: Map Change

#1970 Fixed a bunch of warnings on init, alien tools have working icon states
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
Labels: Code change

#1962 Freshens up the Shuttle Manipulator Menu
  code/controllers/subsystem/shuttle.dm
  tgui/packages/tgui/interfaces/ShuttleManipulator.js
Labels: TGUI, Code change

#1964 fixes belts not appearing on player sprites
  code/game/objects/items/storage/belt.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/clothing/belt.dmi
  icons/obj/clothing/belts.dmi
Labels: Sprites, Code change

#1959 Makes syndicate plastitanium walls actually drop sheets
  code/game/turfs/closed/wall/reinf_walls.dm
Labels: Code change

#1947 Makes the worn sprite for the CM General Coat actually appear
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/suits/armor.dmi
Labels: Sprites, Code change

#1944 Adds ship purchasing bans
  code/modules/admin/sql_ban_system.dm
  code/modules/mob/dead/new_player/ship_select.dm
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: Admin, TGUI, Code change

#1965 Gives engineering cyborgs shuttle blueprints
  code/game/objects/items/blueprints.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Code change

#1961 Gungle chickens
  code/datums/mapgen/planetary/JungleGenerator.dm
  code/game/objects/effects/spawners/mobspawner.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Code change

#1968 The SolGov-ening Part 1: Clothes and The Purge
  _maps/RandomRuins/BeachRuins/beach_push_it.dmm
  _maps/configs/solgov_cricket.json
  _maps/configs/solgov_liberty.json
  _maps/deprecated/Ships/solgov_cricket.dmm
  _maps/deprecated/Ships/solgov_liberty.dmm
  code/game/objects/items.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/outfits/solgov.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/solgov.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/solgov_rep.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/vending/security.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/toggle.dmi
  icons/mob/clothing/under/SolGov.dmi
  icons/obj/bedsheets.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/cloaks.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/toggle.dmi
  icons/obj/clothing/under/SolGov.dmi
  icons/obj/contraband.dmi
  icons/obj/flags.dmi
  icons/obj/vending.dmi
Labels: Map Change, Sprites, Code change

#1974 Slays the Lamia
  _maps/configs/wizard_lamia.json
  _maps/shuttles/shiptest/wizard_lamia.dmm
Labels: Map Change

#1979 Update independent_tide.dmm
  _maps/shuttles/shiptest/independent_tide.dmm
Labels: Map Change

#1980 removes the seed vendor restock from mimir
  code/game/MapData/shuttles/nanotrasen_mimir.dm
Labels: Code change

#1978 SolGov-ening Part 2: Formalized Jobs!
  code/datums/ert.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/objects/structures/signs/_signs.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/outfits/solgov.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/solgov_rep.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/utility.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/utility.dmi
  icons/obj/solgov_logos.dmi
Labels: Sprites, Code change

#1952 Small Cepheus class fixes
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
Labels: Map Change

#1986 Aspawns the Mimir
  _maps/configs/nanotrasen_mimir.json
Labels: Map Change

#1771 Ember Class Pirate Raider
  _maps/configs/pirate_ember.json
  _maps/shuttles/shiptest/pirate_ember.dmm
  code/game/turfs/closed/minerals.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Map Change, New Ship, Code change

#1994 SolGov-ening Part 3: Folders, Decals and More!
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/items/documents.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/belt.dm
  code/modules/paperwork/folders.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/solgov_floor.dmi
Labels: Sprites, Code change

#1999 Inteq sprite updatening and additions (Now hopefully with less scrungling)
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/hooded.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  icons/obj/clothing/under/syndicate.dmi
  icons/obj/storage.dmi
Labels: Sprites, Code change

#1992 Updates our MOTD
  config/motd.txt
Labels: Config

#1983 Fixes Plasteel Stairs Being Colorless
  code/game/turfs/open/floor/plasteel_floor.dm
Labels: Code change

#1976 Fixes jungle small trees spawning without a sprite
  code/game/objects/structures/flora.dm
Labels: Code change

#1975 Adds some extra logging
  code/controllers/subsystem/shuttle.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Code change
