Repository shiptest-ss13/Shiptest, pull requests merged in 2023-04, with the labels that each got.

#1857 fixes cryo area sprite
  code/game/area/ship_areas.dm
Labels: Code change

#1862 Fix light snouts layering over glasses
  icons/mob/mutant_bodyparts.dmi
Labels: Sprites

#1842 Gecko Quality of Life
  _maps/shuttles/shiptest/nanotrasen_gecko.dmm
Labels: Map Change

#1858 Tiny Corvus fix
  _maps/shuttles/shiptest/minutemen_corvus.dmm
Labels: Map Change

#1702 New Rockplanet ruin, Budgetcuts!
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/rockplanet.dm
Labels: Map Change, Code change, New Ruin

#1627 SubShips attempt 2
  code/controllers/subsystem/overmap.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/shuttles.dm
  code/game/area/areas.dm
  code/game/area/ship_areas.dm
  code/game/atoms.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/proximity.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/shuttle_creator.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/turf.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/outpost.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/overmap/ships/ship_datum.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle.dm
  icons/effects/landmarks_static.dmi
Labels: Sprites, Code change

#1572 New Ruin: The Beach Town
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/beachplanet.dm
  code/game/area/areas/ruins/beachplanet.dm
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Map Change, Code change, New Ruin

#1594 Saloon rework
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/whitesands.dm
  code/game/area/areas/ruins/sandplanet.dm
Labels: Map Change, Code change

#1823 Changes Glaive Turfs
  _maps/shuttles/shiptest/srm_glaive.dmm
Labels: Map Change

#1822 Shetland Fix
  _maps/configs/independent_shetland.json
  _maps/shuttles/shiptest/independent_shetland.dmm
Labels: Map Change

#1803 Datumises Planet Types & Adds Ruin Weighting Framework
  code/__DEFINES/ruins.dm
  code/controllers/subsystem/mapping.dm
  code/datums/ruins.dm
  code/datums/ruins/beachplanet.dm
  code/datums/ruins/icemoon.dm
  code/datums/ruins/jungle.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/reebe.dm
  code/datums/ruins/rockplanet.dm
  code/datums/ruins/space.dm
  code/datums/ruins/wasteplanet.dm
  code/datums/ruins/whitesands.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mapping/ruins.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/planets/planet_types.dm
  shiptest.dme
Labels: DME Edit, Admin, Test Merge Candidate, Code change

#1878 Stationary ports can now be placed in space on ship map files
  code/controllers/subsystem/shuttle.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/shuttle.dm
Labels: Code change

#1877 Adds new lizard emotes
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/lizard/hiss.ogg
  sound/voice/lizard/weh.ogg
Labels: Sound, Code change

#1876 Resprite ship keys
  code/modules/overmap/ships/controlled_ship_datum.dm
  icons/obj/vehicles.dmi
Labels: Sprites, Code change

#1865 Money tweaks & fix
  code/game/objects/items/cash.dm
  icons/obj/economy.dmi
Labels: Sprites, Code change

#1852 Disks now fit in folders
  code/datums/holocall.dm
  code/modules/disks/disk.dm
  code/modules/paperwork/folders.dm
Labels: Code change

#1843 Ports mothroaches + Moth emotes
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/friendly/mothroach.dm
  icons/mob/pets.dmi
  icons/mob/pets_held.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
  icons/obj/stack_objects.dmi
  shiptest.dme
  sound/voice/moth/mothchitter.ogg
  sound/voice/moth/mothlaugh.ogg
  sound/voice/moth/mothsqueak.ogg
Labels: DME Edit, Sprites, Sound, Code change

#1807 Make plumbing machines not disconnect when ship is docking/undocking
  code/datums/components/plumbing/_plumbing.dm
Labels: Test Merge Candidate, Code change

#1864 Tones down giant spiders
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Code change

#1840 Pressure gate
  code/game/objects/items/RPD.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  icons/obj/atmospherics/pipes/pipe_item.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#1831 Adds handling for Github ratelimit errors
  code/__HELPERS/text.dm
  code/datums/helper_datums/getrev.dm
Labels: Test Merge Candidate, Code change

#1871 General fauna sprite update
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  icons/mob/lavaland/64x64megafauna.dmi
  icons/mob/lavaland/96x96megafauna.dmi
  icons/mob/lavaland/hierophant_new.dmi
  icons/mob/lavaland/lavaland_elites.dmi
  icons/mob/lavaland/lavaland_elites_64.dmi
  icons/mob/lavaland/lavaland_monsters.dmi
  icons/mob/lavaland/lavaland_monsters_wide.dmi
  icons/mob/lavaland/watcher.dmi
Labels: Sprites, Code change

#1856 IPC wings
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  icons/mob/clothing/wings.dmi
Labels: Sprites, Code change

#1612 New Ruin: Singularity Research Lab
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/mob/living/simple_animal/hostile/zombie.dm
Labels: Map Change, Code change, New Ruin

#1889 Update vote.dm
  code/controllers/subsystem/vote.dm
Labels: Code change

#1781 [Needs TM] The Accelerataning
  code/__DEFINES/overmap.dm
  code/controllers/subsystem/physics.dm
  code/game/machinery/shuttle/shuttle_engine.dm
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/overmap/ships/ship_datum.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/shuttle.dm
  code/modules/unit_tests/overmap.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: DME Edit, TGUI, Test Merge Candidate, Code change, Test Merge Required

#1896 fixes the CMM coat sprite
  code/modules/clothing/suits/armor.dm
Labels: Code change

#1892 Fixes the CMM floor decal
  icons/turf/decals.dmi
Labels: Sprites

#1884 fixes wooden flooring on the asclepius
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
Labels: Map Change

#1883 fixes wood flooring on the corvus
  _maps/shuttles/shiptest/minutemen_corvus.dmm
Labels: Map Change

#1897 fixes drum mags loading without the correct sprite
  code/modules/projectiles/boxes_magazines/external/smg.dm
Labels: Code change

#1870 Fixes the Mastiff on the Colossus
  _maps/shuttles/shiptest/inteq_colossus.dmm
Labels: Map Change

#1855 Removes the Wright, Prague, Midway, Goon, and Tart
  _maps/configs/independent_midway.json
  _maps/configs/independent_prague.json
  _maps/configs/independent_wright.json
  _maps/configs/nanotrasen_goon.json
  _maps/configs/nanotrasen_tartarus.json
  _maps/shuttles/shiptest/independent_midway.dmm
  _maps/shuttles/shiptest/independent_prague.dmm
  _maps/shuttles/shiptest/independent_wright.dmm
  _maps/shuttles/shiptest/nanotrasen_goon.dmm
  _maps/shuttles/shiptest/nanotrasen_tartarus.dmm
Labels: Map Change

#1894 unfunny drinks adjustment update.
  code/game/objects/items/clown_items.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Code change

#1886 Lab counters and lab sink
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/watercloset.dm
  icons/obj/smooth_structures/table_chem.dmi
  icons/obj/watercloset.dmi
Labels: Sprites, Code change

#1910 fixes jungle_medtech_outbreak not spawning
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  code/datums/ruins/jungle.dm
Labels: Map Change, Code change

#1890 changes observe warning
  code/modules/mob/dead/new_player/new_player.dm
Labels: Code change

#1836 Ports some skyrat cooking equipment
  code/modules/food_and_drinks/kitchen_machinery/big_mortar.dm
  code/modules/food_and_drinks/kitchen_machinery/cutting_board.dm
  icons/obj/cooking_structures.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#1893 Schmiedeberg Tweaks And Fixes
  _maps/shuttles/shiptest/independent_schmiedeberg.dmm
Labels: Map Change

#1909 tiny talos fix
  _maps/shuttles/shiptest/inteq_talos.dmm
Labels: Map Change

#1905 removes a tinyfan from the aegis airlock
  _maps/shuttles/shiptest/syndicate_aegis.dmm
Labels: Map Change

#1788 Jupiter-Class Stormrider
  _maps/configs/pirate_noderider.json
  _maps/shuttles/shiptest/pirate_noderider.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/power/tesla/coil.dm
Labels: Map Change, Test Merge Candidate, New Ship, Code change

#1585 The Pillbottle, and Pill Things.
  _maps/configs/independent_pill.json
  _maps/configs/independent_pill_black.json
  _maps/configs/independent_pill_super.json
  _maps/shuttles/shiptest/independent_pill.dmm
  _maps/shuttles/shiptest/independent_pill_black.dmm
  _maps/shuttles/shiptest/independent_pillbottle.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/independent_blackpill.dmm
  _maps/shuttles/subshuttles/independent_pill.dmm
  _maps/shuttles/subshuttles/independent_superpill.dmm
  code/datums/shuttles.dm
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Map Change, New Ship, Code change

#1654 Sugarcube and Space Police Housekeeping
  _maps/shuttles/misc/hunter_space_cop.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/independent_kunai.dmm
  _maps/shuttles/subshuttles/independent_sugarcube.dmm
  code/datums/shuttles.dm
  code/modules/events/fugitive_spawning.dm
Labels: Map Change, Code change

#1911 Removes the 3 rigger variants, and the syndicate boyardee
  _maps/configs/deserter_rigger.json
  _maps/configs/solgov_rigger.json
  _maps/configs/srm_rigger.json
  _maps/configs/syndicate_boyardee_b.json
  _maps/shuttles/shiptest/independent_rigger_c.dmm
  _maps/shuttles/shiptest/solgov_rigger_t.dmm
  _maps/shuttles/shiptest/srm_rigger_b.dmm
  _maps/shuttles/shiptest/syndicate_boyardee_b.dmm
Labels: Map Change

#1923 Adds the meatclown sprite
  icons/obj/food/food.dmi
Labels: Sprites, Good First PR

#1918 Stock parts sprite upgrade
  icons/obj/power.dmi
  icons/obj/stock_parts.dmi
Labels: Sprites

#1917 Small bug fixes for IPC and NOBREATH mobs.
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Code change

#1913 roulette machines now give you real money
  code/game/machinery/roulette_machine.dm
Labels: Code change

#1927 readds waste planets
  code/modules/overmap/planets/planet_types.dm
Labels: Code change

#1919 Ports tg screen stuff
  code/__DEFINES/flags.dm
  code/__DEFINES/preferences.dm
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/families.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/screentip.dm
  code/datums/status_effects/buffs.dm
  code/game/objects/items.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/openspace.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/mob.dm
  code/modules/status_bar/status_bar.dm
  interface/skin.dmf
  shiptest.dme
Labels: DME Edit, Code change
