Repository shiptest-ss13/Shiptest, pull requests merged in 2023-07, with the labels that each got.

#2100 makes graves buildable
  _maps/RandomRuins/BeachRuins/beach_knights_rest.dmm
  _maps/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/RandomRuins/RockRuins/rockplanet_clock.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pod.dmm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: Map Change, Code change

#2036 Various limitations on ship spawning
  _maps/example_ship_config.json
  _maps/ship_config_schema.json
  code/__DEFINES/preferences.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/overmap.dm
  code/datums/shuttles.dm
  code/game/objects/items/shuttle_creator.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/toggle_ship_spawn.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/brig_physician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/solgov_rep.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/new_player/ship_select.dm
  config/config.txt
  shiptest.dme
  tgui/packages/tgui/interfaces/ShipEditor.js
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: Config, Map Change, DME Edit, Admin, TGUI, Code change

#2092 Fixes a good chunk of Vox sprites. Removes environmental regulator
  code/__DEFINES/inventory.dm
  code/__DEFINES/species_clothing_defines.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/surgery/bodyparts/species_parts/vox_bodyparts.dm
  icons/mob/clothing/back.dmi
  icons/mob/species/vox/bodyparts.dmi
  icons/mob/species/vox/onmob_back_vox.dmi
  icons/mob/species/vox/onmob_belt_vox.dmi
  icons/mob/species/vox/onmob_ears_vox.dmi
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/mob/species/vox/onmob_feet_vox.dmi
  icons/mob/species/vox/onmob_hands_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_mask_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  icons/mob/species/vox/onmob_uniform_vox.dmi
  icons/mob/species/vox/vox_quills.dmi
  icons/obj/vox_items.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2111 Ports pinging in Adminsay from /tg/station
  .vscode/tasks.json
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
  sound/misc/asay_ping.ogg
Labels: Admin, Sound, Code change

#2118 Fixes mining vendors not having scanners
  code/modules/mining/machine_vending.dm
Labels: Code change

#2119 Increases character slots to 20
  code/modules/client/preferences.dm
Labels: Code change

#2123 Holofield Sprite touchup
  code/game/machinery/shieldgen.dm
  icons/effects/effects.dmi
Labels: Sprites, Code change

#2060 chemistry "rebalance"
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/packs/chemistry.dm
  code/modules/cargo/packs/medical.dm
  code/modules/reagents/reagent_containers/jug.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/Chem_jug.dmi
  icons/obj/crates.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#1984 Fixes Minor Bug With ModComp Arcade Minigame
  code/modules/modular_computers/file_system/programs/arcade.dm
Labels: Code change

#2104 Removes Dwarves and Squidpeople
  _maps/RandomRuins/JungleRuins/jungle_seedling.dmm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/language.dm
  code/__DEFINES/mobs.dm
  code/controllers/subsystem/traumas.dm
  code/game/machinery/limbgrower.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/effects/decals/cleanable/food.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/abductor/equipment/glands/transform.dm
  code/modules/language/dwarven.dm
  code/modules/language/language_holder.dm
  code/modules/language/rylethian.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/dwarves.dm
  code/modules/mob/living/carbon/human/species_types/squidpeople.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/organs/tongue.dm
  shiptest.dme
  strings/names/dwarf_first.txt
  strings/names/dwarf_last.txt
Labels: Map Change, DME Edit, Admin, Code change

#2112 Fixes more GetFlatIcon tgui stupidity
  code/modules/admin/outfit_editor.dm
Labels: Admin, Code change

#2114 Adds Overmap Token Manager | No more scrambling to fix a broken token
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/overmap_token_manager.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/overmap_token.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/OvermapTokenManager.tsx
Labels: DME Edit, Admin, TGUI, Code change

#2122 Kills Goonstation
  README.md
  code/game/machinery/firealarm.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  code/modules/unit_tests/plantgrowth_tests.dm
  goon/LICENSE.md
  goon/README.md
  goon/icons/obj/hydroponics.dmi
  goon/icons/obj/power.dmi
  goon/icons/obj/surgery.dmi
  goon/sound/machinery/FireAlarm.ogg
  goon/sound/machinery/printer_dotmatrix.ogg
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/machines/oldsolars.dmi
  icons/obj/surgery_table.dmi
  shiptest.dme
  sound/machines/FireAlarm.ogg
  sound/machines/printer.ogg
Labels: DME Edit, Sprites, Sound, Code change

#2115 Two anomaly changes
  code/game/objects/effects/anomalies/anomalies_heartbeat.dm
  code/game/objects/effects/anomalies/anomalies_static.dm
Labels: Code change

#2108 Hotspots no longer ignite reinforced floors
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor/reinf_floor.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
Labels: Code change

#2052 Ship Turret Balancing
  _maps/shuttles/shiptest/independent_kilo.dmm
  _maps/shuttles/shiptest/independent_meta.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_talos.dmm
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  _maps/shuttles/shiptest/minutemen_vela.dmm
  _maps/shuttles/shiptest/nanotrasen_delta.dmm
  _maps/shuttles/shiptest/pirate_noderider.dmm
  _maps/shuttles/shiptest/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_hyena.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_komodo.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_construct.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/turret.dm
  shiptest.dme
  tools/UpdatePaths/Scripts/update_turret_paths.txt
Labels: Map Change, DME Edit, Code change

#1566 Prettier overmap proof of concept
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/event_datum.dm
  code/modules/overmap/objects/outpost.dm
  code/modules/overmap/overmap_token.dm
  code/modules/overmap/planets/planet_types.dm
  icons/misc/overmap.dmi
  icons/misc/overmap_large.dmi
  icons/misc/overmap_larger.dmi
  icons/turf/overmap.dmi
Labels: Sprites, Code change

#2085 Salvage Tweaks
  code/game/objects/structures/salvaging.dm
Labels: Code change

#2105 Hunter Montagne fix
  _maps/configs/srm_glaive.json
  code/game/MapData/shuttles/srm_glaive.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: Map Change, Code change

#2050 Minor Lag-compensating Tweaks
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/overmap_move.dm
  code/controllers/subsystem/sound_loops.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/game/objects/items/environmental_regulator.dm
  code/modules/overmap/ships/ship_datum.dm
  shiptest.dme
Labels: DME Edit, Code change

#2117 Makes `sanitize_hexcolor()` more lax
  code/__HELPERS/sanitize_values.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Code change

#2120 Fixes duplicate tabs in the join ship menu
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: TGUI

#2128 Fixes turffire fail
  code/game/turfs/open/_open.dm
Labels: Code change

#2129 fix surgery table sprite
  code/game/objects/structures/tables_racks.dm
  icons/obj/surgery_table.dmi
Labels: Sprites, Code change

#2098 Fixes the Independent Litieguai organ freezer
  _maps/shuttles/shiptest/independent_litieguai.dmm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Map Change, Code change

#2139 Bugfix for filled big mortars
  code/modules/food_and_drinks/kitchen_machinery/big_mortar.dm
Labels: Code change

#2138 add fucky wucky
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/asset_cache/asset_list_items.dm
  html/fuckywucky.png
  sound/misc/fuckywucky.ogg
Labels: Admin, Sound, Code change

#2149 Fixes Wiki Verb
  interface/interface.dm
Labels: Code change

#2147 Fixes Turret integrity
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#2137 Fixes improper outfit declarations
  _maps/configs/independent_beluga.json
  _maps/configs/independent_box.json
  _maps/configs/independent_boyardee.json
  _maps/configs/independent_bubble.json
  _maps/configs/independent_caravan.json
  _maps/configs/independent_halftrack.json
  _maps/configs/independent_junker.json
  _maps/configs/independent_lagoon.json
  _maps/configs/independent_litieguai.json
  _maps/configs/independent_meta.json
  _maps/configs/independent_nemo.json
  _maps/configs/independent_pill.json
  _maps/configs/independent_shepherd.json
  _maps/configs/independent_shetland.json
  _maps/configs/nanotrasen_delta.json
  _maps/configs/nanotrasen_osprey.json
  _maps/configs/nanotrasen_skipper.json
  _maps/configs/radio.json
Labels: Map Change

#2131 Adds sanitization redundancy for 3-hex colours
  code/__HELPERS/sanitize_values.dm
Labels: Code change

#2134 Fixes tritium fires
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Code change

#2140 Resprites Assorted Furniture!
  icons/obj/objects.dmi
  icons/obj/stationobjs.dmi
Labels: Sprites

#2124 Obliterates `/~whitesands-defines`
  code/__DEFINES/DNA.dm
  code/__DEFINES/bone_flags.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/logging.dm
  code/__DEFINES/machines.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/movespeed_modification.dm
  code/__DEFINES/overmap.dm
  code/__DEFINES/preferences.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/shuttles.dm
  code/__DEFINES/sound.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits.dm
  code/__DEFINES/whitesands_after_defines/icon_smoothing.dm
  code/__DEFINES/~whitesands_defines/_defines.dm
  code/__DEFINES/~whitesands_defines/atmospherics.dm
  code/__DEFINES/~whitesands_defines/jobs.dm
  code/__DEFINES/~whitesands_defines/machines.dm
  code/__DEFINES/~whitesands_defines/maths.dm
  code/__DEFINES/~whitesands_defines/movespeed_modification.dm
  code/__DEFINES/~whitesands_defines/shuttles.dm
  code/__DEFINES/~whitesands_defines/status_effects.dm
  code/__DEFINES/~whitesands_defines/traits.dm
  code/_onclick/hud/_defines.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  shiptest.dme
Labels: DME Edit, Code change

#2026 Tiny Anywalls Fixes
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/shuttles/shiptest/independent_beluga.dmm
  _maps/shuttles/shiptest/independent_box.dmm
  _maps/shuttles/shiptest/independent_boyardee.dmm
  _maps/shuttles/shiptest/independent_dwayne.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/independent_scav.dmm
  _maps/shuttles/shiptest/independent_shepherd.dmm
  _maps/shuttles/shiptest/independent_shetland.dmm
  _maps/shuttles/shiptest/inteq_hound.dmm
  _maps/shuttles/shiptest/inteq_talos.dmm
  _maps/shuttles/shiptest/nanotrasen_osprey.dmm
  _maps/shuttles/shiptest/nanotrasen_skipper.dmm
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  _maps/shuttles/shiptest/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_hyena.dmm
Labels: Map Change

#2151 Redoes the object icon for the rack
  icons/obj/items_and_weapons.dmi
Labels: Sprites

#2074 The Most Serene Solar Confederation's Most Serene Solar Starship, The Chronicle
  _maps/configs/solgov_chronicle.json
  _maps/shuttles/shiptest/solgov_chronicle.dmm
  code/game/objects/items/devices/radio/intercom.dm
  icons/obj/radio.dmi
Labels: Map Change, Sprites, Code change

#2152 Changes the headsets some SolGov jobs wear
  code/modules/clothing/outfits/solgov.dm
Labels: Code change

#2158 Utterly Annihilates The Old Shuttle Chair Sprite
  icons/obj/chairs.dmi
Labels: Sprites

#2164 Belts no longer fit in backpacks
  code/game/objects/items/storage/belt.dm
Labels: Code change

#2091 Hyena nerf
  _maps/configs/syndicate_gorlex_hyena.json
  _maps/shuttles/shiptest/syndicate_gorlex_hyena.dmm
  code/modules/jobs/job_types/shaft_miner.dm
Labels: Map Change, Code change

#2160 Resprites Most Chairs!
  _maps/RandomRuins/IceRuins/icemoon_underground_icecropolis.dmm
  _maps/RandomRuins/ReebeRuins/reebe_arena.dmm
  _maps/RandomRuins/RockRuins/rockplanet_clock.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  _maps/shuttles/shiptest/radio_funny.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/beds_chairs/chair.dm
  icons/obj/chairs.dmi
Labels: Map Change, Sprites, Code change

#1931 Secondary Mutcolours, Synthetics, and Lizard Prosthetics (Yes, they're synths.) (Sprites by Thgvr!)
  check_regex.yaml
  code/__DEFINES/DNA.dm
  code/__DEFINES/bodyparts.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/preferences.dm
  code/__HELPERS/mobs.dm
  code/datums/dna.dm
  code/datums/status_effects/buffs.dm
  code/game/machinery/limbgrower.dm
  code/game/objects/structures/mirror.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/consistent_human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/prosthetic_replacement.dm
  icons/mob/augmentation/augments_lizard.dmi
  icons/mob/augmentation/augments_vox.dmi
  icons/mob/human_face.dmi
  icons/mob/mutant_bodyparts.dmi
  icons/mob/species/lizard/bodyparts.dmi
Labels: Sprites, Admin, Code change

#2136 Atmos sprite update
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/utility.dmi
  icons/mob/inhands/weapons/axes_lefthand.dmi
  icons/mob/inhands/weapons/axes_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/utility.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/wallmounts.dmi
Labels: Sprites

#2173 Resprites the bobcurl haircut
  icons/mob/hair_extensions.dmi
  icons/mob/human_face.dmi
Labels: Sprites

#2161 Solar Armories
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/ammunition/special/gauss.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/gauss.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/boxes_magazines/internal/gauss.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/powered.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/bullets/gauss.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/48x32guns.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/power.dmi
  shiptest.dme
  sound/weapons/gun/gauss/claris.ogg
  sound/weapons/gun/gauss/gar.ogg
  sound/weapons/gun/gauss/modelh.ogg
  sound/weapons/gun/general/rocket_launch.ogg
  sound/weapons/gun/pistol/pistolec.ogg
Labels: DME Edit, Sprites, Sound, Code change

#2159 Adds two emotes for Sarathi
  code/datums/emotes.dm
  code/modules/mob/living/carbon/human/emote.dm
  shiptest.dme
  sound/voice/lizard/squeal.ogg
  sound/voice/lizard/tailthump.ogg
Labels: DME Edit, Sound, Code change

#2183 fixes inability to spawn new ships on localhost
  code/modules/jobs/job_exp.dm
Labels: Code change

#2080 Organizes lists in surgery files, nerfs ghetto surgery a bit
  code/__DEFINES/DNA.dm
  code/modules/antagonists/abductor/equipment/abduction_surgery.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/necrotic_revival.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/viral_bonding.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/bone_repair.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/ipc_revive.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/mechanical.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/stomachpump.dm
  code/modules/surgery/surgery.dm
  icons/effects/blood_vox.dmi
Labels: Sprites, Code change

#1989 Make it so you can't use any item to cancel mechanical surgery
  code/modules/surgery/mechanic_steps.dm
Labels: Stale, Code change

#1997 Overmap 4.7: Gas Giants, More Storms, 8 hours of work
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/overmap.dm
  code/datums/atmosphere/planetary.dm
  code/datums/mapgen/single_biome/Gas_Giant.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/space/transit.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/overmap/missions/acquire_mission.dm
  code/modules/overmap/missions/research_mission.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/event_datum.dm
  code/modules/overmap/objects/outpost.dm
  code/modules/overmap/objects/star.dm
  code/modules/overmap/planets/planet_types.dm
  code/modules/projectiles/projectile/beams.dm
  icons/misc/overmap.dmi
  icons/obj/meteor.dmi
  shiptest.dme
  sound/effects/planet_landing_1.ogg
  sound/effects/planet_landing_2.ogg
Labels: DME Edit, Sprites, Sound, Code change

#2090 Alt-Click door assemblies to rotate them
  code/game/gamemodes/sandbox/airlock_maker.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/poddoor.dm
  code/game/objects/structures/poddoor_assembly.dm
Labels: Code change

#2095 Overmap 4.8: Asteroid Fields
  code/datums/mapgen/planetary/AsteroidGenerator.dm
  code/datums/mapgen/single_biome/AsteroidCaves.dm
  code/game/objects/structures/spawner.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/planets/planet_types.dm
  shiptest.dme
Labels: DME Edit, Code change

#2130 Ahelp claiming system
  check_regex.yaml
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/layers.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/blackbox.dm
  code/datums/components/admin_popup.dm
  code/modules/admin/chat_commands.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client_procs.dm
  config/config.txt
  shiptest.dme
Labels: Config, DME Edit, Admin, Code change

#2174 Makes PKA bulky and also fixes a runtime
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Code change

#2157 Ship Funds "Refactor"
  _maps/configs/independent_beluga.json
  _maps/configs/independent_box.json
  _maps/configs/independent_boyardee.json
  _maps/configs/independent_bubble.json
  _maps/configs/independent_byo.json
  _maps/configs/independent_caravan.json
  _maps/configs/independent_dwayne.json
  _maps/configs/independent_halftrack.json
  _maps/configs/independent_junker.json
  _maps/configs/independent_kilo.json
  _maps/configs/independent_lagoon.json
  _maps/configs/independent_litieguai.json
  _maps/configs/independent_masinyane.json
  _maps/configs/independent_meta.json
  _maps/configs/independent_metis.json
  _maps/configs/independent_nemo.json
  _maps/configs/independent_pill.json
  _maps/configs/independent_rigger.json
  _maps/configs/independent_scav.json
  _maps/configs/independent_schmiedeberg.json
  _maps/configs/independent_shepherd.json
  _maps/configs/independent_shetland.json
  _maps/configs/independent_tranquility.json
  _maps/configs/inteq_colossus.json
  _maps/configs/inteq_hound.json
  _maps/configs/inteq_talos.json
  _maps/configs/minutemen_asclepius.json
  _maps/configs/minutemen_cepheus.json
  _maps/configs/minutemen_corvus.json
  _maps/configs/minutemen_vela.json
  _maps/configs/nanotrasen_delta.json
  _maps/configs/nanotrasen_gecko.json
  _maps/configs/nanotrasen_mimir.json
  _maps/configs/nanotrasen_osprey.json
  _maps/configs/nanotrasen_powerrangers.json
  _maps/configs/nanotrasen_skipper.json
  _maps/configs/pirate_ember.json
  _maps/configs/pirate_libertatia.json
  _maps/configs/pirate_noderider.json
  _maps/configs/solgov_chronicle.json
  _maps/configs/srm_glaive.json
  _maps/configs/syndicate_aegis.json
  _maps/configs/syndicate_cybersun_kansatsu.json
  _maps/configs/syndicate_gorlex_hyena.json
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/configs/syndicate_lugol.json
  _maps/configs/syndicate_luxembourg.json
  _maps/configs/syndicate_twinkleshine.json
  _maps/ship_config_schema.json
  _maps/shuttles/shiptest/independent_junker.dmm
  code/controllers/subsystem/mapping.dm
  code/datums/shuttles.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Map Change, Code change

#2182 "Improves" sparkler and static sprites
  icons/effects/anomalies.dmi
Labels: Sprites

#2179 Adds Recently Added Weapons To The Chronicle
  _maps/shuttles/shiptest/solgov_chronicle.dmm
Labels: Map Change

#2169 fixes slurring
  code/modules/mob/living/living_say.dm
Labels: Code change

#2156 More short hexcolour replacements
  code/__HELPERS/mobs.dm
  code/__HELPERS/text.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/consistent_human.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Admin, Code change

#2192 Removes the Metis
  _maps/configs/independent_metis.json
  _maps/shuttles/shiptest/independent_metis.dmm
Labels: Map Change

#2191 gas tanks resprite
  icons/obj/tank.dmi
Labels: Sprites

#2155 Adds The Solarian Paracelsus-class Medical Corvette!
  _maps/configs/solgov_paracelsus.json
  _maps/shuttles/shiptest/solgov_paracelsus.dmm
  icons/obj/bedsheets.dmi
Labels: Map Change, Sprites

#2178 Solarian DLC: SSG-669C and SolGov Captain's Cloak!
  code/modules/clothing/suits/cloaks.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/clothing/cloaks.dmi
  icons/obj/guns/48x32guns.dmi
  sound/weapons/gun/rifle/ssg669c.ogg
Labels: Sprites, Sound, Code change

#2190 Removes some old cruft
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/shuttles/shiptest/independent_nemo.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  code/datums/action.dm
  code/datums/hailer_phrase.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/toys.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/mob/clothing/digialt.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/under/suits.dmi
  icons/mob/species/vox/onmob_uniform_vox.dmi
  shiptest.dme
  sound/runtime/complionator/asshole.ogg
  sound/runtime/complionator/bash.ogg
  sound/runtime/complionator/bobby.ogg
  sound/runtime/complionator/compliance.ogg
  sound/runtime/complionator/dontmove.ogg
  sound/runtime/complionator/dredd.ogg
  sound/runtime/complionator/emag.ogg
  sound/runtime/complionator/floor.ogg
  sound/runtime/complionator/freeze.ogg
  sound/runtime/complionator/god.ogg
  sound/runtime/complionator/halt.ogg
  sound/runtime/complionator/harry.ogg
  sound/runtime/complionator/imperial.ogg
  sound/runtime/complionator/justice.ogg
  sound/runtime/complionator/robocop.ogg
  sound/runtime/complionator/running.ogg
  sound/runtime/complionator/shutup.ogg
  sound/runtime/complionator/stfu.ogg
  sound/runtime/complionator/super.ogg
Labels: Map Change, DME Edit, Sprites, Sound, Code change

#2193 Removes Bag of Holding & Bluespace Bodybag from rnd designs
  code/modules/research/designs/bluespace_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Code change

#2189 Sanitizes syndicate headsets in outfits
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/warden.dm
Labels: Code change

#2199 Fixes perspective on holoshield sprites
  icons/effects/effects.dmi
Labels: Sprites

#2201 Possibly Fixes Mhelps
  code/modules/mentor/verbs/mentorhelp.dm
Labels: Code change

#2150 Aegis update + patient clothing
  _maps/configs/syndicate_aegis.json
  _maps/shuttles/shiptest/syndicate_aegis.dmm
  code/game/objects/items/cards_ids.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/jobs/job_types/prisoner.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/patient.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/patient_lefthand.dmi
  icons/mob/inhands/patient_righthand.dmi
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
  icons/mob/species/vox/onmob_feet_vox.dmi
  icons/mob/species/vox/onmob_uniform_vox.dmi
  icons/obj/clothing/patient.dmi
  icons/obj/clothing/shoes.dmi
Labels: Map Change, Sprites, Code change

#2181 Maintains the Riggs + mini flavor tweaks
  _maps/shuttles/shiptest/independent_rigger.dmm
Labels: Map Change

#2200 Fixes Fox Tails
  icons/mob/species/misc/fox.dmi
Labels: Sprites

#2202 toggle ship spawn sends message to world
  code/modules/admin/verbs/toggle_ship_spawn.dm
Labels: Admin, Code change

#2198 Updates Headset Message Options
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin, Code change

#2206 fixes printing ipc parts
  code/game/mecha/mech_fabricator.dm
Labels: Code change

#1960 Various map expansions, remaps and fixes
  _maps/RandomRuins/SandRuins/whitesands_surface_onlyaspoonful.dmm
  _maps/RandomRuins/SpaceRuins/clericden.dmm
  _maps/RandomRuins/SpaceRuins/cryocontainment.dmm
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/jungle.dm
  code/game/objects/structures/fluff.dm
Labels: Map Change, Test Merge Candidate, Code change

#1934 New Jungle Ruin: Abandoned Library
  _maps/RandomRuins/JungleRuins/jungle_abandoned_library.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/jungle.dm
Labels: Map Change, Test Merge Candidate, Code change

#2208 Takes the Hound out behind the shed
  _maps/configs/inteq_hound.json
Labels: Map Change

#2211 Sets Nemo to aspawn
  _maps/configs/independent_nemo.json
Labels: Map Change

#2175 tiny colossus fixes
  _maps/shuttles/shiptest/inteq_colossus.dmm
Labels: Map Change

#2167 Minor Gun and Moth Fixes
  code/game/objects/items/plushes.dm
  code/modules/projectiles/guns/ballistic/toy.dm
Labels: Code change
