Repository shiptest-ss13/Shiptest, pull requests merged in 2023-01, with the labels that each got.

#1660 Grand Deprecating + Deprecation Folder Organization
  _maps/configs/independent_high.json
  _maps/configs/independent_sugarcube.json
  _maps/configs/minutemen_carina.json
  _maps/configs/nanotrasen_pubby.json
  _maps/configs/syndicate_cascade.json
  _maps/configs/syndicate_geneva.json
  _maps/configs/syndicate_kugelblitz.json
  _maps/deprecated/Ruins/TheDerelict.dmm
  _maps/deprecated/Ruins/caravanambush.dmm
  _maps/deprecated/Ruins/deepstorage.dmm
  _maps/deprecated/Ruins/forgottenship.dmm
  _maps/deprecated/Ruins/jungle_surface_tumblr_sexyman.dmm
  _maps/deprecated/Ruins/lavaland_biodome_clown_planet.dmm
  _maps/deprecated/Ruins/lavaland_surface_dead_ratvar.dmm
  _maps/deprecated/Ruins/listeningstation.dmm
  _maps/deprecated/Ruins/oldAIsat.dmm
  _maps/deprecated/Ruins/syndicatewreck01.dmm
  _maps/deprecated/Ruins/whitesands_surface_abductor_crash.dmm
  _maps/deprecated/Ruins/whitesands_surface_crash_bar.dmm
  _maps/deprecated/Ruins/whitesands_surface_crash_cargo.dmm
  _maps/deprecated/Ruins/whiteshipruin_box.dmm
  _maps/deprecated/Ships/Syndicate_Cascade.dmm
  _maps/deprecated/Ships/independent_high.dmm
  _maps/deprecated/Ships/independent_sugarcube.dmm
  _maps/deprecated/Ships/minutemen_carina.dmm
  _maps/deprecated/Ships/nanotrasen_pubby.dmm
  _maps/deprecated/Ships/syndicate_geneva.dmm
  _maps/deprecated/Ships/syndicate_kugelblitz.dmm
  _maps/deprecated/deprecated_datums.dm
Labels: Map Change, Code change, Test Merge Required

#1646 Assorted Small Schmeid Fixes
  _maps/shuttles/shiptest/independent_schmiedeberg.dmm
Labels: Map Change, Test Merge Candidate

#1653 Kilo Technical Pass 2
  _maps/shuttles/shiptest/independent_kilo.dmm
Labels: Map Change, Test Merge Candidate

#1664 Schema fix
  _maps/configs/independent_rigger.json
  _maps/configs/minutemen_corvus.json
  _maps/configs/syndicate_aegis.json
Labels: Map Change, Test Merge Candidate

#1511 Expands Jungle_syndicate.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  code/game/area/areas/ruins/jungle.dm
Labels: Map Change, Test Merge Candidate, Code change

#1683 Another Schema Fix
  _maps/configs/minutemen_corvus.json
Labels: Map Change

#1655 Makes the Libertalia adminspawn only
  _maps/configs/pirate_libertatia.json
Labels: Map Change

#1688 Jungle_paradise fix
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
Labels: Map Change, Test Merge Candidate

#1690 fixes lighting on the jungle_interceptor
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
Labels: Map Change, Test Merge Candidate

#1687 fixes lavaland_surface_xeno_nest
  _maps/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
Labels: Map Change, Test Merge Candidate

#1689 fixes spaced tile on rockplanet_harmfactory
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
Labels: Map Change, Test Merge Candidate

#1486 Adds a Cybersun Intel Ship, the Kansatsu-Class Scout-Courier
  _maps/configs/syndicate_cybersun_kansatsu.json
  _maps/shuttles/shiptest/syndicate_cybersun_kansatsu.dmm
  code/game/objects/items/storage/secure.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Map Change, Test Merge Candidate, New Ship, Code change

#1635 Asclepius Class Hospital Ship
  _maps/configs/minutemen_asclepius.json
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/paramedic.dm
  icons/turf/decals.dmi
Labels: Map Change, Sprites, Test Merge Candidate, Code change

#1536 Adds a new ruin: The bombed airbase
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/shuttles/ruin/ruin_syndicate_interceptor.dmm
  code/datums/ruins/jungle.dm
  code/datums/shuttles.dm
  code/game/area/areas/ruins/jungle.dm
Labels: Map Change, Code change

#1669 Slimelab fix
  _maps/RandomRuins/IceRuins/icemoon_underground_slimelab.dmm
Labels: Map Change, Test Merge Candidate

#1686 Small Lab4071 fix
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
Labels: Map Change

#1682 Inducers No Longer Spawn In Electrical Closets
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: Code change

#1602 CMM Expansion
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  icons/obj/clothing/under/security.dmi
  icons/obj/guns/48x32guns.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/storage.dmi
  sound/weapons/gun/rifle/gal.ogg
  sound/weapons/gun/smg/smg_heavy.ogg
  sound/weapons/gun/smg/smg_light.ogg
Labels: Sprites, Sound, Code change

#1674 more POSTERS
  _maps/RandomRuins/IceRuins/icemoon_underground_oldstation.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_chokepoint.dmm
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/shuttles/shiptest/independent_rigger.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/solgov_cricket.dmm
  _maps/shuttles/shiptest/solgov_liberty.dmm
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Map Change, Sprites, Code change

#1673 CMM mechs
  code/game/mecha/combat/durand.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/mecha/working/ripley.dm
  icons/mecha/mecha.dmi
Labels: Sprites, Code change

#1661 Adds craftable showers and IV drips hopefully for the last time
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Code change

#1569 Lava particles test
  code/game/objects/effects/particle_emitter.dm
  code/game/objects/effects/turf_fire.dm
  code/game/turfs/open/lava.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  shiptest.dme
Labels: DME Edit, Code change

#1695 [Port] Makes hand drill less painful to hear
  sound/items/drill_use.ogg
Labels: Sound

#1677 fixes broken computers glowing in the dark
  code/game/machinery/computer/_computer.dm
Labels: Code change

#1721 Deletes Unused TGUI Interface
  tgui/packages/tgui/interfaces/NtosDeptManager.js
Labels: TGUI

#1630 new jukebox and safe sprites (plus barrels)
  icons/obj/objects.dmi
  icons/obj/stationobjs.dmi
  icons/obj/structures.dmi
Labels: Sprites

#1657 fixed the lawnmower and added it to the outpust
  code/modules/cargo/packs/civilian.dm
  code/modules/vehicles/pimpin_ride.dm
Labels: Code change

#1665 Adds mining hardsuits to the cargo catalogue
  code/modules/cargo/packs/spacesuit_armor.dm
Labels: Code change

#1675 Fixes hotspots and makes igniters actually work properly
  code/game/machinery/igniter.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
Labels: Code change

#1678 Fixes syndicate maid box not being populated correctly
  code/game/objects/items/storage/boxes.dm
Labels: Code change

#1698 Makes most year dates accurate to the lore primer page.
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Code change

#1699 fixes Fake Lattices
  code/game/objects/effects/decals/misc.dm
Labels: Code change

#1713 adjusts + restricts tesla coil research point gen
  code/__DEFINES/flags.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/objects/event_datum.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Code change

#1722 Painting fixes
  code/game/objects/structures/artstuff.dm
  code/game/objects/structures/signs/_signs.dm
Labels: Code change

#1723 Fixes AI APC Override
  code/modules/mob/living/silicon/ai/life.dm
Labels: Code change

#1728 The Greatest Ever Ship Rework Ever?
  _maps/shuttles/shiptest/syndicate_aegis.dmm
Labels: Map Change

#1717 Fixes lighting on jungle_surface_bombmakers / jungle_syndicate / jungle_demon
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_bombmakers_cabin.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
Labels: Map Change

#1719 fixes lighting on jungle_surface_coffinpirate / jungle_seedling / jungle_surface_shrine / jungle_spider
  _maps/RandomRuins/JungleRuins/jungle_seedling.dmm
  _maps/RandomRuins/JungleRuins/jungle_spider.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_ninjashrine.dmm
Labels: Map Change

#1720 fixes lighting on whitesands_assaultpodcrash / whitesands_adobe / whitesands_farm / whitesands_chokepoint
  _maps/RandomRuins/SandRuins/whitesands_surface_assaultpodcrash.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_adobe.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_farm.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_chokepoint.dmm
Labels: Map Change

#1718 fixes lighting on jungle_botany / jungle_surface_weedshack / jungle_pirate / jungle_witch
  _maps/RandomRuins/JungleRuins/jungle_botany.dmm
  _maps/RandomRuins/JungleRuins/jungle_pirate.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_weed_shack.dmm
  _maps/RandomRuins/JungleRuins/jungle_witch.dmm
Labels: Map Change

#1706 Updates the Corvus-Class
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  code/game/objects/effects/contraband.dm
  code/modules/jobs/job_types/assistant.dm
Labels: Map Change, Test Merge Candidate, Code change

#1624 New Space Ruin: Space Mall
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
Labels: Map Change, Test Merge Candidate, Code change, New Ruin

#1736 Adds double filing cabinets
  code/modules/paperwork/filingcabinet.dm
  icons/obj/bureaucracy.dmi
Labels: Sprites, Code change

#1684 re:re:Materials
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/living.dm
  icons/obj/mining.dmi
  icons/obj/ores.dmi
  icons/obj/stack_objects.dmi
  icons/obj/telescience.dmi
Labels: Sprites, Code change

#1707 Adds conversion kits for CMM mechs and makes CMM mechs more distinct
  code/game/mecha/combat/durand.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/mecha/working/ripley.dm
  code/modules/research/designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mecha/mecha.dmi
  icons/mecha/mecha_equipment.dmi
Labels: Sprites, Code change

#1733 Revamps the Ship Selection Screen
  code/__DEFINES/overmap.dm
  code/_globalvars/tgui.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/new_player/ship_select.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: DME Edit, TGUI, Code change

#1550 Remakes and modernizes jungle roommates ruin per lore
  _maps/RandomRuins/JungleRuins/jungle_surface_roommates.dmm
  code/datums/ruins/jungle.dm
  code/game/area/areas/ruins/jungle.dm
Labels: Map Change, Code change
