Repository shiptest-ss13/Shiptest, pull requests merged in 2023-09, with the labels that each got.

#2302 mag-fed shotgun + lever action syntax changes
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/obj/ammo.dmi
  icons/obj/ammo_bullets.dmi
  icons/obj/ammo_shotshells.dmi
Labels: Sprites, Code change

#2305 Radio OpSec
  code/datums/chatmessage.dm
  code/game/say.dm
Labels: Code change

#2304 Standardizes the capitalization of 'class' in ship JSONs.
  _maps/configs/independent_beluga.json
  _maps/configs/independent_halftrack.json
  _maps/configs/independent_masinyane.json
  _maps/configs/independent_shepherd.json
  _maps/configs/inteq_colossus.json
  _maps/configs/inteq_hound.json
  _maps/configs/inteq_talos.json
  _maps/configs/inteq_vaquero.json
  _maps/configs/minutemen_asclepius.json
  _maps/configs/minutemen_cepheus.json
  _maps/configs/minutemen_vela.json
  _maps/configs/nanotrasen_mimir.json
  _maps/configs/pirate_ember.json
  _maps/configs/pirate_noderider.json
  _maps/configs/syndicate_cybersun_kansatsu.json
Labels: Map Change

#2309 Removes some player facing clown stuff
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/wardrobes.dm
Labels: Code change

#2312 Ough.(wall pathing fix)
  _maps/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  code/game/turfs/closed/_closed.dm
Labels: Map Change, Code change

#2327 Kepori hoodies
  code/modules/clothing/suits/hoodies.dm
  icons/mob/species/kepori/onmob_head_kepori.dmi
  icons/mob/species/kepori/onmob_suit_kepori.dmi
Labels: Sprites, Code change

#2332 Fixes rock sprites ingame [WHOOPS]
  code/game/objects/structures/flora.dm
  icons/obj/flora/ausflora.dmi
  icons/obj/flora/grass-sticks.dmi
  icons/obj/flora/hellflora.dmi
  icons/obj/flora/jungleflora.dmi
  icons/obj/flora/lavarocks.dmi
  icons/obj/flora/plants.dmi
  icons/obj/flora/rocks.dmi
  icons/obj/flora/snowflora.dmi
  icons/obj/flora/tall_trees_dead.dmi
Labels: Sprites, Code change

#2290 Ports 'Ports 'Pointing at something on yourself now shows the item''
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/hud.dm
  code/game/atoms.dm
  code/game/objects/effects/decals/misc.dm
  code/game/objects/items.dm
  code/modules/mob/mob.dm
  code/modules/point/point.dm
  icons/effects/effects.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2343 Fixes a few missing sprites I caused
  code/game/objects/structures/flora.dm
Labels: Code change

#2342 Removes Solarian invisibility technology
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/outfits/solgov.dm
Labels: Code change

#2256 Revamps wasteplanet_unhonorable
  _maps/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  _maps/map_catalogue.txt
  code/game/area/areas/ruins/wasteplanet.dm
Labels: Map Change, Code change

#2345 disable ion storms
  code/modules/overmap/missions/research_mission.dm
  code/modules/overmap/objects/event_datum.dm
Labels: Code change

#2349 kills soul departed message on unowned bodies
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code change

#2347 MAKES IT SO THE NT PDW-RIFLE HAS A PROPER DESCRIPtION
  code/modules/projectiles/guns/ballistic/assault.dm
Labels: Code change

#2307 Adds a voice log to the wideband
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  tgui/packages/tgui/interfaces/Radio.js
Labels: TGUI, Code change

#2285 Make body bag printable in the autolathe
  code/game/objects/items/bodybag.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Stale, Code change

#2331 Tweaks newer rifle projectiles
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Code change

#2329 Disarms sec/command loadouts
  code/modules/clothing/outfits/solgov.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/warden.dm
Labels: Code change

#2321 The CentCom-ening: Shiptest Edition
  _maps/deprecated/Ruins/oldAIsat.dmm
  _maps/map_files/generic/CentCom.dmm
  code/controllers/subsystem/traumas.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/clothing/under/jobs/centcom.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/clothing/suits/toggle.dmi
  icons/mob/clothing/under/centcom.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/hooded.dmi
  icons/obj/clothing/suits/toggle.dmi
  icons/obj/clothing/under/centcom.dmi
  icons/obj/vending.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Test Merge Candidate, Code change

#2223 Removes monkey mode and wishgranter
  code/__DEFINES/role_preferences.dm
  code/datums/diseases/transformation.dm
  code/datums/saymode.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/monkey/monkey.dm
  code/game/machinery/wishgranter.dm
  code/modules/antagonists/monkey/monkey.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/awaymissions/mission_code/wildwest.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/mob_helpers.dm
  shiptest.dme
Labels: DME Edit, Code change

#2133 SSlag_switch from /tg/
  check_regex.yaml
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/lag_switch.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/icons.dm
  code/_globalvars/lists/mobs.dm
  code/_globalvars/traits.dm
  code/_onclick/hud/parallax.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/input.dm
  code/controllers/subsystem/lag_switch.dm
  code/datums/chatmessage.dm
  code/datums/components/footstep.dm
  code/datums/world_topic.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_lists.dm
  code/modules/mob/mob_say.dm
  code/modules/overmap/objects/dynamic_datum.dm
  config/config.txt
  shiptest.dme
Labels: Config, DME Edit, Admin, TGUI, Code change

#2272 Buildmode & Supply Pod Ports
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/generic/blank.dmm
  code/__DEFINES/cargo.dm
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/obj_flags.dm
  code/__HELPERS/datums.dm
  code/datums/components/pellet_cloud.dm
  code/datums/skills/_skill.dm
  code/game/area/areas/centcom.dm
  code/game/atoms.dm
  code/game/machinery/roulette_machine.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/buildmode/submodes/copy.dm
  code/modules/buildmode/submodes/delete.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/buildmode/submodes/map_export.dm
  code/modules/buildmode/submodes/outfit.dm
  code/modules/buildmode/submodes/proccall.dm
  code/modules/buildmode/submodes/throwing.dm
  code/modules/buildmode/submodes/tweakcomps.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/gondolapod.dm
  code/modules/cargo/supplypod.dm
  code/modules/events/stray_cargo.dm
  code/modules/holodeck/area_copy.dm
  icons/effects/supplypod_pickturf.dmi
  icons/effects/supplypod_pickturf_down.dmi
  icons/misc/buildmode.dmi
  icons/obj/supplypods.dmi
  icons/obj/supplypods_32x32.dmi
  shiptest.dme
  tgui/packages/tgui/interfaces/CentcomPodLauncher.js
Labels: Map Change, DME Edit, Sprites, Admin, TGUI, Code change

#2352 Hopefully adds proper annotations to the regex linter
  .github/workflows/ci_suite.yml
  tools/ci/check_regex.py
Labels: Github, Code change

#2260 Rations!
  _maps/deprecated/Ships/independent_sugarcube.dmm
  _maps/deprecated/Ships/minutemen_carina.dmm
  _maps/deprecated/Ships/nanotrasen_pubby.dmm
  _maps/deprecated/Ships/syndicate_kugelblitz.dmm
  _maps/shuttles/shiptest/independent_beluga.dmm
  _maps/shuttles/shiptest/independent_box.dmm
  _maps/shuttles/shiptest/independent_boyardee.dmm
  _maps/shuttles/shiptest/independent_byo.dmm
  _maps/shuttles/shiptest/independent_caravan.dmm
  _maps/shuttles/shiptest/independent_dwayne.dmm
  _maps/shuttles/shiptest/independent_halftrack.dmm
  _maps/shuttles/shiptest/independent_kilo.dmm
  _maps/shuttles/shiptest/independent_litieguai.dmm
  _maps/shuttles/shiptest/independent_meta.dmm
  _maps/shuttles/shiptest/independent_mudskipper.dmm
  _maps/shuttles/shiptest/independent_rigger.dmm
  _maps/shuttles/shiptest/independent_rube_goldberg.dmm
  _maps/shuttles/shiptest/independent_shetland.dmm
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/inteq_hound.dmm
  _maps/shuttles/shiptest/inteq_talos.dmm
  _maps/shuttles/shiptest/inteq_vaquero.dmm
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
  _maps/shuttles/shiptest/minutemen_cepheus.dmm
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  _maps/shuttles/shiptest/minutemen_vela.dmm
  _maps/shuttles/shiptest/nanotrasen_delta.dmm
  _maps/shuttles/shiptest/nanotrasen_gecko.dmm
  _maps/shuttles/shiptest/nanotrasen_mimir.dmm
  _maps/shuttles/shiptest/nanotrasen_osprey.dmm
  _maps/shuttles/shiptest/nanotrasen_skipper.dmm
  _maps/shuttles/shiptest/pirate_libertatia.dmm
  _maps/shuttles/shiptest/syndicate_gorlex_hyena.dmm
  _maps/shuttles/subshuttles/independent_sugarcube.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/components/storage/storage.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/storage/ration.dm
  code/modules/cargo/packs/food.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/ration.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  icons/obj/food/ration.dmi
  shiptest.dme
  sound/effects/rip3.ogg
Labels: Map Change, DME Edit, Sprites, Sound, Code change

#2360 Fixes qdel in new error
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
Labels: Code change

#2359 Adds new foodtype, GORE, split from GROSS. Shuffles species food preferences.
  code/__DEFINES/food.dm
  code/modules/food_and_drinks/food/ration.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/food_and_drinks/food/snacks_burgers.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Code change

#2326 i fucked up (disco edition)
  code/game/machinery/dance_machine.dm
Labels: Code change

#2335 cybernetic organs no longer permanently begin to shut down
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/stomach.dm
Labels: Code change

#2328 Updates the Colossus (again)
  _maps/shuttles/shiptest/inteq_colossus.dmm
Labels: Map Change

#2368 Pointman hardsuit and Cybersun hardsuit resprite
  _maps/deprecated/Ruins/forgottenship.dmm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/ruins/spaceruin_code/forgottenship.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Map Change, Sprites, Code change

#2364 Fixes radiation runtime and firebot GC
  code/__DEFINES/statpanel.dm
  code/datums/map_zones.dm
  code/game/objects/effects/anomalies/anomalies_heartbeat.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
Labels: Code change

#2344 Remaps the Skipper Heavy Cruiser
  _maps/configs/nanotrasen_skipper.json
  _maps/shuttles/shiptest/nanotrasen_skipper.dmm
Labels: Map Change

#2376 Solarian DLC 2: A new job and new goodies!
  code/modules/clothing/head/misc.dm
  code/modules/clothing/outfits/solgov.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/wintercoats.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/suits/hooded.dmi
Labels: Sprites, Code change

#2383 Removes the ability for players to use a table's background attribute in html to embed images
  tgui/packages/tgui/sanitize.ts
Labels: TGUI

#2322 Misc Corvus class fixes
  _maps/shuttles/shiptest/minutemen_corvus.dmm
Labels: Map Change

#2324 fixes a broken door on the vela
  _maps/shuttles/shiptest/minutemen_vela.dmm
Labels: Map Change

#2300 Remaps Wasteplanet Pandora Attempt 2 Electric Boogaloo
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/map_catalogue.txt
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
Labels: Map Change, Code change
