Repository shiptest-ss13/Shiptest, pull requests merged in 2024-08, with the labels that each got.

#3199 Remaps the Kilo
  _maps/configs/independent_kilo.json
  _maps/shuttles/independent/independent_kilo.dmm
Labels: Map Change, Test Merged, Ship, Test Merge Required

#3141 Legion attacks now kill you slower
  code/datums/diseases/legionvirus.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  icons/obj/surgery.dmi
Labels: Sprites, Code change

#3186 distress signal admin button
  code/__HELPERS/priority_announce.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Code change

#3221 Reduces prices of first aid kits.
  code/modules/cargo/packs/medical.dm
Labels: Code change

#3217 Coffee jitter nerf.
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Code change

#3251 makes the industrial jacket warm
  code/modules/clothing/suits/jobs.dm
Labels: Code change

#3257 Attachments are now small instead of normal sized
  code/game/objects/items/attachments/_attachment.dm
Labels: Code change

#3259 Cargo Typos (Contender)
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
Labels: Code change

#3255 Additional sprites for Vox - Inteq and NGR
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/species/vox/onmob_back_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
Labels: Sprites, Code change

#3241 Guncase fix 2
  code/game/objects/items/storage/guncases.dm
Labels: Code change

#3254 Adds an anesthetics crate to cargo
  code/modules/cargo/packs/medical.dm
Labels: Code change

#3253 Fixed gun executions
  code/modules/projectiles/gun.dm
Labels: Code change

#3236 Fixed: wrong cash bundle value, cash dropping upon stacking
  code/game/objects/items/cash.dm
Labels: Code change

#3242 Makes 8x50 boxes have exactly 5 rounds more.
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: Code change

#3247 Makes oxygen tanks at the outpost very cheap.
  code/modules/cargo/packs/emergency.dm
Labels: Code change

#3267 Muzzle Flash-ening!
  icons/obj/projectiles.dmi
Labels: Sprites

#3202 Combustion & Electrolyzer fixes
  _maps/outpost/hangar/nt_ice_20x20.dmm
  _maps/outpost/hangar/nt_ice_40x20.dmm
  _maps/outpost/hangar/nt_ice_40x40.dmm
  _maps/outpost/hangar/nt_ice_56x20.dmm
  _maps/outpost/hangar/nt_ice_56x40.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/game/machinery/outpost_electrolyzer.dm
  code/modules/atmospherics/auxgm/gas_types.dm
  icons/obj/nutanks.dmi
  tgui/packages/tgui/constants.ts
Labels: Map Change, Sprites, TGUI, Code change

#3195 Consistent Exosuit Terminology
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/configs/independent_rigger.json
  _maps/configs/nanotrasen_heron.json
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/_onclick/hud/alert.dm
  code/datums/ruins/wasteplanet.dm
  code/game/MapData/shuttles/nanotrasen_ranger.dm
  code/game/area/areas/ruins/wasteplanet.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/weapon_bay.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mech_bay.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/manuals.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/showcase.dm
  code/modules/awaymissions/mission_code/caves.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/under/costume.dm
  code/modules/jobs/access.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/research/designs.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
  strings/locations.json
  strings/tips.txt
Labels: Map Change, Code change

#3198 Adds directionals for the mining processing console/electrolyzer console.
  _maps/outpost/indie_space.dmm
  _maps/outpost/nanotrasen_ice.dmm
  icons/obj/machines/mining_machines.dmi
Labels: Map Change, Sprites

#3265 Fixes three total typos in the code.
  code/game/machinery/shieldgen.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: Code change

#3263 Buffs the LP hardsuits
  code/game/MapData/shuttles/nanotrasen_ranger.dm
Labels: Code change

#3229 Removes Syndie survival boxes
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Code change

#3234 Legions drop less money
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
Labels: Code change

#3240 Autolathable stripper clips and 7.62 polymer rifle.
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/research/designs/autolathe_designs.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#3225 Sandbags can be bought at the outpost and deconstructed by click dragging them onto yourself
  code/game/machinery/deployable.dm
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#3222 Social Anxiety quirk fixes and tweaks
  code/datums/traits/negative.dm
  code/modules/mob/mob_helpers.dm
Labels: Fix, Code change

#3262 Saint Roumain Kepori outfits
  code/modules/clothing/factions/srm.dm
  icons/mob/species/kepori/onmob_head_kepori.dmi
  icons/mob/species/kepori/onmob_suit_kepori.dmi
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
Labels: Sprites, Code change

#3180 Hazardous Gases (Cl and HCl)
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/machinery/shuttle/shuttle_heater.dm
  code/modules/atmospherics/auxgm/gas_types.dm
  code/modules/atmospherics/gasmixtures/auxgm.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/lungs.dm
  icons/obj/nutanks.dmi
  tgui/packages/tgui/constants.ts
Labels: Sprites, TGUI, Test Merged, Test Merge Candidate, Code change, Test Merge Required

#3006 Remaps the Dwayne.
  _maps/configs/independent_dwayne.json
  _maps/shuttles/independent/independent_dwayne.dmm
  code/game/objects/items/plushes.dm
  code/modules/clothing/outfits/factions/independent.dm
Labels: Map Change, Ship, Code change

#3281 Fixes indie sec hardsuit sprite
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/species/misc/digitigrade_suits.dmi
Labels: Sprites, Code change

#3279 Cleanbots destroy cigarette butts
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Code change

#3278 Industrial Jacket Warm (For Real)
  code/modules/clothing/suits/jobs.dm
Labels: Code change

#3260 Give the Talos a Corpsman
  _maps/configs/inteq_talos.json
  _maps/shuttles/inteq/inteq_talos.dmm
Labels: Map Change, Code change

#3264 Vox Sprite Update - Scarves and other Assorted Items
  code/__DEFINES/species_clothing_defines.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/towels.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/photography/camera/camera.dm
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_neck_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
Labels: Sprites, Code change

#3275 Suit Storage Unit QoL Patch
  code/game/machinery/suit_storage_unit.dm
  icons/obj/machines/suit_storage.dmi
Labels: Sprites, Code change

#3282 More Vox Sprites - The Frontiersmen
  code/modules/clothing/factions/frontiersmen.dm
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  icons/mob/species/vox/onmob_uniform_vox.dmi
Labels: Sprites, Code change

#3284 You can no longer phase through a flipped table.
  code/game/objects/structures/table_flipped.dm
Labels: Code change

#3283 Restores scooping reagents from water turfs, and repaths acid turfs under water
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/game/turfs/open/acid.dm
  code/game/turfs/open/water.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Map Change, Code change

#3273 Hardliner Pilot and Hardliner Trooper are no longer the same typepath
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Code change

#3237 Shetland wiring fix
  _maps/shuttles/independent/independent_shetland.dmm
Labels: Map Change

#3231 allows admins to varedit teles to bypass vlevel
  code/game/machinery/quantum_pad.dm
  code/game/objects/effects/portals.dm
Labels: Code change

#3298 Ranged frontersman with internals now drops the correct revolver type.
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
Labels: Code change

#3301 re:belts
  icons/mob/clothing/belt.dmi
  icons/obj/clothing/belt_overlays.dmi
  icons/obj/clothing/belts.dmi
Labels: Sprites

#3302 Changes what items can fit in wallets
  code/game/objects/items/storage/wallets.dm
Labels: Code change

#3307 Removes extra fire extinguisher from the Talos
  _maps/shuttles/inteq/inteq_talos.dmm
Labels: Map Change

#3220 TEG efficiency code tweaks.
  code/modules/power/generator.dm
Labels: Stale Exempt, Code change, Test Merge Required

#3248 Moves everything from autolathe contraband. Removes a couple items from autolathe in general.
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change

#3258 Adds a bunch of stuff to the loadout.
  code/game/objects/items/weaponry.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_eyewear.dm
  code/modules/client/loadout/loadout_footwear.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/clothing/suits/jobs.dm
Labels: Code change

#3290 Extra ration icons
  code/game/objects/items/storage/ration.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/ration.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  icons/obj/food/ration.dmi
Labels: Sprites, Code change

#3299 Reduces the cost of food/botany items in the outpost and makes the grill not suck as much.
  code/datums/components/sizzle.dm
  code/modules/cargo/packs/food.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
Labels: Code change

#3300 Fixes power consumption for mech movement and reduces the amount of power the durand shield consumes
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/medical/odysseus.dm
  code/game/mecha/working/ripley.dm
Labels: Code change

#3277 Adds player-accessible cryobeds to the indie outpost.
  _maps/outpost/indie_space.dmm
Labels: Map Change

#3292 Wormholes no longer decay when used
  code/modules/overmap/objects/event_datum.dm
Labels: Code change

#3094 tweaks to recoil and spread
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
Labels: Test Merged, Code change

#3239 The Particlening
  code/__DEFINES/generators.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/particles.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/generators.dm
  code/datums/looping_sounds/weather.dm
  code/datums/weather/weather_types/rain.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/particle_emitter.dm
  code/game/objects/effects/particles/acid.dm
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/misc.dm
  code/game/objects/effects/particles/slime.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/effects/particles/water.dm
  code/game/objects/effects/turf_fire.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/window.dm
  code/game/turfs/open/lava.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/death.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  icons/effects/blood.dmi
  icons/effects/particles/bonfire.dmi
  icons/effects/particles/echo.dmi
  icons/effects/particles/generic.dmi
  icons/effects/particles/goop.dmi
  icons/effects/particles/pollen.dmi
  icons/effects/particles/smoke.dmi
  icons/effects/weather_effects.dmi
  icons/obj/structures.dmi
  shiptest.dme
  sound/ambience/storm_indoors.ogg
  sound/ambience/storm_outdoors.ogg
  sound/effects/splatter.ogg
  sound/health/bone/bone_break1.ogg
  sound/health/bone/bone_break2.ogg
  sound/health/bone/bone_break3.ogg
  sound/health/bone/bone_break4.ogg
  sound/health/bone/bone_break5.ogg
  sound/health/bone/bone_break6.ogg
Labels: DME Edit, Sprites, Sound, Code change

#3261 Box Hospital Ship engineering power fix and dress up
  _maps/shuttles/independent/independent_box.dmm
Labels: Map Change

#3311 Adds kepori hardsuit fallback
  code/game/objects/items.dm
  code/modules/clothing/factions/ngr.dm
  icons/mob/clothing/species/kepori.dmi
Labels: Sprites, Code change

#3308 Guestbook QoL
  code/datums/guestbook.dm
  code/game/atoms.dm
  code/game/say.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
Labels: Code change

#3306 Allows penlights and flashlights to be used to diagnose eye health again
  code/game/objects/items/devices/flashlight.dm
Labels: Code change

#3309 Weapon power cells can be charged in weapon rechargers and fixes e-40 laser charging.
  code/game/machinery/recharger.dm
  code/modules/projectiles/guns/ballistic/assault.dm
Labels: Code change

#3249 Back In Black (Market) - Black Market Dead Drops and Stock Cycling
  code/__DEFINES/blackmarket.dm
  code/controllers/subsystem/blackmarket.dm
  code/controllers/subsystem/overmap.dm
  code/datums/map_zones.dm
  code/game/objects/items/etherealdiscoball.dm
  code/game/objects/items/grenades/discogrenade.dm
  code/game/objects/items/powerfist.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/blackmarket/blackmarket_item.dm
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
  code/modules/cargo/blackmarket/blackmarket_items/consumables.dm
  code/modules/cargo/blackmarket/blackmarket_items/explosives.dm
  code/modules/cargo/blackmarket/blackmarket_items/misc.dm
  code/modules/cargo/blackmarket/blackmarket_items/tech.dm
  code/modules/cargo/blackmarket/blackmarket_items/tools.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/blackmarket/blackmarket_market.dm
  code/modules/cargo/blackmarket/blackmarket_telepad.dm
  code/modules/cargo/blackmarket/blackmarket_uplink.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/power/cell.dm
  code/modules/reagents/reagent_containers/jug.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/BlackMarketUplink.js
Labels: DME Edit, TGUI, Test Merge Candidate, Code change

#3244 Renames the Mauler exosuit + exosuit guns
  _maps/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/game/machinery/computer/arcade.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/equipment/weapons/mecha_ammo.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/toy_mechs.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/holiday/easter.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
  icons/mecha/mecha.dmi
  icons/obj/toy.dmi
Labels: Map Change, Sprites, Code change

#3216 Sec Vest Breakpoints & Armor Rebalances
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/syndicate/syndicate_panacea.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/nanotrasen.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/factions/srm.dm
  code/modules/clothing/factions/suns.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/outfits/ert/solgov_ert.dm
  code/modules/clothing/outfits/factions/solgov.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/clothing/suits/armor.dm
Labels: Map Change, Code change

#3089 Raises character slot limit to 30
  code/modules/client/preferences.dm
Labels: Code change
