Repository shiptest-ss13/Shiptest, pull requests merged in 2024-03, with the labels that each got.

#2733 A few more attempted harddel fixes
  code/game/atoms_movable.dm
  code/game/machinery/cryopod.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/caseless/_caseless.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/surgery/surgery.dm
Labels: Code change

#2790 One more hard delete
  code/modules/overmap/missions.dm
Labels: Code change

#2799 SHIPSPAWN TYPO
  code/modules/admin/verbs/toggle_ship_spawn.dm
Labels: Code change

#2797 Tweaks plasma thrusters
  code/game/machinery/shuttle/shuttle_heater.dm
Labels: Code change

#2722 Dissection tweaks: I'm tired of the corpse pile
  code/modules/surgery/experimental_dissection.dm
Labels: Tweak, Code change

#2800 Buckleable Stools
  code/game/objects/structures/beds_chairs/chair.dm
Labels: Code change

#2744 Emergency Response Team Housekeeping
  code/datums/ert.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/ert/frontiersmen.dm
  code/modules/antagonists/ert/indie.dm
  code/modules/antagonists/ert/inteq.dm
  code/modules/antagonists/ert/minutemen.dm
  code/modules/antagonists/ert/nanotrasen.dm
  code/modules/antagonists/ert/solgov.dm
  code/modules/antagonists/ert/syndicate.dm
  shiptest.dme
Labels: DME Edit, Code change

#2739 maybe fixes fishing
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
  tgui/packages/tgui/interfaces/Fishing.tsx
Labels: TGUI, Code change

#2738 mitigates paper fields lagging out a lot
  tgui/packages/tgui/interfaces/PaperSheet.tsx
Labels: TGUI

#2720 Multiple runtime error fixes
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/important_recursive_contents.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/unsorted.dm
  code/datums/components/beauty.dm
  code/datums/components/fantasy/prefixes.dm
  code/datums/components/mood.dm
  code/datums/components/pellet_cloud.dm
  code/datums/components/weatherannouncer.dm
  code/datums/elements/beauty.dm
  code/datums/materials/_material.dm
  code/datums/materials/basemats.dm
  code/datums/materials/meat.dm
  code/datums/materials/pizza.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/_machinery.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/objs.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/headpike.dm
  code/game/objects/structures/statues.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/floor/reinf_floor.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/supplypod.dm
  code/modules/events/spacevine.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/research/rdconsole.dm
  code/modules/screen_alerts/_screen_alerts.dm
  code/modules/shuttle/special.dm
  shiptest.dme
Labels: DME Edit, Code change

#2775 Tweaks 38 damage and adds .38 Surplus
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
  icons/obj/ammo.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2798 Craftable Towels
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Code change

#2767 Syndicate engineers now have GEC suits set as their alternate jumpsuit.
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Code change

#2795 Adds new ammo boxes, adds them to cargo and granularizes ammo box cargo prices.
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  icons/obj/ammo.dmi
Labels: Sprites, Code change

#2782 Removes the Caravan
  _maps/configs/independent_caravan.json
  _maps/shuttles/independent/independent_caravan.dmm
Labels: Map Change, Removal, Ship

#2803 The Tablening
  icons/obj/smooth_structures/glass_table.dmi
  icons/obj/smooth_structures/poker_table.dmi
  icons/obj/smooth_structures/reinforced_table.dmi
  icons/obj/smooth_structures/reinforced_wood_table.dmi
  icons/obj/smooth_structures/table.dmi
  icons/obj/smooth_structures/table_chem.dmi
  icons/obj/smooth_structures/table_greyscale.dmi
  icons/obj/smooth_structures/wood_table.dmi
Labels: Sprites

#2735 Adds survival knives to the Colossus, Talos and Vaquero.
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change

#2810 Adds zoom to the GAL, SSG-04 and EBR.
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Code change

#2801 Better Food Crates
  code/modules/cargo/packs/food.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
Labels: Code change

#2761 Revolver Tweaks... more like additions, Gunslinger quirk, and more
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/hud/human.dm
  code/datums/traits/neutral.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/boxes_magazines/internal/_internal.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/gunhud.dm
  icons/hud/gun_hud.dmi
  icons/mob/radial.dmi
  icons/obj/guns/48x32guns.dmi
  shiptest.dme
  sound/weapons/gun/laser/cs-fire.ogg
  sound/weapons/gun/revolver/spin_single.ogg
Labels: DME Edit, Sprites, Sound, Code change

#2791 Tweaks plasmasoul anomalies
  code/game/objects/effects/anomalies/anomalies_plasmasoul.dm
Labels: Code change

#2812 Deconstructing a sauna gives you as much as you spent
  code/game/objects/structures/sauna.dm
Labels: Code change

#2807 Silicon Language Fix
  code/modules/language/language_holder.dm
Labels: Code change

#2818 fixes 8x50 boxes and also adds them and some other ammo to the elder
  _maps/shuttles/roumain/srm_elder.dmm
  code/game/objects/items/storage/toolbox.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  icons/obj/ammo.dmi
Labels: Map Change, Sprites, Code change

#2778 Crashes the Stock Parts Market
  code/modules/cargo/packs/machinery.dm
Labels: Code change

#2828 Blindness Accessability Buff
  code/game/objects/items/devices/scanners.dm
Labels: Code change

#2817 factional fax machines
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_box.dmm
  _maps/shuttles/independent/independent_halftrack.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_rube_goldberg.dmm
  _maps/shuttles/independent/independent_schmiedeberg.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/subshuttles/inteq_anvil.dmm
  _maps/shuttles/subshuttles/nanotrasen_ancon.dmm
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/modules/paperwork/fax.dm
Labels: Map Change, Code change

#2806 pAI Update: NO GODS NO KINGS NO MASTERS & A Couple Radio Fixes
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/mob/living/silicon/pai/pai_say.dm
  code/modules/mob/living/silicon/pai/software.dm
Labels: Code change

#2805 Ports 'Be polite! While on walk intent you won't bump, swap places or push other people now.'
  code/modules/mob/living/living.dm
Labels: Code change

#2804 Prosthesis Changes & Mechanical Surgery Tweaks
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/ipc_revive.dm
  code/modules/surgery/limb_grafting.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/mechanical.dm
  code/modules/surgery/organ_manipulation.dm
  shiptest.dme
Labels: DME Edit, Code change

#2796 Adds more ways to ignite e-cigarettes.
  code/game/objects/items/cigs_lighters.dm
Labels: Code change

#2785 Hopefully restores PAI wiping
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Code change, Test Merge Required

#2760 TGUI Folders and Clipboards + Biscuit Cards
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/syndicate/syndicate_gec_lugol.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  check_regex.yaml
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/paperwork/biscuit.dm
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/fax.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/folders_premade.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_cutter.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/bureaucracy.dmi
  shiptest.dme
  tgui/packages/tgui/interfaces/Clipboard.js
  tgui/packages/tgui/interfaces/Folder.js
Labels: Map Change, DME Edit, Sprites, TGUI, Code change

#2824 Players can no longer open additional job slots
  code/game/machinery/cryopod.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/overmap/ships/owner_action.dm
  tgui/packages/tgui/interfaces/ShipOwner.tsx
Labels: TGUI, Code change

#2831 Changes the Solarian ship prefix from "SGSV" to "SCSV"
  _maps/configs/solgov_chronicle.json
  _maps/configs/solgov_inkwell.json
  _maps/configs/solgov_paracelsus.json
  code/__HELPERS/names.dm
Labels: Map Change, Code change

#2827 Updates paper signature text size
  tgui/packages/tgui/interfaces/PaperSheet.tsx
Labels: TGUI

#2780 Spooky's Objects Resprites
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/beds_chairs/sofa.dm
  code/game/objects/structures/flora.dm
  code/modules/paperwork/filingcabinet.dm
  icons/obj/atmospherics/pipes/pressure_tank.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/flora/pinetrees.dmi
  icons/obj/objects.dmi
  icons/obj/robotics.dmi
  icons/obj/sofa.dmi
  icons/obj/stationobjs.dmi
  icons/obj/structures.dmi
  icons/obj/watercloset.dmi
Labels: Sprites, Code change

#2772 Play local sound volume
  code/modules/admin/verbs/playsound.dm
Labels: Good First PR, Code change

#2832 Silicon Emotes Additions
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
Labels: Code change

#2825 Separates ID cards' update_appearance from update_label, adds id_assignment to job outfits
  code/game/objects/items/cards_ids.dm
  code/modules/admin/verbs/debug.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/outfits/ert/inteq_ert.dm
  code/modules/clothing/outfits/ert/minutemen_ert.dm
  code/modules/clothing/outfits/ert/solgov_ert.dm
  code/modules/clothing/outfits/ert/syndicate_ert.dm
  code/modules/clothing/outfits/factions/frontiersmen.dm
  code/modules/clothing/outfits/factions/gezena.dm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/clothing/outfits/factions/roumain.dm
  code/modules/clothing/outfits/factions/solgov.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/paperwork/contract.dm
Labels: Code change

#2809 Fixes cargo descriptions and granularizes 357 speedloaders.
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
Labels: Code change

#2821 Cybersun cap sprite no longer defaults to black cap.
  code/modules/clothing/head/soft_caps.dm
Labels: Code change

#2837 Roundstart Audio Replacement & Roundend Audio DLC #1
  code/controllers/subsystem/ticker.dm
  sound/roundend/apcdestroyed.ogg
  sound/roundend/bangindonk.ogg
  sound/roundend/boowomp.ogg
  sound/roundend/deliguana.ogg
  sound/roundend/disappointed.ogg
  sound/roundend/gayrights.ogg
  sound/roundend/its_only_game.ogg
  sound/roundend/leavingtg.ogg
  sound/roundend/newroundsexy.ogg
  sound/roundend/petersondisappointed.ogg
  sound/roundend/repair.ogg
  sound/roundend/scrunglartiy.ogg
  sound/roundend/shiptestingthursday.ogg
  sound/roundend/undecided.ogg
  sound/roundend/yeehaw.ogg
  sound/roundstart/addiguana.ogg
Labels: Sound, Code change

#2841 tree fix
  code/game/objects/structures/flora.dm
Labels: Code change

#2843 Fixes SUNS saber sheaths not working
  code/game/objects/items/storage/belt.dm
Labels: Code change

#2844 Fixes speedloaders and enbloc clips not being able to take other ammo of the same caliber and better descriptions
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
Labels: Code change

#2819 Adds wall locker mapping helpers
  code/_globalvars/lists/objects.dm
  code/game/objects/structures/crates_lockers/closets/wallmount.dm
  icons/obj/wallcloset.dmi
Labels: Sprites, Code change

#2855 Fixes dswords being invisible
  code/game/objects/items/dualsaber.dm
Labels: Code change

#2859 4.6x30mm Ammunition Boxes Are No Longer Invisible
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  icons/obj/ammo.dmi
Labels: Sprites, Code change

#2788 Passive radiation structures/effects don't trigger if there are no players nearby
  code/game/objects/effects/radiation.dm
  code/game/objects/structures/radioactive.dm
Labels: Code change

#2853 Halves the volume of the arcade game
  code/modules/modular_computers/file_system/programs/arcade.dm
Labels: Code change

#2847 fixes extra > on end of carbon examine
  code/game/objects/structures/catwalk.dm
  code/modules/mob/living/carbon/examine.dm
Labels: Code change

#2721 Gives the Riggs a touch-up
  _maps/configs/independent_rigger.json
  _maps/shuttles/independent/independent_rigger.dmm
Labels: Map Change, Ship, Test Merge Required

#2863 PGF Squad Leader Equipment + Fixes
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/outfits/factions/gezena.dm
  icons/mob/clothing/faction/gezena/head.dmi
  icons/mob/clothing/faction/gezena/neck.dmi
  icons/obj/clothing/faction/gezena/head.dmi
  icons/obj/clothing/faction/gezena/neck.dmi
Labels: Sprites, Code change

#2860 Removes In-built goggles from the Inteq Helmets
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites

#2840 Fixes 38 Surplus being unprintable in the autolathe and 38 speedloader description
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change

#2864 You can plunge geysers with a normal plunger and removes reinforced plungers
  _maps/shuttles/independent/independent_schmiedeberg.dmm
  code/game/machinery/medipen_refiller.dm
  code/game/objects/objs.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  icons/obj/watercloset.dmi
Labels: Map Change, Sprites, Code change

#2742 I Left My Heart In Kalixcis [PGF] Crying Sun-Class Light Frigate
  _maps/configs/pgf_crying_sun.json
  _maps/ship_config_schema.json
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/pgf_nail.dmm
  code/__DEFINES/radio.dm
  code/__HELPERS/names.dm
  code/controllers/subsystem/blackbox.dm
  code/datums/shuttles.dm
  code/game/MapData/shuttles/pgf_crying_sun.dm
  code/game/area/ship_areas.dm
  code/game/communications.dm
  code/game/machinery/telecomms/machines/relay.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/signs/signs_flags.dm
  code/game/say.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/outfits/factions/gezena.dm
  code/modules/mob/living/living_say.dm
  icons/obj/contraband.dmi
  icons/turf/decals.dmi
  interface/stylesheet.dm
  shiptest.dme
  strings/ship_names.json
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Map Change, DME Edit, Sprites, TGUI, Code change
