Repository shiptest-ss13/Shiptest, pull requests merged in 2024-05, with the labels that each got.

#2881 NT Sprite Overhaul
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  code/controllers/subsystem/traumas.dm
  code/game/objects/items/religion.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/factions/nanotrasen.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/jobs/job_types/captain.dm
  icons/mob/clothing/faction/nanotrasen/back.dmi
  icons/mob/clothing/faction/nanotrasen/belt.dmi
  icons/mob/clothing/faction/nanotrasen/feet.dmi
  icons/mob/clothing/faction/nanotrasen/hands.dmi
  icons/mob/clothing/faction/nanotrasen/head.dmi
  icons/mob/clothing/faction/nanotrasen/neck.dmi
  icons/mob/clothing/faction/nanotrasen/suits.dmi
  icons/mob/clothing/faction/nanotrasen/uniforms.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/under/command.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/inhands/faction/nanotrasen/nt_lefthand.dmi
  icons/mob/inhands/faction/nanotrasen/nt_righthand.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/obj/clothing/faction/nanotrasen/head.dmi
  icons/obj/clothing/faction/nanotrasen/neck.dmi
  icons/obj/clothing/faction/nanotrasen/suits.dmi
  icons/obj/clothing/faction/nanotrasen/uniforms.dmi
  icons/obj/clothing/under/medical.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change

#2951 Adds missing descs to Nanotrasen uniform items
  code/modules/clothing/factions/nanotrasen.dm
Labels: Fix, High Priority, Code change

#2922 Hide invisimin users from HUDs and Ghosts
  code/__DEFINES/sight.dm
  code/modules/admin/admin_verbs.dm
Labels: Code change

#2935 Adjusted Pure Soulus Dust
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Code change

#2944 Match bullets no longer have a highly above-average chance to ricochet into their user's foot
  code/modules/projectiles/projectile.dm
Labels: Code change

#2946 Adds the Candor to Cargo.
  code/modules/cargo/packs/gun.dm
Labels: Code change

#2947 Makes the .38 revolver smaller and less expensive.
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#2938 Removes reality integrity issues from EXOCOM
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Code change

#2955 Add default return for robotic emotes
  code/modules/mob/living/carbon/human/emote.dm
Labels: Code change

#2924 Intercomms, widebands, and headets defaults to on again. Handhelds continue to default to off.
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
Labels: Code change

#2957 Removes the Arrhythmic Knife
  _maps/RandomRuins/BeachRuins/beach_float_resort.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  code/game/objects/items/holy_weapons.dm
Labels: Map Change, Code change

#2962 Saint Roumain Militia Content Expansion Part 1: The Prelude
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  icons/obj/ammo.dmi
Labels: Sprites, Code change

#2845 Adds storage to helmets, which can overlay certain items in them
  code/datums/components/storage/concrete/pockets.dm
  code/game/objects/items.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  icons/mob/clothing/helmet_overlays.dmi
Labels: Sprites, Code change

#2985 Fixes stray pixels on north-facing siding ends.
  icons/turf/decals.dmi
Labels: Sprites

#2970 Static anomalies now require one of their safe approach methods rather than ALL OF THEM
  code/game/objects/effects/anomalies/anomalies_static.dm
Labels: Code change

#2965 Adds Floral Shirt to Loadout
  code/modules/client/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: Code change

#2961 Granularizes riot shields similarly to armor and guns.
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#2949 Let Them Eat Dirt - Elzu Rooting
  code/__DEFINES/dcs/signals.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/status_effects/neutral.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  icons/hud/screen_alert.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2945 NGR Rework Part 1: Clothing and Roles!
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/configs/syndicate_gorlex_hyena.json
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/faction/ngr/belt.dmi
  icons/mob/clothing/faction/ngr/eyes.dmi
  icons/mob/clothing/faction/ngr/head.dmi
  icons/mob/clothing/faction/ngr/mask.dmi
  icons/mob/clothing/faction/ngr/neck.dmi
  icons/mob/clothing/faction/ngr/suits.dmi
  icons/mob/clothing/faction/ngr/uniforms.dmi
  icons/obj/clothing/faction/ngr/belt.dmi
  icons/obj/clothing/faction/ngr/eyes.dmi
  icons/obj/clothing/faction/ngr/head.dmi
  icons/obj/clothing/faction/ngr/mask.dmi
  icons/obj/clothing/faction/ngr/neck.dmi
  icons/obj/clothing/faction/ngr/suits.dmi
  icons/obj/clothing/faction/ngr/uniforms.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Test Merge Candidate, Code change

#2975 Adds some new sprites by FleetingExpertise
  code/game/objects/structures/lavaland/geyser.dm
  icons/mob/clothing/mask.dmi
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/mob/inhands/equipment/kitchen_lefthand.dmi
  icons/mob/inhands/equipment/kitchen_righthand.dmi
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/obj/janitor.dmi
  icons/obj/kitchen.dmi
  icons/obj/watercloset.dmi
Labels: Sprites, Code change

#2933 re:knifes
  code/game/objects/items/kitchen.dm
  icons/mob/inhands/equipment/kitchen_lefthand.dmi
  icons/mob/inhands/equipment/kitchen_righthand.dmi
  icons/mob/inhands/weapons/knifes_lefthand.dmi
  icons/mob/inhands/weapons/knifes_righthand.dmi
  icons/obj/item/knife.dmi
  icons/obj/kitchen.dmi
Labels: Sprites, Code change

#2990 Spooky's Resprites: Part I forgot
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/chem_press.dm
  code/modules/reagents/chemistry/machinery/chem_synthesizer.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/hypovial.dm
  code/modules/reagents/reagent_containers/jug.dm
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/mortar.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/vending/wardrobes.dm
  icons/obj/chemical.dmi
  icons/obj/chemical/beakers.dmi
  icons/obj/chemical/chem_jug.dmi
  icons/obj/chemical/chem_machines.dmi
  icons/obj/chemical/grenade.dmi
  icons/obj/chemical/hypovial.dmi
  icons/obj/chemical/medicine.dmi
  icons/obj/chemical/misc.dmi
  icons/obj/chemical/mortar.dmi
  icons/obj/flora/snowflora.dmi
  icons/obj/library.dmi
  icons/obj/machines/suit_storage.dmi
Labels: Map Change, Sprites, Test Merge Candidate, Code change

#2996 Removes DJstation.dmm
  _maps/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/modules/ruins/spaceruin_code/DJstation.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#2928 Autowiki Reagents Table
  code/modules/autowiki/pages/reactions.dm
  code/modules/autowiki/pages/reagents.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  shiptest.dme
Labels: DME Edit, Code change

#2992 [IDB IGNORE] refresh:clip part 2: removes the vela
  _maps/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  _maps/configs/minutemen_vela.json
  _maps/shuttles/minutemen/minutemen_vela.dmm
  code/__DEFINES/inventory.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/species_clothing_defines.dm
  code/__HELPERS/names.dm
  code/controllers/subsystem/traumas.dm
  code/game/objects/items.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/faction/clip/head.dmi
  icons/mob/clothing/faction/clip/mask.dmi
  icons/mob/clothing/faction/clip/suits.dmi
  icons/mob/clothing/faction/clip/uniforms.dmi
  icons/mob/clothing/faction/clip/vox.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/head/armor.dmi
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/species/kepori/onmob_feet_kepori.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_shoes.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/mob/species/vox/onmob_back_vox.dmi
  icons/mob/species/vox/onmob_feet_vox.dmi
  icons/mob/species/vox/onmob_hands_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  icons/obj/clothing/faction/clip/head.dmi
  icons/obj/clothing/faction/clip/suits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/head/armor.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Map Change, Sprites, Code change

#2967 Re-themes the Delta to N+S Logistics
  _maps/configs/nanotrasen_delta.json
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  code/__HELPERS/names.dm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/structures/signs/_signs.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/mining/equipment/survival_pod.dm
  icons/obj/nanotrasen_floor.dmi
  icons/obj/nanotrasen_logos.dmi
  icons/obj/structures/signs/sign.dmi
Labels: Map Change, Sprites, Code change, Test Merge Required

#2377 [still cursed] Volumetric Storage
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/inventory.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/storage.dm
  code/__HELPERS/_lists.dm
  code/_globalvars/bitfields.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/storage.dm
  code/datums/components/storage/concrete/_concrete.dm
  code/datums/components/storage/concrete/rped.dm
  code/datums/components/storage/concrete/stack.dm
  code/datums/components/storage/storage.dm
  code/datums/components/storage/ui.dm
  code/datums/numbered_display.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/mob/living/inhand_holder.dm
  icons/hud/screen_gen.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change, Test Merge Required

#2948 Adds Joywire & Mindscrew Cybernetic Implants
  code/__DEFINES/DNA.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: Code change

#2959 Raises Sarathi max age to 175.
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Code change

#2960 Nerfs the size of the Etherbor Pistol and Etherbor Rifle
  code/modules/projectiles/guns/faction/gezena/energy_gunsword.dm
Labels: Code change

#2978 You can now melee plunge people
  code/game/objects/structures/lavaland/geyser.dm
Labels: Code change

#2929 Black Market Revamp
  code/__DEFINES/blackmarket.dm
  code/controllers/subsystem/blackmarket.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/cargo/blackmarket/blackmarket_item.dm
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
  code/modules/cargo/blackmarket/blackmarket_items/consumables.dm
  code/modules/cargo/blackmarket/blackmarket_items/emergency.dm
  code/modules/cargo/blackmarket/blackmarket_items/explosives.dm
  code/modules/cargo/blackmarket/blackmarket_items/misc.dm
  code/modules/cargo/blackmarket/blackmarket_items/tools.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/blackmarket/blackmarket_market.dm
  code/modules/cargo/blackmarket/blackmarket_telepad.dm
  code/modules/cargo/blackmarket/blackmarket_uplink.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  shiptest.dme
Labels: DME Edit, Code change

#2765 Tortuga-class Converted Cargo Freighter
  _maps/configs/pirate_ember.json
  _maps/configs/pirate_tortuga.json
  _maps/shuttles/pirate/pirate_ember.dmm
  _maps/shuttles/pirate/pirate_tortuga.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/frontiersmen_brawler.dmm
  code/datums/shuttles.dm
  code/game/objects/items/stunbaton.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/modules/clothing/outfits/factions/frontiersmen.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Map Change, Code change

#2934 Recipe Managment
  code/datums/components/crafting/recipes.dm
  code/datums/components/crafting/recipes/clothing.dm
  code/datums/components/crafting/recipes/drink.dm
  code/datums/components/crafting/recipes/misc.dm
  code/datums/components/crafting/recipes/robot.dm
  code/datums/components/crafting/recipes/tribal.dm
  code/datums/components/crafting/recipes/weapon.dm
  code/game/objects/items/religion.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/paperwork/pen.dm
  code/modules/reagents/reagent_containers/mortar.dm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
  code/modules/vehicles/lavaboat.dm
  shiptest.dme
Labels: DME Edit, Code change

#2393 New Rockplanet Ruin: The Abandoned Shipping Dock (Redone Layout)
  _maps/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/rockplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
Labels: Map Change, Code change, Ruin

#2969 Makes Plastic Flaps no longer airtight
  code/game/objects/structures/plasticflaps.dm
Labels: Code change

#3000 Removes comms consoles from ships and ruins
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/SpaceRuins/astraeus.dmm
  _maps/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/pirate/pirate_noderider.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: Map Change

#3021 Improved Computer Sprites
  icons/obj/machines/computer.dmi
Labels: Sprites

#2987 Fixes small mech laser being unpurchaseable
  code/modules/cargo/packs/mechs.dm
Labels: Code change

#2940 Generic ammo boxes and printable ammo cans
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/ballistic/lmg.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  code/modules/projectiles/ammunition/caseless/foam.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/generic_ammo_box.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/ammo.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2880 Movable Physics Subsystem
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/processing/movable_physics.dm
  code/datums/components/movable_physics.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/powersink.dm
  code/modules/mob/inventory.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/caseless/_caseless.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/misc/chem_gun.dm
  code/modules/projectiles/guns/misc/syringe_gun.dm
  shiptest.dme
Labels: DME Edit, Feature, Code change

#3025 Fix ammo check for revolvers
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Good First PR, Code change

#2976 Compactification of survivor loot
  code/modules/mob/living/simple_animal/hostile/survivors.dm
Labels: Code change

#2882 Changed portable generator sheet burn times
  code/modules/power/port_gen.dm
Labels: Balance/Rebalance, Code change

#3018 Rilena Hoodie Fix
  code/modules/clothing/suits/hoodies.dm
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/hooded.dmi
Labels: Sprites, Code change

#3011 Prismwine's burn resistance is no longer goofy
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
Labels: Fix, Code change

#3003 Makes double bedsheets craftable.
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Code change

#2993 Removes elzu multitool and emag interaction
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Code change

#2986 Removes clown/mime fan quirks
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/traits/good.dm
  code/game/data_huds.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/vending/autodrobe.dm
Labels: Code change

#3005 Holopad Caller History
  code/game/machinery/hologram.dm
Labels: Code change

#2977 Choose layers for circulator and engine heater
  code/game/machinery/shuttle/shuttle_heater.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
Labels: Code change

#3029 Corrects syndicate mob names
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Code change

#3004 Blastdoor and Atmos Holofield ID multitool syncing
  code/game/machinery/buttons.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/shieldgen.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change

#3038 Fixes auto unloading for gate loaded revolvers
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#3035 The Mechening: Shiptest Edition
  icons/mecha/mecha.dmi
Labels: Sprites

#3042 Quick Mauler Sprite Fix
  icons/mecha/mecha.dmi
Labels: Sprites

#2822 Disable roundstart ships
  _maps/configs/independent_beluga.json
  _maps/configs/independent_dwayne.json
  _maps/configs/independent_mudskipper.json
  _maps/configs/independent_rigger.json
  _maps/configs/independent_shetland.json
  _maps/configs/nanotrasen_skipper.json
  code/controllers/subsystem/overmap.dm
Labels: Map Change, Test Merged, Code change

#2543 Legion corpse rework
  code/datums/outfit.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
  code/modules/mob/living/simple_animal/hostile/survivors.dm
  code/modules/unit_tests/outfit_sanity.dm
  shiptest.dme
Labels: DME Edit, Test Merged, Code change

#3017 Hallucinations Fixes & Tweaks
  code/datums/traits/negative.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  icons/mob/simple_human.dmi
Labels: Sprites, Test Merged, Code change

#2980 Fixes plasma thruster acceleration
  code/game/machinery/shuttle/shuttle_engine_types.dm
Labels: Code change

#2279 World Icons
  code/datums/components/forensics.dm
  code/datums/elements/decals/blood.dm
  code/datums/elements/world_icon.dm
  code/game/objects/items.dm
  code/game/objects/items/kitchen.dm
  icons/obj/world/melee.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Test Merged, Code change

#3049 Mechening Part 2: Marauder And Seraph
  icons/mecha/mecha.dmi
Labels: Sprites

#3051 Kills The British Empire
  code/modules/client/loadout/loadout_general.dm
Labels: Code change

#3027 Constructable Suit Storage Units
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Code change
