Repository shiptest-ss13/Shiptest, pull requests merged in 2024-04, with the labels that each got.

#2776 Removes the Blood Cult from Maps
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
  _maps/RandomRuins/JungleRuins/jungle_witch.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_SPOOKYCRASH.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_cultaltar.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_fuckedupandevilclub.dmm
  _maps/RandomRuins/RockRuins/rockplanet_crash.dmm
  _maps/RandomRuins/RockRuins/rockplanet_cult.dmm
  _maps/RandomRuins/RockRuins/rockplanet_wizard.dmm
  _maps/RandomRuins/SpaceRuins/clericden.dmm
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/SpaceRuins/oretruck.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/map_catalogue.txt
  _maps/map_files/generic/CentCom.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/shuttles/independent/independent_rube_goldberg.dmm
  _maps/shuttles/pirate/pirate_ember.dmm
  code/datums/ruins/jungle.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/rockplanet.dm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/lavaland.dm
  tools/UpdatePaths/Scripts/2776_cultbegone.txt
Labels: Map Change, Code change

#2774 Remaps the Shetland
  _maps/configs/independent_shetland.json
  _maps/shuttles/independent/independent_shetland.dmm
  code/modules/clothing/outfits/factions/independent.dm
Labels: Map Change, Ship, Code change, Test Merge Required

#2851 RANGER PATCH #8112
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
Labels: Map Change

#2867 re:magazines
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/boxes_magazines/external/sniper.dm
  code/modules/projectiles/boxes_magazines/external/toy.dm
  code/modules/projectiles/guns/ballistic.dm
  icons/obj/ammo.dmi
  icons/obj/guns/48x32guns.dmi
Labels: Sprites, Code change

#2870 The ShipCut
  _maps/configs/independent_byo.json
  _maps/configs/independent_halftrack.json
  _maps/configs/independent_junker.json
  _maps/configs/independent_lagoon.json
  _maps/configs/independent_masinyane.json
  _maps/configs/independent_nemo.json
  _maps/configs/independent_pill.json
  _maps/configs/independent_rube_goldberg.json
  _maps/configs/independent_shepherd.json
  _maps/configs/radio.json
  _maps/configs/syndicate_lugol.json
  _maps/shuttles/independent/independent_byo.dmm
  _maps/shuttles/independent/independent_halftrack.dmm
  _maps/shuttles/independent/independent_masinyane.dmm
  _maps/shuttles/independent/independent_nemo.dmm
  _maps/shuttles/independent/independent_pillbottle.dmm
  _maps/shuttles/independent/independent_rube_goldberg.dmm
  _maps/shuttles/independent/independent_shepherd.dmm
  _maps/shuttles/independent/radio_funny.dmm
  _maps/shuttles/syndicate/syndicate_gec_lugol.dmm
  code/datums/holocall.dm
  icons/obj/machines/computer.dmi
Labels: Map Change, Sprites, Code change

#2701 Modernizes the Komodo
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: Map Change

#2696 Gives MAA bridge access on the colossus.
  _maps/shuttles/inteq/inteq_colossus.dmm
Labels: Map Change

#2875 Blood pack variety crates now contain Elzu and IPC blood.
  code/modules/cargo/packs/medical.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
Labels: Code change

#2850 N2O no longer puts you into a coma
  code/modules/surgery/organs/lungs.dm
Labels: Code change

#2878 Adds Fullscreen
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/client.dm
Labels: Code change

#2839 Constructable exercise equipment
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mining/lavaland/ruins/gym.dm
Labels: Code change

#2784 Brings back old gun suicide_act behavior
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
Labels: Code change

#2585 Reworks the turbine to be an actual engine
  _maps/RandomRuins/SandRuins/whitesands_surface_waterplant.dmm
  code/game/machinery/shuttle/shuttle_engine.dm
  code/game/machinery/shuttle/turbine.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  icons/obj/atmospherics/components/turbine.dmi
  shiptest.dme
  tgui/packages/tgui/interfaces/TurbineComputer.js
Labels: Map Change, DME Edit, Sprites, TGUI, Code change

#2852 Survival boxes now have radios
  _maps/RandomRuins/BeachRuins/beach_crashed_starwalker.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/RockRuins/rockplanet_crash.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/RandomRuins/SpaceRuins/scav_mining.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/pirate/pirate_ember.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/clothing/outfits/ert/nanotrasen_ert.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Map Change, Code change

#2759 Landmine Rework
  _maps/RandomRuins/RockRuins/rockplanet_boxsci.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/SpaceRuins/cryocontainment.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/guns.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/wires.dm
  code/controllers/subsystem/explosions.dm
  code/datums/components/gunpoint.dm
  code/datums/components/pellet_cloud.dm
  code/datums/components/storage/storage.dm
  code/datums/elements/embed.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/datums/mapgen/single_biome/WasteplanetCaves.dm
  code/datums/wires/mines.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/mines.dm
  code/game/objects/items/shrapnel.dm
  code/game/turfs/open/floor.dm
  code/modules/admin/fun_balloon.dm
  code/modules/antagonists/blood_contract/blood_contract.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/movespeed/modifiers/items.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/energy/misc.dm
  icons/obj/landmine.dmi
  shiptest.dme
  sound/items/mine_activate.ogg
  sound/items/mine_activate_short.ogg
Labels: Map Change, DME Edit, Sprites, Sound, WIP, Code change

#2891 Adds Etherbor civilian weapons to cargo
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
Labels: Code change

#2887 Clears up the graffiti list, adds hobocode graffiti.
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/crayons.dm
  icons/effects/crayondecal.dmi
Labels: Sprites, Code change

#2894 Granularizes the space suits and armor tab in Outpost cargo, and reduces the cost of specialized space suits
  code/modules/cargo/packs/spacesuit_armor.dm
Labels: Code change

#2900 Put the right magazines in the Comms Outpost ruin.
  _maps/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
Labels: Map Change

#2770 [Needs Testmerge] Guestbook, from Mojave Sun
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/names.dm
  code/_onclick/click.dm
  code/controllers/subsystem/pai.dm
  code/datums/chatmessage.dm
  code/datums/guestbook.dm
  code/datums/mind.dm
  code/datums/progressbar.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/toys.dm
  code/game/say.dm
  code/modules/admin/admin.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/verbs/looc.dm
  code/modules/clothing/chameleon.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/mob.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  shiptest.dme
  strings/ipc_preference_adjectives.txt
  strings/preference_adjectives.txt
  tgui/packages/tgui/interfaces/Guestbook.tsx
Labels: DME Edit, TGUI, Test Merge Candidate, Code change

#2910 Un-Aspawns the Crying Sun
  _maps/configs/pgf_crying_sun.json
Labels: Map Change

#2705 Ship gravity generator
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_box.dmm
  _maps/shuttles/independent/independent_boyardee.dmm
  _maps/shuttles/independent/independent_bubble.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_lagoon.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_schmiedeberg.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pirate/pirate_ember.dmm
  _maps/shuttles/pirate/pirate_libertatia.dmm
  _maps/shuttles/pirate/pirate_noderider.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/controllers/subsystem/overmap.dm
  code/game/area/ship_areas.dm
  code/game/atoms.dm
  code/game/machinery/shuttle/ship_gravity.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/planets/planet_types.dm
  code/modules/power/gravitygenerator.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/shuttle/shuttle.dm
  icons/obj/machines/ship_gravity.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change

#2883 Fixes wall locker directions
  _maps/RandomRuins/BeachRuins/beach_crashed_starwalker.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashed_pinnance.dmm
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/RandomRuins/SpaceRuins/astraeus.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/fueldepot.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_crash_kitchen.dmm
  _maps/outpost/indie_space.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_box.dmm
  _maps/shuttles/independent/independent_boyardee.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_junker.dmm
  _maps/shuttles/independent/independent_lagoon.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_schmiedeberg.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pirate/pirate_ember.dmm
  _maps/shuttles/pirate/pirate_libertatia.dmm
  _maps/shuttles/pirate/pirate_noderider.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/subshuttles/inteq_anvil.dmm
  _maps/shuttles/subshuttles/nanotrasen_ancon.dmm
  _maps/shuttles/subshuttles/pgf_nail.dmm
  _maps/shuttles/subshuttles/syndicate_runner.dmm
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  tools/UpdatePaths/Scripts/2883_wall_lockers.txt
Labels: Map Change

#2861 Removes Mothperson Namegen
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  strings/names/moth_first.txt
  strings/names/moth_last.txt
Labels: Code change

#2889 Updates wood stair sprite
  _maps/RandomRuins/BeachRuins/beach_knights_rest.dmm
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/outpost/hangar/nt_asteroid_20x20.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/syndicate/syndicate_litieguai.dmm
  code/game/turfs/open/floor/plasteel_floor.dm
  icons/turf/floors.dmi
Labels: Map Change, Sprites, Code change

#2906 Unique sound for the sarathi fire spit.
  code/game/objects/items/cigs_lighters.dm
  sound/voice/lizard/firespit.ogg
Labels: Sound, Code change

#2913 cargo gun typos (but for real this time)
  code/modules/cargo/packs/gun.dm
Labels: Code change

#2916 Removes armor from hats
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
Labels: Code change

#2902 Build mode relocate feature
  code/modules/buildmode/submodes/relocate_to.dm
  icons/misc/buildmode.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2899 Cogbar Port
  code/__DEFINES/layers.dm
  code/__HELPERS/mobs.dm
  code/datums/cogbar.dm
  code/datums/progressbar.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/kitchen_spike.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/ninja/suit/ninjaDrainAct.dm
  icons/effects/progessbar.dmi
  icons/effects/progressbar.dmi
  shiptest.dme
  tgui/packages/tgui/interfaces/Cloner.js
Labels: DME Edit, Sprites, TGUI, Test Merge Candidate, Code change

#2897 Fixes Static Anomalies
  code/game/objects/effects/anomalies/anomalies_static.dm
  code/modules/awaymissions/corpse.dm
Labels: Code change

#2895 Fixes the laser gun being unbuyable from the outpost
  code/modules/cargo/packs/gun.dm
Labels: Code change

#2884 Removes default type space cash spawns from tesla coils & rad collectors
  code/modules/power/singularity/collector.dm
  code/modules/power/tesla/coil.dm
Labels: Code change

#2909 Inteq Pointman Hardsuit cleanup!
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Sprites

#2904 Adds Kepori Audible Emotes (And Woop, too. But Silent) + Vox Edition
  code/__DEFINES/is_helpers.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/kepori/kepiclick.ogg
  sound/voice/kepori/kepiwhistle.ogg
Labels: Sound, Code change

#2873 Corrects some Etheral names to Elzuosa
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/datums/blood_type.dm
  code/datums/components/mood.dm
  code/game/machinery/limbgrower.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/grenades/discogrenade.dm
  code/modules/admin/topic.dm
  code/modules/autowiki/pages/ships.dm
  code/modules/client/preferences.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/survivors.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/surgery/organs/stomach.dm
  icons/mob/species/ethereal/bodyparts.dmi
  icons/mob/species/lizard/bodyparts.dmi
Labels: Sprites, Code change

#2919 De-armors solgov hats
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/head/helmet.dm
Labels: Code change

#2920 makes these work out of the box
  config/game_options.txt
Labels: Config

#2903 Adds color to VV
  code/__DEFINES/vv.dm
  code/modules/admin/view_variables/get_variables.dm
Labels: Code change

#2930 Fixes Model H and Prototype Gauss magazines being invisible
  icons/obj/ammo.dmi
Labels: Sprites

#2896 Adds NGR outfits to the Hyena.
  _maps/configs/syndicate_gorlex_hyena.json
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Map Change, Code change

#2941 Fix half of verbs not showing up
  code/modules/client/client_procs.dm
Labels: Code change
