Repository shiptest-ss13/Shiptest, pull requests merged in 2024-07, with the labels that each got.

#3172 fix a single typo
  code/modules/vending/cola.dm
Labels: Code change

#3173 Fixes another typo within the code.
  code/modules/projectiles/guns/ballistic.dm
Labels: Code change

#3174 Fixes Comet Trail, Molten Bubbles, and Sunset Sarsaparilla sprites
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Code change

#3112 The SUNS Panacea-class Infirm Vessel
  _maps/configs/syndicate_aegis.json
  _maps/configs/syndicate_panacea.json
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_panacea.dmm
  code/game/area/ship_areas.dm
  code/game/objects/items/stacks/tiles/tiles_suns.dm
  code/game/objects/items/storage/secure.dm
  code/game/turfs/open/floor/suns_floor.dm
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Map Change, Code change

#3139 Makes dog beds anchored.
  code/game/objects/structures/beds_chairs/bed.dm
Labels: Code change

#3166 Reduces ship spawn limit for everything to 1
  _maps/configs/independent_beluga.json
  _maps/configs/independent_mudskipper.json
  _maps/configs/independent_schmiedeberg.json
  _maps/configs/nanotrasen_gecko.json
  _maps/example_ship_config.json
  _maps/ship_config_schema.json
Labels: Map Change

#3164 Should fix the loadout-box-killing runtime
  code/modules/client/preferences_savefile.dm
Labels: Code change

#3168 Adds plastic flowers.
  code/modules/client/loadout/loadout_hat.dm
  code/modules/clothing/head/misc_special.dm
Labels: Code change

#3159 Makes .38 speedloaders cheaper.
  code/modules/cargo/packs/ammo.dm
Labels: Code change

#3165 Fixes N+S Captain loadout
  code/modules/clothing/outfits/factions/nanotrasen.dm
Labels: Fix, Code change

#3177 Projectiles are no longer bloodthirsty for stam/softcrit people
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/projectiles/projectile.dm
Labels: Code change

#3192 Fixes Vox sprites for a few clothing items
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/head/helmet.dm
Labels: Code change

#3188 Fixes another singular typo within the code
  code/modules/projectiles/guns/energy.dm
Labels: Code change

#3163 Makes pizza cheaper.
  code/modules/cargo/packs/food.dm
Labels: Code change

#3175 Removes tatortots and fixes recipe issues
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/hydroponics/grown/potato.dm
Labels: Code change

#3193 The Ares Poster Now Correctly Calls The Planet Mars
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Sprites, Code change

#3187 SolCon/SolGov Hardsuits (And Its Subtypes) Can Now Stow Away Guns!
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Code change

#3115 Valor Remap, Minor Inteq Code Tweaks
  _maps/configs/inteq_colossus.json
  _maps/configs/inteq_hound.json
  _maps/configs/inteq_talos.json
  _maps/configs/inteq_valor.json
  _maps/configs/inteq_vaquero.json
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/subshuttles/inteq_haste.dmm
  code/modules/antagonists/ert/inteq.dm
  code/modules/clothing/outfits/factions/inteq.dm
Labels: Map Change, Code change

#3142 broad cringe removal
  code/__DEFINES/DNA.dm
  code/__HELPERS/roundend.dm
  code/datums/brain_damage/mild.dm
  code/datums/mutations/speech.dm
  code/game/objects/items/dna_injector.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/vocal_cords.dm
  strings/boomer.json
  strings/traumas.json
Labels: Code change

#3147 Mine Defusal Outpost Missions
  code/game/objects/items/storage/toolbox.dm
  code/modules/overmap/missions/acquire_mission.dm
Labels: Code change

#3196 Two fixes relating to IDs
  code/__DEFINES/dcs/signals.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/wallets.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/_job.dm
Labels: Fix, Code change

#3201 Landmine Bounty Changes
  code/game/objects/items/storage/toolbox.dm
  code/modules/overmap/missions/acquire_mission.dm
Labels: Code change

#3179 Black and White Hoodie
  code/modules/client/loadout/loadout_suit.dm
  code/modules/clothing/suits/hoodies.dm
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/species/kepori/onmob_suit_kepori.dmi
  icons/obj/clothing/suits/hooded.dmi
Labels: Sprites, Code change

#3191 Hoodie/Winter Coat Storage Parity
  code/modules/clothing/suits/hoodies.dm
  code/modules/clothing/suits/wintercoats.dm
Labels: Code change

#3181 Bone crits are now only rolled for brute damage
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Code change

#2848 Mob Spawner Rework
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  code/__DEFINES/achievements.dm
  code/datums/achievements/boss_achievements.dm
  code/datums/achievements/boss_scores.dm
  code/datums/components/chasm.dm
  code/datums/mapgen/planetary/AsteroidGenerator.dm
  code/datums/mapgen/planetary/JungleGenerator.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/geyser.dm
  code/game/objects/structures/hivebot.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/objects/structures/spawner.dm
  code/modules/mining/equipment/trophies.dm
  code/modules/mining/ore_veins.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_whelp.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob_spawner/burrow.dm
  code/modules/mob_spawner/hivebot.dm
  code/modules/mob_spawner/spawner.dm
  code/modules/mob_spawner/spawner_componet.dm
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
  code/modules/spells/spell_types/conjure.dm
  shiptest.dme
  tools/HubMigrator/HubMigrator.dm
Labels: Map Change, DME Edit, Code change

#2905 Build mode light maker
  code/modules/buildmode/submodes/lightmaker.dm
  icons/misc/buildmode.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3206 357 Revolver Guncase uses the correct subtype
  code/game/objects/items/storage/guncases.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#3150 capsaicin no longer straight up kills you
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Code change

#3067 SSD Indicators Will Be Real In 2020
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  icons/mob/ssd_indicator.dmi
Labels: Sprites, Test Merged, Code change

#3080 Ports 'Command bar typing indicators (client side html version)'
  check_regex.yaml
  code/modules/client/client_procs.dm
  code/modules/client/verbs/typing.dm
  html/typing_indicator.html
  interface/skin.dmf
  shiptest.dme
Labels: DME Edit, Test Merged, Code change

#3158 Guncrate fixes
  code/game/objects/items/storage/guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy.dm
Labels: Code change

#3204 Two minor sunskipper tweaks.
  _maps/configs/independent_sunskipper.json
  _maps/shuttles/independent/independent_sunskipper.dmm
Labels: Map Change

#2994 Express Console Supremacy
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/outpost/hangar/nt_asteroid_20x20.dmm
  _maps/outpost/hangar/nt_asteroid_40x20.dmm
  _maps/outpost/hangar/nt_asteroid_40x40.dmm
  _maps/outpost/hangar/nt_asteroid_56x20.dmm
  _maps/outpost/hangar/nt_asteroid_56x40.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_box.dmm
  _maps/shuttles/independent/independent_bubble.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_junker.dmm
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_lagoon.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_schmiedeberg.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/shuttles/syndicate/syndicate_panacea.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  check_regex.yaml
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/structures/salvaging.dm
  code/modules/cargo/console.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/supplypod_beacon.dm
  code/modules/research/designs/mining_designs.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/Cargo.js
  tgui/packages/tgui/interfaces/OutpostCommunications/Catalog.js
  tgui/packages/tgui/interfaces/OutpostCommunications/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunications/types.ts
Labels: Map Change, DME Edit, TGUI, Test Merged, Code change

#3213 Removes cruft from the loadout.
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/suits/labcoat.dm
Labels: Code change

#3197 orbit menu is less cluttered
  code/__HELPERS/unsorted.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.js
Labels: TGUI, Code change

#3178 subshuttles now inherit gravity if they are docked at a ship
  code/game/atoms.dm
Labels: Code change

#3111 Increases the price of automatic weapons and some handguns
  code/modules/cargo/packs/gun.dm
Labels: Code change, Test Merge Required

#3169 Reflavors choice beacons.
  code/game/objects/items/miscellaneous.dm
  code/modules/instruments/items.dm
Labels: Code change

#3205 Minor Vox Sprite Tune-Up
  code/modules/food_and_drinks/food/snacks_other.dm
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/mob/species/vox/onmob_hands_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_mask_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
Labels: Sprites, Code change

#3223 reverts 'Increases the price of automatic weapons and some handguns'
  code/modules/cargo/packs/gun.dm
Labels: Code change

#3230 BG-16 fixes
  code/modules/projectiles/guns/manufacturer/etherbor/energy_gunsword.dm
Labels: Code change

#3211 Mission Drills and Containers display what they need
  code/modules/fishing/fish/_fish.dm
  code/modules/overmap/missions/acquire_mission.dm
  code/modules/overmap/missions/drill_mission.dm
Labels: Code change

#3209 Changes the ingredients of two Gezenan drinks to better reflect their descriptions.
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Code change

#2907 Frontiersman Distillery Ruin
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
  _maps/map_catalogue.txt
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/independent_tanto.dmm
  code/datums/ruins/rockplanet.dm
  code/datums/shuttles.dm
  code/game/area/areas/ruins/rockplanet.dm
  code/game/objects/structures/fluff.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/ruins/rockplanet_ruin_code.dm
  icons/mob/simple_frontiersman.dmi
  icons/obj/storage.dmi
Labels: Map Change, Sprites, Test Merged, Code change, Ruin

#3103 Adds a new ruin: the Abandoned Listening Post
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/structures/plaques/static_plaques.dm
Labels: Map Change, Test Merged, Code change, Ruin

#3224 Marker Beacons can be printed in the autolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change
