Repository shiptest-ss13/Shiptest, pull requests merged in 2024-02, with the labels that each got.

#2676 Updates shotgun ammo boxes in ships to the new version.
  _maps/shuttles/independent/independent_halftrack.dmm
  _maps/shuttles/minutemen/minutemen_cepheus.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: Map Change, Test Merge Required

#2686 Adds co-op cigarette lighting
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code change

#2659 Kills Mutation Toxin
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/research/experimentor.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: Removal, Code change

#2674 Fixes #2628
  code/datums/ert.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/outfits/ert/indie_ert.dm
  code/modules/clothing/outfits/ert/inteq_ert.dm
  code/modules/clothing/outfits/ert/minutemen_ert.dm
  code/modules/clothing/outfits/ert/nanotrasen_ert.dm
  code/modules/clothing/outfits/ert/solgov_ert.dm
  code/modules/clothing/outfits/ert/syndicate_ert.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  icons/mob/hud.dmi
Labels: Sprites, Code change

#2690 Adds more underwear for Kepori and digitigrades
  icons/mob/clothing/underwear/species/underwear_socks_kepori.dmi
  icons/mob/clothing/underwear/species/underwear_torso_kepori.dmi
  icons/mob/clothing/underwear/underwear_socks.dmi
  icons/mob/species/kepori/bodyparts.dmi
Labels: Sprites

#2653 Ports the Requests Manager, Minor Fax QOL, Adds factional offices to CentCom
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/outpost/hangar/nt_asteroid_20x20.dmm
  _maps/outpost/hangar/nt_asteroid_40x20.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/outpost/nanotrasen_ice.dmm
  code/__DEFINES/admin.dm
  code/_globalvars/lists/faxes.dm
  code/_globalvars/lists/objects.dm
  code/game/machinery/telecomms/machines/relay.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/turfs/closed/_closed.dm
  code/modules/admin/admin_fax_panel.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/fax_manager.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/requests.dm
  code/modules/client/client_procs.dm
  code/modules/paperwork/fax.dm
  code/modules/paperwork/fax_manager.dm
  code/modules/paperwork/paper.dm
  code/modules/requests/request.dm
  code/modules/requests/requests_manager.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/AdminFax.js
  tgui/packages/tgui/interfaces/Fax.tsx
  tgui/packages/tgui/interfaces/FaxManager.tsx
  tgui/packages/tgui/interfaces/PaperSheet.tsx
  tgui/packages/tgui/interfaces/RequestManager.js
Labels: Map Change, DME Edit, TGUI, Feature, Code change

#2679 Removes abductors (again)
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/salvaging.dm
Labels: Removal, Code change

#2616 Shepherd Fixes for real this time
  _maps/shuttles/independent/independent_shepherd.dmm
Labels: Map Change

#2675 Adds a few items to the ranger.
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/modules/research/designs.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Map Change, Good First PR, Code change

#2652 New Faction Specific Stamps
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-artificer.png
  icons/stamp_icons/large_stamp-bard.png
  icons/stamp_icons/large_stamp-cmm.png
  icons/stamp_icons/large_stamp-cybersun.png
  icons/stamp_icons/large_stamp-donk.png
  icons/stamp_icons/large_stamp-gold.png
  icons/stamp_icons/large_stamp-inteq.png
  icons/stamp_icons/large_stamp-maa.png
  icons/stamp_icons/large_stamp-vanguard.png
Labels: Sprites, Feature, Good First PR, Code change

#2691 Removes the Combot Specialty from the Corvus-class and gives it a Combat Specialty
  _maps/configs/minutemen_corvus.json
Labels: Map Change

#2144 Valor-Class Field Care Crusier
  _maps/configs/inteq_valor.json
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/inteq_haste.dmm
  code/datums/shuttles.dm
  code/modules/clothing/outfits/factions/inteq.dm
Labels: Map Change, Ship, Code change

#2689 Foldable Wheelchairs (30 Minute Port Edition)
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/wheelchair.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/vehicles.dmi
Labels: Sprites, Code change

#2685 SUNS Part One: Clothing
  _maps/configs/syndicate_aegis.json
  code/modules/clothing/factions/suns.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/suits/hoodies.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/faction/suns/accessory.dmi
  icons/mob/clothing/faction/suns/eyes.dmi
  icons/mob/clothing/faction/suns/feet.dmi
  icons/mob/clothing/faction/suns/hands.dmi
  icons/mob/clothing/faction/suns/head.dmi
  icons/mob/clothing/faction/suns/mask.dmi
  icons/mob/clothing/faction/suns/neck.dmi
  icons/mob/clothing/faction/suns/suits.dmi
  icons/mob/clothing/faction/suns/uniforms.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/mob/inhands/faction/suns/suns_lefthand.dmi
  icons/mob/inhands/faction/suns/suns_righthand.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/faction/suns/accessory.dmi
  icons/obj/clothing/faction/suns/eyes.dmi
  icons/obj/clothing/faction/suns/feet.dmi
  icons/obj/clothing/faction/suns/hands.dmi
  icons/obj/clothing/faction/suns/head.dmi
  icons/obj/clothing/faction/suns/mask.dmi
  icons/obj/clothing/faction/suns/neck.dmi
  icons/obj/clothing/faction/suns/suits.dmi
  icons/obj/clothing/faction/suns/uniforms.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/suits/hooded.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change

#2643 pAI Tweaks, Holochassis, & Radials
  code/game/objects/items/stacks/tape.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_shell.dm
  code/modules/mob/living/silicon/pai/software.dm
  icons/mob/pai.dmi
  icons/mob/pai_item_head.dmi
  icons/mob/pai_item_lh.dmi
  icons/mob/pai_item_rh.dmi
  icons/obj/aicards.dmi
  icons/obj/aicardsradial.dmi
Labels: Sprites, Test Merge Candidate, Code change

#2688 Fixes Autowiki generation weirdness
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/antagonists/gang/outfits.dm
  code/modules/autowiki/pages/ships.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/outfits/ert/nanotrasen_ert.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/outfits/vv_outfit.dm
  code/modules/mob/living/carbon/human/consistent_human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/outfit_names.dm
Labels: Code change

#2699 Fix overlay and finishes renaming this thing
  code/modules/food_and_drinks/food/snacks_frozen.dm
Labels: Code change

#2698 cocoon spinning no longer spends nutriment if you don't do anything with it
  code/modules/mob/living/carbon/human/species_types/spider.dm
Labels: Code change

#2713 suns armor oversight fixes
  code/modules/clothing/factions/suns.dm
Labels: Code change

#2712 The bulletproof armor crate no longer falsely advertises carrying three suits instead of two
  code/modules/cargo/packs/spacesuit_armor.dm
Labels: Code change

#2711 Glasses Transparency Tweaks
  code/modules/client/loadout/loadout_eyewear.dm
  code/modules/clothing/glasses/_glasses.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites, Code change

#2700 PGF Loadouts and Roles
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/outfits/factions/gezena.dm
Labels: Code change

#2697 Adds peaked caps to vanguard's lockers to Inteq ships.
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change

#2661 Adds Ammo Boxes to the outpost console.
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
Labels: Code change

#2649 Luxembegone
  _maps/configs/syndicate_luxembourg.json
  _maps/shuttles/syndicate/syndicate_luxembourg.dmm
Labels: Map Change, Removal, Ship

#2638 resprites medical and utility belts
  icons/mob/clothing/belt.dmi
  icons/obj/clothing/belts.dmi
Labels: Sprites, Code change

#2589 Crashed Pubby Tweaks
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/map_catalogue.txt
  code/game/area/areas/ruins/sandplanet.dm
Labels: Map Change, Stale Exempt, Code change

#2513 Adds screenless IPCs
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/surgery/organs/eyes.dm
  icons/mob/ipc_accessories.dmi
  icons/mob/species/ipc/bodyparts.dmi
Labels: Sprites, Code change

#2708 SUNS Part Two: Weaponry
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/clothing/faction/suns/belt.dmi
  icons/mob/clothing/faction/suns/mask.dmi
  icons/mob/inhands/faction/suns/suns_lefthand.dmi
  icons/mob/inhands/faction/suns/suns_righthand.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/clothing/faction/suns/belt.dmi
  icons/obj/clothing/faction/suns/mask.dmi
  icons/obj/guns/48x32guns.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/items_and_weapons.dmi
Labels: Sprites, Code change

#2663 Talos Burn Chamber Fix
  _maps/shuttles/inteq/inteq_talos.dmm
Labels: Map Change

#2640 Paracelsus Tweaks 2
  _maps/shuttles/solgov/solgov_paracelsus.dmm
Labels: Map Change

#2617 Adjusts vending machine stocks to reflect ship populations and various other changes to vendors
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/spawner.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/mining/machine_vending.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/coffee.dm
  code/modules/vending/magivend.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  code/modules/vending/security.dm
  code/modules/vending/youtool.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#2670 Updates Wiki Books
  _maps/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_oldstation.dmm
  _maps/RandomRuins/JungleRuins/jungle_abandoned_library.dmm
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_bombmakers_cabin.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_codelab.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/RockRuins/rockplanet_saloon.dmm
  _maps/RandomRuins/SpaceRuins/astraeus.dmm
  _maps/RandomRuins/SpaceRuins/clericden.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/outpost/nanotrasen_ice.dmm
  _maps/shuttles/independent/independent_nemo.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/minutemen/minutemen_asclepius.dmm
  _maps/shuttles/minutemen/minutemen_cepheus.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/pirate/pirate_ember.dmm
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  _maps/templates/shelter_3.dmm
  code/datums/traits/negative.dm
  code/game/objects/items/gift.dm
  code/game/objects/items/manuals.dm
  code/modules/library/lib_items.dm
Labels: Map Change, Code change

#2704 2nd Battlegroup/ACLF to NGR outfit updates
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/outfits/ert/syndicate_ert.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Map Change, Sprites, Code change

#2680 Ship faction display take 2
  _maps/ship_config_schema.json
  code/__HELPERS/names.dm
  code/controllers/subsystem/mapping.dm
  code/datums/shuttles.dm
  code/modules/mob/dead/new_player/ship_select.dm
Labels: Map Change, Code change

#2709 Aegis QoL changes (community requests)
  _maps/shuttles/syndicate/syndicate_aegis.dmm
Labels: Map Change

#2569 Tweaks The Mudskipper Nuevo
  _maps/shuttles/independent/independent_mudskipper.dmm
Labels: Map Change

#2449 ERT Subshuttles
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/inteq_anvil.dmm
  _maps/shuttles/subshuttles/minutemen_crux.dmm
  _maps/shuttles/subshuttles/nanotrasen_ancon.dmm
  _maps/shuttles/subshuttles/syndicate_runner.dmm
  code/datums/ert.dm
  code/datums/shuttles.dm
  code/modules/admin/verbs/one_click_antag.dm
Labels: Map Change, Test Merge Candidate, Stale Exempt, Ship, Code change

#2536 Twink Tweaks: The Second
  _maps/configs/syndicate_twinkleshine.json
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/game/machinery/cryopod.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/human_say.dm
Labels: Map Change, Tweak, Code change

#2719 Disables every single CMM ship
  _maps/configs/minutemen_asclepius.json
  _maps/configs/minutemen_cepheus.json
  _maps/configs/minutemen_corvus.json
  _maps/configs/minutemen_vela.json
  _maps/shuttles/minutemen/minutemen_corvus.dmm
Labels: Map Change

#2717 Updates some hairstyles and removes some old unused hair code
  code/game/objects/items/holy_weapons.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  icons/mob/hair_extensions.dmi
  icons/mob/human_face.dmi
Labels: Sprites, Code change

#2571 pgf à deux
  code/game/objects/items/desk_flags.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/structures/artstuff.dm
  code/game/objects/structures/plaques/_plaques.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_flags.dm
  code/game/objects/structures/signs/signs_maps.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/photography/photos/frame.dm
  icons/mob/clothing/faction/gezena/suits.dmi
  icons/obj/clothing/faction/gezena/suits.dmi
  icons/obj/decals.dmi
  icons/obj/deskflags.dmi
  icons/obj/flags.dmi
  icons/obj/monitors.dmi
  icons/obj/structures/signs/directions.dmi
  icons/obj/structures/signs/sign.dmi
  icons/obj/structures/signs/wallflags.dmi
Labels: Sprites, Code change

#2710 Resprites the leather jacket to be more stylish
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, Code change

#2728 buffs lp engineer radres
  code/game/MapData/shuttles/nanotrasen_ranger.dm
Labels: Code change

#2730 Resprites the bone knife
  icons/obj/kitchen.dmi
Labels: Sprites

#2731 Slightly buffs bolt-action rifles
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Code change

#2732 Removes roundstart maid outfits
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_uniform.dm
Labels: Map Change, Removal, Code change

#2729 Fixes missing pipe shotgun sprite.
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Code change

#2725 Removes genetics from the techweb
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Code change

#2724 Adds ammo i forgot about to the outpost.
  2024-02-11 19
  code/modules/cargo/packs/ammo.dm
Labels: Code change

#2723 Doubles time limits for all missions (except fishing ones)
  code/modules/overmap/missions/acquire_mission.dm
  code/modules/overmap/missions/research_mission.dm
Labels: Code change

#2694 Removes oldcodeops.dmm
  _maps/RandomRuins/SpaceRuins/oldcodeops.dmm
  code/datums/ruins/space.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/open/floor/misc_floor.dm
Labels: Map Change, Code change, Ruin

#2703 Adds the Cobra-20 as a buyable gun in the cargo market. (and fixes the stechkin's description)
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
Labels: Code change

#2715 Adds HIDEHORNS bitflag (wigzards can live)
  code/__DEFINES/inventory.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Code change

#2681 Fixes the Osprey's Airlocks
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
Labels: Map Change

#2667 Ports SSvote refactor + new vote UI from TG
  check_regex.yaml
  code/__DEFINES/maths.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/game.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/autotransfer.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/vote.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/custom_vote.dm
  code/datums/votes/restart_vote.dm
  code/datums/votes/transfer_vote.dm
  code/game/world.dm
  config/config.txt
  shiptest.dme
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Config, DME Edit, TGUI, Code change

#2745 obliterates mentorfollow
  code/modules/client/client_procs.dm
  code/modules/mentor/follow.dm
  code/modules/mentor/mentor_verbs.dm
  code/modules/mentor/verbs/mentorhelp.dm
  code/modules/mentor/verbs/mentorpm.dm
  shiptest.dme
Labels: DME Edit, Code change

#2706 Fixes an issue with SUNS outfits
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Code change

#2748 Inteq-ening
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/under/syndicate.dmi
Labels: Map Change, Sprites, Code change

#2747 Makes SMGs bulky
  code/modules/projectiles/guns/ballistic/smg.dm
Labels: Code change

#2746 Ethebor gun tweaks
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/faction/gezena/energy_gunsword.dm
  code/modules/projectiles/projectile/beams.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/clothing/faction/gezena/belt.dmi
  icons/obj/guns/faction/gezena/48x32.dmi
  icons/obj/guns/faction/gezena/energy.dmi
  icons/obj/guns/faction/gezena/lefthand.dmi
  icons/obj/guns/faction/gezena/righthand.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  sound/weapons/gun/energy/kalixpistol.ogg
  sound/weapons/gun/energy/kalixrifle.ogg
  sound/weapons/gun/energy/kalixsmg.ogg
Labels: Sprites, Sound, Code change

#2743 Small interview QoL improvements
  code/controllers/configuration/config_entry.dm
  code/modules/interview/interview.dm
  code/modules/interview/interview_manager.dm
  config/interviews.txt
  tgui/packages/tgui/interfaces/Interview.js
Labels: Config, TGUI, Code change

#2737 Tweaks glasses colors.
  code/modules/client/client_colour.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
Labels: Code change

#2734 Completely removes the SVG from the game and it's variants
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/independent/independent_halftrack.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/subshuttles/frontiersmen_gut.dmm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/clothing/outfits/ert/inteq_ert.dm
  code/modules/mob/living/simple_animal/hostile/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/survivors.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/64x_guns_left.dmi
  icons/mob/inhands/weapons/64x_guns_right.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/48x32guns.dmi
  icons/obj/guns/projectile.dmi
  sound/weapons/gun/rifle/skm.ogg
  sound/weapons/gun/rifle/skm_cocked.ogg
  sound/weapons/gun/rifle/skm_reload.ogg
  sound/weapons/gun/rifle/skm_smg.ogg
  sound/weapons/gun/rifle/skm_unload.ogg
Labels: Map Change, Sprites, Sound, Code change

#2768 Removes clowns from the butcher's cleaver description.
  code/game/objects/items/kitchen.dm
Labels: Code change

#2736 Kills combat knife crate and replaces it with survival knives
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#2751 Adds the ability for admins to bar ship docking permission in the event someone knows what they did.
  code/controllers/subsystem/shuttle.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  tgui/packages/tgui/interfaces/ShuttleManipulator.js
Labels: TGUI, Code change

#2769 The Cratening: The Squeakwel
  icons/obj/crates.dmi
Labels: Sprites

#2448 Fixes Nomadcrash and the areas of Budgetcuts and Miningexpedition
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/RockRuins/rockplanet_miningexpedition.dmm
  _maps/RandomRuins/RockRuins/rockplanet_nomadcrash.dmm
  code/game/area/areas/ruins/rockplanet.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
Labels: Map Change, Test Merge Candidate, Code change

#2718 Removes the fake wall on the Independent Seccie Outpost, Adds an Outpost Fax Recipient, ERT Tweaks
  _maps/outpost/indie_space.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/outpost/nanotrasen_ice.dmm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/outfits/ert/indie_ert.dm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/paperwork/fax.dm
Labels: Map Change, Code change

#2762 Changes cryopod wakeup behavior
  code/game/machinery/cryopod.dm
Labels: Code change

#2754 Updates lizard bodyparts + one new face marking, updates wag sprite
  code/modules/mob/dead/new_player/sprite_accessories/lizard.dm
  icons/mob/species/lizard/bodyparts.dmi
  icons/mob/species/lizard/markings.dmi
  icons/mob/species/lizard/tails.dmi
Labels: Sprites, Code change

#2446 Mining Rework Part 1: First of his Name
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/stock_parts.dm
  code/__HELPERS/game.dm
  code/datums/components/spawner.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/game/objects/items/pinpointer.dm
  code/game/objects/structures/spawner.dm
  code/game/turfs/closed/minerals.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/mining/drill.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/mining/ore_veins.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/overmap/missions/drill_mission.dm
  code/modules/research/stock_parts.dm
  shiptest.dme
Labels: DME Edit, Test Merge Candidate, Code change

#2642 Adds a lava canyon as a new lava planet ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_lava_canyon.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/items/puzzle_pieces.dm
Labels: Map Change, Code change

#2764 Removes currently enabled ghostrole maps.
  _maps/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_hermit.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_oldstation.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_slimelab.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_seed_vault.dmm
  _maps/RandomRuins/SpaceRuins/lab4071.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_catalogue.txt
  _maps/shuttles/independent/independent_dwayne.dmm
  code/datums/ruins/icemoon.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/space.dm
  code/datums/ruins/whitesands.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/ruins/space.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/ruins/spaceruin_code/oldstation.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#2781 Fix cryo message grammar
  code/game/machinery/cryopod.dm
Labels: Code change

#2779 Lets you de-select a ship outfit preview
  code/modules/client/preferences.dm
Labels: Code change

#2786 Adds a few extra engineering crates
  code/modules/cargo/packs/machinery.dm
Labels: Code change

#2787 Removes the singularity, tesla and particle accelerator packs from cargo
  code/modules/cargo/packs/machinery.dm
Labels: Code change

#2771 Moves behaviors in microwave attackby into procs
  code/modules/food_and_drinks/drinks/drinks/modglass.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Labels: Code change

#2755 Adds cell chargers to more ships and to cargo.
  _maps/shuttles/independent/independent_box.dmm
  _maps/shuttles/independent/independent_shepherd.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  code/modules/cargo/packs/tools.dm
Labels: Map Change, Code change
