Repository shiptest-ss13/Shiptest, pull requests merged in 2024-06, with the labels that each got.

#3041 Secret documents black market item properly randomizes its documents
  code/modules/cargo/blackmarket/blackmarket_items/misc.dm
Labels: Code change

#3050 Round Join Soul Removal
  code/modules/mob/dead/new_player/new_player.dm
  sound/voice/ApproachingTG.ogg
Labels: Sound, Code change

#2972 Hostile humans
  _maps/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/RandomRuins/BeachRuins/beach_pirate_crash.dmm
  _maps/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_brazillianlab.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/RandomRuins/JungleRuins/jungle_pirate.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_ashwalker_shrine.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/RockRuins/rockplanet_dangerpod.dmm
  _maps/RandomRuins/RockRuins/rockplanet_miningexpedition.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_drugstore.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_chokepoint.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_onlyaspoonful.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  code/controllers/subsystem/traumas.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/game/machinery/computer/arcade.dm
  code/game/mecha/mecha.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/spawner.dm
  code/modules/awaymissions/corpse.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/living/simple_animal/hostile/bosses/paperwizard.dm
  code/modules/mob/living/simple_animal/hostile/dark_wizard.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/human/cat_butcher.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/mob/living/simple_animal/hostile/human/nanotrasen.dm
  code/modules/mob/living/simple_animal/hostile/human/pirate.dm
  code/modules/mob/living/simple_animal/hostile/human/skeleton.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/human/zombie.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
  code/modules/mob/living/simple_animal/hostile/nanotrasen.dm
  code/modules/mob/living/simple_animal/hostile/stickman.dm
  code/modules/mob/living/simple_animal/hostile/wizard.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/ruins/spaceruin_code/forgottenship.dm
  icons/mob/simple_human.dmi
  shiptest.dme
  tools/UpdatePaths/Scripts/2972_human_hostile.txt
Labels: Map Change, DME Edit, Sprites, Code change

#3014 Bandoliers now hold 40 items as intended
  code/game/objects/items/storage/belt.dm
Labels: Code change

#2950 Thrown Thing Improvments
  code/__DEFINES/flags.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/throwing.dm
  code/game/atoms_movable.dm
  code/game/objects/items/devices/mines.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/puzzle_pieces.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mob/living/living_defense.dm
  code/modules/power/lighting.dm
Labels: Test Merged, Code change

#2964 Smokers can now pick what they smoke
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/traumas.dm
  code/datums/mood_events/drug_events.dm
  code/datums/traits/negative.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Test Merged, Code change

#2974 Removes weaknesses and banes
  code/__DEFINES/contracts.dm
  code/game/objects/items/toys.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/devil_helpers.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/library/lib_codex_gigas.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/mothroach.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  shiptest.dme
Labels: DME Edit, Code change

#2983 stops free circut board from drying rack
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Code change

#2952 Minor fixes and improvement to Flavor Text
  check_regex.yaml
  code/__DEFINES/say.dm
  code/modules/client/preferences.dm
  code/modules/mob/mob.dm
  code/modules/mob/say_vr.dm
Labels: Test Merged, Code change

#3007 Moves most vendor items out of contraband.
  code/modules/vending/assist.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/coffee.dm
  code/modules/vending/cola.dm
  code/modules/vending/drinnerware.dm
  code/modules/vending/engivend.dm
  code/modules/vending/games.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  code/modules/vending/megaseed.dm
  code/modules/vending/nutrimax.dm
  code/modules/vending/plasmaresearch.dm
  code/modules/vending/security.dm
  code/modules/vending/snack.dm
  code/modules/vending/sovietsoda.dm
  code/modules/vending/toys.dm
  code/modules/vending/youtool.dm
Labels: Code change

#3010 Cleans up CODEOWNERS and adds myself to it
  .github/CODEOWNERS
Labels: GitHub

#2999 Fixes create and destory failure due to missing physiology
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Code change

#3001 camera/autoname/LateInitialize() optimization
  code/game/machinery/camera/presets.dm
Labels: Code change

#3012 Asteroid ore veins
  code/datums/mapgen/planetary/AsteroidGenerator.dm
  code/modules/mining/ore_veins.dm
Labels: Test Merged, Code change

#3055 Makes the brimstone shoot faster
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Code change

#3057 fixes shotgun casing bounce sounds
  code/datums/components/movable_physics.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Fix, Code change

#3058 Tweak Death
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Tweak, GitHub

#3023 Hallucination anomalies now affect people who don't have research scanners rather than people who do
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
Labels: Code change

#3040 Granularizes defib crate at the outpost
  code/modules/cargo/packs/medical.dm
Labels: Code change

#3044 granularizes a handfully of supply packs
  code/modules/cargo/packs/machinery.dm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/cargo/packs/tools.dm
Labels: Code change

#3039 Granularizes mech equipment
  code/modules/cargo/packs/mechs.dm
Labels: Code change

#3031 Examine text improvments to humans and id cards
  code/__HELPERS/names.dm
  code/game/objects/items/cards_ids.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Code change

#2989 Enables ship-specific access by default & updates some ship configs
  _maps/configs/independent_boyardee.json
  _maps/configs/independent_lagoon.json
  _maps/configs/pirate_libertatia.json
  _maps/configs/pirate_noderider.json
  code/datums/shuttles.dm
Labels: Map Change, Code change

#3052 Mindbreaker Tweak
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Code change

#3062 Removes bulk ammo boxes from webbing storage
  code/game/objects/items/storage/belt.dm
Labels: Code change

#3047 Kills legion disease cause its bad and weird
  code/datums/diseases/advance/presets.dm
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/reagents/reagent_containers/bottle.dm
  shiptest.dme
Labels: DME Edit, Removal, Code change

#2995 Adds a salve that allows elzuose to change color
  code/game/objects/items/dyekit.dm
  code/modules/client/loadout/loadout_general.dm
  icons/obj/dyespray.dmi
Labels: Sprites, Feature, Code change

#3015 Removes the nonfunctioning coffee machines
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs/food.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/kitchen_machinery/coffeemaker.dm
  code/modules/reagents/reagent_containers/bottle.dm
  icons/obj/machines/coffeemaker.dmi
  shiptest.dme
  sound/machines/coffeemaker_brew.ogg
Labels: DME Edit, Sprites, Removal, Sound, Code change

#2991 .45-70 Specialty Ammo
  code/modules/cargo/packs/ammo.dm
Labels: Code change

#3059 Tweaks Runner-class and replaces weapons with factory subtype on the Elder
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/subshuttles/syndicate_runner.dmm
Labels: Map Change

#2956 Admin and Debug Tab QOL
  code/controllers/subsystem/events.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/admin/verbs/beakerpanel.dm
  code/modules/admin/verbs/cinematic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/outpost.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/selectequipment.dm
  code/modules/admin/verbs/shuttlepanel.dm
  code/modules/admin/verbs/spawnobjasmob.dm
  code/modules/buildmode/buildmode.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/preferences_toggles.dm
  code/modules/donator/_donator.dm
  code/modules/mob/dead/crew_manifest.dm
Labels: Code change

#3053 Ports a super small TG signal optimization
  code/datums/components/_component.dm
Labels: Code change

#3064 Removes sexy clown & mime costumes from costume spawners
  code/game/objects/effects/spawners/bundle.dm
Labels: Removal, Code change

#3054 makes plant analyzer usable
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
Labels: Code change

#3020 Improves the language used in trickwines for brewers
  code/game/objects/items/manuals.dm
Labels: Code change

#2954 Empty Gun Helper
  _maps/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
Labels: Map Change, Code change

#3065 Fix shadow AP bonus
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#3024 Broken bones now hurt less on rollerbeds
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Code change

#3068 i broke codeowner
  .github/CODEOWNERS
Labels: GitHub

#3069 Revokes hermit immortality snail deals
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
Labels: Code change

#2931 Ashwalker Shrine Remap
  _maps/RandomRuins/LavaRuins/lavaland_surface_ashwalker_shrine.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/turfs/closed/_closed.dm
Labels: Map Change, Code change, Ruin

#3079 Knife visibility quick fix
  code/game/objects/items/kitchen.dm
Labels: Fix, Code change

#3061 small pr to make firemode code easier | or, how firemode code was so fucking terrible that this pr touches like 20-30 files
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/guns.dm
  code/datums/action.dm
  code/datums/components/fullauto.dm
  code/datums/components/gunpoint.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/chrono_eraser.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_shell.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/caseless/_caseless.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser_gatling.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/faction/gezena/energy_gunsword.dm
  code/modules/projectiles/guns/gunhud.dm
  code/modules/projectiles/projectile/bullets/gauss.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  icons/hud/gun_hud.dmi
  icons/mob/actions/actions_items.dmi
Labels: Sprites, Code change

#3082 Removes the Scary Comment Errorer
  code/modules/power/apc.dm
Labels: Code change

#3081 Gunslinger fix
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#3085 Fixes a broken icon state on corpo sofas
  icons/obj/structures/chairs/sofa.dmi
Labels: Sprites

#3002 handrails
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/beds_chairs/chair.dm
  icons/obj/structures/handrail.dmi
Labels: Sprites, Feature, Code change

#3009 Separates bleeding from damage, gauze now STOPS bleeding rather than postponing it
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/_onclick/item_attack.dm
  code/datums/components/bandage.dm
  code/datums/components/butchering.dm
  code/datums/diseases/advance/symptoms/flesh_eating.dm
  code/datums/status_effects/debuffs.dm
  code/game/machinery/medical_kiosk.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/tape.dm
  code/game/objects/structures/petrified_statue.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/damage_procs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/human/cat_butcher.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/organs/vocal_cords.dm
  code/modules/surgery/surgery_helpers.dm
  shiptest.dme
Labels: DME Edit, GitHub, Code change

#3083 Genemod DLC: Of Rabbits and Wolves
  code/modules/mob/dead/new_player/sprite_accessories/ears.dm
  code/modules/mob/dead/new_player/sprite_accessories/tails.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/tails.dm
  icons/mob/mutant_bodyparts.dmi
  icons/mob/species/human/cat.dmi
  icons/mob/species/human/dog.dmi
  icons/mob/species/human/elf.dmi
  icons/mob/species/human/fox.dmi
  icons/mob/species/human/rabbit.dmi
Labels: Sprites, Code change

#3087 Frontiersmen-Ening Part 1: Clothes!
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  _maps/shuttles/pirate/pirate_tortuga.dmm
  _maps/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/datums/ert.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/antagonists/ert/frontiersmen.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/clothing/outfits/factions/frontiersmen.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/mob/clothing/faction/frontiersmen/belt.dmi
  icons/mob/clothing/faction/frontiersmen/head.dmi
  icons/mob/clothing/faction/frontiersmen/mask.dmi
  icons/mob/clothing/faction/frontiersmen/suits.dmi
  icons/mob/clothing/faction/frontiersmen/uniforms.dmi
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/faction/frontiersmen/belt.dmi
  icons/obj/clothing/faction/frontiersmen/head.dmi
  icons/obj/clothing/faction/frontiersmen/mask.dmi
  icons/obj/clothing/faction/frontiersmen/suits.dmi
  icons/obj/clothing/faction/frontiersmen/uniforms.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change

#3074 re:eggbox
  code/game/objects/items/storage/fancy.dm
  icons/obj/food/containers.dmi
Labels: Sprites, Code change

#3093 Repaths switchblades under kitchen knifes
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  code/game/objects/items/kitchen.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/weaponry.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/clothing/outfits/ert/nanotrasen_ert.dm
  icons/obj/item/knife.dmi
  icons/obj/items_and_weapons.dmi
Labels: Map Change, Sprites, Code change

#3090 Members of the PGF start knowing Kalixcian Common
  code/modules/clothing/outfits/factions/gezena.dm
Labels: Code change

#3037 Adds pickaxes to the autolathe.
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change

#3092 Misc. SUNS Content
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/desk_flags.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/stacks/tiles/tiles_suns.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/crates_lockers/closets/secure/misc.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_flags.dm
  code/game/turfs/open/floor/suns_floor.dm
  code/modules/paperwork/folders_premade.dm
  code/modules/paperwork/stamps.dm
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/neck.dmi
  icons/obj/bedsheets.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/card.dmi
  icons/obj/closet.dmi
  icons/obj/deskflags.dmi
  icons/obj/pda.dmi
  icons/obj/radio.dmi
  icons/obj/structures/signs/sign.dmi
  icons/obj/structures/signs/wallflags.dmi
  icons/obj/suns_floor.dmi
  icons/obj/tiles.dmi
  icons/turf/floors/suns.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#2943 The Wrecked Factory Ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/map_catalogue.txt
  _maps/shuttles/syndicate/syndicate_aegis.dmm
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/open/floor/plating/lavaland.dm
Labels: Map Change, Test Merged, Code change, Ruin

#2836 Sunskipper-class Culinary Vessel - the Boyardee replacement. Also, a lot of tweaks to the booze-o-mat.
  _maps/configs/independent_boyardee.json
  _maps/configs/independent_sunskipper.json
  _maps/shuttles/independent/independent_boyardee.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/under/suits.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/vending/boozeomat.dm
  icons/obj/drinks/drinks.dmi
Labels: Map Change, Sprites, Test Merged, Ship, Code change

#2958 Adds tech shells to the outpost market, recipe rebalance and buffs
  code/datums/components/crafting/recipes.dm
  code/datums/components/crafting/recipes/weapon.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  icons/obj/storage.dmi
Labels: Sprites, Balance/Rebalance, Test Merged, Code change

#2936 Removes Chaplain Magic
  _maps/RandomRuins/LavaRuins/lavaland_surface_lava_canyon.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  check_regex.yaml
  code/__DEFINES/misc.dm
  code/datums/mind.dm
  code/game/gamemodes/cult/cult.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/holiday/halloween.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/simple_animal/hostile/human/skeleton.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/religion_structures.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/head/armor.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/head/armor.dmi
Labels: Map Change, Sprites, Removal, Code change

#3098 Hardliner Rework Part 2: More Clothing and Roles!
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  icons/mob/clothing/faction/hardliners/belt.dmi
  icons/mob/clothing/faction/hardliners/eyes.dmi
  icons/mob/clothing/faction/hardliners/head.dmi
  icons/mob/clothing/faction/hardliners/suits.dmi
  icons/mob/clothing/faction/hardliners/uniforms.dmi
  icons/mob/clothing/faction/ngr/head.dmi
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/faction/hardliners/belt.dmi
  icons/obj/clothing/faction/hardliners/eyes.dmi
  icons/obj/clothing/faction/hardliners/head.dmi
  icons/obj/clothing/faction/hardliners/suits.dmi
  icons/obj/clothing/faction/hardliners/uniforms.dmi
  icons/obj/clothing/faction/ngr/head.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change

#3060 Makes more exosuit equipment available through cargo
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/packs/mechs.dm
Labels: Code change

#3101 Fixes Posibrains/MMI pilots being permaslept on mech destruction
  code/game/mecha/mecha.dm
Labels: Code change

#3106 Concrete-ening: 3/4ths Edition
  icons/turf/walls/concrete.dmi
  icons/turf/walls/hexacrete.dmi
Labels: Sprites

#3096 Adds one Raksha Helmet to the sergeant's locker on the PGFN Crying Sun
  _maps/shuttles/pgf/pgf_crying_sun.dmm
Labels: Map Change

#3104 Additional SUNS decals i missed, creates a decals folder
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/objects/effects/decals/turfdecal/weather.dm
  code/game/objects/items/decal_painter.dm
  code/game/objects/structures/signs/_signs.dm
  icons/obj/suns_floor.dmi
  icons/turf/decals/decals.dmi
  icons/turf/decals/suns_floor.dmi
Labels: Sprites, Code change

#3019 The Drinkening
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/RandomRuins/IceRuins/icemoon_crashed_holemaker.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/cargo/blackmarket/blackmarket_items/consumables.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/cargo/packs/food.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/food_and_drinks/food/snacks_cake.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/movespeed/modifiers/reagent.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/cola.dm
  code/modules/vending/drinnerware.dm
  code/modules/vending/games.dm
  code/modules/vending/liberation.dm
  code/modules/vending/liberation_toy.dm
  code/modules/vending/snack.dm
  code/modules/vending/toys.dm
  icons/mob/inhands/misc/food_lefthand.dmi
  icons/mob/inhands/misc/food_righthand.dmi
  icons/obj/drinks/drinks.dmi
  tools/UpdatePaths/Scripts/3109_drinks_lore_update.txt
Labels: Map Change, Sprites, Test Merge Candidate, Code change, Test Merge Required

#2981 Does some things with customizable foods and in short you can use organs in them now
  code/datums/components/edible.dm
  code/datums/materials/pizza.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Code change

#3119 Saint Roumain Militia Content Expansion Part 2: New Jobs!
  _maps/configs/srm_elder.json
  _maps/shuttles/roumain/srm_elder.dmm
  code/game/MapData/shuttles/srm_elder.dm
  code/modules/clothing/factions/srm.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/outfits/factions/roumain.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/suits.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/faction/srm/head.dmi
  icons/mob/clothing/faction/srm/suits.dmi
  icons/mob/clothing/faction/srm/uniforms.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/toggle.dmi
  icons/mob/hud.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/faction/srm/head.dmi
  icons/obj/clothing/faction/srm/suits.dmi
  icons/obj/clothing/faction/srm/uniforms.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/toggle.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change

#3072 fixes some of the do afters working
  code/datums/components/storage/storage.dm
  code/game/machinery/doors/firedoor.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/survery_handheld.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/changeling/powers/linglink.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mining/drill.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/mob/living/silicon/pai/pai_defense.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/ninja/suit/ninjaDrainAct.dm
  code/modules/ninja/suit/suit_attackby.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/vehicles/secway.dm
Labels: Code change

#3116 Mob trophies will no longer attempt to drop if there aren't any
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
Labels: Fix, Code change

#3097 Removes generic_adjective sanity check
  code/modules/client/preferences.dm
Labels: Code change

#3109 Fix: Atmos gas mask sprite and duplicate deletion
  icons/mob/clothing/mask.dmi
Labels: Sprites, Fix

#3099 Mild Zero Gravity Buff AKA Tables Are Below Me
  code/game/objects/structures/tables_racks.dm
Labels: Code change

#3125 Strips limb armour from Gezena + normal gun storage
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/factions/srm.dm
Labels: Code change

#3123 fixes the black market sawn illestren to actually be sawed off
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Code change

#3100 Energy/Laser guns display their charge and how many shots they have left on examine
  code/modules/projectiles/guns/energy.dm
Labels: Code change

#3113 Reduces the orice of 9mm bullets so they arent objectively worse than anything else
  code/modules/cargo/packs/ammo.dm
Labels: Code change

#3076 reverts enabling debug some extra verbs by default
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/fps.dm
  code/modules/admin/verbs/manipulate_organs.dm
  code/modules/admin/verbs/mapping.dm
Labels: Code change

#3108 refresh:clip part 2.5: pride month speial
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  icons/mob/clothing/faction/clip/head.dmi
  icons/mob/clothing/faction/clip/suits.dmi
  icons/mob/clothing/faction/clip/vox.dmi
  icons/obj/clothing/faction/clip/head.dmi
  icons/obj/clothing/faction/clip/suits.dmi
Labels: Sprites, Code change

#2431 adds hydrogen, ice, and combustion thrusters!
  _maps/outpost/hangar/indie_space_20x20.dmm
  _maps/outpost/hangar/indie_space_40x20.dmm
  _maps/outpost/hangar/indie_space_40x40.dmm
  _maps/outpost/hangar/indie_space_56x20.dmm
  _maps/outpost/hangar/indie_space_56x40.dmm
  _maps/outpost/hangar/nt_ice_20x20.dmm
  _maps/outpost/hangar/nt_ice_40x20.dmm
  _maps/outpost/hangar/nt_ice_40x40.dmm
  _maps/outpost/hangar/nt_ice_56x20.dmm
  _maps/outpost/hangar/nt_ice_56x40.dmm
  _maps/outpost/indie_space.dmm
  _maps/outpost/nanotrasen_ice.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/__DEFINES/atmospherics.dm
  code/_globalvars/misc.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/outpost_electrolyzer.dm
  code/game/machinery/shuttle/shuttle_engine.dm
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/game/machinery/shuttle/shuttle_heater.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor/reinf_floor.dm
  code/modules/atmospherics/auxgm/gas_types.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/other/miner.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/mining/ore_veins.dm
  code/modules/mining/ores_coins.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/effects/ore_visuals.dmi
  icons/obj/atmos.dmi
  icons/obj/economy.dmi
  icons/obj/machines/computer.dmi
  icons/obj/nutanks.dmi
  icons/obj/ores.dmi
  shiptest.dme
  tgui/packages/tgui/interfaces/HydrogenExchange.js
Labels: Map Change, DME Edit, Sprites, TGUI, Feature, GitHub, Code change

#3110 Adds a new ammo type, 44 Roumain, used by the Montagne and Shadow revolvers.
  _maps/RandomRuins/WasteRuins/wasteplanet_lab.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  icons/obj/ammo.dmi
Labels: Map Change, Sprites, Code change

#3102 Makes motorized wheelchairs consume a reasonable amount of power
  code/modules/vehicles/motorized_wheelchair.dm
Labels: Code change

#2979 Wallets and Bank Cards
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  code/__DEFINES/is_helpers.dm
  code/datums/outfit.dm
  code/game/machinery/beacon.dm
  code/game/machinery/bounty_board.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/drone_dispenser.dm
  code/game/machinery/roulette_machine.dm
  code/game/machinery/sleeper.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/bank_card.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/wallets.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/game/objects/structures/displaycase.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/economy/account.dm
  code/modules/economy/pay_stand.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/bounty_board.dm
  code/modules/modular_computers/file_system/programs/cargoship.dm
  code/modules/modular_computers/hardware/card_slot.dm
  code/modules/modular_computers/laptop_vendor.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/bepis.dm
  code/modules/shuttle/shuttle_rotate.dm
  code/modules/shuttle/special.dm
  code/modules/shuttle/white_ship.dm
  code/modules/vending/_vending.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merged, Code change

#3124 tailthump emote tied to tail instead of species
  code/modules/mob/living/carbon/human/emote.dm
Labels: Code change

#3126 Readjusted kepori whistle and click volume
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/kepori/kepiclick.ogg
  sound/voice/kepori/kepiwhistle.ogg
Labels: Sound, Code change

#3091 Permanently and horribly kills decay generators while fixing actual engines
  code/modules/power/singularity/collector.dm
Labels: Code change

#3117 Reduces the number of skulls spawned by crystal legion by 1
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Code change

#3133 tadrixxfloat has a sprite now
  icons/obj/drinks/drinks.dmi
Labels: Sprites

#3131 Unflips the blue wall closet.
  icons/obj/wallcloset.dmi
Labels: Sprites

#3130 Reflavors tribal talismans.
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  code/datums/components/crafting/recipes/tribal.dm
  code/modules/cargo/bounties/mining.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/under/accessories.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/neck.dmi
Labels: Map Change, Sprites, Code change

#3107 adds telegraphing to brimdemon attacks
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
Labels: Code change

#3128 Removes shoddy 'active' state for holopads that was causing negative power draw.
  code/game/machinery/hologram.dm
Labels: Code change

#3134 Fixes SUNS Decals By A Few Pixels
  icons/turf/decals/suns_floor.dmi
Labels: Sprites

#3127 Remove superfluous logic in revolver/rack()
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#3118 Fixes broken mapping versions of volume pumps for SDMM
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  icons/obj/atmospherics/components/binary_devices.dmi
Labels: Sprites, Code change

#2998 Adds Gun Cases. For guns.
  _maps/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/pirate/pirate_tortuga.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/game/objects/items/storage/guncases.dm
  code/game/objects/structures/guncase.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/gauss.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/faction/gezena/energy_gunsword.dm
  icons/obj/guncase.dmi
  icons/obj/guncase_48x32.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change

#3143 typo fixes & black market fix
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#3135 Gives the lever-action rifle a gunslinger ability and removes the gunslinger damage buff from the shadow.
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Code change

#3048 Small gun changes
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  code/game/objects/structures/salvaging.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/spells/spell_types/rightandwrong.dm
  code/modules/vending/liberation.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/projectile.dmi
Labels: Map Change, Sprites, Balance/Rebalance, Code change

#3155 CTs and Miners no longer get QM access.
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/shaft_miner.dm
Labels: Code change

#3144 removes gondola transformation
  code/datums/diseases/transformation.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code change

#3152 Fixes medical cyborgs being unable to interact with carbons
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code change

#3151 De-teshari-ing (Kepori Name Touch-up)
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  strings/names/kepori_names.txt
Labels: Code change

#3162 Wheelchairs Can Be Rotated Now
  code/modules/vehicles/wheelchair.dm
Labels: Code change
