Repository shiptest-ss13/Shiptest, pull requests merged in 2024-12, with the labels that each got.

#3844 Total Turret Refactor
  _maps/RandomRuins/SandRuins/whitesands_cave_base.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/subshuttles/pgf_nail.dmm
  code/__DEFINES/machines.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/turrets.dm
  code/datums/simple_beam.dm
  code/game/atoms.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_construct.dm
  code/game/machinery/porta_turret/portable_turret_control.dm
  code/game/machinery/porta_turret/portable_turret_cover.dm
  code/game/machinery/porta_turret/portable_turret_manual_control.dm
  code/game/machinery/porta_turret/portable_turret_types.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/devices/mines.dm
  code/game/objects/items/stacks/sheets/recipes/recipes_metal.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/ruins/rockplanet_ruin_code/mining_base.dm
  code/modules/ruins/sandplanet_ruin_code/cave_base.dm
  code/modules/vehicles/atv.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/PortableTurret.js
  tgui/packages/tgui/interfaces/TurretControl.js
  tools/UpdatePaths/Scripts/3844_turrets_refactor.txt
  tools/UpdatePaths/__main__.py
Labels: Map Change, DME Edit, TGUI, Ship, Code change, Test Merge Required, Ruin

#3512 Attempts to Fix Temperature + Makes It More Realistic in the Face of Extreme Temperatures
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/species.dm
  code/_onclick/hud/alert.dm
  code/datums/atmosphere/planetary.dm
  code/datums/mapgen/Whitesandsatmos.dm
  code/datums/weather/weather_types/hailstorm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/datums/weather/weather_types/snowfall.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/structures/shower.dm
  code/game/objects/structures/traps.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/acid.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/open/floor/plating/beach.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/game/turfs/open/floor/plating/planet.dm
  code/game/turfs/open/floor/plating/whitesands.dm
  code/game/turfs/open/water.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  code/modules/projectiles/projectile/energy/misc.dm
  code/modules/projectiles/projectile/special/temperature.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/vocal_cords.dm
  icons/effects/particles/smoke.dmi
  icons/hud/screen_alert.dmi
Labels: Sprites, Code change, Test Merge Required

#3858 Energy Shotgun (E-SG 500) De-shittifying
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code change

#3863 Surgery Cases
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/RandomRuins/RockRuins/rockplanet_mining_installation.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_lab.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_tradepost.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/independent/independent_box.dmm
  _maps/shuttles/independent/independent_lagoon.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  _maps/shuttles/pirate/pirate_libertatia.dmm
  _maps/shuttles/pirate/pirate_noderider.dmm
  _maps/shuttles/pirate/pirate_tortuga.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/subshuttles/syndicate_runner.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_litieguai.dmm
  _maps/shuttles/syndicate/syndicate_panacea.dmm
  code/game/objects/items/storage/cases.dm
  code/modules/cargo/packs/medical.dm
  icons/obj/storage.dmi
  shiptest.dme
  tools/UpdatePaths/Scripts/3863_Surgical Cases.txt
Labels: Map Change, DME Edit, Sprites, Ship, Code change, Ruin

#3867 Reverts Hydrogen pipes in hangars, adds hydrogen pumps to nt ice and indie outpost
  _maps/outpost/hangar/indie_space_20x20.dmm
  _maps/outpost/hangar/indie_space_40x20.dmm
  _maps/outpost/hangar/indie_space_40x40.dmm
  _maps/outpost/hangar/indie_space_56x20.dmm
  _maps/outpost/hangar/indie_space_56x40.dmm
  _maps/outpost/hangar/nt_ice_20x20.dmm
  _maps/outpost/hangar/nt_ice_40x20.dmm
  _maps/outpost/hangar/nt_ice_40x40.dmm
  _maps/outpost/hangar/nt_ice_56x20.dmm
  _maps/outpost/hangar/nt_ice_56x40.dmm
  _maps/outpost/indie_space.dmm
  _maps/outpost/nanotrasen_ice.dmm
Labels: Map Change

#3857 Factional Cargo Pt. 2: The Left Behind Items
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
Labels: Code change

#3703 Syndicate melee mob balance and clean up
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
Labels: Code change

#3853 Easy Energy Cells -- Integrated Retainment Latches
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/energy.dm
  icons/obj/guns/cell_latch.dmi
Labels: Sprites, Code change

#3842 add artificer to valor
  _maps/configs/inteq_valor.json
  _maps/shuttles/inteq/inteq_valor.dmm
Labels: Map Change, Ship

#3861 Adds the assault belt to cargo
  code/modules/cargo/packs/tools.dm
Labels: Code change

#3737 Angle Grinders are more Efficient than Plasmacutters
  code/game/machinery/doors/poddoor.dm
  code/game/objects/structures/safe.dm
  code/modules/mining/equipment/angle_grinder.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Code change

#3835 Minor Tcomms Update: Decrufts Syndicate Comms, Removes Station Frequency Names, and Expands Usable Frequencies
  code/__DEFINES/radio.dm
  code/controllers/subsystem/blackbox.dm
  code/game/communications.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/machinery/telecomms/machines/relay.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/say.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/unit_tests/say.dm
  interface/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/constants.ts
Labels: TGUI, Code change

#3864 Adds missing pistol magazines to the Atlas.
  _maps/shuttles/minutemen/minutemen_atlas.dmm
Labels: Map Change, Ship

#3870 Mechs now fail do_afters immediately on moving or turning
  code/game/mecha/equipment/mecha_equipment.dm
Labels: Code change

#3822 Portable Slop
  code/modules/reagents/reagent_dispenser.dm
Labels: Code change

#3841 Reduces the Raleigh's Hammer to Standard HE
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
Labels: Code change

#3860 Shoulder Sling attachment
  code/__DEFINES/traits.dm
  code/datums/components/attachment.dm
  code/game/objects/items/attachments/_attachment.dm
  code/game/objects/items/attachments/shoulder_sling.dm
  code/modules/cargo/packs/gun.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  icons/obj/guns/attachments.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3871 SKM-24u LMG Modification on the Black Market
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
Labels: Code change

#3886 bolide fix
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
Labels: Map Change, Ship

#3882 Fixes phorids finding plasma awful smelling
  code/modules/surgery/organs/lungs.dm
Labels: Code change

#3839 m13 buff
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#3884 removes grey assistant config option
  code/controllers/configuration/entries/game_options.dm
  code/modules/jobs/job_types/assistant.dm
  config/game_options.txt
Labels: Config, Code change

#3889 Signallers no longer hit the other signaller when you're copying frequencies
  code/modules/assembly/signaler.dm
Labels: Code change

#3885 Exceedingly Lazy Curtain Directions
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
Labels: Sprites, Code change

#3519 Electric Welder & Cell Component
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/cells.dm
  code/__DEFINES/dcs/signals/signals.dm
  code/datums/components/cell_component.dm
  code/game/gamemodes/sandbox/h_sandbox.dm
  code/game/objects/effects/spawners/random/ai_module.dm
  code/game/objects/effects/spawners/random/anomaly.dm
  code/game/objects/effects/spawners/random/bedsheet.dm
  code/game/objects/effects/spawners/random/boards.dm
  code/game/objects/effects/spawners/random/bureaucracy.dm
  code/game/objects/effects/spawners/random/clothing.dm
  code/game/objects/effects/spawners/random/decoration.dm
  code/game/objects/effects/spawners/random/engineering.dm
  code/game/objects/effects/spawners/random/entertainment.dm
  code/game/objects/effects/spawners/random/exotic.dm
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/game/objects/effects/spawners/random/maintenance.dm
  code/game/objects/effects/spawners/random/medical.dm
  code/game/objects/effects/spawners/random/random.dm
  code/game/objects/effects/spawners/random/readme.md
  code/game/objects/effects/spawners/random/salvaging.dm
  code/game/objects/effects/spawners/random/structure.dm
  code/game/objects/effects/spawners/random/trash.dm
  code/game/objects/effects/spawners/random/vending.dm
  code/game/objects/effects/spawners/random/waste_planet.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/tools/electric_weldingtool.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/exports/tools.dm
  code/modules/cargo/packs/tools.dm
  code/modules/clothing/factions/clip.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/tools.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change, Ruin

#3888 Hivebot Spawner Faction
  code/modules/mob_spawner/hivebot.dm
Labels: Code change

#3880 Maximum safe speeds on overmap hazards are now player-facing
  code/modules/overmap/objects/event_datum.dm
Labels: Code change

#3898 Adds Old Detective Suits to Loadouts + Fixes Generic Bowman Headset Sprite
  code/game/objects/items/devices/radio/headset.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/under/jobs/security.dm
  icons/mob/clothing/ears.dmi
Labels: Sprites, Code change

#3799 Unlaws Silicons by Default + Cyborg Fixes
  code/datums/ai_laws.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  config/game_options.txt
Labels: Config, Do Not Merge, Code change

#3879 Laser Misc Changes
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  code/datums/components/storage/concrete/pockets.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Map Change, Code change, Ruin

#3876 Removes Player-Accessible AI Law Boards
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Map Change, Ship, Code change

#3899 Molotov Crafting Fix + Mapped in Molotov
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  code/datums/components/crafting/recipes/weapon.dm
  code/game/objects/items/storage/belt.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
Labels: Map Change, Code change, Ruin

#3894 Wasteplanet wall girders are less tough
  code/game/objects/effects/spawners/random/waste_planet.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
Labels: Code change

#3840 Maptainer Mapcut 2024
  _maps/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/RandomRuins/BeachRuins/beach_float_resort.dmm
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/RandomRuins/IceRuins/icemoon_hydroponics_lab.dmm
  _maps/RandomRuins/JungleRuins/jungle_abandoned_library.dmm
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/RandomRuins/RockRuins/rockplanet_nomadcrash.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_medipen_plant.dmm
  _maps/RandomRuins/SpaceRuins/astraeus.dmm
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_lab.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/configs/independent_beluga.json
  _maps/configs/independent_box.json
  _maps/configs/independent_lagoon.json
  _maps/configs/independent_schmiedeberg.json
  _maps/configs/independent_tranquility.json
  _maps/configs/inteq_hound.json
  _maps/configs/nanotrasen_gecko.json
  _maps/configs/nanotrasen_heron.json
  _maps/configs/nanotrasen_mimir.json
  _maps/configs/pirate_noderider.json
  _maps/configs/solgov_chronicle.json
  _maps/map_catalogue.txt
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_box.dmm
  _maps/shuttles/independent/independent_lagoon.dmm
  _maps/shuttles/independent/independent_schmiedeberg.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/shuttles/pirate/pirate_noderider.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/nanotrasen_falcon.dmm
  code/datums/ruins/_ruins.dm
  code/datums/ruins/beachplanet.dm
  code/datums/ruins/icemoon.dm
  code/datums/ruins/jungle.dm
  code/datums/ruins/rockplanet.dm
  code/datums/ruins/space.dm
  code/datums/ruins/wasteplanet.dm
  code/datums/ruins/whitesands.dm
  code/datums/shuttles.dm
  shiptest.dme
Labels: Map Change, DME Edit, Ship, Code change, Ruin

#3881 fixes max weight on surgery cases
  code/game/objects/items/storage/cases.dm
Labels: Code change

#3809 surface_camp_combination fixes and adjustments
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
Labels: Map Change, Ruin

#3893 Factional Cargo Part 3: Magazines now come unloaded + Commissioner and Other Weapons in cargo
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/boxes_magazines/ammo_loaders.dm
  code/modules/projectiles/boxes_magazines/external/gauss.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Code change

#3869 Fixes the mech saw and improves it + Adds it to the outpost catalouge
  code/game/mecha/equipment/tools/work_tools.dm
  code/modules/cargo/packs/mechs.dm
Labels: Code change

#3929 Pricehikes the SAW-80
  code/modules/cargo/packs/gun.dm
Labels: Code change

#3904 Adds winter coats to the Harrier
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
Labels: Map Change, Ship

#3603 scatter laser changes
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code change, Test Merge Required

#3911 Removes Lavaland Tumors from Planetary Generation
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
Labels: Code change

#3935 hivebot gun change
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
Labels: Code change

#3905 Small Optimizations
  code/__HELPERS/AStar.dm
  code/_onclick/hud/radial.dm
  code/controllers/subsystem/jukeboxes.dm
  code/controllers/subsystem/overmap.dm
  code/controllers/subsystem/statpanel.dm
  code/datums/ai_laws.dm
  code/datums/components/_component.dm
  code/datums/components/remote_materials.dm
  code/datums/components/weatherannouncer.dm
  code/datums/datum.dm
  code/datums/map_zones.dm
  code/game/machinery/cloning.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/gulag_item_reclaimer.dm
  code/game/machinery/slotmachine.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/effects/turf_fire.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/candle.dm
  code/modules/antagonists/_common/antag_team.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/cargo/supplypod.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/donator/_donator.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/kitchen_machinery/big_mortar.dm
  code/modules/food_and_drinks/kitchen_machinery/cutting_board.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/interview/interview_manager.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mining/equipment/miningradio.dm
  code/modules/mining/machine_silo.dm
  code/modules/mob/living/carbon/alien/utilities/structures.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/silicon/ai/robot_control.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/hostile/clown.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/docking_ticket.dm
  code/modules/power/port_gen.dm
  code/modules/power/power.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/reagents/chem_splash.dm
  code/modules/requests/requests_manager.dm
  code/modules/tgui/states/zlevel.dm
  code/modules/tgui/tgui_alert.dm
  code/modules/tgui/tgui_input_list.dm
  code/modules/vehicles/sealed.dm
Labels: Code change

#3941 fix broken ruin datum
  code/datums/ruins/beachplanet.dm
Labels: Code change, Ruin
