Repository shiptest-ss13/Shiptest, pull requests merged in 2024-01, with the labels that each got.

#2623 Fixes Month Display
  code/__HELPERS/time.dm
Labels: Code change

#2626 Vaporizes squid bloodpacks/random blood bags can no longer spawn with unusuable blood in them
  code/modules/reagents/reagent_containers/blood_pack.dm
Labels: Code change

#2625 Adds missing vox mob spawner
  code/modules/mob/living/carbon/human/human.dm
Labels: Code change

#2624 Fix date calculation (again)
  code/__HELPERS/time.dm
Labels: Code change

#2610 re:lathe machines
  code/game/machinery/autolathe.dm
  icons/obj/machines/autolathe.dmi
  icons/obj/machines/research.dmi
  icons/obj/radio.dmi
  icons/obj/stationobjs.dmi
Labels: Sprites, Code change

#2582 Port some changes in status effects from /tg/
  code/__DEFINES/status_effects.dm
  code/__HELPERS/mobs.dm
  code/datums/brain_damage/mild.dm
  code/datums/components/gunpoint.dm
  code/datums/dna.dm
  code/datums/mutations/body.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/neutral.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/stasis.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/changeling/powers/fleshmend.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/valentines/valentine.dm
  code/modules/assembly/flash.dm
  code/modules/events/fake_virus.dm
  code/modules/events/heart_attack.dm
  code/modules/instruments/songs/play_legacy.dm
  code/modules/instruments/songs/play_synthesized.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/lavaland/ruins/gym.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/status_procs.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
  code/modules/unit_tests/combat.dm
Labels: Code change

#2490 The new [SOMEWHAT NEAT] Nanotrasen Outpost!
  _maps/outpost/elevator_ice.dmm
  _maps/outpost/hangar/nt_ice_20x20.dmm
  _maps/outpost/hangar/nt_ice_40x20.dmm
  _maps/outpost/hangar/nt_ice_40x40.dmm
  _maps/outpost/hangar/nt_ice_56x20.dmm
  _maps/outpost/hangar/nt_ice_56x40.dmm
  _maps/outpost/nanotrasen_ice.dmm
  code/game/area/areas/outpost.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/open/floor/plating/icemoon.dm
  code/modules/overmap/objects/outpost/outpost_types.dm
Labels: Map Change, Code change

#2515 Updates default TGUI background, overhauls autolathe tgui theme
  tgui/packages/tgui/assets/bg-shiptest.svg
  tgui/packages/tgui/interfaces/Autolathe.js
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/ntos_terminal.scss
Labels: TGUI

#2563 Adds a few clipboards for the Chronicle-class
  _maps/shuttles/solgov/solgov_chronicle.dmm
Labels: Map Change, Stale

#2631 Revert "Port some changes in status effects from /tg/"
  code/__DEFINES/status_effects.dm
  code/__HELPERS/mobs.dm
  code/datums/brain_damage/mild.dm
  code/datums/components/gunpoint.dm
  code/datums/dna.dm
  code/datums/mutations/body.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/neutral.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/stasis.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/changeling/powers/fleshmend.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/valentines/valentine.dm
  code/modules/assembly/flash.dm
  code/modules/events/fake_virus.dm
  code/modules/events/heart_attack.dm
  code/modules/instruments/songs/play_legacy.dm
  code/modules/instruments/songs/play_synthesized.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/lavaland/ruins/gym.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/status_procs.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
  code/modules/unit_tests/combat.dm
Labels: Code change

#2636 Changes the Gorlex Captain's coat and cap with sprites provided by PositiveEntropy.
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
Labels: Sprites

#2635 Removes edgy joke
  _maps/RandomRuins/JungleRuins/jungle_abandoned_library.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/outpost/hangar/nt_asteroid_56x20.dmm
  _maps/outpost/hangar/nt_asteroid_56x40.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Map Change, Sprites, Code change

#2630 Throws a fax machine on the Paracelsus class.
  _maps/shuttles/solgov/solgov_paracelsus.dmm
Labels: Map Change

#2599 Various gun gunfixes
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Code change

#2598 (probably) actually fixes outpost baseturfs, removes holodecks
  _maps/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/templates/holodeck_animeschool.dmm
  _maps/templates/holodeck_anthophillia.dmm
  _maps/templates/holodeck_basketball.dmm
  _maps/templates/holodeck_beach.dmm
  _maps/templates/holodeck_burntest.dmm
  _maps/templates/holodeck_chapelcourt.dmm
  _maps/templates/holodeck_dodgeball.dmm
  _maps/templates/holodeck_emptycourt.dmm
  _maps/templates/holodeck_firingrange.dmm
  _maps/templates/holodeck_gamer.dmm
  _maps/templates/holodeck_holdoutbunker.dmm
  _maps/templates/holodeck_kobayashi.dmm
  _maps/templates/holodeck_lounge.dmm
  _maps/templates/holodeck_medicalsim.dmm
  _maps/templates/holodeck_offline.dmm
  _maps/templates/holodeck_petpark.dmm
  _maps/templates/holodeck_photobooth.dmm
  _maps/templates/holodeck_refuelingstation.dmm
  _maps/templates/holodeck_skatepark.dmm
  _maps/templates/holodeck_spacecheckers.dmm
  _maps/templates/holodeck_thunderdome.dmm
  _maps/templates/holodeck_thunderdome1218.dmm
  _maps/templates/holodeck_wildlifesim.dmm
  _maps/templates/holodeck_winterwonderland.dmm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/misc.dm
  code/controllers/subsystem/mapping.dm
  code/game/area/areas/holodeck.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/toys.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/floor/reinf_floor.dm
  code/game/turfs/turf.dm
  code/modules/holodeck/computer.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/holodeck/holodeck_map_templates.dm
  code/modules/holodeck/mobs.dm
  code/modules/holodeck/turfs.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/reader.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#2634 Makes autowiki humans more random
  code/__HELPERS/text.dm
  code/modules/autowiki/pages/ships.dm
  code/modules/mob/living/carbon/human/consistent_human.dm
Labels: Code change

#2646 Tend wounds surgery variants no longer attempt to heal the wrong type of damage
  code/modules/surgery/healing.dm
Labels: Code change

#2648 Fixes 2647
  code/modules/mining/machine_processing.dm
Labels: Code change

#2665 Updates syndicate ship prefixes
  _maps/configs/syndicate_aegis.json
  _maps/configs/syndicate_cybersun_kansatsu.json
  _maps/configs/syndicate_gorlex_hyena.json
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/configs/syndicate_litieguai.json
  _maps/configs/syndicate_lugol.json
Labels: Map Change

#2650 fixes crusher loot for icemoon ruin dragon not dropping a key
  _maps/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
Labels: Map Change

#2672 Murders The Devil from The Bible in the form of a bee
  code/datums/mapgen/planetary/BeachGenerator.dm
  code/datums/mapgen/planetary/JungleGenerator.dm
Labels: Code change

#2668 Vox Sprite Update
  code/modules/mob/living/carbon/human/species_types/vox.dm
  icons/mob/actions.dmi
  icons/mob/species/vox/onmob_back_vox.dmi
  icons/mob/species/vox/onmob_belt_vox.dmi
Labels: Sprites, Code change

#2600 Syndi suit balance
  _maps/RandomRuins/JungleRuins/jungle_demon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Map Change, Code change

#2355 Mudskipper Tweaks
  _maps/shuttles/independent/independent_mudskipper.dmm
Labels: Map Change

#2557 Poster Printer
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/printer.dm
  code/modules/library/lib_machines.dm
  icons/obj/printer.dmi
  shiptest.dme
  tgui/packages/tgui/interfaces/PosterPrinter.js
Labels: DME Edit, Sprites, TGUI, Test Merge Candidate, Code change
