Repository shiptest-ss13/Shiptest, pull requests merged in 2024-10, with the labels that each got.

#3345 a bedtime update for beddy-bye boys (Bunk beds!)
  code/datums/elements/bed_tucking.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/stacks/sheets/recipes/recipes_metal.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/tank_dispenser.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/mob/living/carbon/carbon.dm
  icons/effects/effects.dmi
  icons/obj/objects.dmi
Labels: Sprites, Code change

#3433 One Shot RPG
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
  icons/obj/guns/manufacturer/frontier_import/48x32.dmi
  icons/obj/guns/manufacturer/frontier_import/lefthand.dmi
  icons/obj/guns/manufacturer/frontier_import/onmob.dmi
  icons/obj/guns/manufacturer/frontier_import/righthand.dmi
Labels: Sprites, Code change

#3432 The Frontier Ablaze: Ramzi's Molotov Cookbook
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
Labels: Code change

#3463 fixes lints
  .github/workflows/ci_suite.yml
  code/modules/power/apc.dm
Labels: GitHub, Code change

#3471 actually fix defibs
  code/game/objects/items/defib.dm
  code/modules/surgery/revival.dm
Labels: Code change

#3473 Waste Planet Turf Resprite!
  icons/turf/floors.dmi
Labels: Sprites

#3466 Replaces the red insulated gloves in syndicate toolboxes with normal insulated gloves
  code/game/objects/items/storage/toolbox.dm
Labels: Code change

#3468 Adds One Shot RPG to Black Market
  code/modules/cargo/blackmarket/blackmarket_items/explosives.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
Labels: Code change

#3382 Inteq Gygax and Durand Paladin shield backlash. Fixes Durand shield blocking bullets from any direction.
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/modules/power/power.dm
  icons/mecha/inteq_gygax.dmi
  icons/mecha/mecha.dmi
Labels: Sprites, Code change

#3476 Three More Elzu Horns
  code/modules/mob/dead/new_player/sprite_accessories/elzuose.dm
  icons/mob/ethereal_parts.dmi
Labels: Sprites, Code change

#3452 air alarms and more minor valor tweaks
  _maps/shuttles/inteq/inteq_valor.dmm
Labels: Map Change

#3442 Minor Colossus Filter Fix
  _maps/shuttles/inteq/inteq_colossus.dmm
Labels: Map Change

#3464 TGUI pipe dispenser
  _maps/shuttles/independent/independent_junker.dmm
  check_regex.yaml
  code/game/machinery/pipe/pipe_dispenser.dm
  tgui/packages/tgui/interfaces/PipeDispenser.js
Labels: Map Change, TGUI, Code change

#3438 Shaves the Vaquero
  _maps/configs/inteq_vaquero.json
Labels: Map Change

#3146 Angle grinder AGAIN! Also, makes plasma cutters used for salvage instead of mining (and base gearpacks)
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/tools.dm
  code/datums/action.dm
  code/datums/components/twohanded.dm
  code/datums/elements/tool_bang.dm
  code/game/atoms.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/airlock.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha.dm
  code/game/objects/items.dm
  code/game/objects/items/gear_packs.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/safe.dm
  code/game/objects/structures/salvaging.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/_closed.dm
  code/modules/cargo/packs/tools.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mining/equipment/angle_grinder.dm
  code/modules/projectiles/ammunition/energy/plasma.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/plasma.dm
  code/modules/surgery/organic_steps.dm
  icons/effects/cutting_effect.dmi
  icons/mecha/mecha_equipment.dmi
  icons/mob/clothing/back.dmi
  icons/mob/inhands/equipment/gear_handle_lefthand.dmi
  icons/mob/inhands/equipment/gear_handle_righthand.dmi
  icons/obj/item/gear_packs.dmi
  icons/obj/mining.dmi
  shiptest.dme
  sound/weapons/anglegrinder.ogg
Labels: DME Edit, Sprites, Sound, Code change, Test Merge Required

#3436 Parity for small ships
  _maps/configs/independent_kilo.json
  _maps/configs/independent_mudskipper.json
Labels: Map Change

#3421 no more ice demon capture missions
  code/modules/overmap/missions/acquire_mission.dm
Labels: Code change

#3406 Inteq Turrets
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/subshuttles/inteq_anvil.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Map Change, Code change

#3451 Nanotrasen Turrets
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Map Change, Code change

#3449 Komodo FO is now an officer.
  _maps/configs/syndicate_gorlex_komodo.json
Labels: Map Change

#3481 skhrinks gun cases
  code/game/objects/items/storage/guncases.dm
  icons/obj/guncase.dmi
  icons/obj/guncase_48x32.dmi
Labels: Sprites, Code change

#3430 Some backpack sprites for Kepori
  _maps/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  code/__DEFINES/species_clothing_defines.dm
  code/datums/diseases/gastrolisis.dm
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/game/objects/items.dm
  code/game/objects/items/pneumaticCannon.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/antagonists/santa/santa.dm
  code/modules/clothing/outfits/event.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/back/backpacks.dmi
  icons/mob/clothing/back/backpacks_kepori.dmi
  icons/mob/species/kepori/onmob_back_kepori.dmi
  icons/obj/clothing/back/backpacks.dmi
  icons/obj/storage.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change

#3486 Makes Ration Heaters smaller.
  code/game/objects/items/storage/ration.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Labels: Code change

#3417 Obliterates the lasso (goliath riding no longer requires it)
  code/game/objects/items/storage/belt.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/vehicles/vehicle_key.dm
  icons/obj/vehicles.dmi
Labels: Sprites, Code change

#3472 fixes digitigrade combat/jackboots
  icons/mob/species/misc/digitigrade_shoes.dmi
Labels: Sprites

#3484 Adds misc Cybersun stuff. Also .22 is now in cargo.
  code/game/objects/items/documents.dm
  code/game/objects/items/storage/secure.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/paperwork/folders_premade.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-biodynamics.png
Labels: Sprites, Code change

#3395 flakey tests rerunner
  .github/workflows/rerun_flaky_tests.yml
  code/modules/unit_tests/unit_test.dm
  tools/pull_request_hooks/flakyTestPayloads/chat_client.txt
  tools/pull_request_hooks/flakyTestPayloads/invalid_timer.txt
  tools/pull_request_hooks/flakyTestPayloads/monkey_business.txt
  tools/pull_request_hooks/flakyTestPayloads/multiple_failures.txt
  tools/pull_request_hooks/flakyTestPayloads/shapeshift.txt
  tools/pull_request_hooks/package.json
  tools/pull_request_hooks/rerunFlakyTests.js
  tools/pull_request_hooks/rerunFlakyTests.test.js
Labels: Dependencies, GitHub, Code change

#3488 Resprites wisp
  icons/mob/human_face.dmi
Labels: Sprites

#3493 tweaks the syntax of unit tests to be caught by flaky tests
  check_regex.yaml
  code/modules/antagonists/santa/santa.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/outfit_names.dm
  code/modules/unit_tests/outfit_sanity.dm
  code/modules/unit_tests/ship_outpost_placement.dm
  code/modules/unit_tests/unit_test.dm
Labels: Code change

#3431 More chemicals orderable!
  code/modules/cargo/packs/chemistry.dm
  code/modules/cargo/packs/food.dm
  code/modules/reagents/reagent_containers/jug.dm
  icons/obj/chemical/chem_jug.dmi
Labels: Sprites, Test Merge Candidate, Code change

#3497 Circuit Board Resprite
  icons/obj/module.dmi
Labels: Sprites

#3494 Atomizes flamethrower and incendiary grenade crates
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#3498 Assorted Resprites Part Something: Dog Beds, Barrels and Tank Dispensers!
  icons/obj/hazard.dmi
  icons/obj/objects.dmi
Labels: Sprites

#3460 Volumetric Boxes
  code/__DEFINES/storage.dm
  code/game/objects/items/storage/boxes.dm
Labels: Code change

#3448 Changes Inteq loadouts in order to add headsets to roles missing them
  code/game/objects/items/devices/radio/headset.dm
  code/modules/clothing/outfits/factions/inteq.dm
Labels: Code change

#3510 Resprites The "Braid" Haircuts
  icons/mob/human_face.dmi
Labels: Sprites

#3465 Ray cats!
  code/__DEFINES/radiation.dm
  code/datums/components/radioactive.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Test Merged, Code change

#3495 Minor turret balancing
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#3507 PGF Rakalla Spacesuits can hold a gun in their suit storage
  code/modules/clothing/factions/gezena.dm
Labels: Code change

#3453 SSTurrets
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/turrets.dm
  code/game/machinery/porta_turret/portable_turret.dm
  shiptest.dme
Labels: DME Edit, Code change

#3514 Alters Abandoned Airlock Functionality
  code/game/machinery/doors/airlock.dm
Labels: Code change

#3369 Analgesia Trait + Stuff For It To Work
  code/__DEFINES/traits.dm
  code/datums/brain_damage/mild.dm
  code/datums/components/embedded.dm
  code/datums/components/tackle.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/diseases/gastrolisis.dm
  code/datums/traits/negative.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/harvester.dm
  code/game/machinery/outpost_electrolyzer.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/transformer.dm
  code/game/objects/items.dm
  code/game/objects/items/defib.dm
  code/game/objects/structures/guillotine.dm
  code/game/objects/structures/kitchen_spike.dm
  code/game/objects/structures/morgue.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/alien/organs.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/modules_maint.dm
  code/modules/paperwork/paperplane.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/organs/tongue.dm
  code/modules/vending/_vending.dm
Labels: Code change

#3518 Suspicious Duffel Bags now incur movement slowdown
  code/game/objects/items/storage/backpack.dm
Labels: Code change

#3525 Rack Normalcy
  code/game/objects/structures/tables_racks.dm
Labels: Code change

#3522 Resolves issue #3487 -- Throwing bug fix
  code/controllers/subsystem/throwing.dm
Labels: Code change

#3520 Moar hair (mostly ponytails)
  code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  icons/mob/human_face.dmi
Labels: Sprites, Code change

#3542 update paths for ammo stacks
  _maps/RandomRuins/BeachRuins/beach_ancient_ruin.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_lava_canyon.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  tools/UpdatePaths/Scripts/3456_ammoboxes.txt
Labels: Map Change

#3549 Resprites Fridges!
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  icons/obj/vending.dmi
Labels: Sprites, Code change

#3533 Maps inteq stamps in.
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-artificer.png
  icons/stamp_icons/large_stamp-inteq_artificer.png
  icons/stamp_icons/large_stamp-inteq_corpsman.png
  icons/stamp_icons/large_stamp-inteq_maa.png
  icons/stamp_icons/large_stamp-inteq_vanguard.png
Labels: Map Change, Sprites, Code change

#3540 Fixed the CLIP War Correspondent sprite for Vox
  code/modules/clothing/factions/clip.dm
Labels: Code change

#3544 Puts the correct revolver type in the Abandoned Miskilamo Shipbreaking Yard
  _maps/RandomRuins/WasteRuins/wasteplanet_yard.dmm
Labels: Map Change

#3545 Rock Planet Shipping Dock has the correct gun
  _maps/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
Labels: Map Change

#3500 various HP sprite improvments
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  icons/obj/guns/manufacturer/hunterspride/48x32.dmi
  icons/obj/guns/manufacturer/hunterspride/lefthand.dmi
  icons/obj/guns/manufacturer/hunterspride/onmob.dmi
  icons/obj/guns/manufacturer/hunterspride/righthand.dmi
Labels: Sprites, Code change

#3365 Anomaly Edits / Improvements
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/effects/anomalies/anomalies_flux.dm
  code/game/objects/effects/anomalies/anomalies_gravity.dm
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
  code/game/objects/effects/anomalies/anomalies_heartbeat.dm
  code/game/objects/effects/anomalies/anomalies_melter.dm
  code/game/objects/effects/anomalies/anomalies_phantom.dm
  code/game/objects/effects/anomalies/anomalies_plasmasoul.dm
  code/game/objects/effects/anomalies/anomalies_pulsar.dm
  code/game/objects/effects/anomalies/anomalies_pyroclastic.dm
  code/game/objects/effects/anomalies/anomalies_sparkler.dm
  code/game/objects/effects/anomalies/anomalies_static.dm
  code/game/objects/effects/anomalies/anomalies_transfusion.dm
  code/game/objects/effects/anomalies/anomalies_veins.dm
  code/game/objects/effects/anomalies/anomalies_vortex.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/assembly/anomalies.dm
  code/modules/assembly/signaler.dm
  icons/effects/anomalies.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3550 Adds NGR stamps and secret docs.
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  code/game/objects/items/documents.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/folders_premade.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-ngr.png
  icons/stamp_icons/large_stamp-ngr_captain.png
  icons/stamp_icons/large_stamp-ngr_ensign.png
  icons/stamp_icons/large_stamp-ngr_foreman.png
  icons/stamp_icons/large_stamp-ngr_lieutenant.png
Labels: Map Change, Sprites, Code change

#3556 Syndicate tools and soap are no longer better.
  code/game/objects/items/clown_items.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/theft_tools.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/modules/cargo/blackmarket/blackmarket_items/tools.dm
Labels: Code change

#3555 NGR Turrets
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/smg.dm
Labels: Code change

#3548 Increases the moles in the plasma belt tank cargo pack
  code/modules/cargo/packs/emergency.dm
Labels: Code change

#3532 Syndicate Cig Change
  code/game/objects/items/cigs_lighters.dm
Labels: Code change

#3523 Frontiersmen Turrets
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#3491 Shield Generators Make An Alarm When Shutting Down
  code/game/machinery/shieldgen.dm
Labels: Code change

#3478 Remove holoparasite code
  code/__DEFINES/is_helpers.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/guardian.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/traumas.dm
  code/datums/proximity_monitor/fields/timestop.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/assassin.dm
  code/modules/mob/living/simple_animal/guardian/types/charger.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/guardian/types/explosive.dm
  code/modules/mob/living/simple_animal/guardian/types/fire.dm
  code/modules/mob/living/simple_animal/guardian/types/gravitokinetic.dm
  code/modules/mob/living/simple_animal/guardian/types/lightning.dm
  code/modules/mob/living/simple_animal/guardian/types/protector.dm
  code/modules/mob/living/simple_animal/guardian/types/ranged.dm
  code/modules/mob/living/simple_animal/guardian/types/slime.dm
  code/modules/mob/living/simple_animal/guardian/types/standard.dm
  code/modules/mob/living/simple_animal/guardian/types/support.dm
  code/modules/research/xenobiology/crossbreeding/mutative.dm
  code/modules/shuttle/supply.dm
  code/modules/spells/spell_types/pointed/mind_transfer.dm
  code/modules/uplink/uplink_items.dm
  shiptest.dme
Labels: DME Edit, Code change

#3441 Reduces the chance for grenades to go off in your hands
  code/game/objects/items/grenades/grenade.dm
Labels: Code change

#3508 IRMG Enforcers get hardsuits
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change

#3541 Minor Pubby ruin fix.
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
Labels: Map Change

#3539 Removes some cruft from sheet construction - mainly, job statues.
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  _maps/shuttles/nanotrasen/nanotrasen_mimir.dmm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/recipes/recipes_metal.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/statues.dm
  icons/obj/statue.dmi
Labels: Map Change, Sprites, Code change

#3546 Added blood as a switchable mode to smartfridge boards
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Code change

#3446 Reinforces the windows on the Mudskipper
  _maps/shuttles/independent/independent_mudskipper.dmm
Labels: Map Change

#3361 ghosts can no longer duplicate themselves in the mob subsystem list tracking them
  code/controllers/subsystem/mobs.dm
  code/game/atoms_movable.dm
  code/game/machinery/navbeacon.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
Labels: Code change

#3551 Fix to turn mob spawning off when a drill incurs a malfunction
  code/modules/mining/drill.dm
Labels: Code change

#3537 You can now throw things from behind tables
  code/game/objects/structures/table_flipped.dm
Labels: Code change

#3535 Removes South Bronx Paradise Bar
  code/datums/diseases/parasitic_infection.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
  code/modules/vending/snack.dm
  shiptest.dme
Labels: DME Edit, Code change

#3569 More Harddel Fixes
  code/datums/action.dm
  code/datums/components/remote_materials.dm
  code/game/objects/items/implants/implant_misc.dm
  code/game/turfs/closed/minerals.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/clothing/under/accessories.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/gun.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Code change

#3291 Icemoon Ruin: SRM Ice Lodge
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/fence.dm
  code/game/turfs/open/floor/plating/icemoon.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/human/cat_butcher.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_whelp.dm
  code/modules/paperwork/paper_premade.dm
  code/modules/projectiles/ammunition/_ammo_casing.dm
  icons/mob/simple_frontiersman.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change, Ruin

#3566 Gezena is no longer barefoot
  code/modules/clothing/factions/gezena.dm
Labels: Code change

#3573 Fixes shotgun calibers
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
Labels: Code change

#3570 Resprites Colored Jumpsuits!
  code/game/machinery/washing_machine.dm
  code/game/objects/items/miscellaneous.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/under/color.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  icons/mob/clothing/under/color.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/obj/clothing/under/color.dmi
Labels: Sprites, Code change

#3565 Fashion on The Frontier: Dresses
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  code/game/objects/effects/spawners/bundle.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/under/skirt_dress.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/command.dmi
  icons/mob/clothing/under/dress.dmi
  icons/mob/clothing/under/suits.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/command.dmi
  icons/obj/clothing/under/dress.dmi
  icons/obj/clothing/under/suits.dmi
Labels: Map Change, Sprites, Code change

#3577 Being thrown over lava now doesn't cause you to fall into it
  code/game/turfs/open/lava.dm
Labels: Code change

#3246 Atlas-class Light Armored Crusier
  _maps/configs/minutemen_atlas.json
  _maps/shuttles/minutemen/minutemen_atlas.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/storage/guncases.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
Labels: Map Change, Ship, Code change

#3477 Removes the extra turret from the crying sun and slightly re-organizes the armory
  _maps/shuttles/pgf/pgf_crying_sun.dmm
Labels: Map Change

#3581 Fixes the Frontiersman Soft Cap
  code/modules/clothing/factions/frontiersmen.dm
Labels: Code change

#3575 Wasteplanets Less Explosive
  code/datums/mapgen/planetary/WasteGenerator.dm
Labels: Code change

#3580 resprites the commander
  code/__DEFINES/guns.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/manufacturer/nanotrasen_sharplite/ballistics.dm
  icons/obj/guns/manufacturer/inteq/48x32.dmi
  icons/obj/guns/manufacturer/inteq/lefthand.dmi
  icons/obj/guns/manufacturer/inteq/righthand.dmi
  icons/obj/guns/manufacturer/nanotrasen_sharplite/48x32.dmi
  icons/obj/guns/manufacturer/nanotrasen_sharplite/lefthand.dmi
  icons/obj/guns/manufacturer/nanotrasen_sharplite/righthand.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3578 Adds Sprites for Overmap Storm Severities
  code/modules/overmap/objects/event_datum.dm
  icons/misc/overmap.dmi
Labels: Sprites, Code change

#3562 Emote Stuff (Courtesy of NithaIsTired)
  code/__DEFINES/dcs/signals/signals.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living.dm
  sound/effects/Nose_boop.ogg
  sound/effects/boop.ogg
  sound/misc/claponce1.ogg
  sound/misc/claponce2.ogg
  sound/misc/fingersnap1.ogg
  sound/misc/fingersnap2.ogg
  sound/misc/snap2.ogg
  sound/misc/snap3.ogg
Labels: Sound, Code change

#3552 To Whom It May Concern - Bullet Writing
  code/modules/projectiles/ammunition/_ammo_casing.dm
Labels: Code change

#3502 E40 Changes (.299 cargo and firerate)
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/guns/ballistic/assault.dm
Labels: Code change

#3515 Adds 2 Airlock Helpers For Mapping
  code/modules/mapping/mapping_helpers.dm
Labels: Code change

#3587 Handrail Resprite by Spooky!
  icons/obj/structures/handrail.dmi
Labels: Sprites

#3588 Fixes examine on ammo casing to hint you can write on them
  code/modules/projectiles/ammunition/_ammo_casing.dm
Labels: Code change

#3563 gives the autolathe the space heater board.
  code/modules/research/designs/machine_designs.dm
Labels: Code change

#3576 blind people can examine things quicker
  code/modules/mob/mob.dm
Labels: Code change

#3490 defines the two primary atmos req types
  code/__DEFINES/atmospherics.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/antagonists/morph/morph.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/cargo/gondolapod.dm
  code/modules/holiday/easter.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/gondola.dm
  code/modules/mob/living/simple_animal/hostile/abandoned_minebot.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/clown.dm
  code/modules/mob/living/simple_animal/hostile/cockroach.dm
  code/modules/mob/living/simple_animal/hostile/eyeballs.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/mob/living/simple_animal/hostile/human/nanotrasen.dm
  code/modules/mob/living/simple_animal/hostile/human/pirate.dm
  code/modules/mob/living/simple_animal/hostile/human/skeleton.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/human/zombie.dm
  code/modules/mob/living/simple_animal/hostile/jungle/_jungle_mobs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/cult_templar.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/ghost.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/spaceman.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Test Merged, Code change

#3601 Disables the Komodo
  _maps/configs/syndicate_gorlex_komodo.json
Labels: Map Change

#3571 Adds Sords For PGF
  code/game/objects/items/melee/sword.dm
  code/game/objects/items/storage/belt.dm
  icons/obj/clothing/belts.dmi
  icons/obj/weapon/sword.dmi
Labels: Sprites, Code change

#3614 Hallucination Anomaly Fix
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
Labels: Code change

#3617 Update belt.dm
  code/game/objects/items/storage/belt.dm
Labels: Code change

#3584 Uncomments Machete Cargo Order
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#3583 Analgesia trait fixes
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/embedded.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Code change

#3606 Lets you fax holochips
  code/modules/paperwork/fax.dm
Labels: Code change

#3429 smarter allowed ammo types
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/minutemen/minutemen_atlas.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  check_regex.yaml
  code/__DEFINES/guns.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/storage/guncases.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/cargo/packs/gun.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/power/cell.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/laser_gatling.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/lasers.dm
  code/modules/projectiles/guns/manufacturer/etherbor/energy_gunsword.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
  code/modules/projectiles/guns/manufacturer/nanotrasen_sharplite/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/guns/misc/bow.dm
  code/modules/projectiles/guns/powered.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/gun_sanity.dm
Labels: Map Change, Test Merged, Code change

#2988 Claymores & Mine Tweaks
  code/datums/components/pellet_cloud.dm
  code/game/objects/items/devices/mines.dm
  code/game/objects/items/shrapnel.dm
  code/game/turfs/open/floor.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/projectile/energy/misc.dm
  icons/obj/landmine.dmi
  icons/obj/world/landmine.dmi
Labels: Sprites, Test Merge Candidate, Code change

#3383 ERT Update
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/datums/ert.dm
  code/datums/ert/_ert.dm
  code/datums/ert/ert_clip.dm
  code/datums/ert/ert_frontiersmen.dm
  code/datums/ert/ert_gezena.dm
  code/datums/ert/ert_indies.dm
  code/datums/ert/ert_inteq.dm
  code/datums/ert/ert_nanotrasen.dm
  code/datums/ert/ert_roumain.dm
  code/datums/ert/ert_solgov.dm
  code/datums/ert/ert_syndicate.dm
  code/game/objects/items/grenades/smokebomb.dm
  code/game/objects/items/storage/belt.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/ert/frontiersmen.dm
  code/modules/antagonists/ert/gezena.dm
  code/modules/antagonists/ert/indie.dm
  code/modules/antagonists/ert/inteq.dm
  code/modules/antagonists/ert/minutemen.dm
  code/modules/antagonists/ert/nanotrasen.dm
  code/modules/antagonists/ert/roumain.dm
  code/modules/antagonists/ert/solgov.dm
  code/modules/antagonists/ert/syndicate.dm
  code/modules/client/preferences.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/clothing/outfits/ert/gezena_ert.dm
  code/modules/clothing/outfits/ert/indie_ert.dm
  code/modules/clothing/outfits/ert/inteq_ert.dm
  code/modules/clothing/outfits/ert/minutemen_ert.dm
  code/modules/clothing/outfits/ert/nanotrasen_ert.dm
  code/modules/clothing/outfits/ert/roumain_ert.dm
  code/modules/clothing/outfits/ert/solgov_ert.dm
  code/modules/clothing/outfits/ert/syndicate_ert.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/clothing/outfits/factions/roumain.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#3558 qdel optimize
  code/__DEFINES/dcs/signals/signals.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/garbage.dm
  code/datums/aquarium.dm
  code/datums/components/admin_popup.dm
  code/datums/components/aquarium.dm
  code/datums/components/attachment.dm
  code/datums/components/attachment_holder.dm
  code/datums/components/creamed.dm
  code/datums/components/deadchat_control.dm
  code/datums/components/food/edible.dm
  code/datums/components/food/food_storage.dm
  code/datums/components/gunpoint.dm
  code/datums/components/manual_blinking.dm
  code/datums/components/manual_breathing.dm
  code/datums/components/pellet_cloud.dm
  code/datums/components/shielded.dm
  code/datums/components/weatherannouncer.dm
  code/datums/datum.dm
  code/datums/elements/food/edible.dm
  code/datums/progressbar.dm
  code/game/machinery/camera/camera.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/view_variables/reference_tracking.dm
  code/modules/clothing/chameleon.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/find_reference_sanity.dm
Labels: Code change, Test Merge Required

#3621 Mine Harddel emergency fix
  code/game/objects/items/devices/mines.dm
Labels: Code change

#3590 Fireaxe Black Market Adjustments
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
Labels: Code change

#3620 Label ship and ruins!
  .github/labeler.yml
Labels: GitHub

#3458 Raleigh-Class Mercenary Corvette
  _maps/configs/independent_raleigh.json
  _maps/shuttles/independent/independent_raleigh.dmm
  code/game/objects/structures/cabinet_types.dm
  code/modules/clothing/outfits/factions/independent.dm
  icons/obj/wallmounts.dmi
Labels: Map Change, Sprites, Ship, Code change, Test Merge Required

#3367 Trade Post Remake troi
  _maps/RandomRuins/WasteRuins/wasteplanet_tradepost.dmm
  code/datums/ruins/wasteplanet.dm
  code/game/area/areas/ruins/wasteplanet.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
  code/modules/mining/equipment/marker_beacons.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/ruins/wasteplanet_ruin_code/tradepost.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change, Ruin

#3592 Simple human armor now draws its values from real armor
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/mob/living/simple_animal/hostile/human/nanotrasen.dm
  code/modules/mob/living/simple_animal/hostile/human/pirate.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/human/zombie.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Code change

#3629 Fixes searching with the orbit menu
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
Labels: TGUI

#3618 Balaclava Snout Sprites + Elzu Snouts
  code/__DEFINES/inventory.dm
  code/__DEFINES/mobs.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  icons/mob/clothing/faction/ngr/mask.dmi
  icons/mob/clothing/mask.dmi
Labels: Sprites, Code change

#3482 Un-nerfs Kepori
  code/modules/mob/living/carbon/human/species_types/kepori.dm
Labels: Code change, Test Merge Required

#3613 Minor Newscaster Fix
  code/game/machinery/newscaster.dm
Labels: Code change

#3615 Changes the vote sound to announce_dig
  code/datums/votes/_vote_datum.dm
Labels: Code change

#3608 Medical stacks can now heal corpses.
  code/game/objects/items/stacks/medical.dm
Labels: Code change

#3600 Adds plastitanium shards, and slightly modifies plasma shards
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/structures/window.dm
  icons/obj/shards.dmi
Labels: Sprites, Code change

#3622 Fix Design Disks
  code/modules/research/rdconsole.dm
Labels: Code change

#3633 Qdel Log Hotfix
  code/controllers/subsystem/garbage.dm
Labels: Code change

#3380 Scarab-class Heavy Mining Ship
  _maps/configs/independent_scarab.json
  _maps/shuttles/independent/independent_scarab.dmm
  code/modules/clothing/outfits/factions/independent.dm
Labels: Map Change, Ship, Code change

#3643 Downgrades python requirements
  .github/workflows/ci_suite.yml
  tools/requirements.txt
Labels: GitHub

#3506 Tape Recorder Housekeeping
  code/game/objects/items/devices/taperecorder.dm
  icons/effects/icons.dmi
  sound/items/taperecorder/taperecorder_close.ogg
  sound/items/taperecorder/taperecorder_open.ogg
  sound/items/taperecorder/taperecorder_play.ogg
  sound/items/taperecorder/taperecorder_print.ogg
  sound/items/taperecorder/taperecorder_stop.ogg
Labels: Sprites, Sound, Code change

#3640 more harddels please!
  code/game/objects/objs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Code change

#3645 makes the config for random loot weight a define instead
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/effects/spawners/random.dm/random.dm
  config/game_options.txt
Labels: Config, Code change

#3636 Edits the name of plasma and plastitanium shards
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Code change

#3568 Bullet Stack Fixes + Other
  code/game/objects/items/storage/ammo_can.dm
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/ammunition/_ammo_casing.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_pistol_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_rifle_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_shotshell_stacks.dm
Labels: Code change

#3480 RPG Fixes
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
  code/modules/projectiles/projectile/special/rocket.dm
Labels: Code change

#3553 Console examine_more viewability change
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/modular_computers/computers/item/laptop.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/power/apc.dm
Labels: Code change, Test Merge Required

#3605 Adds rail lights to inteq ships.
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  code/modules/cargo/packs/gun.dm
Labels: Map Change, Code change

#3612 Scarborough attachment stuff.
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Code change

#3604 Serene Sporting
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  code/__DEFINES/guns.dm
  code/game/objects/effects/spawners/random.dm/exotic.dm
  code/game/objects/items/attachments/bayonet.dm
  code/game/objects/items/attachments/m17_barrel.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/game/objects/items/storage/guncases.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/exports/weapons.dm
  code/modules/cargo/packs/gun.dm
  code/modules/clothing/outfits/ert/inteq_ert.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  code/modules/spells/spell_types/rightandwrong.dm
  code/modules/vending/security.dm
  icons/obj/ammunition/ammo.dmi
  icons/obj/guns/attachments.dmi
  icons/obj/guns/manufacturer/serene_outdoors/48x32.dmi
  icons/obj/guns/manufacturer/serene_outdoors/lefthand.dmi
  icons/obj/guns/manufacturer/serene_outdoors/onmob.dmi
  icons/obj/guns/manufacturer/serene_outdoors/righthand.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Ship, Code change, Ruin

#3599 Vox Overlay Fix & Species Overlay Framework
  code/datums/components/bloodysoles.dm
  code/datums/components/forensics.dm
  code/datums/dna.dm
  code/datums/elements/decals/blood.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/vox_bodyparts.dm
  icons/effects/blood.dmi
  icons/effects/blood_vox.dmi
  icons/mob/species/kepori/kepori_overlays.dmi
  icons/mob/species/vox/vox_overlays.dmi
Labels: Sprites, Code change

#3585 Angle Grinder Balance
  code/game/machinery/doors/poddoor.dm
  code/game/objects/structures/poddoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/mining/equipment/angle_grinder.dm
  sound/weapons/anglegrinder.ogg
Labels: Sound, Code change

#3593 Maps Angle Grinders
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: Map Change

#3623 Refactors moodlets so that newline control characters don't have to be explicitly written, converts descriptions to span macros
  code/__DEFINES/span.dm
  code/datums/components/mood.dm
  code/datums/mood_events/beauty_events.dm
  code/datums/mood_events/drink_events.dm
  code/datums/mood_events/drug_events.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/mood_events/needs_events.dm
Labels: Code change

#3648 small wording fix in broken bone stuff
  code/modules/mob/living/carbon/human/life.dm
Labels: Code change

#3368 New Sandplanet Ruin: Cave Base
  _maps/RandomRuins/SandRuins/whitesands_cave_base.dmm
  code/datums/ruins/whitesands.dm
  code/datums/wires/_wires.dm
  code/datums/wires/explosive.dm
  code/game/area/areas/ruins/sandplanet.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/turfs/open/floor/plating/whitesands.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/voice.dm
  code/modules/projectiles/projectile.dm
  code/modules/ruins/sandplanet_ruin_code/cave_base.dm
  icons/mob/inhands/weapons/bombs_lefthand.dmi
  icons/mob/inhands/weapons/bombs_righthand.dmi
  icons/obj/grenade.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Test Merge Candidate, Code change, Ruin

#3663 Updates world icons for knives
  code/game/objects/items/melee/knife.dm
  icons/obj/weapon/knife.dmi
  icons/obj/weapon/knives/knife.dmi
  icons/obj/weapon/knives/knife_world.dmi
  icons/obj/world/melee.dmi
Labels: Sprites, Code change

#3642 removes some awaymission cruft
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/generic/blank.dmm
  code/game/area/areas/away_content.dm
  code/game/turfs/open/dirtystation.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  code/modules/awaymissions/mission_code/caves.dm
  code/modules/awaymissions/mission_code/centcomAway.dm
  code/modules/awaymissions/mission_code/challenge.dm
  code/modules/awaymissions/mission_code/murderdome.dm
  code/modules/awaymissions/mission_code/research.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/awaymissions/mission_code/undergroundoutpost45.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#3655 Adds a few more feedback stats and fixes some others
  code/__DEFINES/economy.dm
  code/controllers/subsystem/overmap.dm
  code/controllers/subsystem/shuttle.dm
  code/game/machinery/bank_machine.dm
  code/game/machinery/roulette_machine.dm
  code/game/objects/items/bank_card.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/console.dm
  code/modules/cargo/order.dm
  code/modules/economy/account.dm
  code/modules/economy/pay_stand.dm
  code/modules/economy/selling_pad.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/modular_computers/laptop_vendor.dm
  code/modules/overmap/missions.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/vending/_vending.dm
Labels: Code change

#3667 beagle mug
  _maps/shuttles/minutemen/minutemen_atlas.dmm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  icons/obj/drinks/drinks.dmi
Labels: Map Change, Sprites, Ship, Code change

#3419 Planetary Lighting Colors
  _maps/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/RandomRuins/BeachRuins/beach_float_resort.dmm
  _maps/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/shuttles/independent/independent_lagoon.dmm
  code/__DEFINES/colors.dm
  code/datums/mapgen/single_biome/WasteplanetCaves.dm
  code/game/objects/effects/glowshroom.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/game/turfs/open/floor/plating/beach.dm
  code/game/turfs/open/floor/plating/icemoon.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/game/turfs/open/floor/plating/lavaland.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/floor/plating/planet.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
  code/game/turfs/open/floor/plating/whitesands.dm
  code/modules/mapping/mapping_helpers.dm
  shiptest.dme
Labels: Map Change, DME Edit, Ship, Code change, Ruin

#3627 Atmospherics cleanup / adds some more fitting planetary gases from Ovemap Expansion #5
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/subshuttles/independent_superpill.dmm
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/reactions.dm
  code/datums/brain_damage/mild.dm
  code/game/machinery/shuttle/shuttle_heater.dm
  code/game/objects/effects/spawners/random.dm/waste_planet.dm
  code/game/turfs/open/_open.dm
  code/modules/atmospherics/auxgm/breathing_classes.dm
  code/modules/atmospherics/auxgm/gas_types.dm
  code/modules/atmospherics/gasmixtures/auxgm.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/cargo/bounties/engineering.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/holodeck/turfs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/lungs.dm
  icons/obj/nutanks.dmi
Labels: Map Change, Sprites, Ship, Code change, Ruin

#3638 Energy weapons spawned with empty cells now use the cell behavior for it
  code/modules/projectiles/guns/energy.dm
Labels: Code change

#3676 Adds speedloaders to the indie viper guncase.
  code/game/objects/items/storage/filled_guncases.dm
Labels: Code change

#3399 PGF - Elated Bolide Class Assault Lander
  _maps/configs/pgf_elated_bolide.json
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  code/datums/holocall.dm
  code/game/MapData/shuttles/pgf_bolide.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/clothing/outfits/factions/gezena.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/folders_premade.dm
  icons/mob/pets.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/storage.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Test Merged, Ship, Code change
