Repository shiptest-ss13/Shiptest, pull requests merged in 2024-11, with the labels that each got.

#3684 Holocall Change
  code/datums/holocall.dm
  code/game/machinery/hologram.dm
Labels: Code change

#3634 Organize Cargo Ammo
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  shiptest.dme
Labels: DME Edit, Code change

#3652 2 small fixes
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Code change

#3611 Rebalances Jetpack costs and movement
  code/game/objects/items/tanks/jetpack.dm
  code/modules/cargo/blackmarket/blackmarket_items/tools.dm
  code/modules/cargo/packs/tools.dm
Labels: Code change

#3609 Balaclavas Aren't Gas Masks
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/clothing/outfits/ert/inteq_ert.dm
  code/modules/clothing/outfits/ert/minutemen_ert.dm
  code/modules/clothing/outfits/ert/syndicate_ert.dm
  code/modules/clothing/outfits/factions/inteq.dm
  icons/mob/clothing/faction/ngr/mask.dmi
  icons/obj/clothing/faction/ngr/mask.dmi
Labels: Map Change, Sprites, Ship, Code change

#3664 Unstations Robotic Hud Alerts
  code/_onclick/hud/alert.dm
Labels: Code change

#3673 Fixes a Few Magazines not working with some guns + Saber fixes
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/game/objects/effects/spawners/random.dm/salvaging.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/spells/spell_types/rightandwrong.dm
Labels: Map Change, Ship, Code change, Ruin

#3683 Recycle Guncases + Ammo Boxes
  code/datums/components/material_container.dm
  code/game/objects/items/storage/guncases.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/_premade_stacks.dm
Labels: Code change

#3661 Add CM357
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Code change

#3637 Misfire changes
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
Labels: Code change

#3670 Kepori Expansion: Dresses
  code/modules/clothing/under/skirt_dress.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/under/dress.dmi
  icons/mob/clothing/under/dresses/dress.dmi
  icons/mob/clothing/under/dresses/dress_kepori.dmi
  icons/mob/species/kepori/onmob_suit_kepori.dmi
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
  icons/obj/clothing/under/SolGov.dmi
  icons/obj/clothing/under/cargo.dmi
  icons/obj/clothing/under/centcom.dmi
  icons/obj/clothing/under/color.dmi
  icons/obj/clothing/under/dress.dmi
  icons/obj/clothing/under/engineering.dmi
  icons/obj/clothing/under/misc.dmi
  icons/obj/clothing/under/rnd.dmi
  icons/obj/clothing/under/security.dmi
  icons/obj/clothing/under/service.dmi
  icons/obj/clothing/under/shorts_pants.dmi
Labels: Sprites, Code change

#3691 fixes chat icons and fishing window icons
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/tgui_panel/tgui_panel.dm
Labels: Code change

#3641 Adds Nanotrasen, Vigilitas and N+S stamps!
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/outfits/ert/nanotrasen_ert.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-centcom.png
  icons/stamp_icons/large_stamp-ns_captain.png
  icons/stamp_icons/large_stamp-ns_generic.png
  icons/stamp_icons/large_stamp-ns_sup_dir.png
  icons/stamp_icons/large_stamp-nt_captain.png
  icons/stamp_icons/large_stamp-nt_central.png
  icons/stamp_icons/large_stamp-nt_eng_dir.png
  icons/stamp_icons/large_stamp-nt_generic.png
  icons/stamp_icons/large_stamp-nt_med_dir.png
  icons/stamp_icons/large_stamp-nt_officer.png
  icons/stamp_icons/large_stamp-nt_sci_dir.png
  icons/stamp_icons/large_stamp-vi_captain.png
  icons/stamp_icons/large_stamp-vi_generic.png
  icons/stamp_icons/large_stamp-vi_loss_prevention.png
  icons/stamp_icons/large_stamp-vi_sec_dir.png
Labels: Map Change, Sprites, Ship, Code change, Ruin

#3689 bolide fix x2
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
Labels: Map Change, Ship

#3666 Vigilitas & Inteq gas masks
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_hound.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/modules/clothing/factions/nanotrasen.dm
  code/modules/clothing/masks/gasmask.dm
  icons/mob/clothing/faction/nanotrasen/mask.dmi
  icons/mob/clothing/faction/nanotrasen/mask_kepori.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/species/kepori/onmob_mask_kepori.dmi
  icons/obj/clothing/faction/nanotrasen/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Map Change, Sprites, Ship, Code change

#3659 Hermit
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_rifle_stacks.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/smg.dm
Labels: Map Change, Code change, Ruin

#3687 Platforms
  code/game/objects/structures/platforms.dm
  icons/obj/platform.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3529 Outpost Vendors Cost Money
  code/modules/vending/_vending.dm
  code/modules/vending/assist.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cartridge.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/coffee.dm
  code/modules/vending/cola.dm
  code/modules/vending/engineering.dm
  code/modules/vending/engivend.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  code/modules/vending/toys.dm
  code/modules/vending/wardrobes.dm
  code/modules/vending/youtool.dm
Labels: Code change

#3653 Cargo pack Stuff
  code/modules/cargo/packs/animal.dm
  code/modules/cargo/packs/canister.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/exploration.dm
  code/modules/cargo/packs/fishing.dm
  code/modules/cargo/packs/food.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/cargo/packs/material.dm
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/cargo/packs/tools.dm
  code/modules/vehicles/pimpin_ride.dm
  shiptest.dme
Labels: DME Edit, Code change

#3235 Removes ORM from non-mining/salvage ships.
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_box.dmm
  _maps/shuttles/independent/independent_schmiedeberg.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
Labels: Map Change, Do Not Merge, Stale, Ship

#3461 click cooldown hud
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/_onclick/click.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/progressbar.dm
Labels: Test Merged, Code change

#3485 Reflavors the Li Tieguai-class.
  _maps/configs/syndicate_cybersun_litieguai.json
  _maps/shuttles/syndicate/syndicate_cybersun_litieguai.dmm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Map Change, Ship, Code change

#3625 PGF/Crying Sun-housekeeping again
  _maps/configs/pgf_crying_sun.json
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  code/modules/clothing/outfits/factions/gezena.dm
Labels: Map Change, Ship, Code change

#3632 Carpentry Tweaks -- Allows easels and cabinets to be crafted, and fixes various bugs with painting frames
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/artstuff.dm
Labels: Code change

#3660 Add Clip Turrets
  _maps/shuttles/minutemen/minutemen_atlas.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Map Change, Ship, Code change

#3662 Adds a few clip weapons to black market
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
Labels: Code change

#3674 Energy Bayonet
  code/game/objects/items/attachments/energy_bayonet.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  shiptest.dme
Labels: DME Edit, Code change

#3685 PGF Faxes
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  code/game/turfs/closed/indestructible.dm
  code/modules/paperwork/fax.dm
Labels: Map Change, Ship, Code change

#3690 Adjusts Nausea Stuff
  code/__DEFINES/mobs.dm
  code/_onclick/hud/alert.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/stomach.dm
Labels: Code change

#3679 Map Frontiersmen Turrets Onto Ruins
  _maps/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/RandomRuins/BeachRuins/beach_pirate_crash.dmm
Labels: Map Change, Ruin

#3677 Reduces 357 Hollowpoint negative AP
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Code change

#3624 New Ship: Woeful Cthonian-class Patrol Cutter
  _maps/configs/pgf_woeful_cthonian.json
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  code/game/MapData/shuttles/pgf_woeful_cthonian.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Ship, Code change

#3699 Fixes shifted number decals
  icons/turf/decals/decals.dmi
Labels: Sprites

#3704 Fixes a small bug with shields that stopped them from working
  code/game/objects/items/shields.dm
Labels: Code change

#3695 Small Stat Tweaks
  code/modules/cargo/order.dm
  code/modules/overmap/missions.dm
Labels: Code change

#3707 Mission Abandonment Confirmation
  code/modules/cargo/console.dm
Labels: Code change

#3554 NGR Kali Andhi-class Destroyer
  _maps/configs/syndicate_ngr_kaliandhi.json
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/items/desk_flags.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/signs/signs_flags.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  icons/obj/deskflags.dmi
  icons/obj/structures/signs/wallflags.dmi
Labels: Map Change, Sprites, Ship, Code change, Test Merge Required

#3706 wasteplanets no longer spawn manhacks
  code/datums/mapgen/planetary/WasteGenerator.dm
Labels: Code change

#3714 kilo shotgun fix
  _maps/shuttles/independent/independent_kilo.dmm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Map Change, Ship, Code change

#3705 Tidies Configs
  code/controllers/configuration/entries/game_options.dm
  code/controllers/configuration/entries/general.dm
  code/game/area/areas.dm
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
  code/modules/awaymissions/zlevel.dm
  config/config.txt
  config/game_options.txt
Labels: Config, Code change

#3698 Twohanded weapons now support having 0 force
  code/datums/components/melee/twohanded.dm
Labels: Code change

#3715 tiny fax related fixes
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  code/modules/paperwork/fax.dm
  code/modules/requests/requests_manager.dm
  sound/misc/mail.ogg
Labels: Map Change, Sound, Ship, Code change, Ruin

#3586 Allows medical smocks to use their suit storage.
  code/__DEFINES/storage.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/nanotrasen.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/wintercoats.dm
Labels: Code change

#3631 Fix donuts inbox states
  icons/obj/food/donuts.dmi
Labels: Sprites

#3724 [s] Blocks RUSTG Proccalls
  code/modules/admin/callproc/callproc.dm
Labels: Code change

#3591 Crusher Balance
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Code change

#3719 Fixes a number of issues revolving around guns not taking certain magazines
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/etherbor/energy_gunsword.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Code change

#3732 Changes the Kansatsu-class to Aspawn
  _maps/configs/syndicate_cybersun_kansatsu.json
Labels: Map Change, Ship

#3752 fixes a typo in /code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/ammo.dm
Labels: Code change

#3716 Changes Ramzi mobs to use rusted red instead of blood red as a reference
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
Labels: Code change

#3709 Hivebot Changes
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_tradepost.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_yard.dmm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob_spawner/hivebot.dm
  tools/UpdatePaths/Scripts/3709_hivebots.txt
Labels: Map Change, Code change, Ruin

#3726 NGR Turret ammo swap
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#3607 Adds inteq survival boxes.
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/outfits/factions/inteq.dm
Labels: Code change

#3723 looc in crit/unconscious
  code/modules/client/verbs/looc.dm
Labels: Code change

#3728 Legion virus feedback
  code/datums/diseases/legionvirus.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Code change

#3745 Platform Fix
  code/game/objects/structures/platforms.dm
  code/game/objects/structures/railings.dm
  icons/obj/platform.dmi
Labels: Sprites, Code change

#3729 Changed growth serum so that it is directly proportional to volume in a mob, but it is clamped at 30 units for 30% growth.
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code change

#3697 Legion Core Fluff Change + Cloneloss
  code/datums/mood_events/drug_events.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/status_effects/buffs.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Code change

#3720 Severely Reduces Fishing Missions
  code/modules/overmap/missions.dm
  code/modules/overmap/missions/acquire_mission.dm
Labels: Code change

#3722 Brighter rail lights
  code/game/objects/items/attachments/rail_light.dm
Labels: Code change

#3738 Frontiersman Vests Repathed to be like Everyone Else (Hits Simplemobs Too)
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  _maps/shuttles/pirate/pirate_tortuga.dmm
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/clothing/outfits/factions/frontiersmen.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
Labels: Map Change, Ship, Code change, Ruin

#3742 Fixes an iconstate typo
  icons/mob/species/vox/onmob_uniform_vox.dmi
Labels: Sprites

#3750 Adds marine armor to cargo. balances it somewhat.
  code/__DEFINES/obj_flags.dm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
Labels: Code change

#3762 fixes the pr that got merged without review
  code/modules/cargo/packs/spacesuit_armor.dm
Labels: Code change

#3668 Rewrites Trickwine Fluff
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  code/game/objects/items/manuals.dm
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/cargo/blackmarket/blackmarket_items/consumables.dm
  code/modules/food_and_drinks/drinks/drinks/breakawayflask.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/movespeed/modifiers/reagent.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_pistol_stacks.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
Labels: Map Change, Code change, Ruin

#3755 Ngr+Hardliner digitigrade sprites
  code/modules/clothing/factions/ngr.dm
  icons/mob/species/misc/digitigrade.dmi
Labels: Sprites, Code change

#3725 E-11 ruin fix
  _maps/RandomRuins/SandRuins/whitesands_surface_e11_manufactory.dmm
Labels: Map Change, Test Merge Required, Ruin

#3534 Rock Ruin: N+S Mining Installation
  _maps/RandomRuins/RockRuins/rockplanet_mining_installation.dmm
  code/datums/ruins/rockplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
  code/modules/ruins/rockplanet_ruin_code/mining_base.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Code change, Test Merge Required, Ruin

#3712 Another round of fixes
  code/datums/elements/_element.dm
  code/game/atoms.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/teambuilder.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/grenades/clusterbuster.dm
  code/game/turfs/closed/minerals.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/clothing/head/jobs.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/computers/item/laptop.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/overmap/helm.dm
  code/modules/power/apc.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Code change

#3665 Ranger Adjustments
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/game/area/ship_areas.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/game/turfs/open/floor/plasteel_floor.dm
Labels: Map Change, Ship, Code change, Test Merge Required

#3693 Replaces the Hyena with the Derecho
  _maps/configs/syndicate_ngr_derecho.json
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  code/game/area/ship_areas.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  icons/turf/areas.dmi
Labels: Map Change, Sprites, Ship, Code change, Test Merge Required

#3796 Vomiting Is Now Nicer And Less Profuse
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/stomach.dm
Labels: Code change

#3795 Revert "looc in crit/unconscious"
  code/modules/client/verbs/looc.dm
Labels: Code change

#3735 Unbranded Utility Covers + Miskilamo Cap
  code/modules/client/loadout/loadout_hat.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/masks/boxing.dm
  icons/mob/clothing/head.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites, Code change

#3780 Fix Cthonian Platforms
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
Labels: Map Change, Ship

#3777 Fixes the Listening Post Server Monitor + Replaces a Frontier Suit with a Softsuit
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
Labels: Map Change, Ruin

#3708 Replaces Rubbershot on the Kilo and Scarab with Buckshot
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_scarab.dmm
Labels: Map Change, Ship

#3757 fix super sporter wear slot
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#3769 2 shelf fixes
  code/game/objects/structures/crateshelf.dm
Labels: Code change

#3765 Adds a Hardliner faction datum.
  _maps/configs/syndicate_gorlex_komodo.json
  code/__DEFINES/factions.dm
  code/modules/faction/faction_datum.dm
Labels: Map Change, Ship, Code change

#3773 holopads now say the area disconnected on call end
  code/datums/holocall.dm
Labels: Code change

#3781 increases marine armor prices
  code/modules/cargo/packs/spacesuit_armor.dm
Labels: Code change

#3798 frontiersmen turrets kill everything not in their faction
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#3804 Real 9mm fix
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_pistol_stacks.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Map Change, Ship, Code change, Ruin

#3778 Sound Enabling: Vox Screaming
  code/modules/mob/living/carbon/human/emote.dm
Labels: Code change

#3711 Succumb Code Touchup
  code/_onclick/hud/alert.dm
  code/modules/mob/living/living_say.dm
Labels: Code change

#3717 You can no longer see clothes through Blood Red Hardsuits (& others)
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Code change

#3727 increase plasmacutter price. reduce anglegrinder price
  code/modules/cargo/packs/tools.dm
Labels: Code change

#3616 Adds NVG's to the outpost market
  code/modules/cargo/packs/exploration.dm
Labels: Code change

#3756 Moves more fax things around
  code/modules/paperwork/fax.dm
Labels: Code change

#3794 Ranger Minor Fixes
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
Labels: Map Change, Ship

#3764 Auxmos update and potential fix (incredibly mergeable)
  auxmos.dll
  code/__HELPERS/bindings.dm
  code/controllers/subsystem/air.dm
  code/game/objects/effects/turf_fire.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  dependencies.sh
  tools/ci/build_auxmos.sh
  tools/tgs_scripts/PreCompile.sh
Labels: Code change

#3814 Thgvr said he wants growth serum capped at 25% for scaling reasons.
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code change

#3694 Ammo Antics
  code/__DEFINES/projectiles.dm
  code/datums/components/fantasy/suffixes.dm
  code/datums/components/material_container.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/implants/implant_track.dm
  code/game/objects/items/shrapnel.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/ammunition/ballistic/lmg.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_gauss_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_lmg_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_misc_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_pistol_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_rifle_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_shotshell_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_smg_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_sniper_stacks.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/projectiles/projectile/bullets/special.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/spells/spell_types/mime.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/ammunition/ammo_bullets.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3810 Fixes examine more text
  code/modules/mob/mob.dm
Labels: Code change

#3721 Modifies snack, drink, and cigarette vender costs
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/breakawayflask.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/food_and_drinks/drinks/drinks/modglass.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/coffee.dm
  code/modules/vending/cola.dm
  code/modules/vending/snack.dm
Labels: Code change

#3686 Adds names & descriptions for Frontiersman and Ramzi mobs
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
Labels: Code change

#3775 Repeating mech repair
  code/game/mecha/mecha_defense.dm
Labels: Code change

#3651 Dwayne is now made out of titanium
  _maps/shuttles/independent/independent_dwayne.dmm
  code/game/objects/items/storage/boxes.dm
Labels: Map Change, Test Merged, Test Merge Candidate, Ship, Code change

#3767 Fixes the switchblade letter opener and machete becoming invisible
  code/game/objects/items/melee/knife.dm
  code/game/objects/items/melee/sword.dm
  icons/obj/weapon/knives/knife.dmi
Labels: Sprites, Code change

#3740 Removes Drunkslurring at low drunkenness
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/mob_helpers.dm
Labels: Code change

#3836 Adds a singular light tube to the Atlas + Sergeant can access their own belongings now
  _maps/shuttles/minutemen/minutemen_atlas.dmm
Labels: Map Change, Ship

#3813 Saw off guns with Angle Grinder
  code/modules/projectiles/gun.dm
Labels: Code change

#3823 Thin railings
  code/game/objects/structures/railings.dm
  icons/obj/railing.dmi
Labels: Sprites, Code change

#3833 adds examine hint for crate shelf construction
  code/game/objects/structures/crateshelf.dm
Labels: Code change

#3791 Nerf Marine Armor
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/clothing/suits/armor.dm
Labels: Map Change, Ship, Code change

#3832 Accessibility change: Suffocation and organ lists made readable for dark mode
  code/game/objects/items/devices/scanners.dm
Labels: Code change

#3763 Adds shoulder holsters to outpost cargo, and usage QOL
  code/datums/components/storage/concrete/pockets.dm
  code/datums/components/storage/storage.dm
  code/modules/cargo/blackmarket/blackmarket_items/misc.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories.dm
Labels: Code change

#3802 Snowballs do stam damage
  code/game/objects/items/toys.dm
Labels: Code change

#3805 Removes the S.W.A.T. Suit from cargo.
  code/modules/cargo/packs/spacesuit_armor.dm
Labels: Code change

#3786 Anomaly Core Edits
  code/game/objects/effects/anomalies/anomalies_plasmasoul.dm
  code/game/objects/effects/anomalies/anomalies_veins.dm
  code/modules/assembly/anomalies.dm
Labels: Code change

#3731 blood drip randomization + ammo casings
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/projectiles/ammunition/_ammo_casing.dm
Labels: Code change

#3831 More Hivebot Changes
  code/game/objects/effects/spawners/random.dm/waste_planet.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
Labels: Code change

#3834 Makes the HP Beacon cheaper
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
Labels: Code change

#3828 Replaces sec hailers in outfits, boxes, and maps
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_litieguai.dmm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
Labels: Map Change, Ship, Code change, Ruin

#3830 Legion Core Adjustment
  code/datums/status_effects/buffs.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Code change

#3837 Fix shuttle transit resetting turfs modified by floor painter
  code/modules/shuttle/on_move.dm
Labels: Code change

#3783 Waiter access fix.
  code/modules/clothing/outfits/factions/independent.dm
Labels: Code change

#3375 Moves the Brazillab ruin to Sandplanet and fixes the Trabuco's inhand sprites
  _maps/RandomRuins/IceRuins/icemoon_underground_brazillianlab.dmm
  _maps/RandomRuins/SandRuins/whitesands_brazillianlab.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/icemoon.dm
  code/datums/ruins/whitesands.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Map Change, Fix, Code change, Ruin

#3327 New Cargo Missions (Pirate Bounties, Salvage)
  code/game/objects/items/storage/toolbox.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/overmap/missions/acquire_mission.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/clothing/neck.dmi
Labels: Sprites, Code change

#3820 The Voxening
  code/modules/mob/living/carbon/human/species_types/vox.dm
  icons/mob/species/vox/bodyparts.dmi
  icons/mob/species/vox/vox_parts.dmi
Labels: Sprites, Code change

#3849 Adds A New Hair Gradient!
  code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  icons/mob/hair_gradients.dmi
Labels: Sprites, Code change

#3845 Painkillers now reduce severity of damage overlays
  code/modules/mob/living/carbon/carbon.dm
Labels: Code change

#3847 Brazil lab tile fix
  _maps/RandomRuins/SandRuins/whitesands_brazillianlab.dmm
Labels: Map Change, Fix, Ruin

#3850 Mapping helper fixes
  code/modules/mapping/mapping_helpers.dm
Labels: Code change

#3718 Gorlex Sledgehammer
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
  code/game/objects/items/melee/fireaxe.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/axes_lefthand.dmi
  icons/mob/inhands/weapons/axes_righthand.dmi
  icons/obj/weapon/axe.dmi
Labels: Map Change, Sprites, Ship, Code change

#3758 Factional Cargo, done in a day
  check_regex.yaml
  code/controllers/subsystem/shuttle.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/console.dm
  code/modules/cargo/order.dm
  code/modules/cargo/packs.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/food.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/cargo/packs/material.dm
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/events/stray_cargo.dm
  code/modules/faction/faction_datum.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/objects/outpost/outpost_types.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/spells/spell_types/rightandwrong.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/OutpostCommunications/Catalog.js
Labels: DME Edit, TGUI, Code change

#3852 Claris and Gar Can Now Be Stored On Your Back
  code/modules/projectiles/guns/ballistic/gauss.dm
Labels: Code change

#3730 Gun Tweaks
  code/__DEFINES/guns.dm
  code/game/objects/items/attachments/energy_bayonet.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/marksman.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/etherbor/energy_gunsword.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  code/modules/projectiles/guns/manufacturer/solar_armories/ballistic.dm
  icons/obj/guns/manufacturer/clip_lanchester/48x32.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change, Test Merge Required
