Repository shiptest-ss13/Shiptest, pull requests merged in 2024-09, with the labels that each got.

#3318 Eoehoma Caseless is now available on the black market (Plus the E-40 is very slightly cheaper)
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Code change

#3322 Fixes the spawners on my lavaland ruins.
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
Labels: Map Change

#3319 Removes insulation from captain and combat gloves, hardsuits
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/datums/martial/krav_maga.dm
  code/game/objects/items/religion.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/factions/suns.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/clothing/outfits/ert/nanotrasen_ert.dm
  code/modules/clothing/outfits/factions/frontiersmen.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/uplink/uplink_items.dm
Labels: Map Change, Code change

#3325 Minor fix to 10mm rubber rounds
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: Code change

#3243 Adds two new lever action rifles.
  code/game/objects/items/storage/guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/obj/guns/manufacturer/hunterspride/48x32.dmi
  icons/obj/guns/manufacturer/hunterspride/lefthand.dmi
  icons/obj/guns/manufacturer/hunterspride/onmob.dmi
  icons/obj/guns/manufacturer/hunterspride/righthand.dmi
Labels: Sprites, Code change

#3331 Fixes the "pulse carbine" on whitesands_surface_camp_saloon again
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
Labels: Map Change

#3321 changes human generic names to be improper (e.g. the human man) + changes mothperson to moth
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: Code change

#3329 CDN Mega Ultra Mk8
  code/modules/asset_cache/asset_list_items.dm
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-solid-900.woff
  html/font-awesome/webfonts/fa-v4compatibility.ttf
Labels: Code change

#3332 Adds some of the new Frontiersmen weapons to the Black Market
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
Labels: Code change

#3342 Gun safeties work in more slots
  code/modules/projectiles/gun.dm
Labels: Code change

#3340 NT captain gloves desc fix
  code/modules/clothing/gloves/color.dm
Labels: Code change

#3326 Adds a rubbershot box to cargo
  code/modules/cargo/packs/ammo.dm
Labels: Code change

#3334 Nerfs hollowpoint rounds to bring them under limb crit threshold
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Code change

#3145 Destructible Walls (And Mineral Walls)
  _maps/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/__DEFINES/projectiles.dm
  code/__DEFINES/turfs.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/objects/items.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/closed/indestructible.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/closed/wall/conc_walls.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
  code/modules/cargo/packs/tools.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/special/plasma.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
  icons/effects/wall_damage.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Test Merged, Code change

#3335 Rebalances hardsuit slowdowns
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Code change

#3324 Bandolier auto-loading
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
Labels: Code change

#3296 Crafting Cruft Removal
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/recipes/clothing.dm
  code/datums/components/crafting/recipes/misc.dm
  code/datums/components/crafting/recipes/robot.dm
  code/datums/components/crafting/recipes/tribal.dm
  code/datums/components/crafting/recipes/weapon.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  shiptest.dme
Labels: DME Edit, Code change

#3347 Removes Sheetza
  code/datums/materials/meat.dm
  code/datums/materials/pizza.dm
  code/game/machinery/sheetifier.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/food_and_drinks/food/snacks_pizza.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  shiptest.dme
Labels: DME Edit, Code change

#3337 Fixes Centcom Ban DB erroring out with bad index
  code/modules/admin/topic.dm
Labels: Code change

#3349 fixes no emergency sprite for floor lights
  code/modules/power/lighting.dm
Labels: Code change

#3328 New items and rebalances for Outpost Cargo Exploration Tab + Underground Scanner detection change
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/packs/exploration.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/mining/ore_veins.dm
Labels: Code change

#3317 Removes Emotes From Most Reagents
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
Labels: Removal, Code change

#3356 useless vars
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code change

#3357 Fixes double sandwich crafting category
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
Labels: Code change

#3355 Fixes south-facing subshuttle prechargers
  _maps/shuttles/subshuttles/frontiersmen_brawler.dmm
  _maps/shuttles/subshuttles/independent_kunai.dmm
  _maps/shuttles/subshuttles/inteq_anvil.dmm
  _maps/shuttles/subshuttles/inteq_haste.dmm
  _maps/shuttles/subshuttles/syndicate_runner.dmm
Labels: Map Change

#3312 Gun Safety PSA - Keep your gun safeties on to prevent accidental discharges!
  code/__DEFINES/guns.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/storage/storage.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/projectile.dm
  code/modules/shuttle/on_move.dm
Labels: Code change

#3363 Fixes gun misfires always happening
  code/__DEFINES/guns.dm
Labels: Code change

#3376 Concrete Mix @ Outpost
  code/modules/cargo/packs/material.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers/jug.dm
Labels: Code change

#3360 CTF machines are only added to processing when CTF starts
  _maps/map_files/generic/CentCom.dmm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/mission_code/challenge.dm
  code/modules/power/singularity/emitter.dm
Labels: Map Change, Code change

#3358 Temperature Feedback
  code/_onclick/hud/alert.dm
  code/game/objects/effects/turf_fire.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  code/modules/mob/living/carbon/life.dm
  icons/hud/screen_alert.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change, Test Merge Required

#3389 Seperates goggles from the base ballistic helmet.
  code/datums/components/storage/concrete/pockets.dm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/head/armor.dmi
  icons/mob/clothing/helmet_overlays.dmi
  icons/mob/species/kepori/onmob_eyes_kepori.dmi
  icons/mob/species/kepori/onmob_head_kepori.dmi
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/head/armor.dmi
Labels: Sprites, Code change

#3381 PGF Turrets
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  code/__DEFINES/factions.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/clothing/outfits/factions/solgov.dm
  code/modules/projectiles/ammunition/energy/laser.dm
Labels: Map Change, Code change

#3344 Adds Inteq wintercoats and hoodies to the uniform lockers on Inteq ships
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change

#3333 .45-70 boxes hold 18 instead of 12, .45-70 specialty ammo black market
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: Code change

#3343 Add tgfont namespace
  code/__DEFINES/fonts.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/emoji/emoji_parse.dm
  code/modules/tgui_panel/tgui_panel.dm
Labels: Test Merge Candidate, Code change

#3394 Hardliner Rework DLC: Adds the Hardliner Elite Suit
  code/modules/clothing/factions/hardliners.dm
  icons/mob/clothing/faction/hardliners/head.dmi
  icons/mob/clothing/faction/hardliners/suits.dmi
  icons/obj/clothing/faction/hardliners/head.dmi
  icons/obj/clothing/faction/hardliners/suits.dmi
Labels: Sprites, Code change

#3077 Ruin map template tags
  _maps/map_catalogue.txt
  code/__DEFINES/ruins.dm
  code/datums/ruins.dm
  code/datums/ruins/beachplanet.dm
  code/datums/ruins/icemoon.dm
  code/datums/ruins/jungle.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/reebe.dm
  code/datums/ruins/rockplanet.dm
  code/datums/ruins/space.dm
  code/datums/ruins/wasteplanet.dm
  code/datums/ruins/whitesands.dm
  code/modules/vending/cigarette.dm
Labels: Map Change, Code change

#3400 Gorlex DLC 2: Winter Coats!
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  icons/mob/clothing/faction/hardliners/head.dmi
  icons/mob/clothing/faction/hardliners/suits.dmi
  icons/mob/clothing/faction/ngr/head.dmi
  icons/mob/clothing/faction/ngr/suits.dmi
  icons/obj/clothing/faction/hardliners/head.dmi
  icons/obj/clothing/faction/hardliners/suits.dmi
  icons/obj/clothing/faction/ngr/head.dmi
  icons/obj/clothing/faction/ngr/suits.dmi
Labels: Sprites, Code change

#3386 Makes Ship Turrets Connectable Without Areas
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pirate/pirate_noderider.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/subshuttles/frontiersmen_gut.dmm
  _maps/shuttles/subshuttles/inteq_anvil.dmm
  _maps/shuttles/subshuttles/pgf_nail.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/shuttle/shuttle.dm
Labels: Map Change, Code change

#3404 Panacea is no longer an indie ship.
  _maps/configs/syndicate_panacea.json
Labels: Map Change

#3393 Adds Flares To Outpost
  code/modules/cargo/packs/exploration.dm
Labels: Code change

#3374 Adds new wasteplanet cave type
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
Labels: Code change

#3414 removes the B.E.P.I.S.
  _maps/shuttles/independent/independent_tranquility.dmm
  code/controllers/subsystem/research.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/salvaging.dm
  code/modules/autowiki/pages/techweb.dm
  code/modules/research/bepis.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/research_disk.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/_techweb_node.dm
  code/modules/research/techweb/all_nodes.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/Bepis.js
Labels: Map Change, DME Edit, TGUI, Code change

#3412 Turrets Now Actually Connect To Their Console Consistently
  code/__DEFINES/dcs/signals/signals_ship.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/shuttle/shuttle.dm
  shiptest.dme
Labels: DME Edit, Code change

#3411 Changes the color of the text output of health analyzers to be readable by dark mode users
  code/game/objects/items/devices/scanners.dm
Labels: Code change

#3392 Adds a bunch of kepori underwear
  icons/mob/clothing/underwear/species/kepori/underwear_legs_kepori.dmi
  icons/mob/clothing/underwear/species/kepori/underwear_legs_keporiOLD.dmi
  icons/mob/clothing/underwear/species/kepori/underwear_torso_kepori.dmi
Labels: Sprites

#3397 Concrete Bags
  code/modules/cargo/packs/material.dm
  code/modules/reagents/reagent_containers/concrete_bags.dm
  code/modules/reagents/reagent_containers/jug.dm
  icons/mob/inhands/misc/concrete_bag_lefthand.dmi
  icons/mob/inhands/misc/concrete_bag_righthand.dmi
  icons/obj/chemical/concrete.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3409 Updates Balaclava Sprites
  code/modules/clothing/masks/boxing.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, Code change

#3370 Miso Soup Spelling Error
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  icons/obj/food/soupsalad.dmi
Labels: Sprites, Code change

#3377 Miskilamo Style Consistency
  _maps/configs/independent_kilo.json
  _maps/configs/independent_mudskipper.json
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_shetland.dmm
Labels: Map Change, Ship

#3415 removes did_fire variable
  code/modules/projectiles/gun.dm
Labels: Code change

#3416 reduces recruit slots on colossus to 2
  _maps/configs/inteq_colossus.json
Labels: Map Change

#3426 mudskipper and shetland window fix
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_shetland.dmm
Labels: Map Change

#3427 Sawn variants for the illestren and improvised shotgun now properly have their stats set
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Code change

#3423 More Rust Reds
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
Labels: Code change

#3408 Makes Vegan rations actually Vegan
  code/game/objects/items/storage/ration.dm
Labels: Code change

#3398 Fixes deconstructing walls causing runtimes
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/objects/items.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
Labels: Code change

#3418 Pants Accessories
  code/modules/clothing/under/accessories.dm
Labels: Code change

#3425 Adds .38 Hearth and .38 Chilled ammo boxes, to the Black Market
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/research/designs/weapon_designs.dm
  icons/obj/ammo.dmi
Labels: Sprites, Code change

#3346 Ship joining starts on locked
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Code change

#3352 blank ammo
  code/modules/cargo/packs/ammo.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/ruins/spaceruin_code/bigderelict1.dm
  icons/obj/ammo_shotshells.dmi
Labels: Sprites, Test Merged, Code change

#3320 Partial port of tg points of intrest and improved orbit menu
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/dcs/signals/signals.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/roundend.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/points_of_interest.dm
  code/datums/elements/point_of_interest.dm
  code/datums/spawners_menu.dm
  code/game/atom/atom_orbit.dm
  code/game/atoms.dm
  code/game/gamemodes/wizard/wizard.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/eightball.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/nukeop/equipment/pinpointer.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/corpse.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/wizard/greentext.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/overmap/helm.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/spells/spell_types/lichdom.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/interfaces/Orbit/OrbitContent.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitItem.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitSection.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitTooltip.tsx
  tgui/packages/tgui/interfaces/Orbit/constants.ts
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Map Change, DME Edit, TGUI, Test Merged, Code change

#3424 kilo remap fixes
  _maps/shuttles/independent/independent_kilo.dmm
Labels: Map Change

#3443 Makes a Slight Cosmetic Edit to Normal Rabbit Ears
  icons/mob/species/human/rabbit.dmi
Labels: Sprites

#3402 Adds a fax machine to the Dwayne.
  _maps/shuttles/independent/independent_dwayne.dmm
Labels: Map Change

#3450 Fixes some stuff with legion infections
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Code change

#3313 Ranger Modernization & Tweaks
  _maps/configs/nanotrasen_ranger.json
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/__DEFINES/atmospherics.dm
  code/game/MapData/shuttles/nanotrasen_ranger.dm
  code/game/area/ship_areas.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/projectiles/guns/ballistic/smg.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#3136 New Waste Ruin: Abandoned Miskilamo Shipbreaking Yard
  _maps/RandomRuins/WasteRuins/wasteplanet_yard.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/wasteplanet.dm
  code/game/area/areas/ruins/wasteplanet.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
Labels: Map Change, Code change, Ruin

#3350 Fixes condiment packs
  _maps/RandomRuins/BeachRuins/beach_float_resort.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  _maps/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/outpost/nanotrasen_asteroid.dmm
  _maps/shuttles/independent/independent_beluga.dmm
  _maps/shuttles/independent/independent_lagoon.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_schmiedeberg.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  _maps/shuttles/independent/independent_tranquility.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/solgov/solgov_chronicle.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  _maps/shuttles/syndicate/syndicate_panacea.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  _maps/templates/shelter_3.dmm
  code/__DEFINES/dcs/signals/signals_reagent.dm
  code/datums/components/_component.dm
  code/datums/traits/negative.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/admin/topic.dm
  code/modules/cargo/packs/food.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/vending/drinnerware.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#3454 Fixes m90 poster icon state
  code/game/objects/effects/contraband.dm
Labels: Code change

#3422 Removes Elephant Graveyard.
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/structures/crates_lockers/crates/graves.dm
  code/game/objects/structures/statues.dm
  code/game/objects/structures/watercloset.dm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change

#3428 sawnoff weapons now call sawoff on init
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Code change

#3364 Adds the fireaxe to the black market
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
Labels: Code change

#3366 Anti-Radiation Foam
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/tanks/watertank.dm
  code/modules/cargo/packs/tools.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Code change

#3455 Secbelts can now hold knives.
  code/game/objects/items/storage/belt.dm
Labels: Code change

#3378 Cabinet Refactor
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/shuttles/independent/independent_lagoon.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/shuttles/pirate/pirate_libertatia.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/unsorted.dm
  code/datums/components/twohanded.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/melee/chainsaw.dm
  code/game/objects/items/melee/dualsaber.dm
  code/game/objects/items/melee/energyhalberd.dm
  code/game/objects/items/melee/fireaxe.dm
  code/game/objects/items/melee/spear.dm
  code/game/objects/items/melee/sword.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/structures/cabinet.dm
  code/game/objects/structures/cabinet_types.dm
  code/game/objects/structures/fireaxe.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/projectiles/gun.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change
