Repository shiptest-ss13/Shiptest, pull requests merged in 2025-10, with the labels that each got.

#5381 Fixes high chance mineral whitesand mineral turf
  _maps/outpost/asteroid.dmm
  code/game/turfs/closed/minerals.dm
Labels: Map Change, Code change

#5201 Kalixcian Burst Volleyguns
  _maps/shuttles/independent/independent_atira.dmm
  _maps/shuttles/independent/independent_corona.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/pgf/pgf_mercurial_quasar.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/blackmarket/packs/weapons.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/manufacturer/etherbor/energy_gunsword.dm
  icons/obj/guns/manufacturer/etherbor/48x32.dmi
  icons/obj/guns/manufacturer/etherbor/lefthand.dmi
  icons/obj/guns/manufacturer/etherbor/onmob.dmi
  icons/obj/guns/manufacturer/etherbor/righthand.dmi
Labels: Map Change, Sprites, Ship, Code change

#5342 species-sprites-for-common-masks + Safety Goggles
  code/datums/components/storage/concrete/pockets.dm
  code/modules/client/loadout/loadout_eyewear.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/factions/ramzi.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/clothing/eyes/eyes.dmi
  icons/mob/clothing/faction/frontiersmen/mask.dmi
  icons/mob/clothing/faction/ramzi/mask.dmi
  icons/mob/clothing/helmet_overlays.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/species/kepori/onmob_mask_kepori.dmi
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/mob/species/vox/onmob_mask_vox.dmi
  icons/obj/clothing/eyes/eyes.dmi
Labels: Sprites, Code change

#5347 Adds sprites for the SecurEye app
  code/modules/modular_computers/file_system/programs/secureye.dm
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_tablet.dmi
Labels: Sprites, Code change

#5299 Ports the annoyed and the sweatdrop animated emotes
  code/datums/emotes.dm
  code/modules/mob/living/carbon/emote.dm
  icons/effects/overlay_effects.dmi
  sound/emotes/annoyed.ogg
  sound/emotes/sweatdrop.ogg
Labels: Sprites, Sound, Test Merge Candidate, Code change, Test Merge Required

#5312 Movetype refactor port
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/traits/traits.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/throwing.dm
  code/datums/components/caltrop.dm
  code/datums/elements/movetype_handler.dm
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/structures/life_candle.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/eyeballs.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/curse_blob.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/ventcrawling.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/lighting.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/floor.dm
  code/modules/surgery/organs/augments_chest.dm
  shiptest.dme
Labels: DME Edit, Test Merge Candidate, Code change, Test Merge Required

#5345 Outpost has -50 interference
  code/controllers/subsystem/overmap.dm
  code/modules/overmap/objects/outpost/outpost.dm
Labels: Code change

#5362 ramzi simplemob fixes
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
Labels: Code change

#5358 Kali Andhi tweaks
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
Labels: Map Change, Test Merge Candidate, Ship

#5406 Lets Moon Ruins actually spawn
  _maps/RandomRuins/MoonRuins/moon_moonbase.dmm
  code/modules/overmap/planets/planet_types.dm
Labels: Map Change, Code change, Ruin

#5273 Bodytype support for Accessories
  code/__DEFINES/species_clothing_defines.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories.dm
  icons/mob/species/kepori/onmob_accessory_kepori.dmi
  icons/mob/species/misc/digitigrade_accessory.dmi
  icons/mob/species/vox/onmob_accessory_vox.dmi
Labels: Sprites, Test Merge Candidate, Code change, Test Merge Required

#5326 Static Sectors
  code/controllers/subsystem/overmap.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/overmap/helm.dm
Labels: Code change

#5383 Gives Sarathi Torso Variant Sprites
  code/modules/mob/dead/new_player/sprite_accessories/lizard.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  icons/mob/species/lizard/bodyparts.dmi
  icons/mob/species/lizard/markings.dmi
Labels: Sprites, Code change

#5331 Buckshot Tweak
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Test Merge Candidate, Code change

#5330 Opaque Smoke reduces your chance of being hit
  code/datums/status_effects/buffs.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/projectile.dm
  icons/hud/screen_alert.dmi
Labels: Sprites, Code change

#5340 Rock Outpost ERT Bay + Slight Refreshing
  _maps/outpost/ngr_rock.dmm
Labels: Map Change

#5344 Interference/Telecomms Changes
  code/__DEFINES/radio.dm
  code/controllers/subsystem/overmap.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/machinery/telecomms/computers/message.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/cargo/packs/telecomms.dm
  code/modules/overmap/objects/event_datum.dm
  code/modules/overmap/planets/planet_types.dm
  shiptest.dme
Labels: DME Edit, Code change

#5349 debugger improvments
  code/_compile_options.dm
  code/_debugger.dm
  code/controllers/master.dm
  code/game/world.dm
  code/modules/debugging/debugger.dm
  code/modules/error_handler/error_handler.dm
  shiptest.dme
Labels: DME Edit, Code change

#5350 shared adjective list
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/names.dm
  code/modules/client/preferences.dm
  strings/human_adjectives/abstract_adjectives.txt
  strings/human_adjectives/ipc_adjectives.txt
  strings/human_adjectives/organic_adjectives.txt
  strings/preference_adjectives.txt
Labels: Code change

#5360 Adds Sabres and Swords to the Outpost Market
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#5384 fix html decodes in like 2 spots
  code/game/machinery/hologram.dm
  code/modules/overmap/_overmap_datum.dm
Labels: Code change

#5389 buff gjal, silfr, indo
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/reagents/chemistry/reagents/medical_reagents/medicine_reagents.dm
Labels: Code change

#5239 Solarbundswaffenkammer makes their guns useful again
  code/modules/cargo/packs/ammo.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/special/gauss.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_gauss_stacks.dm
Labels: Code change

#5422 cuts mecha pilot out of icemoon training center
  _maps/RandomRuins/IceRuins/icemoon_training_center.dmm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
Labels: Map Change, Code change, Ruin
