Repository shiptest-ss13/Shiptest, pull requests merged in 2025-02, with the labels that each got.

#4118 Fixes hollowpoint 8x50 boxes
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_rifle_stacks.dm
Labels: Code change

#4109 Veins now destroy themselves when mined out
  code/modules/mining/drill.dm
  code/modules/mining/ore_veins.dm
Labels: Code change

#4083 Serene Outdoors Model 23 Woodsman Rifle
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  icons/obj/ammunition/ammo.dmi
  icons/obj/guns/manufacturer/serene_outdoors/48x32.dmi
  icons/obj/guns/manufacturer/serene_outdoors/lefthand.dmi
  icons/obj/guns/manufacturer/serene_outdoors/onmob.dmi
  icons/obj/guns/manufacturer/serene_outdoors/righthand.dmi
Labels: Sprites, Code change

#4129 The floral shirt now takes two seconds to put on.
  code/modules/clothing/suits/miscellaneous.dm
Labels: Code change

#4133 Tweaks to/removal of some indie stamps.
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  code/game/objects/items/storage/briefcase.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/clothing/outfits/factions/roumain.dm
  code/modules/clothing/outfits/factions/solgov.dm
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-cap.png
  icons/stamp_icons/large_stamp-clown.png
  icons/stamp_icons/large_stamp-fo.png
  icons/stamp_icons/large_stamp-hop.png
  icons/stamp_icons/large_stamp-mime.png
  tools/UpdatePaths/Scripts/4133_indie_stamps.txt
Labels: Map Change, Sprites, Ship, Code change

#3462 Dynamic human icons
  code/__DEFINES/flags.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/overlays.dm
  code/__DEFINES/stat_tracking.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/dynamic_human_icon_gen.dm
  code/__HELPERS/icons.dm
  code/_compile_options.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/misc.dm
  code/controllers/subsystem/overlays.dm
  code/datums/holocall.dm
  code/game/atoms.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/autowiki/pages/ships.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/unit_tests/create_and_destroy.dm
  shiptest.dme
Labels: DME Edit, Refactor, Code change

#4125 fix broken hanger number indie space
  _maps/outpost/hangar/indie_space_56x40.dmm
Labels: Map Change

#4121 Removes Some Clown References
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  code/__DEFINES/is_helpers.dm
  code/controllers/subsystem/traumas.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/grenades/spawnergrenade.dm
  code/game/objects/items/shooting_range.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/food_and_drinks/food/snacks_pie.dm
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/holiday/halloween.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/mob/living/simple_animal/hostile/clown.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/uplink/uplink_items.dm
  shiptest.dme
Labels: Map Change, DME Edit, Ship, Code change, Ruin

#4115 Loadout jumpsuits tweak.
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/under/color.dm
Labels: Code change

#4114 Colorable Caps, Softcaps, & Windbreakers
  _maps/shuttles/pirate/pirate_tortuga.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/head/flaphat.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/outfits/ert/indie_ert.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/suits/windbreakers.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/toggle.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/toggle.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Ship, Code change

#4111 Reskin Ammo Cans
  code/game/objects/items/storage/ammo_can.dm
  icons/obj/storage.dmi
Labels: Sprites, Code change

#4142 Fixes a minor cargo error
  code/modules/cargo/packs/magazines.dm
Labels: Code change

#4131 headset fixes
  code/game/objects/items/devices/radio/headset.dm
Labels: Code change

#4112 Halves Space Basilisk and Dwarf Legion Health
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Code change

#4124 Removes a broken DB from the Kilo.
  _maps/shuttles/independent/independent_kilo.dmm
Labels: Map Change, Ship

#4141 Fix railing corners blocking movement && makes thin/thick railings craftable
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/railings.dm
Labels: Code change

#4143 dynamic mob gunfire spread
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/corpse_spawners/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  shiptest.dme
Labels: DME Edit, Code change

#4092 Increases the projectile speed of sharplite laser bolts
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Balance/Rebalance, Test Merged, Code change

#4107 Nerfs the health of basic giant spiders
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Code change

#4145 .45-70 Ammo Can Be Stacked to 6 Rounds
  code/modules/projectiles/ammunition/ballistic/revolver.dm
Labels: Code change

#4105 Cheaper Vipers
  code/modules/cargo/packs/gun.dm
Labels: Code change

#4132 Update indie_space.dmm
  _maps/outpost/indie_space.dmm
Labels: Map Change

#3973 Remasters Bombed Airbase
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  code/datums/ruins/jungle.dm
  code/game/area/areas/ruins/jungle.dm
  code/game/machinery/porta_turret/portable_turret_types.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/ruins/jungleplanet_ruin_code/airbase.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change, Ruin

#4152 fixes the long scope removing the rail light crate
  code/modules/cargo/packs/weapon_attachments.dm
Labels: Code change

#4135 Washing machine density fix + nimbus bathroom lock
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  code/game/machinery/washing_machine.dm
Labels: Map Change, Ship, Code change

#4103 Fixes a runtime with SecurEye and updates bodycamera descriptions
  code/game/objects/items/bodycamera.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
Labels: Code change

#4139 add some faction mech discounts
  code/modules/cargo/packs/mechs.dm
Labels: Code change

#4116 Minor changes to the Banshee
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
Labels: Map Change, Ship

#3980 Adds the Vagrant-Class Hunting Vessel
  _maps/configs/srm_vagrant.json
  _maps/shuttles/roumain/srm_vagrant.dmm
  code/game/objects/effects/spawners/random/entertainment.dm
  code/game/objects/items/plushes.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
  icons/obj/plushes.dmi
Labels: Map Change, Sprites, Ship, Code change

#4006 New Ruin: ICW Stolen Base (Not horrifically destroyed on github edition)
  _maps/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  code/datums/ruins/wasteplanet.dm
  code/game/area/areas/ruins/wasteplanet.dm
  code/game/turfs/open/floor/mineral_floor.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
  code/modules/mob/living/simple_animal/corpse.dm
Labels: Map Change, Code change, Ruin

#4167 HP Sling fix
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
Labels: Code change

#4165 Fixes Balaclava Layering
  code/modules/clothing/masks/boxing.dm
Labels: Code change

#4166 Fixes some typos in the Stamped Steel Machete Crate
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#4177 Added Hardliner phorid envirosuits.
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/outfits/plasmaman.dm
  icons/mob/clothing/faction/hardliners/head.dmi
  icons/mob/clothing/faction/hardliners/uniforms.dmi
  icons/obj/clothing/faction/hardliners/head.dmi
  icons/obj/clothing/faction/hardliners/uniforms.dmi
Labels: Sprites, Good First PR, Code change

#4113 Fixes Balaclava to have variations work again
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/masks/breath.dm
Labels: Code change

#4173 Minute Energy Bar
  code/modules/food_and_drinks/food/snacks_vend.dm
  icons/obj/food/food.dmi
  icons/obj/janitor.dmi
Labels: Sprites, Code change

#4163 Two New Vox Sprites - War Correspondent Vest and CLIP Gas Mask
  code/modules/clothing/factions/clip.dm
  icons/mob/clothing/faction/clip/vox.dmi
Labels: Sprites, Code change

#4170 do_after_coeff cannot be lower than zero
  code/modules/mob/living/carbon/human/human.dm
Labels: Code change

#4168 Adds Vox Undershirts/Socks (And Trauma Team Sprites!)
  code/__DEFINES/species_clothing_defines.dm
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  icons/mob/clothing/underwear/species/vox/underwear_legs_vox.dmi
  icons/mob/clothing/underwear/species/vox/underwear_socks_vox.dmi
  icons/mob/clothing/underwear/species/vox/underwear_torso_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  icons/mob/species/vox/onmob_uniform_vox.dmi
Labels: Sprites, Code change

#4179 Removes the spiritual quirk
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/traits/good.dm
  code/modules/admin/verbs/pray.dm
Labels: Code change

#4180 Fixes Autowiki crew generation
  code/modules/autowiki/pages/ships.dm
Labels: Code change

#4156 Loadout General Tab Additions
  code/modules/client/loadout/loadout_general.dm
Labels: Code change

#4085 Kali Andhi is better supplied
  _maps/configs/syndicate_ngr_kaliandhi.json
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4122 Tegu Housekeeping - I fix my own tcomms mistake that I gave jegorg
  _maps/shuttles/nanotrasen/nanotrasen_tegu.dmm
Labels: Map Change, Ship

#4147 Minor Sunskipper upkeep. Also gives it a rifle.
  _maps/shuttles/independent/independent_sunskipper.dmm
Labels: Map Change, Ship

#4158 Makes some minor changes to Lavaland Buried Shrine
  _maps/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
Labels: Map Change, Ruin

#4136 Puts Bathroom locks on most ships + Vaquero doesn't need the MAA to help you piss
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_falmouth.dmm
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/minutemen/minutemen_arke.dmm
  _maps/shuttles/minutemen/minutemen_atlas.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/syndicate/syndicate_ngr_haboob.dmm
Labels: Map Change, Ship

#4171 Adds Pocket Pouches - an additional storage option!
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/storage/pouches.dm
  code/modules/cargo/packs/sec_supply.dm
  icons/obj/storage/pouches.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#4040 Attachment Update + A few new attachments
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/guns.dm
  code/__DEFINES/keybinding.dm
  code/datums/components/attachment.dm
  code/datums/components/attachment_holder.dm
  code/datums/keybinding/human.dm
  code/game/objects/items.dm
  code/game/objects/items/attachments/_attachment.dm
  code/game/objects/items/attachments/_gun_attachment.dm
  code/game/objects/items/attachments/alof.dm
  code/game/objects/items/attachments/gun_attachments/ballistic.dm
  code/game/objects/items/attachments/gun_attachments/energy.dm
  code/game/objects/items/attachments/gun_attachments/flamethrower.dm
  code/game/objects/items/attachments/gun_attachments/flaregun.dm
  code/game/objects/items/attachments/shoulder_sling.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/game/objects/items/storage/guncases.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/cargo/packs/weapon_attachments.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/lasers.dm
  code/modules/projectiles/guns/manufacturer/etherbor/energy_gunsword.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/solar_armories/ballistic.dm
  icons/obj/guns/attachments.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Feature, Test Merge Candidate, Code change

#4128 Plexagon ID management can assign job's from the ship's job list.
  code/controllers/subsystem/mapping.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/clothing/outfits/ert/minutemen_ert.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/modular_computers/file_system/programs/card.dm
  tgui/packages/tgui/interfaces/NtosCard.js
Labels: TGUI, Code change

#4149 Change Mob Neutering
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
Labels: Code change

#4169 hardsuit.dm update
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/softsuit.dm
  shiptest.dme
  tools/UpdatePaths/Scripts/4169_hardsuit_typepaths.txt
Labels: Map Change, DME Edit, Ship, Code change

#4072 Fixes Nanotrasen, Vigilitas, and N+S digitigrade sprites
  code/modules/clothing/factions/nanotrasen.dm
Labels: Code change

#4186 fix fax naming
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/paperwork/fax.dm
  code/modules/shuttle/shuttle.dm
Labels: Code change

#4162 Mech Unique Actions
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/mecha.dm
  code/modules/mob/mob.dm
Labels: Code change

#4146 Scrapping Charges in Cargo
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/safe.dm
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#4196 Fixes Attachments preventing interaction with energy gun latches
  code/game/objects/items/attachments/_attachment.dm
  code/game/objects/items/attachments/_gun_attachment.dm
  code/modules/projectiles/guns/energy.dm
Labels: Code change

#4153 Three ammo-related changes for player clarity
  code/game/objects/items/storage/ammo_can.dm
  code/modules/cargo/packs/gun.dm
  icons/obj/storage.dmi
Labels: Sprites, Code change

#4192 Chat Client is now secure for military operations.
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
Labels: Code change

#4185 Minor Haboob tweaks
  _maps/shuttles/syndicate/syndicate_ngr_haboob.dmm
Labels: Map Change, Ship

#4184 Gives mudskipper a wardrobe.
  _maps/shuttles/independent/independent_mudskipper.dmm
Labels: Map Change, Ship

#4205 Fixes ammo cans
  code/game/objects/items/storage/ammo_can.dm
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#4076 changes ran_zone
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Code change, Test Merge Required

#4206 Removes the Delta
  _maps/configs/nanotrasen_delta.json
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
Labels: Map Change, Ship

#4187 Dimorlin recipe slight buff
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Code change

#4198 Ancient Goliath Tweaks & Fixes
  code/modules/mining/ore_veins.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Code change

#4189 frontiersmen dodge
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
Labels: Code change

#4176 Adds var for turrets to respect ID
  _maps/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/ruins/icemoonruin_code/tesla_lab.dm
  code/modules/ruins/jungleplanet_ruin_code/airbase.dm
  code/modules/ruins/rockplanet_ruin_code/mining_base.dm
  code/modules/ruins/sandplanet_ruin_code/cave_base.dm
Labels: Map Change, Code change, Ruin

#4181 Replaces Waste Mechbay Exosuit with a 515
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
Labels: Map Change, Ruin

#4216 515 EX mechs dont spawn with bluespace cells.
  code/game/mecha/combat/gygax.dm
Labels: Code change

#4211 Fix a typo in melatonin code
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Code change

#4197 Some sofas are no longer backwards.
  _maps/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
  icons/obj/structures/chairs/sofa.dmi
Labels: Map Change, Sprites, Ship, Ruin

#4148 Dynamic Human Ramzis Icons
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/RockRuins/rockplanet_mining_installation.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  code/game/machinery/computer/arcade.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/melee/fireaxe.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
  shiptest.dme
  tools/UpdatePaths/Scripts/4148_update_ramzi_simples.txt
Labels: Map Change, DME Edit, Code change, Ruin

#4175 Parity for the Colossus, Talos, Valor and Vaquero
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change, Ship

#3843 Vela Industrial Cruiser: 4th Time the charm?
  _maps/configs/minutemen_vela.json
  _maps/shuttles/minutemen/minutemen_vela.dmm
  code/game/mecha/mech_bay.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  icons/mecha/mecha.dmi
Labels: Map Change, Sprites, Ship, Code change

#4126 Li-Tieguai Replacement - Cirrus-Class Medical Carrack
  _maps/configs/cybersun_cirrus.json
  _maps/configs/syndicate_cybersun_litieguai.json
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  _maps/shuttles/subshuttles/cybersun_bambulance.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_litieguai.dmm
  code/datums/shuttles.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4172 Contract list now scales with spawned vessels
  code/modules/overmap/objects/outpost/outpost.dm
Labels: Code change

#4231 "-class" is now in lowercase across all ships.
  _maps/configs/cybersun_cirrus.json
  _maps/configs/cybersun_nimbus.json
  _maps/configs/independent_atoll.json
  _maps/configs/inteq_valor.json
  _maps/configs/minutemen_arke.json
  _maps/configs/minutemen_atlas.json
  _maps/configs/minutemen_vela.json
  _maps/configs/pgf_elated_bolide.json
  _maps/configs/srm_vagrant.json
  _maps/configs/syndicate_hardliners_banshee.json
  code/datums/shuttles.dm
  code/game/MapData/shuttles/pgf_bolide.dm
  code/game/MapData/shuttles/pgf_woeful_cthonian.dm
  code/game/area/areas/ruins/sandplanet.dm
Labels: Map Change, Ship, Code change

#4200 Minor Kali Andhi and Derecho Equipment Tweaks
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4204 Makes the Derecho Bathroom Lock public access
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
Labels: Map Change, Ship

#4236 Flamethrower qol
  code/game/objects/items/flamethrower.dm
Labels: Code change

#4123 Aiming Hotkey
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
Labels: Test Merge Candidate, Code change

#4213 Fixes mobdrop item names + frontiersmen are injured on death + Frontiersman shredder mob
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  code/modules/mob/living/simple_animal/corpse_spawners/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/projectiles/guns/energy/laser_gatling.dm
Labels: Map Change, Code change, Ruin

#4208 Adds Proper Digitigrade Sprites To Syndicate Hardsuits
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/species/misc/digitigrade_suits.dmi
Labels: Sprites, Code change

#4093 Reverts Frontier Armour Vests back to being Bulletproof + Slightly increases Rusted Red armour
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/clothing/outfits/factions/frontiersmen.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
Labels: Code change

#4099 Atmospheres Refactor Take 2
  code/datums/atmosphere/_atmosphere.dm
  code/datums/atmosphere/planetary.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/hull.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/atmospheres.dm
Labels: Test Merge Candidate, Code change, Test Merge Required

#4104 Update shuttles.dm
  _maps/shuttles/subshuttles/frontiersmen_haymaker.dmm
  code/datums/shuttles.dm
Labels: Map Change, Ship, Code change

#4183 Drugs: Rabbit Edition
  _maps/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/lighting.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/brain_damage/special.dm
  code/datums/martial/psychotic_brawl.dm
  code/datums/traits/negative.dm
  code/game/objects/effects/spawners/random/exotic.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/melee/sword.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/cargo/blackmarket/blackmarket_items/consumables.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/cargo/packs/medical.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/hypovial.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/vending/medical_wall.dm
Labels: Map Change, Code change, Ruin

#4120 Weighs misfire chances + sanitizes code
  code/modules/projectiles/gun.dm
Labels: Code change

#4161 .50BMG Ammo Boxes (plus a small rebalance to .50)
  code/game/objects/items/storage/ammo_can.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_sniper_stacks.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  icons/obj/ammo.dmi
  icons/obj/ammunition/ammo_boxes.dmi
Labels: Sprites, Code change

#4201 Fixes for NT camera networks and turret targeting
  _maps/outpost/nanotrasen_ice.dmm
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4250 Removes Ship observer_start Landmarks and Gives Indie Outpost One
  _maps/outpost/indie_space.dmm
  _maps/shuttles/independent/independent_bubble.dmm
  _maps/shuttles/independent/independent_junker.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
Labels: Map Change, Ship

#4209 Vox Sprite Update (I know) - Belts, Hats and Inteq Items
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/flaphat.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/windbreakers.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/pants.dm
  icons/mob/species/vox/onmob_back_vox.dmi
  icons/mob/species/vox/onmob_belt_vox.dmi
  icons/mob/species/vox/onmob_ears_vox.dmi
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/mob/species/vox/onmob_hands_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_mask_vox.dmi
  icons/mob/species/vox/onmob_neck_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  icons/mob/species/vox/onmob_uniform_vox.dmi
Labels: Sprites, Code change

#4245 Removes techfabs, protolathes, imprinters, and other RnD machines from ruins and locker population
  _maps/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/RandomRuins/IceRuins/icemoon_crashed_holemaker.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Map Change, Removal, Code change, Ruin

#4248 Reduces spawn limit for Mudskipper and Kilo
  _maps/configs/independent_kilo.json
  _maps/configs/independent_mudskipper.json
Labels: Map Change, Ship

#4271 Machete Resprite
  code/game/objects/items/melee/sword.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/mob/species/vox/onmob_belt_vox.dmi
  icons/obj/weapon/sword.dmi
Labels: Sprites, Code change

#4259 fixes a runtime in portable_turret
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#4275 Fixes Ammo Can Shotgun from spawning with 80 rounds of .50 BMG
  code/game/objects/items/storage/ammo_can.dm
Labels: Code change

#4230 adjusts weapon numbers again
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/projectile/bullets/smg.dm
Labels: Test Merge Candidate, Code change

#4024 F-80 Ivory-class Yacht
  _maps/configs/independent_ivory.json
  _maps/shuttles/independent/independent_ivory.dmm
  code/game/objects/structures/cabinet_types.dm
  code/game/turfs/open/floor/light_floor.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  icons/obj/guns/manufacturer/hunterspride/48x32.dmi
  icons/obj/guns/manufacturer/hunterspride/lefthand.dmi
  icons/obj/guns/manufacturer/hunterspride/onmob.dmi
  icons/obj/guns/manufacturer/hunterspride/righthand.dmi
  icons/obj/wallmounts.dmi
Labels: Map Change, Sprites, Test Merge Candidate, Ship, Code change

#4280 Very minor Ivory fix
  _maps/configs/independent_ivory.json
Labels: Map Change, Ship

#4286 Removes Miners (Minimum character age is now 18)
  code/modules/mob/living/carbon/human/species.dm
Labels: Code change

#4080 Makes indies, inteq and SRM use combustion thrusters instead of plasmas.
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  icons/turf/decals/decals.dmi
Labels: Map Change, Sprites, Test Merge Candidate, Ship, Code change, Test Merge Required

#4190 Dynamic Gen VI Mobs (replaces crusty NT guys
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/ReebeRuins/reebe_arena.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  code/datums/holocall.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/nanotrasen.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/spaceman.dm
  shiptest.dme
  tools/UpdatePaths/Scripts/4190_vi_dynamics.txt
Labels: Map Change, DME Edit, Code change, Ruin

#4276 Fixes Attachment Points On Most HP Weapons
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
Labels: Code change

#4255 Trickwines for SRM ships in cargo
  code/modules/cargo/packs/trickwine.dm
  shiptest.dme
Labels: DME Edit, Code change

#4260 outpost doesnt generate a new faction for every cargo pack
  code/modules/overmap/objects/outpost/outpost.dm
Labels: Code change

#4244 beacons use a real cooldown tied to world
  code/modules/cargo/console.dm
Labels: Code change

#4281 remove old syndicate gear from purchase
  code/modules/cargo/packs/armor.dm
  code/modules/cargo/packs/spacesuits.dm
Labels: Code change

#4289 fixing digitigrade variation for cybersun medical jumpsuit
  code/modules/clothing/under/syndicate.dm
Labels: Code change

#4150 Reduces Shotgun spread by one point
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#4266 Helmet lights and goggles consistency
  code/datums/components/storage/concrete/pockets.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/head/helmet.dm
Labels: Code change

#4263 Explorer webbing holds O2 and binocs
  code/game/objects/items/storage/belt.dm
Labels: Code change

#4277 Fix Clip Attachments
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#4279 Purchasable Sledgehammers
  code/modules/cargo/packs/tools.dm
Labels: Code change

#4262 Gives modcomps connected sprites, makes them the same hue as regular computers.
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/modular_computers/computers/machinery/modular_console.dm
  icons/obj/modular_console.dmi
Labels: Sprites, Code change

#4081 Paracelsus Changes
  _maps/configs/solgov_paracelsus.json
  _maps/shuttles/solgov/solgov_paracelsus.dmm
Labels: Map Change, Test Merge Candidate, Ship, Test Merge Required

#4237 Adds the Solarian Common language.
  code/modules/clothing/outfits/factions/solgov.dm
  code/modules/language/language_holder.dm
  code/modules/language/solarian.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/surgery/organs/tongue.dm
  icons/misc/language.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change
