Repository shiptest-ss13/Shiptest, pull requests merged in 2025-07, with the labels that each got.

#4998 Stops a minor compiler notice
  code/modules/mob/living/living_say.dm
Labels: Code change

#5021 Replaces "Re-enter Corpse" Clown Icon with Randomly Generated Sarathi
  icons/hud/screen_ghost.dmi
Labels: Sprites

#4970 adds some of the tecetian plants to the garden drop lists
  code/game/objects/effects/spawners/random/food_or_drink.dm
Labels: Code change

#4977 add protein to teceti foods
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/meatslab.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
Labels: Code change

#5012 Fully kills the Rod of Asclepius
  code/controllers/subsystem/traumas.dm
  code/datums/mapgen/planetary/JungleGenerator.dm
  code/datums/status_effects/buffs.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Code change

#5020 slightly adjusted drinkening names to include the reagent name
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
Labels: Code change

#5029 Buffs 44 Damage and reduces recoil on the M20 Auto Elite
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Code change

#5022 Makes hoodies count as warm clothing
  code/modules/clothing/suits/hoodies.dm
Labels: Code change

#5035 Fix typo in parameter name for MouseDrop_T function in pipe dispenser
  code/game/machinery/pipe/pipe_dispenser.dm
Labels: Code change

#5036 replaces rupee room with The Woods
  _maps/map_files/generic/CentCom.dmm
Labels: Map Change

#5006 Minor Cavecrew Tweaks
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  code/game/area/areas/ruins/jungle.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#4932 Some fun in the sun - Sunhats + Overalls resprite
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/utility.dmi
  icons/mob/clothing/under/misc.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/utility.dmi
  icons/obj/clothing/under/misc.dmi
Labels: Sprites, Code change

#5046 Adds CLIP stamps.
  _maps/shuttles/minutemen/minutemen_arke.dmm
  _maps/shuttles/minutemen/minutemen_atlas.dmm
  _maps/shuttles/minutemen/minutemen_typhon.dmm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-bard.png
  icons/stamp_icons/large_stamp-clip.png
  icons/stamp_icons/large_stamp-clip_bard.png
  icons/stamp_icons/large_stamp-clip_cmm.png
  icons/stamp_icons/large_stamp-clip_deed.png
  icons/stamp_icons/large_stamp-clip_gold.png
  icons/stamp_icons/large_stamp-clip_land.png
  icons/stamp_icons/large_stamp-clip_lord.png
  icons/stamp_icons/large_stamp-clip_meld.png
Labels: Map Change, Sprites, Ship, Code change

#4951 Ballistic Shields
  code/game/objects/items/shields.dm
  code/modules/cargo/blackmarket/packs/weapons.dm
  code/modules/cargo/packs/sec_supply.dm
  icons/mob/inhands/equipment/shields_lefthand.dmi
  icons/mob/inhands/equipment/shields_righthand.dmi
  icons/obj/shields.dmi
Labels: Sprites, Code change

#5052 Military & Sec Belt subtypes can now hold One Medium-Sized Pistol
  code/datums/components/storage/storage.dm
  code/game/objects/items/storage/belt.dm
Labels: Code change

#5063 fixes completely sopping examine
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code change

#5068 Corrects Unsorted Cargo in cargo console
  code/modules/cargo/packs/civilian.dm
  code/modules/cargo/packs/machinery.dm
Labels: Code change

#4997 Add door bolt button to Cirrus bridge
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
Labels: Map Change, Ship

#5073 ESG rebalancing
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code change

#5038 fix some random wind moments
  code/datums/mapgen/greeble.dm
  code/datums/mapgen/planetary/BeachGenerator.dm
Labels: Code change

#5048 Chest Rig in Cargo + Leather Bandolier Recipe
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/cargo/packs/tools.dm
Labels: Code change

#5051 resprite/add a couple hairstyles
  code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  icons/mob/human_face.dmi
Labels: Sprites, Code change

#5054 Ammo cans no longer prompt you for unique reskin when they are already skinned
  code/game/objects/items/storage/ammo_can.dm
Labels: Code change

#5070 indie captain coats
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/faction/frontiersmen/suits.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites, Code change

#5044 Purchasable Outpost Bank Cards
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs/civilian.dm
Labels: Code change

#5017 Reduces the cost of Bulldog and CM-15 Mags
  code/modules/cargo/packs/magazines.dm
Labels: Code change

#5031 New Frontiersmen Guns
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  _maps/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
  code/game/objects/items/attachments/stock.dm
  code/modules/cargo/blackmarket/packs/ammo.dm
  code/modules/cargo/blackmarket/packs/weapons.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/lasers.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/ammunition/ammo.dmi
  icons/obj/guns/manufacturer/frontier_import/48x32.dmi
  icons/obj/guns/manufacturer/frontier_import/lefthand.dmi
  icons/obj/guns/manufacturer/frontier_import/onmob.dmi
  icons/obj/guns/manufacturer/frontier_import/righthand.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change, Ruin

#5042 Energy Weapon lens are indestructible
  code/modules/projectiles/ammunition/energy/_energy.dm
Labels: Code change

#5034 New Ruin: Nomad's Stop
  _maps/RandomRuins/SandRuins/whitesands_nomads_stop.dmm
  code/datums/ruins/whitesands.dm
  code/game/area/areas/ruins/sandplanet.dm
  code/game/objects/effects/anomalies/anomalies_flux.dm
  code/game/turfs/open/floor/plating/whitesands.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_smg_stacks.dm
  code/modules/projectiles/projectile/energy/tesla.dm
Labels: Map Change, Code change, Ruin

#4929 Adds the Roach-class (and flea class) to the roster as Ramzi ships
  _maps/configs/pirate_roach.json
  _maps/shuttles/pirate/pirate_roach.dmm
  _maps/shuttles/subshuttles/ramzi_flea.dmm
  code/datums/shuttles.dm
  code/modules/clothing/outfits/factions/ramzi.dm
  code/modules/paperwork/paper_premade.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Ship, Code change

#4734 transforming and weilding on simple human sprites work
  code/__HELPERS/dynamic_human_icon_gen.dm
  code/datums/components/melee/twohanded.dm
  code/game/objects/items/melee/blunt.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/mob/living/simple_animal/hostile/human/solgov.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/projectiles/gun.dm
  shiptest.dme
Labels: DME Edit, Code change

#4784 Blood Filter Port From tgstation
  code/__DEFINES/tools.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/storage/cases.dm
  code/modules/antagonists/abductor/equipment/glands/heal.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/mob/living/bloodcrawl.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/blood_filter.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/stomach.dm
  code/modules/surgery/stomachpump.dm
  code/modules/surgery/surgery_step.dm
  code/modules/surgery/tools.dm
  code/modules/unit_tests/pills.dm
  code/modules/unit_tests/reagent_mod_procs.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/surgery.dmi
  shiptest.dme
  tgui/packages/tgui/interfaces/BloodFilter.tsx
Labels: DME Edit, Sprites, TGUI, Test Merge Candidate, Code change

#4871 Shotgun Door Breaching
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
Labels: Code change

#5014 Makes Hexacrete have a sane recipe
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Code change

#5040 Heavy explosions deal less damage to items
  code/game/objects/obj_defense.dm
Labels: Code change

#5041 ID Cards are indestructible
  code/game/objects/items/cards_ids.dm
Labels: Code change

#5053 add slowdown to crates + make duffelbags more available
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/packs/civilian.dm
Labels: Code change

#4949 Ports 2fa for admins from tg
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/__HELPERS/roundend.dm
  code/controllers/configuration/entries/general.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/permissionedit.dm
  code/modules/client/client_procs.dm
  config/config.txt
Labels: Config, SQL, Code change

#4983 Removes goliath plating on mining hardsuits+adds N+S hardsuit (also adds stuff to relevant ships)
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
  _maps/shuttles/nanotrasen/nanotrasen_magpie.dmm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Map Change, Sprites, Ship, Code change

#5084 should fix invisigrass
  code/game/turfs/open/floor/plating/beach.dm
Labels: Code change

#5075 Update Cirrus Crew Quarters
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  code/game/area/ship_areas.dm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/modules/food_and_drinks/coffee/items/coffee_cartridge.dm
  icons/turf/decals/decals.dmi
Labels: Map Change, Sprites, Test Merge Candidate, Ship, Code change

#5030 The Lawnmower: Touching Grass Edition (turf hell)
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  _maps/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_lava_canyon.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/outpost/nanotrasen_ice.dmm
  _maps/outpost/ngr_rock.dmm
  code/game/turfs/open/floor/misc_floor.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/open/floor/plating/beach.dm
  code/game/turfs/open/floor/plating/desert.dm
  code/game/turfs/open/floor/plating/icemoon.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/game/turfs/open/floor/plating/lavaland.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/floor/plating/moon.dm
  code/game/turfs/open/floor/plating/planet.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
  code/game/turfs/open/floor/plating/shrouded.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
  tools/UpdatePaths/Scripts/5030_map_turf_replacement.txt
Labels: Map Change, Code change, Test Merge Required, Ruin

#5067 Onehalf Tweaks
  _maps/RandomRuins/SpaceRuins/onehalftwo.dmm
  code/__DEFINES/atmospherics.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/plasteel_floor.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#5056 NSSV Kiwi-class Prospector
  _maps/configs/nanotrasen_kiwi.json
  _maps/shuttles/nanotrasen/nanotrasen_kiwi.dmm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/mining/machine_processing.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#5081 Brings back the Oldskipper + Makes it Hardline
  _maps/configs/independent_mudskipper.json
  _maps/shuttles/independent/independent_atoll.dmm
  _maps/shuttles/independent/independent_corona.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_falmouth.dmm
  _maps/shuttles/independent/independent_ivory.dmm
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_raleigh.dmm
  _maps/shuttles/independent/independent_rhode.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_scarab.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/independent/independent_sola.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  code/modules/clothing/outfits/factions/independent.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#5072 Ballistic Shield Balancing
  code/game/objects/items/shields.dm
Labels: Code change

#5110 Allows bodycameras to be worn around the neck
  code/game/objects/items/bodycamera.dm
Labels: Code change

#5086 Scope Audit
  code/game/objects/items/attachments/short_scope.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/lasers.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  code/modules/projectiles/guns/manufacturer/solar_armories/ballistic.dm
Labels: Code change

#5121 remove panacea
  _maps/configs/syndicate_panacea.json
  _maps/shuttles/syndicate/syndicate_panacea.dmm
Labels: Map Change, Ship

#5123 fix ssg not taking scope
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
Labels: Code change

#5120 fixes invictus mag cargo
  code/modules/cargo/packs/magazines.dm
Labels: Code change

#5033 Fixes build.js so that it properly prepends #define CBS, suppressing compiler warnings
  _maps/_basemap.dm
  tools/build/build.js
Labels: Map Change, Code change

#5076 Vigilitas deepstorage - New space ruin (also shoots bigderelict1)
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/vi_deepstorage.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/game/machinery/porta_turret/turret_types/ruin_turret_types.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/corpse_spawners/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/nanotrasen.dm
  code/modules/paperwork/paper_premade.dm
  icons/mob/simple_frontiersman.dmi
  icons/mob/simple_human.dmi
Labels: Map Change, Sprites, Test Merge Candidate, Code change, Ruin

#5109 Adds the Venetia-class Frontier Yacht
  _maps/configs/independent_venetia.json
  _maps/shuttles/independent/independent_venetia.dmm
  code/modules/clothing/outfits/factions/independent.dm
Labels: Map Change, Ship, Code change

#5141 fixes onehalfs holofields
  _maps/RandomRuins/SpaceRuins/onehalftwo.dmm
Labels: Map Change, Ruin

#5142 Removes shuttles from Autowiki Shiptable generations
  code/modules/autowiki/pages/shiptable.dm
Labels: Code change

#5131 516 TGUI Hotfix
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  tgui/global.d.ts
  tgui/packages/tgui-panel/audio/player.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/panelFocus.js
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/stories/ByondUi.stories.js
  tgui/packages/tgui/styles/components/Flex.scss
  tgui/packages/tgui/styles/components/Section.scss
  tgui/public/tgui.html
Labels: TGUI, Test Merge Candidate, Code change, Test Merge Required

#5115 fix laughs not happening
  code/modules/mob/living/emote.dm
Labels: Code change

#5071 Makes some adjustments to the Harrier.
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change
