Repository shiptest-ss13/Shiptest, pull requests merged in 2025-05, with the labels that each got.

#4747 Atomized fruits and vegetables for cargo bundling
  code/modules/cargo/packs/food.dm
Labels: Code change

#4760 Removes R&D from the last two ruins it exists in
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
Labels: Map Change, Ruin

#4764 Replaces the "oxygen" cans filled with plasma with oxygen cans on cave base.
  _maps/RandomRuins/SandRuins/whitesands_cave_base.dmm
Labels: Map Change, Ruin

#4594 Blind people can now see visuals for important sounds like gunfire and attacks
  code/__DEFINES/dcs/signals/signals_clothing.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/fov.dm
  code/__DEFINES/layers.dm
  code/_onclick/hud/plane_master.dm
  code/controllers/configuration/entries/game_options.dm
  code/datums/components/clothing_fov_visor.dm
  code/datums/components/footstep.dm
  code/datums/components/fov_handler.dm
  code/datums/elements/item_fov.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/airlock.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/temporary_visuals/projectiles/projectile_effects.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/fov.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences/fov_darkness.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_fov.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/_vehicle.dm
  config/game_options.txt
  icons/effects/fov/field_of_view.dmi
  icons/effects/fov/fov_effects.dmi
  shiptest.dme
Labels: Config, DME Edit, Sprites, Code change

#4518 Adds the exosuit-mounted PR-05 Plasma Railgun
  code/game/mecha/equipment/weapons/mecha_ammo.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  icons/mecha/mecha_ammo.dmi
  icons/mecha/mecha_equipment.dmi
  icons/obj/projectiles.dmi
Labels: Sprites, Code change

#4670 Fixes various thruster-related bugs
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Code change

#4682 rad foam buff
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code change

#4696 Ports hemostat embed removal
  code/datums/components/embedded.dm
  code/modules/surgery/remove_embedded_object.dm
  shiptest.dme
Labels: DME Edit, Code change

#4698 Balance pass over gibonite
  code/datums/wires/explosive.dm
  code/game/turfs/closed/minerals.dm
  code/modules/mining/ores_coins.dm
  strings/tips.txt
Labels: Code change

#4709 tgstation test explorer works
  .vscode/settings.json
  code/modules/unit_tests/_unit_tests.dm
Labels: Code change

#4714 Adds buckles to toilets
  code/game/objects/structures/watercloset.dm
Labels: Code change

#4730 Short Shorts
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/under/shorts.dm
  icons/mob/clothing/under/shorts_pants.dmi
  icons/obj/clothing/under/shorts_pants.dmi
Labels: Sprites, Code change

#4745 Increases the price of the hydra dmr
  code/modules/cargo/packs/gun.dm
Labels: Code change

#4748 Renames Inteq Recruits to Auxiliaries
  _maps/configs/inteq_colossus.json
  _maps/configs/inteq_talos.json
  _maps/configs/inteq_valor.json
  _maps/configs/inteq_vaquero.json
  code/modules/clothing/factions/inteq.dm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/mob/living/simple_animal/corpse.dm
Labels: Map Change, Ship, Code change

#4766 Quirk Examining
  code/_onclick/observer.dm
  code/datums/traits/_quirk.dm
  code/datums/traits/neutral/deviant_tastes.dm
  code/datums/traits/neutral/gunslinger.dm
  code/datums/traits/neutral/languages.dm
  code/datums/traits/neutral/musician.dm
  code/datums/traits/neutral/photographer.dm
  code/datums/traits/neutral/rilena_fan.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Code change

#4769 Fixes Turfs on ICW Base and fixes one wire
  _maps/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  code/game/turfs/open/acid.dm
Labels: Map Change, Code change, Ruin

#4649 Replaces the Shetland's TEG and combustion engines with a turbine
  _maps/shuttles/independent/independent_shetland.dmm
  code/game/machinery/shuttle/turbine.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4710 ports a bunch of tg language stuff
  code/__DEFINES/language.dm
  code/__DEFINES/say.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/text.dm
  code/_globalvars/lists/flavor_misc.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/discord.dm
  code/controllers/subsystem/language.dm
  code/datums/action.dm
  code/datums/brain_damage/severe.dm
  code/datums/chatmessage.dm
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/dna.dm
  code/datums/mind.dm
  code/game/atoms_movable.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/telecomms/computers/logbrowser.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/toys.dm
  code/game/say.dm
  code/modules/antagonists/abductor/equipment/glands/slime.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/language/codespeak.dm
  code/modules/language/common.dm
  code/modules/language/draconic.dm
  code/modules/language/drone.dm
  code/modules/language/language.dm
  code/modules/language/language_holder.dm
  code/modules/language/language_menu.dm
  code/modules/language/machine.dm
  code/modules/language/monkey.dm
  code/modules/language/mouse.dm
  code/modules/language/ratvarian.dm
  code/modules/language/solarian.dm
  code/modules/language/spider.dm
  code/modules/language/teceti_unified.dm
  code/modules/language/vox_pidgin.dm
  code/modules/mining/equipment/miningradio.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/pai/pai_defense.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/mob.dm
  code/modules/mob/transform_procs.dm
  code/modules/religion/religion_sects.dm
  code/modules/ruins/spaceruin_code/TheDerelict.dm
  code/modules/tgui/states/language_menu.dm
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/LanguageMenu.js
  tgui/packages/tgui/interfaces/LanguageMenu.tsx
Labels: TGUI, Code change, Test Merge Required

#4774 fixes a single tile on the shetland
  _maps/shuttles/independent/independent_shetland.dmm
Labels: Map Change, Ship

#4776 Removes Default Solarian Knowledge From Humans
  code/modules/language/language_holder.dm
Labels: Code change

#4410 Chronicle 2
  _maps/configs/solgov_chronicle.json
  _maps/shuttles/solgov/solgov_chronicle.dmm
  code/game/MapData/shuttles/solcon_chronicle.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Ship, Code change

#4739 Rolls Back almost every overmap 5 mineral change
  _maps/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_lava_canyon.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_yard.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  code/__DEFINES/overmap.dm
  code/controllers/subsystem/mapping.dm
  code/datums/components/remote_materials.dm
  code/datums/materials/basemats.dm
  code/datums/shuttles.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/recycler.dm
  code/game/objects/effects/spawners/random/engineering.dm
  code/game/objects/items/gift.dm
  code/game/objects/items/manuals.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/turfs/closed/minerals.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/packs/food.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
  code/modules/mining/machine_bluespaceminer.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_silo.dm
  code/modules/mining/minebot.dm
  code/modules/mining/ore_veins.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob_spawner/burrow.dm
  code/modules/overmap/objects/event_datum.dm
  code/modules/overmap/planets/planet_types.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/bluespace_designs.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/computer_part_designs.dm
  code/modules/research/designs/electronics_designs.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/mining_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/designs/smelting_designs.dm
  code/modules/research/designs/stock_parts_designs.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Map Change, Ship, Code change, Ruin

#4779 Revert "Fixes various thruster-related bugs"
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Code change

#4768 Add Smart Fridges to Cargo
  code/modules/cargo/packs/machinery.dm
Labels: Code change

#4792 Blackmarket Uplink no longer eats your headset
  code/modules/cargo/blackmarket/blackmarket_uplink.dm
Labels: Code change

#4790 Nimbus and Cirrus adjustments
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
Labels: Map Change, Ship

#4738 [NEEDS TESTMERGE] Adds separate functionality for rolling sleeves and rolling down jumpsuits
  code/__DEFINES/inventory.dm
  code/game/machinery/washing_machine.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/frontiersmen.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/inteq.dm
  code/modules/clothing/factions/nanotrasen.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/factions/solgov.dm
  code/modules/clothing/factions/srm.dm
  code/modules/clothing/factions/suns.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/jobs/centcom.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  code/modules/clothing/under/jobs/civilian/curator.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirt_dress.dm
  code/modules/clothing/under/suits.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/clothing/faction/clip/uniforms.dmi
  icons/mob/clothing/faction/inteq/uniforms.dmi
  icons/mob/clothing/faction/suns/uniforms.dmi
  icons/mob/clothing/under/centcom.dmi
  icons/mob/clothing/under/command.dmi
  icons/mob/clothing/under/dresses/dress.dmi
  icons/mob/clothing/under/rnd.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/clothing/under/service.dmi
  icons/mob/clothing/under/syndicate.dmi
Labels: Sprites, Code change, Test Merge Required

#4751 Fixes and Improves Turret Controls
  code/__HELPERS/unsorted.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_control.dm
Labels: Code change

#4756 Chisel Corner Fix
  code/game/turfs/change_turf.dm
Labels: Test Merge Candidate, Code change

#4757 Ships Only Tile Within Own Area
  code/__DEFINES/flags.dm
  code/__HELPERS/icon_smoothing.dm
  code/_globalvars/bitfields.dm
  code/game/area/areas.dm
  code/game/area/ship_areas.dm
  code/game/objects/items/blueprints.dm
Labels: Test Merge Candidate, Code change, Test Merge Required

#4717 Remaps The Ivory
  _maps/shuttles/independent/independent_ivory.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4821 fixes CI by providing user agent when downloading byond via actions
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
Labels: GitHub

#4762 IRMG Colossus Remap + Thunder Subshuttle
  _maps/configs/inteq_colossus.json
  _maps/configs/inteq_valor.json
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/inteq_thunder.dmm
  code/datums/shuttles.dm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4746 adds rare veins
  code/datums/mapgen/planetary/AsteroidGenerator.dm
  code/datums/mapgen/planetary/JungleGenerator.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/modules/mining/ore_veins.dm
Labels: Code change, Test Merge Required

#4800 comments out admins in admins.txt
  config/admins.txt
Labels: Config

#4803 Fixes the matchbox holding stuff other than matches
  code/game/objects/items/storage/boxes.dm
Labels: Code change

#4813 Small splatter fix
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: Code change

#4787 gunslinger spread reduction buff is no longer randomized
  code/modules/projectiles/gun.dm
Labels: Code change

#4807 Mission cap on retrieve vanguard mission
  code/datums/ruins/wasteplanet.dm
Labels: Code change, Ruin

#4818 Disablers no longer make loud destructive sounds upon hitting walls
  code/modules/projectiles/projectile/beams.dm
Labels: Good First PR, Code change

#4820 increase dimorlin addiction by 4 units
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Code change

#4802 Fixes fax spam only sending a single piece of mail
  code/modules/events/fax_spam.dm
Labels: Code change

#4526 Mission unit tests
  _maps/RandomRuins/BeachRuins/beach_bunkers.dmm
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  code/controllers/subsystem/overmap.dm
  code/datums/ruins/space.dm
  code/datums/ruins/whitesands.dm
  code/modules/missions/dynamic/_dynamic.dm
  code/modules/missions/dynamic/signaled.dm
  code/modules/missions/landmark.dm
  code/modules/missions/mission.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/planets/planet_types.dm
  code/modules/unit_tests/ruin_placement.dm
Labels: Map Change, Code change, Ruin

#4843 Fixes CI for now by making windows build not mandatory
  .github/workflows/ci_suite.yml
Labels: GitHub

#4653 Sola-class Hunting Vessel
  _maps/configs/independent_sola.json
  _maps/shuttles/independent/independent_sola.dmm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4601 Gets handrails out of the way & adds handrails to Riggs
  _maps/shuttles/independent/independent_raleigh.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_scarab.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
Labels: Map Change, Ship

#4599 ambience improvments, mostly sound caching and less macros
  code/__DEFINES/sound.dm
  code/_globalvars/ambience.dm
  code/controllers/subsystem/ambience.dm
  code/controllers/subsystem/sound_cache.dm
  code/datums/mapgen/single_biome/ReebeGenerator.dm
  code/game/area/areas.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/centcom.dm
  code/game/area/areas/outpost.dm
  code/game/area/areas/ruins/_ruins.dm
  code/game/area/areas/ruins/beachplanet.dm
  code/game/area/ship_areas.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/overmap/objects/dynamic_datum.dm
  shiptest.dme
Labels: DME Edit, Code change

#4842 fix active turf
  code/datums/mapgen/planetary/BeachGenerator.dm
Labels: Code change

#4824 Wood grill better
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
Labels: Code change

#4781 Gauss Gun Fixes
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/powered.dm
Labels: Code change

#4846 removes trollface from spam fax
  code/modules/events/fax_spam.dm
Labels: Code change

#4732 Icemoon Training Center Adjustments
  _maps/RandomRuins/IceRuins/icemoon_training_center.dmm
  code/game/mecha/combat/gygax.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#4812 Sunskipper grill fix
  _maps/shuttles/independent/independent_sunskipper.dmm
Labels: Map Change, Ship

#4847 Scrapstation Touch Ups
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
Labels: Map Change, Ruin

#4830 Allows Binoculars to be worn around the neck
  code/game/objects/items/binoculars.dm
  icons/mob/binoculars.dmi
Labels: Sprites, Code change

#4755 Refactor Fabricator Topic + Directional Printing
  code/game/mecha/mech_fabricator.dm
Labels: Code change

#4786 Gives the Pinscher an inhand
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  icons/obj/guns/manufacturer/inteq/lefthand.dmi
  icons/obj/guns/manufacturer/inteq/righthand.dmi
Labels: Sprites, Code change

#4816 Fixes revolver jank
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#4839 Being unconscious makes your eyes closed
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
Labels: Code change

#4796 Replaces all instances of the var clicker to something else
  code/__HELPERS/path.dm
  code/datums/holocall.dm
  code/game/machinery/hologram.dm
  code/game/machinery/porta_turret/portable_turret_manual_control.dm
  code/game/objects/objs.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/aimed.dm
  code/modules/spells/spell_types/pointed/pointed.dm
Labels: Code change

#4858 Increases duct tape stack sizes and makes them fit in belts and engineering pouches
  code/game/objects/items/stacks/tape.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouches.dm
Labels: Code change

#4708 RegisterSignal touchup
  code/datums/aquarium.dm
  code/datums/components/_component.dm
  code/datums/components/creamed.dm
  code/datums/components/embedded.dm
  code/datums/components/empprotection.dm
  code/datums/components/explodable.dm
  code/datums/components/footstep.dm
  code/datums/components/fullauto.dm
  code/datums/components/fullauto_mecha.dm
  code/datums/components/gunpoint.dm
  code/datums/components/largeobjecttransparency.dm
  code/datums/components/pellet_cloud.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/pricetag.dm
  code/datums/components/squeak.dm
  code/datums/components/stationstuck.dm
  code/datums/components/tether.dm
  code/datums/components/wearertargeting.dm
  code/datums/elements/decals/blood.dm
  code/datums/elements/earhealing.dm
  code/datums/elements/world_icon.dm
  code/datums/status_effects/neutral.dm
  code/datums/traits/negative/bad_touch.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob_spawner/spawner_componet.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/gunhud.dm
Labels: Code change

#4811 Fixes fancy chat failing to load
  code/modules/client/client_procs.dm
  tgui/packages/tgui-panel/chat/renderer.js
Labels: TGUI, Code change

#4861 Improvised Shotgun Sprite Fix
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Fix, Code change

#4862 Removes one bit of dust causing a warning
  _maps/outpost/indie_space.dmm
Labels: Map Change

#4640 Fixes the greeble bug
  code/controllers/subsystem/overmap.dm
  code/datums/mapgen/_MapGenerator.dm
  code/datums/mapgen/greeble.dm
  code/datums/mapgen/planetary/_PlanetGenerator.dm
Labels: Stale, Code change

#4419 Better cargo pack managment
  check_regex.yaml
  code/__DEFINES/cargo.dm
  code/__DEFINES/market.dm
  code/controllers/subsystem/market.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/blackmarket/blackmarket_item.dm
  code/modules/cargo/blackmarket/blackmarket_market.dm
  code/modules/cargo/blackmarket/blackmarket_uplink.dm
  code/modules/cargo/blackmarket/packs/ammo.dm
  code/modules/cargo/blackmarket/packs/clothing.dm
  code/modules/cargo/blackmarket/packs/consumables.dm
  code/modules/cargo/blackmarket/packs/emergency.dm
  code/modules/cargo/blackmarket/packs/explosives.dm
  code/modules/cargo/blackmarket/packs/misc.dm
  code/modules/cargo/blackmarket/packs/tech.dm
  code/modules/cargo/blackmarket/packs/tools.dm
  code/modules/cargo/blackmarket/packs/weapons.dm
  code/modules/cargo/console.dm
  code/modules/cargo/export_scanner.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/hangar_crate_spawner.dm
  code/modules/cargo/market/market.dm
  code/modules/cargo/order.dm
  code/modules/cargo/packs.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/animal.dm
  code/modules/cargo/packs/armor.dm
  code/modules/cargo/packs/canister.dm
  code/modules/cargo/packs/chemistry.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/cybernetics.dm
  code/modules/cargo/packs/emergency.dm
  code/modules/cargo/packs/exploration.dm
  code/modules/cargo/packs/fishing.dm
  code/modules/cargo/packs/food.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/cargo/packs/material.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/modsuits.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/cargo/packs/tools.dm
  code/modules/cargo/packs/vendor_refill.dm
  code/modules/cargo/packs/weapon_attachments.dm
  code/modules/events/ship/stray_cargo.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/unit_tests/supply_pack.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/BlackMarketUplink.js
  tgui/packages/tgui/interfaces/OutpostCommunications/Catalog.js
  tgui/packages/tgui/styles/atomic/text.scss
Labels: DME Edit, TGUI, Code change

#4733 Flick animation looks nicer.
  code/__HELPERS/game.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/game/atoms_movable.dm
  code/game/machinery/scan_gate.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/living_say.dm
Labels: Code change, Test Merge Required

#4872 gives the talos airlock vents
  _maps/shuttles/inteq/inteq_talos.dmm
Labels: Map Change, Ship

#4881 Dogtags are faster to strip
  code/modules/clothing/neck/_neck.dm
Labels: Code change

#4829 Removes delimb from most shrapnel
  code/game/objects/items/shrapnel.dm
Labels: Code change

#4859 Doubles Wear Thresholds on most Weapons
  code/game/objects/items/gun_maint_kit.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#4869 removes sand and mud slowdown
  code/game/turfs/open/floor/plating/beach.dm
  code/game/turfs/open/floor/plating/desert.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/game/turfs/open/floor/plating/lavaland.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/floor/plating/moon.dm
  code/game/turfs/open/floor/plating/shrouded.dm
  code/game/turfs/open/floor/plating/whitesands.dm
Labels: Code change

#4878 Fixes normal vending machines not displaying stock
  tgui/packages/tgui/interfaces/Vending.js
Labels: TGUI

#4838 Cuts a majority of the dynamic missions tied to high reward ruins
  code/datums/ruins/icemoon.dm
  code/datums/ruins/jungle.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/rockplanet.dm
  code/datums/ruins/space.dm
  code/datums/ruins/wasteplanet.dm
  code/datums/ruins/whitesands.dm
Labels: Code change, Ruin

#4854 Medical Aid kit and Advanced First Aid kit comes with painkillers
  code/game/objects/items/storage/firstaid.dm
Labels: Code change

#4856 Anchorable Reagent Dispensers
  code/modules/reagents/reagent_dispenser.dm
Labels: Code change

#4879 Fixes exosuit directional armor again
  code/_onclick/item_attack.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/five_stars.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_defense.dm
Labels: Code change

#4874 Haboob touchups
  _maps/shuttles/syndicate/syndicate_ngr_haboob.dmm
Labels: Map Change, Ship
