Repository shiptest-ss13/Shiptest, pull requests merged in 2025-08, with the labels that each got.

#5136 Suit Storage Locks now respect access
  code/datums/wires/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit.dm
Labels: Code change

#5124 EMPs can longer randomize locker access
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Code change

#5117 Make it so suit pockets are openable again
  code/modules/clothing/suits/toggles.dm
Labels: Code change

#5103 removes spraypainting clothes
  code/game/objects/items/crayons.dm
Labels: Code change

#5102 Nerf Solaris
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Code change

#5126 remove fax spam
  code/modules/events/fax_spam.dm
  shiptest.dme
Labels: DME Edit, Code change

#5134 Fixes the volume of epipens so all reagents are added to a body upon use, and adds pens with chitosan to specialist medkits
  code/game/objects/items/storage/firstaid.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Code change

#4996 Prevents ion storms from softlocking ships
  code/modules/power/apc.dm
Labels: Code change

#5057 Breach Mining
  code/__HELPERS/game.dm
  code/game/objects/effects/particles/smoke.dm
  code/modules/mining/drill.dm
  code/modules/mining/ore_veins.dm
  code/modules/mob_spawner/spawner.dm
Labels: Code change

#5146 pew resprite
  icons/obj/structures/chairs/sofa.dmi
Labels: Sprites

#5128 replace cirrus rattlesnakes with cobras
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
Labels: Map Change, Ship

#5167 Cthonian-Revamp-V2,-because-the-first-one-got-eaten
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
Labels: Map Change, Ship

#5133 Corrects Coffee Machines
  code/modules/food_and_drinks/coffee/items/coffee_pack.dm
  code/modules/food_and_drinks/coffee/items/condiment.dm
  code/modules/food_and_drinks/coffee/machine/coffeemaker.dm
  code/modules/food_and_drinks/coffee/machine/impressa.dm
  code/modules/food_and_drinks/coffee/structure/coffee_condi_display.dm
  code/modules/food_and_drinks/food/condiment.dm
Labels: Code change

#5166 Minor Atira Improvements & Fixes
  _maps/shuttles/independent/independent_atira.dmm
Labels: Map Change, Ship

#5181 replaces cirrus 10mm with .45
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
Labels: Map Change, Ship

#5149 Adds Metal Improvised Splints
  code/datums/components/crafting/recipes/misc.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/surgery/bodyparts/bodypart_aid.dm
  icons/obj/stack_objects.dmi
Labels: Sprites, Code change

#5171 Adds New Shemagh Sprites
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/clothing/neck/_neck.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#5095 Ramzi Blasting Hammer
  _maps/shuttles/pirate/pirate_roach.dmm
  code/__DEFINES/inventory.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/melee/blunt.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/closed/wall/conc_walls.dm
  code/modules/cargo/blackmarket/packs/weapons.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/blast_hammer.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/blunt_lefthand.dmi
  icons/mob/inhands/weapons/blunt_righthand.dmi
  icons/obj/ammunition/ammo_bullets.dmi
  icons/obj/weapon/blunt.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Ship, Code change

#5139 Subshuttle expansion+Replaces the anvil
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/inteq_anvil.dmm
  _maps/shuttles/subshuttles/inteq_javelin.dmm
  _maps/shuttles/subshuttles/srm_shortbow.dmm
  code/datums/ert/ert_inteq.dm
  code/datums/shuttles.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#5195 Fix for loop syntax
  code/game/objects/effects/wanted_poster.dm
  code/modules/power/singularity/field_generator.dm
Labels: Code change

#5194 Macro Cleanup for Lint Compliance
  code/datums/elements/_element.dm
  code/game/objects/structures/cabinet.dm
Labels: Code change

#5150 Nail-Side-Door
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/pgf/pgf_mercurial_quasar.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  _maps/shuttles/subshuttles/pgf_nail.dmm
Labels: Map Change, Ship

#5199 outpost fish no longer need to be fed
  _maps/outpost/nanotrasen_ice.dmm
  _maps/outpost/ngr_rock.dmm
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/fish/fish_types.dm
Labels: Map Change, Ship, Code change

#5085 Increases some Machinepistol wear thresholds to be like the others
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
Labels: Code change

#5196 Add parent calls for atom_break and atom_destruction
  code/game/objects/structures/barsigns.dm
  code/game/objects/structures/cabinet.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/mirror.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/alien/utilities/structures.dm
  code/modules/power/multiz.dm
Labels: Code change

#5047 Dynamic Hermits + Resprites
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_e11_manufactory.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/RandomRuins/SpaceRuins/vi_deepstorage.dmm
  code/__HELPERS/dynamic_human_icon_gen.dm
  code/game/objects/effects/spawners/mobspawner.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/hooded.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits/hooded.dmi
Labels: Map Change, Sprites, Test Merge Candidate, Code change, Ruin

#5177 Tweak the elzu sharp horns a bit
  icons/mob/ethereal_parts.dmi
Labels: Sprites

#5197 Add hairbows
  code/modules/client/loadout/loadout_hat.dm
  code/modules/clothing/head/hairbow.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/head/color.dmi
  icons/mob/species/kepori/onmob_head_kepori.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/obj/clothing/head/color.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#5193 Sprinter Resprite+Alternate head?
  code/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  icons/mob/species/ipc/bodyparts.dmi
Labels: Sprites, Code change

#5200 SSG-08 Saluki, Inteq F90
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  icons/obj/guns/manufacturer/inteq/48x32.dmi
  icons/obj/guns/manufacturer/inteq/lefthand.dmi
  icons/obj/guns/manufacturer/inteq/onmob.dmi
  icons/obj/guns/manufacturer/inteq/righthand.dmi
Labels: Sprites, Code change

#5206 Bombsuit-ining (with some inteq stuff)
  code/game/machinery/suit_storage_unit.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/inteq.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/faction/clip/head.dmi
  icons/mob/clothing/faction/clip/suits.dmi
  icons/mob/clothing/faction/inteq/hats.dmi
  icons/mob/clothing/faction/inteq/suits.dmi
  icons/mob/clothing/faction/inteq/uniforms.dmi
  icons/mob/clothing/faction/ngr/head.dmi
  icons/mob/clothing/faction/ngr/suits.dmi
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/faction/clip/head.dmi
  icons/obj/clothing/faction/clip/suits.dmi
  icons/obj/clothing/faction/inteq/hats.dmi
  icons/obj/clothing/faction/inteq/suits.dmi
  icons/obj/clothing/faction/ngr/head.dmi
  icons/obj/clothing/faction/ngr/suits.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Sprites, Code change

#5208 resprites cowboy boots
  icons/mob/clothing/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Sprites

#5216 Fixes the typhon engines
  _maps/shuttles/minutemen/minutemen_typhon.dmm
Labels: Map Change, Ship

#5107 Girders act like barricades
  code/game/objects/structures/girders.dm
Labels: Code change

#5119 fixes cell overlays
  code/game/machinery/recharger.dm
  code/modules/power/cell.dm
Labels: Code change

#5127 jitter animation fix
  code/datums/status_effects/debuffs/jittering.dm
Labels: Code change

#5135 dev config file for debugging
  .gitignore
  code/controllers/configuration/configuration.dm
  config/dev_overrides_readme.txt
Labels: Config, Code change

#5151 Improves and Re-Adds Fax Spam Event
  code/modules/events/fax_spam.dm
  icons/obj/fliers.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#5130 Generalizes gun sling behavior
  _maps/shuttles/independent/independent_ivory.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  _maps/shuttles/nanotrasen/nanotrasen_kiwi.dmm
  code/__DEFINES/traits/traits.dm
  code/game/objects/items/attachments/shoulder_sling.dm
  code/modules/cargo/packs/weapon_attachments.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/marksman.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/ballistics.dm
  code/modules/projectiles/guns/manufacturer/etherbor/energy_gunsword.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  code/modules/projectiles/guns/manufacturer/solar_armories/ballistic.dm
  shiptest.dme
Labels: Map Change, DME Edit, Ship, Code change

#5219 Some kepori pants+bomber jacket
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  icons/mob/species/kepori/onmob_suit_kepori.dmi
  icons/mob/species/kepori/onmob_uniform_kepori.dmi
Labels: Sprites, Code change

#5207 Allows working subshuttles to be spawned in ruins and the outpost.
  _maps/outpost/nanotrasen_ice.dmm
  _maps/shuttles/subshuttles/nanotrasen_ancon.dmm
  code/controllers/subsystem/overmap.dm
  code/game/objects/effects/landmarks.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/outpost/mapping.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/shuttle/shuttle.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change, Test Merge Required

#5043 CLIP Ocean Outpost + adds static names for outposts
  _maps/outpost/clip_ocean.dmm
  _maps/outpost/elevator_clip.dmm
  _maps/outpost/hangar/clip_ocean_20x20.dmm
  _maps/outpost/hangar/clip_ocean_40x20.dmm
  _maps/outpost/hangar/clip_ocean_40x40.dmm
  _maps/outpost/hangar/clip_ocean_56x20.dmm
  _maps/outpost/hangar/clip_ocean_56x40.dmm
  _maps/shuttles/subshuttles/minutemen_hestia.dmm
  code/datums/shuttles.dm
  code/game/area/areas/outpost.dm
  code/game/objects/structures/platforms.dm
  code/game/turfs/open/floor/hangar.dm
  code/game/turfs/open/water.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/objects/outpost/outpost_types.dm
Labels: Map Change, Ship, Code change

#5116 New Jungle Ruin: Serene Hunts
  _maps/RandomRuins/JungleRuins/jungle_serene_hunts.dmm
  code/datums/ruins/jungle.dm
  code/game/area/areas.dm
  code/game/area/areas/ruins/jungle.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/structures/plaques/static_plaques.dm
  code/game/objects/structures/safe.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/modules/antagonists/morph/morph.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/towels.dm
  code/modules/mob/living/simple_animal/hostile/jungle/seedling.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_shotshell_stacks.dm
  code/modules/ruins/jungleplanet_ruin_code/serene_hunts.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/_hazard.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/turf_fire.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazards/generic_electrical.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazards/sparking_wire.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change, Ruin

#5198 Lawnmower 2: Finishing the Job
  _maps/RandomRuins/BeachRuins/beach_ancient_ruin.dmm
  _maps/RandomRuins/BeachRuins/beach_bunkers.dmm
  _maps/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/RandomRuins/BeachRuins/beach_pirate_crash.dmm
  _maps/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/RandomRuins/IceRuins/icemoon_crashed_holemaker.dmm
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/RockRuins/rockplanet_river_valley_stash.dmm
  _maps/RandomRuins/RockRuins/rockplanet_rustbase.dmm
  _maps/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  code/__DEFINES/icon_smoothing.dm
  code/datums/mapgen/greeble.dm
  code/datums/mapgen/planetary/BeachGenerator.dm
  code/datums/mapgen/planetary/battlefield_generator.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor/plating/battlefield.dm
  code/game/turfs/open/floor/plating/beach.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/floor/plating/planet.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
  code/game/turfs/open/floor/plating/wasteplanet.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/overmap/planets/planet_types.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/turf/planetary/jungle.dmi
  tools/UpdatePaths/Scripts/5198_update_dirt_paths.txt
Labels: Map Change, Sprites, Code change, Test Merge Required, Ruin

#5238 redo of NT ice sauna
  _maps/outpost/nanotrasen_ice.dmm
Labels: Map Change

#5251 Re-adds a cryo console to the Vaquero.
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change, Ship

#4889 Allows paper to be put in pill bottles
  code/game/objects/items/storage/firstaid.dm
  code/modules/paperwork/paper.dm
Labels: Code change

#5230 Hivebots have a cap on how much they can grow.
  code/modules/mob/living/basic/space_fauna/hivebot/_hivebot.dm
  code/modules/mob/living/basic/space_fauna/hivebot/hivebot_ai_subtrees.dm
Labels: Code change

#5237 Reverts #1885, Depends #5236
  code/modules/shuttle/docking.dm
Labels: Code change

#5212 Space ruins spawn with asteroid fields around them.
  _maps/RandomRuins/SpaceRuins/onehalftwo.dmm
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/RandomRuins/SpaceRuins/vi_deepstorage.dmm
  code/__DEFINES/overmap.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/planets/planet_types.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#5249 Actually fixes Claris ghost bullets
  code/modules/projectiles/guns/manufacturer/solar_armories/ballistic.dm
Labels: Code change

#5244 Add backpacks to the clothing vendor
  code/game/objects/items/storage/backpack.dm
  code/modules/vending/clothesmate.dm
Labels: Code change

#5257 changes frontiersmen ert loadouts to use their armour
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
Labels: Code change

#5266 ramzi melee mobs have sharpness flags
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
Labels: Code change

#5261 Fixes gun maint kit having unlimited uses
  code/game/objects/items/gun_maint_kit.dm
Labels: Code change
