Repository shiptest-ss13/Shiptest, pull requests merged in 2025-09, with the labels that each got.

#5227 Frontiersmen Trench Complex \\ Budgetcuts disabling
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/RandomRuins/RockRuins/rockplanet_somme.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/rockplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/ruins/rockplanet_ruin_code/somme.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change, Ruin

#5232 Make suits with pockets recolorable again
  code/modules/clothing/suits/toggles.dm
Labels: Code change

#5262 lets headphones and earmuffs layer over hair when in the ear slot
  code/modules/clothing/ears/_ears.dm
  code/modules/instruments/items.dm
Labels: Code change

#5264 PGF-resprite
  _maps/configs/pgf_woeful_cthonian.json
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/pgf/pgf_mercurial_quasar.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  code/datums/components/storage/concrete/pockets.dm
  code/game/objects/items/melee/sword.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/blackmarket/packs/ammo.dm
  code/modules/cargo/blackmarket/packs/clothing.dm
  code/modules/cargo/blackmarket/packs/weapons.dm
  code/modules/cargo/packs/armor.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/outfits/ert/gezena_ert.dm
  code/modules/clothing/outfits/factions/gezena.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/clothing/faction/gezena/back.dmi
  icons/mob/clothing/faction/gezena/belt.dmi
  icons/mob/clothing/faction/gezena/eyes.dmi
  icons/mob/clothing/faction/gezena/feet.dmi
  icons/mob/clothing/faction/gezena/hands.dmi
  icons/mob/clothing/faction/gezena/head.dmi
  icons/mob/clothing/faction/gezena/kepori.dmi
  icons/mob/clothing/faction/gezena/mask.dmi
  icons/mob/clothing/faction/gezena/neck.dmi
  icons/mob/clothing/faction/gezena/suits.dmi
  icons/mob/clothing/faction/gezena/uniforms.dmi
  icons/mob/clothing/faction/gezena/vox.dmi
  icons/mob/inhands/faction/gezena/gezena_lefthand.dmi
  icons/mob/inhands/faction/gezena/gezena_righthand.dmi
  icons/mob/species/misc/digitigrade.dmi
  icons/mob/species/misc/digitigrade_shoes.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/faction/gezena/belt.dmi
  icons/obj/clothing/faction/gezena/eyes.dmi
  icons/obj/clothing/faction/gezena/feet.dmi
  icons/obj/clothing/faction/gezena/hands.dmi
  icons/obj/clothing/faction/gezena/head.dmi
  icons/obj/clothing/faction/gezena/mask.dmi
  icons/obj/clothing/faction/gezena/neck.dmi
  icons/obj/clothing/faction/gezena/suits.dmi
  icons/obj/clothing/faction/gezena/uniforms.dmi
Labels: Map Change, Sprites, Ship, Code change

#5228 insulated glove resprite
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Sprites

#5265 resprites explorer gas mask
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, Code change

#5271 auto elite touchup
  icons/obj/guns/manufacturer/inteq/48x32.dmi
  icons/obj/guns/manufacturer/serene_outdoors/48x32.dmi
Labels: Sprites

#5272 Adds kepi variant for NS mining suit
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/species/kepori/onmob_head_kepori.dmi
  icons/mob/species/kepori/onmob_suit_kepori.dmi
Labels: Sprites, Code change

#5274 kepori inteq sprites part 1
  code/modules/clothing/factions/inteq.dm
  icons/mob/clothing/faction/inteq/kepori.dmi
Labels: Sprites, Code change

#5278 short over eye resprite
  icons/mob/human_face.dmi
Labels: Sprites

#5246 fixes hermits punching a hole through ship hull
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/shuttle/on_move.dm
Labels: Code change

#5088 Update ship_datum.dm
  code/modules/overmap/ships/ship_datum.dm
Labels: Code change, Test Merge Required

#5269 ammo counter on scope OR railing
  code/game/objects/items/attachments/ammo_counter.dm
Labels: Code change

#5248 Typhon Gupdate
  _maps/shuttles/minutemen/minutemen_typhon.dmm
Labels: Map Change, Ship

#5285 Reflavors the Honorable Vanguard turtleneck to be inteq's command turtleneck instead+vox sprites for it
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  code/modules/clothing/factions/inteq.dm
  code/modules/clothing/outfits/factions/inteq.dm
  icons/mob/clothing/faction/inteq/vox.dmi
Labels: Map Change, Sprites, Ship, Code change

#5287 Fixes some NT Vox Sprites
  code/modules/clothing/factions/nanotrasen.dm
  icons/mob/clothing/faction/nanotrasen/vox.dmi
Labels: Sprites, Code change

#5242 Frag Grenade Adjustment + Removed Riot Launcher from Cargo
  code/game/objects/items/grenades/syndieminibomb.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/cargo/packs/weapon_attachments.dm
Labels: Code change

#5243 Decreases some magazine prices slightly
  code/modules/cargo/packs/magazines.dm
Labels: Code change

#5284 adds pajama pants to the game
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/under/pants.dm
  icons/mob/clothing/under/shorts_pants.dmi
  icons/obj/clothing/under/shorts_pants.dmi
Labels: Sprites, Code change

#5221 Vein Adjustments
  code/datums/mapgen/planetary/AsteroidGenerator.dm
  code/modules/mining/ore_veins.dm
Labels: Code change

#5276 Pirate/Hermit outfits apply the relevant factions
  _maps/RandomRuins/SandRuins/whitesands_surface_e11_manufactory.dmm
  code/__DEFINES/mobfactions.dm
  code/modules/clothing/outfits/factions/frontiersmen.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
Labels: Map Change, Code change, Ruin

#5303 Gallop on, Rocinante! Horse customizations for Humans
  code/modules/mob/dead/new_player/sprite_accessories/ears.dm
  code/modules/mob/dead/new_player/sprite_accessories/tails.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/tails.dm
  icons/mob/species/human/horse.dmi
Labels: Sprites, Code change

#5105 Tortuga Touch Ups
  _maps/configs/pirate_tortuga.json
  _maps/shuttles/pirate/pirate_tortuga.dmm
  _maps/shuttles/subshuttles/frontiersmen_brawler.dmm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/storage/ammo_can.dm
  code/game/objects/items/storage/filled_guncases.dm
Labels: Map Change, Ship, Code change

#5306 bombed starport wind fix
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  code/game/turfs/open/floor/plating/jungle.dm
Labels: Map Change, Code change, Ruin

#5295 Fix tail sprite bugs
  icons/mob/ethereal_parts.dmi
Labels: Sprites

#5288 oneshoulder touchup
  icons/mob/clothing/underwear/underwear_torso.dmi
Labels: Sprites

#5302 Adds claymores to the outpost export market, and removes them from outpost cargo
  code/modules/cargo/exports/scraping.dm
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#5311 small kiwi touchups
  _maps/shuttles/nanotrasen/nanotrasen_kiwi.dmm
Labels: Map Change, Ship

#5320 Gives the Arrowsong Refueling Platform the proper overmap sprite
  code/modules/overmap/objects/outpost/outpost_types.dm
Labels: Code change

#5313 Inteq Ship Touchups + Inteq Pilot Suit
  _maps/configs/inteq_colossus.json
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/subshuttles/inteq_thunder.dmm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/clothing/factions/inteq.dm
  icons/mob/clothing/faction/inteq/hats.dmi
  icons/mob/clothing/faction/inteq/suits.dmi
  icons/mob/inhands/faction/inteq/inteq_lefthand.dmi
  icons/mob/inhands/faction/inteq/inteq_righthand.dmi
  icons/obj/clothing/faction/inteq/hats.dmi
  icons/obj/clothing/faction/inteq/suits.dmi
Labels: Map Change, Sprites, Ship, Code change

#5259 Adds a new beach ruin, frontiersman moat, and removes two beach ruins aswell
  _maps/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/RandomRuins/BeachRuins/beach_frontie_moat.dmm
  _maps/RandomRuins/BeachRuins/beach_pirate_crash.dmm
  _maps/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  code/datums/ruins/beachplanet.dm
  code/game/area/areas/ruins/beachplanet.dm
  code/modules/mob/living/simple_animal/corpse_spawners/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#5294 Allows one to see how many hours are left in an outpost mission, and extends mission durations by 50%
  code/modules/missions/mission.dm
  code/modules/missions/outpost/_outpost.dm
  code/modules/missions/outpost/acquire_mission.dm
  code/modules/missions/outpost/drill_mission.dm
  code/modules/missions/outpost/garden_scan.dm
  code/modules/missions/outpost/research_mission.dm
Labels: Test Merge Candidate, Code change, Test Merge Required

#5314 Gas mask resprite+sec hailer resprite/reflavoring
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/hailer.dm
  icons/mob/clothing/mask.dmi
  icons/mob/species/kepori/onmob_mask_kepori.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, Code change

#5325 stomp emote
  code/modules/mob/living/carbon/human/emote.dm
Labels: Code change

#5316 Sock resprite
  code/modules/mob/dead/new_player/sprite_accessories/underwear/underwear_socks.dm
  icons/mob/clothing/underwear/underwear_socks.dmi
Labels: Sprites, Code change

#5329 black puffer fix
  icons/mob/clothing/suits/toggle.dmi
Labels: Sprites

#5292 Gives Nanotrasen and Ramzi Clique fax offices.
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/pirate/pirate_roach.dmm
  code/modules/paperwork/fax.dm
Labels: Map Change, Ship, Code change

#5176 Kali Andhi Remaster
  _maps/configs/syndicate_ngr_kaliandhi.json
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/ngr_karst.dmm
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
  code/datums/shuttles.dm
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#5343 resprites four hairs, adds one new one
  code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  icons/mob/human_face.dmi
Labels: Sprites, Code change

#5338 Fix a warn
  code/datums/status_effects/wound_effects.dm
Labels: Code change

#5305 Replaces Moth's Surplus Prosthetics with Humaniform
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: Code change

#5315 Vestigial Pref Vars
  code/__DEFINES/misc.dm
  code/__DEFINES/preferences.dm
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/ticker.dm
  code/datums/mind.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/holiday/halloween.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/silicon/robot/robot.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/Secrets.js
Labels: DME Edit, TGUI, Code change

#5352 makes rustbase turrets not stupid as fuck
  _maps/RandomRuins/RockRuins/rockplanet_rustbase.dmm
Labels: Map Change, Ruin

#5334 fix hoods
  code/modules/clothing/suits/hoodies.dm
  code/modules/clothing/suits/toggles.dm
Labels: Code change

#5356 Elzu no longer take 1.25x brute damage
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Code change

#4629 Overmap Expansion #5.02 Fixes Small ship docking ports
  _maps/configs/cybersun_nimbus.json
  _maps/configs/independent_corona.json
  _maps/configs/independent_falmouth.json
  _maps/configs/independent_junker.json
  _maps/configs/independent_mkii_dwayne.json
  _maps/configs/independent_rigger.json
  _maps/configs/independent_sunskipper.json
  _maps/configs/minutemen_arke.json
  _maps/configs/minutemen_typhon.json
  _maps/configs/nanotrasen_shrike.json
  _maps/configs/syndicate_hardliners_banshee.json
  _maps/configs/syndicate_mercury.json
  _maps/configs/syndicate_ngr_derecho.json
  _maps/configs/syndicate_ngr_haboob.json
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  _maps/shuttles/independent/independent_corona.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_falmouth.dmm
  _maps/shuttles/independent/independent_ivory.dmm
  _maps/shuttles/independent/independent_junker.dmm
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_raleigh.dmm
  _maps/shuttles/independent/independent_rhode.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/minutemen/minutemen_arke.dmm
  _maps/shuttles/minutemen/minutemen_typhon.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/nanotrasen/nanotrasen_shrike.dmm
  _maps/shuttles/pgf/pgf_mercurial_quasar.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  _maps/shuttles/roumain/srm_vagrant.dmm
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
  _maps/shuttles/syndicate/syndicate_mercury.dmm
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  _maps/shuttles/syndicate/syndicate_ngr_haboob.dmm
  code/modules/shuttle/shuttle.dm
Labels: Map Change, Ship, Code change

#5367 gruboid no longer explode
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
Labels: Code change

#5333 adjust some magpie stuff
  _maps/shuttles/nanotrasen/nanotrasen_magpie.dmm
Labels: Map Change, Ship

#5375 M10 helmet content overlays fix and singular serene hunts helmet fix
  _maps/RandomRuins/JungleRuins/jungle_serene_hunts.dmm
  code/modules/clothing/head/helmet.dm
Labels: Map Change, Code change, Ruin

#5371 Makes David New Gorlex
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
Labels: Map Change, Ship

#5366 Bonesetters and Surgical Tape in Medical Belts
  code/game/objects/items/storage/belt.dm
Labels: Code change

#5379 puts the weed replacement reagent in weed
  code/modules/hydroponics/grown/cannabis.dm
Labels: Code change

#5307 CLIP-MELD Moonbase Ruin
  _maps/RandomRuins/MoonRuins/moon_moonbase.dmm
  code/__DEFINES/ruins.dm
  code/datums/ruins/moon.dm
  code/game/area/areas/ruins/moon.dm
  code/game/objects/structures/flora.dm
  code/modules/clothing/outfits/factions/clip.dm
  code/modules/mining/ore_veins.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/ruins/rockplanet_ruin_code.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Code change, Ruin

#5392 fixes a typo in Coalition Softsuit black market
  code/modules/cargo/blackmarket/packs/clothing.dm
Labels: Code change

#5397 adds riot helm to medium marine armour cargo
  code/modules/cargo/packs/armor.dm
Labels: Code change

#5380 gives the elder a real medkit
  _maps/shuttles/roumain/srm_elder.dmm
Labels: Map Change, Ship
