Repository shiptest-ss13/Shiptest, pull requests merged in 2025-04, with the labels that each got.

#4467 Implementing a new Intermediate Etherbor Weapon
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/guns/manufacturer/etherbor/energy_gunsword.dm
  icons/obj/guns/manufacturer/etherbor/48x32.dmi
  icons/obj/guns/manufacturer/etherbor/lefthand.dmi
  icons/obj/guns/manufacturer/etherbor/onmob.dmi
  icons/obj/guns/manufacturer/etherbor/righthand.dmi
Labels: Map Change, Sprites, Ship, Code change

#4469 Language Icons in Runechat
  code/datums/chatmessage.dm
Labels: Test Merge Candidate, Code change

#4471 Sashimi no longer has toxic taste
  code/modules/food_and_drinks/food/snacks_meat.dm
Labels: Code change

#4490 Fixes some turning in jank
  _maps/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  code/datums/ruins/beachplanet.dm
  code/modules/missions/dynamic/_dynamic.dm
Labels: Map Change, Code change, Ruin

#4498 fix ore veins having null ores if they can pick more than they have access to
  code/modules/mining/ore_veins.dm
Labels: Code change

#4472 Printable Guncases
  code/game/objects/items/storage/guncases.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change

#4499 ion thruster > ion thruster board for selling
  code/modules/cargo/exports/scraping.dm
Labels: Code change

#4503 Maps are no longer gay (on april fools)
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
Labels: Code change

#4514 Reduces weapon drop chance on human simple mobs.
  code/modules/mob/living/simple_animal/hostile/human/human.dm
Labels: Code change

#4502 Riggs recycling has a gas mixer
  _maps/shuttles/independent/independent_rigger.dmm
Labels: Map Change, Ship

#4528 Viscerators have the correct faction
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
Labels: Code change

#4527 Fixes Scrapstation Mission Indexes
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
Labels: Map Change, Ruin

#4484 Adds the KM-05 "Rottweiler" LMG
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  icons/obj/ammunition/ammo.dmi
  icons/obj/guns/manufacturer/inteq/48x32.dmi
  icons/obj/guns/manufacturer/inteq/lefthand.dmi
  icons/obj/guns/manufacturer/inteq/onmob.dmi
  icons/obj/guns/manufacturer/inteq/righthand.dmi
Labels: Sprites, Code change

#4500 Smoke from chemical grenades is now transparent by default
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Code change

#4395 The Mercury-class Drua (SUNS exploration vessel)
  _maps/configs/syndicate_mercury.json
  _maps/shuttles/syndicate/syndicate_mercury.dmm
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4339 Talos Wing Modifications - Mech Operations
  _maps/shuttles/inteq/inteq_talos.dmm
  code/game/objects/items/toy_mechs.dm
  icons/obj/toy.dmi
Labels: Map Change, Sprites, Test Merge Candidate, Ship, Code change

#4524 Minor abandoned crate loot changes
  code/modules/mining/abandoned_crates.dm
Labels: Code change

#4507 changes the frontie distillery turret to a spitter turret
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
Labels: Map Change, Ruin

#4508 Microtarget with barrel is no longer bulky
  code/game/objects/items/attachments/m17_barrel.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#4521 SSG-669C Cargo Storage Box Name/Description
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_sniper_stacks.dm
  icons/obj/ammunition/ammo_boxes.dmi
Labels: Sprites, Code change

#4282 Adds Surgical Disks to the game
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/RockRuins/rockplanet_mining_installation.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_tradepost.dmm
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  _maps/shuttles/independent/independent_atoll.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  code/modules/cargo/packs/medical.dm
  code/modules/surgery/surgery.dm
Labels: Map Change, Ship, Code change, Ruin

#4306 Automatic Ship Locking
  code/__DEFINES/overmap.dm
  code/_globalvars/configuration.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/overmap.dm
  code/controllers/subsystem/statpanel.dm
  code/datums/votes/transfer_vote.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/toggle_ship_spawn.dm
Labels: Code change, Test Merge Required

#4322 Firearm Condition and Jamming
  code/game/objects/items/attachments/gun_attachments/ballistic.dm
  code/game/objects/items/gun_maint_kit.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/projectiles/ammunition/_ammo_casing.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/hmg.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  shiptest.dme
Labels: DME Edit, Test Merge Candidate, Code change

#4509 Stop missions from qdeling players 2: Electric Boogaloo
  code/modules/missions/dynamic/_dynamic.dm
Labels: Code change

#4497 makes railings/platforms leapable
  code/datums/elements/climbable.dm
  code/datums/forced_movement.dm
  code/game/objects/structures.dm
  code/game/objects/structures/platforms.dm
  code/game/objects/structures/table_flipped.dm
Labels: Code change

#4538 Buffs the debug outfit
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Code change

#4540 Reduces time to deploy bipods
  code/modules/projectiles/guns/ballistic/hmg.dm
Labels: Code change

#4525 ruin file validity
  code/datums/ruins/_ruins.dm
Labels: Code change, Ruin

#4530 readds new players to points_of_intrest
  code/modules/mob/dead/new_player/new_player.dm
Labels: Code change

#4531 Stops players from getting a check_rights message from examining overmaps
  code/modules/overmap/overmap_inspect.dm
Labels: Code change

#4511 Kepsuits
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/faction/ngr/head_kepori.dmi
  icons/mob/clothing/faction/ngr/suits_kepori.dmi
  icons/mob/clothing/head/spacesuits_kepori.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits_kepori.dmi
Labels: Sprites, Code change

#4338 Ice lodge touch ups
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  code/modules/mob/living/simple_animal/hostile/human/human.dm
  code/modules/paperwork/paper_premade.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_shotshell_stacks.dm
  code/modules/ruins/icemoonruin_code/ice_lodge.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Code change, Ruin

#4272 River Valley - New rock ruin
  _maps/RandomRuins/RockRuins/rockplanet_river_valley_stash.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/rockplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#4547 Shoulder holsters now fit disablers
  code/datums/components/storage/concrete/pockets.dm
Labels: Code change

#4549 EHF Beacon doesn't need to be anchored to insert/remove ID
  code/game/machinery/planet_beacon.dm
Labels: Code change

#4543 Update cybersun_nimbus.dmm
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
Labels: Map Change, Ship

#4358 Minor fixes, solar controller refactor, take 2
  _maps/RandomRuins/BeachRuins/beach_bunkers.dmm
  _maps/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_e11_manufactory.dmm
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/shuttles/independent/independent_corona.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  code/_globalvars/lists/flavor_misc.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cargo/packs/gun.dm
  code/modules/power/solar.dm
  code/modules/power/terminal.dm
  code/modules/power/tracker.dm
  code/modules/reagents/reagent_containers/syringes.dm
  tools/UpdatePaths/Scripts/4323_solar_refactor.txt
Labels: Map Change, Ship, Code change, Ruin

#4555 Removes slowdown from wearing duffelbags
  code/game/objects/items/storage/backpack.dm
Labels: Code change

#4485 Adds dark steel tiles as a turf
  code/game/turfs/open/floor/plasteel_floor.dm
  icons/turf/floors/tiles.dmi
Labels: Sprites, Code change

#4228 Typhon-class Light Exosuit Carrier
  _maps/configs/minutemen_typhon.json
  _maps/shuttles/minutemen/minutemen_typhon.dmm
  code/game/machinery/suit_storage_unit.dm
  code/game/mecha/equipment/tools/weapon_bay.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/uplink/uplink_items.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4558 Adds Pet to the Mudskipper
  _maps/shuttles/independent/independent_mudskipper.dmm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
Labels: Map Change, Ship, Code change

#4542 mabye this fixes bad ref to mines?
  code/modules/projectiles/projectile.dm
Labels: Code change

#4544 Ramzi Clique Vox
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
Labels: Sprites, Code change

#4554 Removes tail pulling
  code/datums/mood_events/generic_negative_events.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code change

#4539 Revamps ship placement test
  .github/workflows/run_integration_tests.yml
  code/__DEFINES/maps.dm
  code/controllers/subsystem/mapping.dm
  code/game/atoms_movable.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/planet_gen.dm
  code/modules/unit_tests/ship_outpost_placement.dm
  code/modules/unit_tests/ship_placement.dm
Labels: GitHub, Code change

#4550 only allow auto ship locking if there are MORE then 2 ships.
  code/controllers/subsystem/overmap.dm
Labels: Code change

#4571 Removes Landmines from most planetgen (for real)
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
Labels: Code change

#4569 Sweet Potatos are no longer pathed from Potatos
  _maps/RandomRuins/RockRuins/rockplanet_rustbase.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/hydroponics/grown/potato.dm
Labels: Map Change, Ship, Code change, Ruin

#4579 Removes the elite fauna kill mission from Buried_Shrine
  _maps/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
  code/datums/ruins/lavaland.dm
Labels: Map Change, Code change, Ruin

#4585 Changes milk required for butter from 15 to 5
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Code change

#4559 fixes the washing machines once and for all
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  _maps/shuttles/independent/independent_corona.dmm
  code/game/machinery/washing_machine.dm
Labels: Map Change, Ship, Code change

#4563 Frontiersman heavies use slugs
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
Labels: Code change

#4578 Patch 109
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Code change

#4584 Fixes sweet potato grow icon + other shit
  code/modules/hydroponics/grown/potato.dm
Labels: Code change

#4402 Cargo Bundling
  code/modules/cargo/console.dm
  code/modules/cargo/order.dm
  code/modules/cargo/packs.dm
  code/modules/cargo/packs/animal.dm
  code/modules/cargo/packs/canister.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/cargo/packs/food.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/tools.dm
  tgui/packages/tgui/interfaces/OutpostCommunications/Catalog.js
Labels: TGUI, Code change, Test Merge Required

#4583 Makes the crew percentage not 0
  code/controllers/subsystem/overmap.dm
Labels: Code change

#4576 Fixes Atmos in Jungle Syndicate Bunker Ruin
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  code/game/turfs/open/floor/mineral_floor.dm
Labels: Map Change, Code change, Ruin

#4492 Adds Medical Area To Rock Outpost + Other Small Changes
  _maps/outpost/ngr_rock.dmm
Labels: Map Change

#4611 Adds greeble spawners to the create_and_destroy ignore
  code/modules/unit_tests/create_and_destroy.dm
Labels: Code change

#4600 Removes rachnid names from outpost pool
  code/modules/overmap/objects/outpost/outpost.dm
Labels: Code change

#4608 Gives some enemies guaranteed drops on their guns
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
Labels: Map Change, Ruin

#4607 Fixes skm fronties dying twice
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
Labels: Code change

#4581 Removes/locks behind SRM remaining tribal weapon crafting recipes.
  code/datums/components/crafting/recipes/weapon.dm
  code/modules/clothing/outfits/factions/roumain.dm
Labels: Code change

#4618 Removes the Bubble-class
  _maps/configs/independent_bubble.json
  _maps/shuttles/independent/independent_bubble.dmm
Labels: Map Change, Ship

#4616 Dynamic mission objectives can now be spawned in containers
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  code/modules/missions/landmark.dm
Labels: Map Change, Code change, Ruin

#4619 Exosuit radio fix
  code/__DEFINES/say.dm
  code/game/mecha/mecha.dm
  code/modules/mob/living/living_say.dm
Labels: Code change

#4592 Fixes scrubbers building up unlimited pressure
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: Test Merge Candidate, Code change, Test Merge Required

#4632 Fixes cables
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/mining/equipment/angle_grinder.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Code change

#4633 Fixes cables
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/mining/equipment/angle_grinder.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Code change

#4631 replaces the mercury jellysandwich with a jellysandwich cherry
  _maps/shuttles/syndicate/syndicate_mercury.dmm
Labels: Map Change, Ship

#4593 Changes Spitter wear rate to be more durable
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
Labels: Code change

#4605 industrial drills require class 4 veins again
  code/modules/missions/dynamic/signaled.dm
Labels: Code change

#4613 bicaridine spelling mistake fix
  code/modules/cargo/packs/medical.dm
Labels: Code change

#4623 machines take extra damage from demolition mod
  code/_onclick/item_attack.dm
Labels: Code change

#4624 fixes planet naming + adds more planet names
  code/modules/overmap/objects/dynamic_datum.dm
  strings/planet_names.txt
  strings/planet_prefixes.txt
Labels: Code change

#4590 Unpowered turrets no longer turn invisible
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#4587 add tablet to falm,outh
  _maps/shuttles/independent/independent_falmouth.dmm
  _maps/shuttles/independent/independent_kilo.dmm
Labels: Map Change, Ship

#4644 Fixes issues that really ought to have failed checks but didn't somehow
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/structures/tribal_torch.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/vehicles/sealed.dm
Labels: Code change

#4643 fixes wielding
  code/modules/projectiles/gun.dm
Labels: Code change

#4638 fix pouch opening in pockets
  code/datums/components/storage/storage.dm
  code/game/objects/items/storage/pouches.dm
Labels: Code change

#4641 Fixes runtime with admin AI interact on certain machines
  code/modules/mob/dead/observer/observer.dm
Labels: Code change

#4384 Improve Sandbase (The Cave One)
  _maps/RandomRuins/SandRuins/whitesands_cave_base.dmm
  code/datums/ruins/whitesands.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/structures/platforms.dm
  code/modules/assembly/proximity.dm
  code/modules/ruins/sandplanet_ruin_code/cave_base.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#4529 indestructible not indestructable
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/outpost/hangar/nt_ice_20x20.dmm
  _maps/outpost/hangar/nt_ice_40x20.dmm
  _maps/outpost/hangar/nt_ice_40x40.dmm
  _maps/outpost/hangar/nt_ice_56x20.dmm
  _maps/outpost/hangar/nt_ice_56x40.dmm
  _maps/outpost/indie_space.dmm
  _maps/outpost/nanotrasen_ice.dmm
  _maps/outpost/ngr_rock.dmm
  code/game/machinery/telecomms/machines/allinone.dm
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/items/puzzle_pieces.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/awaymissions/mission_code/murderdome.dm
  tools/ci/check_grep.sh
Labels: Map Change, Code change, Ruin

#4451 Coffee 2
  code/datums/components/crafting/recipes/misc.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/food_and_drinks/coffee/items/coffee_cartridge.dm
  code/modules/food_and_drinks/coffee/items/coffee_pack.dm
  code/modules/food_and_drinks/coffee/items/coffeepots.dm
  code/modules/food_and_drinks/coffee/items/condiment.dm
  code/modules/food_and_drinks/coffee/items/cup.dm
  code/modules/food_and_drinks/coffee/machine/coffeemaker.dm
  code/modules/food_and_drinks/coffee/machine/impressa.dm
  code/modules/food_and_drinks/coffee/structure/coffee_cart_rack.dm
  code/modules/food_and_drinks/coffee/structure/coffee_condi_display.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/research/designs/machine_designs.dm
  icons/effects/radial_coffee.dmi
  icons/obj/item/coffee.dmi
  icons/obj/reagentfillings.dmi
  shiptest.dme
  sound/machines/coffeemaker_brew.ogg
  sound/machines/license.txt
Labels: DME Edit, Sprites, Sound, Code change

#4545 TG modernization of event code
  code/__DEFINES/dcs/signals/signals_event.dm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__DEFINES/events.dm
  code/__HELPERS/events.dm
  code/__HELPERS/names.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/ticker.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/implants/implant_mindshield.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/events/_event.dm
  code/modules/events/_event_admin_setup.dm
  code/modules/events/abductor.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/aurora_caelus.dm
  code/modules/events/borers.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/bureaucratic_error.dm
  code/modules/events/carp_migration.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/dust.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/false_alarm.dm
  code/modules/events/grid_check.dm
  code/modules/events/holiday/xmas.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/ion_storm.dm
  code/modules/events/prison_break.dm
  code/modules/events/processor_overload.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/ship/rodent_infestation.dm
  code/modules/events/ship/stray_cargo.dm
  code/modules/events/space_dragon.dm
  code/modules/events/spacevine.dm
  code/modules/events/spider_infestation.dm
  code/modules/events/vent_clog.dm
  code/modules/events/wizard/embeddies.dm
  code/modules/events/wizard/lava.dm
  code/modules/events/wizard/petsplosion.dm
  code/modules/events/wormholes.dm
  code/modules/holiday/holidays.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/paperwork/paperbin.dm
  config/game_options.txt
  shiptest.dme
Labels: Config, DME Edit, Code change

#4582 Foodening Tweaks
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/__DEFINES/construction.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/spaghetti.dm
  code/modules/food_and_drinks/food/ration.dm
  code/modules/food_and_drinks/food/snacks_burgers.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_pizza.dm
  code/modules/food_and_drinks/food/snacks_salad.dm
  code/modules/food_and_drinks/food/snacks_sandwichtoast.dm
  code/modules/food_and_drinks/food/snacks_tortilla.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_candied.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_donuts.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_tortilla.dm
  shiptest.dme
Labels: Map Change, DME Edit, Ship, Code change

#4598 Indie deckhand outfit tweaks
  _maps/configs/independent_corona.json
  _maps/configs/independent_falmouth.json
  _maps/configs/independent_kilo.json
  _maps/configs/independent_shetland.json
  code/modules/clothing/outfits/factions/independent.dm
Labels: Map Change, Ship, Code change

#4606 Removes redundent signal for ship moving
  code/__DEFINES/dcs/signals/signals_overmap.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/objects/jump_point.dm
  code/modules/overmap/ships/ship_datum.dm
Labels: Code change, Test Merge Required

#4610 renames function, remove encounters making new planets
  code/controllers/subsystem/overmap.dm
  code/modules/overmap/objects/dynamic_datum.dm
Labels: Code change

#4612 alloys cant be sold
  code/modules/cargo/exports/materials.dm
Labels: Code change

#4614 Adds a mission to the Abandoned Listening Post
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  code/datums/ruins/lavaland.dm
Labels: Map Change, Code change, Ruin

#4628 code owner the code folder for code tainers
  .github/CODEOWNERS
Labels: GitHub

#4533 Poverty 2
  code/datums/ruins/beachplanet.dm
  code/datums/ruins/icemoon.dm
  code/datums/ruins/jungle.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/rockplanet.dm
  code/datums/ruins/space.dm
  code/datums/ruins/wasteplanet.dm
  code/game/machinery/outpost_electrolyzer.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/mining.dm
  code/modules/cargo/exports/scraping.dm
  code/modules/cargo/exports/trophys.dm
  code/modules/missions/dynamic/_dynamic.dm
  code/modules/missions/dynamic/kill.dm
  code/modules/missions/outpost/research_mission.dm
Labels: Code change, Test Merge Required, Ruin

#4568 Bone breaking rework
  code/_onclick/item_attack.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/damage_procs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/silicon/damage_procs.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
Labels: Code change

#4659 Minor Ramzi simplemob description fix
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
Labels: Code change

#4622 Atomizes Cargo Even Further
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/cargo/packs/emergency.dm
  code/modules/cargo/packs/exploration.dm
  code/modules/cargo/packs/fishing.dm
  code/modules/cargo/packs/food.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/cargo/packs/tools.dm
  code/modules/cargo/packs/trickwine.dm
Labels: Code change

#4561 Shotgun Ammo Adjustments
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change

#4662 Replaces the HBG-7 on the crying sun with the unscoped version.
  _maps/shuttles/pgf/pgf_crying_sun.dmm
Labels: Map Change, Ship

#4671 fixes monoxide poisoning gain
  code/datums/brain_damage/mild.dm
Labels: Code change

#4674 Minor mission fix for Wrecked Factory
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
Labels: Map Change, Ruin

#4329 Icemoon Training Facility - New Ruin
  _maps/RandomRuins/IceRuins/icemoon_training_center.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/mecha/combat/gygax.dm
  code/game/turfs/open/floor/plating/icemoon.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#4496 Ports sign language from /tg/station
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/traits.dm
  code/datums/action.dm
  code/datums/actions/sign_language.dm
  code/datums/components/sign_language.dm
  code/datums/traits/negative/mute.dm
  code/datums/traits/neutral/signer.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  code/modules/surgery/organs/tongue.dm
  icons/mob/actions.dmi
  icons/mob/talk.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change, Test Merge Required

#4627 adds myself as a codeowner to dynamic missions files
  .github/CODEOWNERS
Labels: GitHub

#4656 Decreases Cargo Bulk Chemistry Prices
  code/modules/cargo/packs/chemistry.dm
Labels: Code change

#4664 reduce value of om5 storm missions
  code/modules/missions/outpost/research_mission.dm
Labels: Code change

#4678 Sarathi no longer take toxin damage from welding fuel
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Code change

#4655 fix safe deconstruction
  code/game/objects/structures/safe.dm
Labels: Code change

#4647 Colorblind people can't see wire colors
  code/__DEFINES/traits.dm
  code/datums/traits/neutral/monochromatic.dm
  code/datums/wires/_wires.dm
  code/modules/client/client_colour.dm
  tgui/packages/tgui/interfaces/Wires.js
Labels: TGUI, Code change

#4668 makes syndicate turrets not murder their crews
  code/game/machinery/porta_turret/turret_types/ship_turret_types.dm
Labels: Code change

#4706 renables basic tests
  code/controllers/subsystem/events.dm
  code/datums/progressbar.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/head/beanie.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/antlion.dm
  code/modules/projectiles/boxes_magazines/ammo_loaders.dm
  code/modules/ruins/icemoonruin_code/ice_lodge.dm
  code/modules/unit_tests/atmospheres.dm
Labels: Code change

#4679 Removes an extra pixel in the groin area on the human sprite.
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

#4681 End-Of-Round Bluespace Jumps only affect ships already in transit
  code/controllers/subsystem/shuttle.dm
Labels: Code change

#4685 fixes indention mistake for recipe
  code/modules/food_and_drinks/recipes/tablecraft/recipes_tortilla.dm
Labels: Code change

#4683 Adds (placebo) prescription pills to general loadout
  code/game/objects/items/storage/firstaid.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Code change

#4686 Dreamchecker lint fix on force_event_async
  code/__HELPERS/events.dm
Labels: Code change

#4687 removes period from name of wasteplanet_icwbase
  code/datums/ruins/wasteplanet.dm
Labels: Code change, Ruin

#4688 Admin Logging is done with a define
  code/__DEFINES/admin.dm
  code/controllers/admin.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/adminmenu.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/debug/delete_active_missions.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/fps.dm
  code/modules/admin/verbs/machine_upgrade.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/panicbunker.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/possess.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/reestablish_db_connection.dm
  code/modules/admin/verbs/rejuvenate.dm
  code/modules/admin/verbs/requests.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/admin/verbs/selectequipment.dm
  code/modules/admin/verbs/spawnobjasmob.dm
  code/modules/admin/verbs/toggle_ship_spawn.dm
  code/modules/admin/view_variables/admin_delete.dm
  code/modules/admin/view_variables/mass_edit_variables.dm
  code/modules/buildmode/submodes/proccall.dm
  code/modules/buildmode/submodes/tweakcomps.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/preferences_toggles.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mentor/verbs/mentorpm.dm
  code/modules/mentor/verbs/mentorsay.dm
Labels: Code change

#4691 Removes gibtonite from random gen
  code/game/turfs/closed/minerals.dm
Labels: Code change

#4693 Fixes some objects being remotely accessed with ctrl-click.
  code/game/machinery/sleeper.dm
  code/game/objects/items/devices/pressureplates.dm
  code/modules/clothing/towels.dm
  code/modules/paperwork/clipboard.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Code change

#4694 Rolling sleeves of C-MM Fatigues + C-MM Helmet In-Hands
  code/modules/clothing/factions/clip.dm
  icons/mob/clothing/faction/clip/uniforms.dmi
  icons/mob/clothing/faction/clip/vox.dmi
  icons/mob/inhands/faction/clip/clip_lefthand.dmi
  icons/mob/inhands/faction/clip/clip_righthand.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#4695 New IPC Frame - Maxim Dynamics 'Seeker'
  code/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  icons/mob/species/ipc/bodyparts.dmi
Labels: Sprites, Code change

#4666 Fixing-a-broken-sprite
  icons/obj/guns/manufacturer/etherbor/lefthand.dmi
Labels: Sprites

#4697 Less lava particles
  code/game/objects/effects/particles/fire.dm
  code/game/turfs/open/lava.dm
Labels: Code change

#4661 Nerfs the SAW-80's spread and recoil
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Code change

#4672 reverts ex_act nerf for obj
  code/game/objects/obj_defense.dm
Labels: Code change

#4506 Turf Fire Spreading
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/obj_flags.dm
  code/__HELPERS/unsorted.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/acid_rain.dm
  code/datums/weather/weather_types/rain.dm
  code/game/area/areas.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/effect_system/effects_water.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/effects/turf_fire.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/mines.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/tanks/watertank.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/dresser.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/mineral_floor.dm
  code/game/turfs/open/floor/plating/icemoon.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/game/turfs/open/floor/plating/lavaland.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/floor/plating/planet.dm
  code/game/turfs/open/floor/reinf_floor.dm
  code/game/turfs/open/floor/suns_floor.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
Labels: Code change, Test Merge Required

#4650 Jousting Improvement Port
  code/__DEFINES/dcs/signals/signals.dm
  code/_onclick/item_attack.dm
  code/datums/components/jousting.dm
  code/game/objects/items/melee/spear.dm
  code/game/objects/items/melee/sword.dm
Labels: Code change

#4701 ignore spawners in create and destroy
  code/modules/unit_tests/create_and_destroy.dm
Labels: Code change

#4711 Update drill.dm
  code/modules/mining/drill.dm
Labels: Code change

#4667 Adds oxygen candles
  code/game/objects/items/oxygen_candle.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/cargo/packs/emergency.dm
  icons/obj/item/oxygen_candle.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#4680 Resprites the indie engi softsuit/indie mining hardsuit
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Sprites

#4712 Fixed melee weapons not applying armor penetration to objects, or being affected by exosuit directional armor
  code/_onclick/item_attack.dm
  code/game/mecha/mecha_defense.dm
Labels: Code change

#4722 Shrouded Drills Are More Dangerous
  code/modules/mining/ore_veins.dm
Labels: Code change

#4725 fix invisible miner augmentations
  icons/mob/augmentation/augments_mining.dmi
Labels: Sprites

#4740 Fishi Roll Desc Tweaks + Crafting Shit
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
Labels: Code change

#4737 Makes the new jungle turfs have the correct atmos
  code/datums/mapgen/greeble.dm
  code/game/turfs/open/floor/plating/jungle.dm
Labels: Code change

#4721 mission text change
  code/datums/ruins/beachplanet.dm
  code/datums/ruins/rockplanet.dm
Labels: Code change, Ruin

#4735 turrets target angry rats and similar
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#4564 Talos Shortening
  _maps/shuttles/inteq/inteq_talos.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4588 The Leyak-class Covert Frigate (Carina Part Three)
  _maps/configs/syndicate_hardliners_leyak.json
  _maps/shuttles/syndicate/syndicate_hardliners_leyak.dmm
  code/game/objects/items/storage/ammo_can.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4716 Scoopable Goliath Pups and Derecho touch-ups
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Map Change, Ship, Code change

#4642 Atira-Class Rescue Skiff (medical-coded indieslop)
  _maps/configs/independent_atira.json
  _maps/shuttles/independent/independent_atira.dmm
  code/game/machinery/shuttle/shuttle_engine_types.dm
Labels: Map Change, Ship, Code change

#4750 Dismantle Light Switches + Mount Fix
  code/game/machinery/lightswitch.dm
Labels: Code change

#4754 Rename Buttons
  code/game/machinery/buttons.dm
Labels: Code change
