Repository shiptest-ss13/Shiptest, pull requests merged in 2025-01, with the labels that each got.

#3948 small pistol tweaks 2
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/guns/manufacturer/nanotrasen_sharplite/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  icons/obj/ammo.dmi
  icons/obj/ammunition/ammo.dmi
Labels: Sprites, Code change

#3906 Slightly Adjusts Sniper Recoil
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/solar_armories/ballistic.dm
Labels: Code change

#3924 Reflavors Medals
  code/modules/clothing/under/accessories.dm
Labels: Code change

#3927 Mech repair loop line fix
  code/game/mecha/mecha_defense.dm
Labels: Code change

#3851 Ports Commends from /tg/
  code/__HELPERS/hearted.dm
  code/__HELPERS/roundend.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/verbs/ooc.dm
  config/game_options.txt
  shiptest.dme
Labels: Config, DME Edit, Code change

#3947 Changes spaghetti desc and food type
  code/game/objects/items/food/spaghetti.dm
Labels: Code change

#3787 New Ruin: Tesla Lab
  _maps/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  _maps/shuttles/subshuttles/frontiersmen_haymaker.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/effects/anomalies/anomalies_static.dm
  code/game/objects/items/devices/desynchronizer.dm
  code/game/turfs/open/floor/plating/icemoon.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/ruins/icemoonruin_code/tesla_lab.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Ship, Code change, Ruin

#3807 Minor Miskilamo Redecaling + Other Stuff
  _maps/shuttles/independent/independent_kilo.dmm
  _maps/shuttles/independent/independent_mudskipper.dmm
  _maps/shuttles/independent/independent_shetland.dmm
Labels: Map Change, Ship

#3827 Inteq Platforms & Minor Tweaks
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change, Ship

#3921 Fixes missing derecho apcs
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
Labels: Map Change, Ship

#3934 Fixes skirt preferences for Inteq uniforms
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/clothing/under/syndicate.dm
  tools/UpdatePaths/Scripts/3934_inteq_skirts.txt
Labels: Map Change, Ship, Code change

#3954 SG-8 fits in the holster
  code/datums/components/storage/concrete/pockets.dm
Labels: Code change

#3960 Should fix some linter failures
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/mounted.dm
Labels: Code change

#3945 Makes chem/soda/booze dispensers take ore/refined bluespace crystals instead of sheet polycrystals.
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Code change

#3958 Fixes wall wardrobes having missing doors
  _maps/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/shuttles/independent/independent_rigger.dmm
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/pirate/pirate_libertatia.dmm
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: Map Change, Ship, Ruin

#3966 soul removal
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
Labels: Code change

#3936 Mildly refactors jittering
  check_regex.yaml
  code/datums/brain_damage/phobia.dm
  code/datums/brain_damage/severe.dm
  code/datums/components/spooky.dm
  code/datums/diseases/anxiety.dm
  code/datums/martial/cqc.dm
  code/datums/mutations/body.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/datums/traits/negative.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/melee/stunbaton.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/flora.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mob/living/carbon/alien/organs.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/status_procs.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents/base_drinks.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents/mixed_drinks.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/stomach.dm
  shiptest.dme
Labels: DME Edit, Code change

#3967 fix another mapcut issue
  code/datums/ruins/wasteplanet.dm
Labels: Code change, Ruin

#3931 Removes Kansatsu
  _maps/configs/syndicate_cybersun_kansatsu.json
  _maps/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
Labels: Map Change, Ship

#3919 Minor mapcut fix
  code/datums/ruins/space.dm
Labels: Code change, Ruin

#3943 Various Hunter's pride sprite improvments
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  icons/obj/guns/manufacturer/hunterspride/48x32.dmi
  icons/obj/guns/manufacturer/hunterspride/lefthand.dmi
  icons/obj/guns/manufacturer/hunterspride/onmob.dmi
  icons/obj/guns/manufacturer/hunterspride/righthand.dmi
  icons/obj/guns/manufacturer/scarborough/48x32.dmi
  icons/obj/guns/manufacturer/serene_outdoors/48x32.dmi
Labels: Sprites, Code change

#3902 Radio crackle QoL
  code/__DEFINES/flags.dm
  code/__DEFINES/preferences.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_say.dm
Labels: Code change

#3940 Removes Entertainment Monitor Meta-Reference
  code/game/machinery/computer/camera.dm
Labels: Code change

#3825 Underbarrel Gun Attachments
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/guns.dm
  code/_onclick/click.dm
  code/datums/components/attachment.dm
  code/datums/components/attachment_holder.dm
  code/game/machinery/recharger.dm
  code/game/objects/items.dm
  code/game/objects/items/attachments/_attachment.dm
  code/game/objects/items/attachments/_gun_attachment.dm
  code/game/objects/items/attachments/gun_attachments/ballistic.dm
  code/game/objects/items/attachments/gun_attachments/energy.dm
  code/game/objects/items/attachments/gun_attachments/flamethrower.dm
  code/game/objects/items/attachments/gun_attachments/flaregun.dm
  code/game/objects/items/attachments/gun_attachments/riot_launcher.dm
  code/modules/cargo/packs/gun.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  code/modules/projectiles/guns/misc/grenade_launcher.dm
  code/modules/projectiles/guns/powered.dm
  icons/mob/actions/actions_items.dmi
  icons/obj/guns/attachments.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3932 Wideband table/wall type swap feature
  code/game/objects/items/devices/radio/intercom.dm
Labels: Code change

#3937 Adds directionals for the AAC.
  code/game/machinery/airlock_cycle_control.dm
  icons/obj/monitors.dmi
Labels: Sprites, Code change

#3907 More flakey fixes
  code/datums/brain_damage/severe.dm
  code/datums/components/pellet_cloud.dm
  code/game/objects/effects/anomalies/anomalies_gravity.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/effect_system/effect_system.dm
  code/game/objects/items/devices/mines.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/unit_tests/create_and_destroy.dm
Labels: Code change

#3933 platform / railing direction
  code/game/objects/structures/platforms.dm
  code/game/objects/structures/railings.dm
Labels: Code change

#3233 Mapping hazards and types
  _maps/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  code/_globalvars/lists/objects.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/effects/effect_system/effects_water.dm
  code/game/objects/effects/spawners/random/waste_planet.dm
  code/game/objects/structures/radioactive.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/_hazard.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/_shutoff.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/atmospheric.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/electrical.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/floor.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/radioactive.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/slowdown.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_code/spray.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazard_info.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazards/_examples.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazards/electrical_conduit.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazards/generic_electrical.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazards/radioactive_barrels.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazards/water_hazard.dm
  icons/obj/hazard/conduit.dmi
  icons/obj/hazard/generic.dmi
  icons/obj/hazard/shutoff.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Code change, Ruin

#3739 Full Auto Mech Weaponry and Refresh
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  code/__DEFINES/dcs/signals/signals.dm
  code/datums/components/fullauto_mecha.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/weapons/mecha_ammo.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_topic.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  shiptest.dme
Labels: Map Change, DME Edit, Code change, Ruin

#3930 Adds manufacturer field to ship config and Autowiki
  _maps/configs/independent_atoll.json
  _maps/configs/independent_bubble.json
  _maps/configs/independent_dwayne.json
  _maps/configs/independent_kilo.json
  _maps/configs/independent_mudskipper.json
  _maps/configs/independent_raleigh.json
  _maps/configs/independent_rigger.json
  _maps/configs/independent_scarab.json
  _maps/configs/independent_shetland.json
  _maps/configs/independent_sunskipper.json
  _maps/configs/inteq_colossus.json
  _maps/configs/inteq_talos.json
  _maps/configs/inteq_valor.json
  _maps/configs/inteq_vaquero.json
  _maps/configs/minutemen_atlas.json
  _maps/configs/nanotrasen_delta.json
  _maps/configs/nanotrasen_harrier.json
  _maps/configs/nanotrasen_meta.json
  _maps/configs/nanotrasen_ranger.json
  _maps/configs/nanotrasen_tegu.json
  _maps/configs/pgf_crying_sun.json
  _maps/configs/pgf_elated_bolide.json
  _maps/configs/pgf_woeful_cthonian.json
  _maps/configs/pirate_libertatia.json
  _maps/configs/pirate_tortuga.json
  _maps/configs/syndicate_cybersun_litieguai.json
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/configs/syndicate_ngr_derecho.json
  _maps/configs/syndicate_ngr_kaliandhi.json
  _maps/configs/syndicate_panacea.json
  _maps/configs/syndicate_twinkleshine.json
  _maps/example_ship_config.json
  _maps/ship_config_schema.json
  code/controllers/subsystem/mapping.dm
  code/datums/shuttles.dm
  code/modules/autowiki/pages/ships.dm
Labels: Map Change, Ship, Code change

#3955 Cargo Security Tab Adjustments
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#3865 Soulifies Backpacks & Duffels
  code/__DEFINES/storage.dm
  code/datums/components/storage/storage.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/ration.dm
  code/modules/clothing/outfits/ert/roumain_ert.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: Code change

#3883 Door Speed
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
  code/datums/wires/airlock.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/door.dm
  code/game/objects/structures/door_assembly.dm
  tgui/packages/tgui/interfaces/AirlockElectronics.js
  tgui/packages/tgui/interfaces/Radio.js
Labels: Map Change, TGUI, Ship, Code change

#3970 Crates load onto shelves when mapped
  _maps/shuttles/independent/independent_shetland.dmm
  _maps/shuttles/independent/independent_sunskipper.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crateshelf.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping/mapping_helpers.dmi
Labels: Map Change, Sprites, Ship, Code change

#3920 Allows Hardliner captains vest to hold firearms
  code/modules/clothing/factions/hardliners.dm
Labels: Code change

#3922 buff cm5
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
Labels: Code change

#3959 N+S Mine Change
  _maps/RandomRuins/RockRuins/rockplanet_mining_installation.dmm
  code/modules/mining/equipment/mineral_scanner.dm
Labels: Map Change, Code change, Ruin

#3916 More minor fixes
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/modular_computers/computers/item/computer_power.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/surgery/organs/lungs.dm
Labels: Code change

#3979 Adds a .NET 9 SDK setup action to linters
  .github/workflows/autowiki.yml
  .github/workflows/ci_suite.yml
  .github/workflows/docker_publish.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/make_changelogs.yml
  .github/workflows/rerun_flaky_tests.yml
  .github/workflows/run_integration_tests.yml
  .github/workflows/update_tgs_dmapi.yml
  .tgs.yml
  dependencies.sh
Labels: GitHub

#3975 Fix Runtime
  code/game/objects/items/storage/backpack.dm
Labels: Code change

#3982 Fix glowing guns
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/marksman.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/manufacturer/solar_armories/ballistic.dm
Labels: Code change

#3983 Fix Door Deconstruction
  code/game/objects/structures/door_assembly.dm
Labels: Fix, Code change

#3977 Minor Elder Changes
  _maps/shuttles/roumain/srm_elder.dmm
Labels: Map Change, Ship

#3956 Atoll-Class Update
  _maps/shuttles/independent/independent_atoll.dmm
Labels: Map Change, Ship

#3658 Updates Talos and Scarab maints.
  _maps/configs/inteq_talos.json
  _maps/shuttles/independent/independent_scarab.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
Labels: Map Change, Ship

#3953 Update Elated Bolite
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
Labels: Map Change, Ship

#3998 Adds a CE access requirement to the wrecker's equipment room on the Derecho
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
Labels: Map Change, Ship

#4022 fix #3990
  icons/obj/hazard/generic.dmi
Labels: Sprites

#3985 Removes Bullet Absorbtion From Mobs
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
Labels: Code change

#3939 Outpost Medical
  _maps/outpost/elevator_indie.dmm
  _maps/outpost/hangar/indie_space_20x20.dmm
  _maps/outpost/hangar/indie_space_40x20.dmm
  _maps/outpost/hangar/indie_space_40x40.dmm
  _maps/outpost/hangar/indie_space_56x20.dmm
  _maps/outpost/hangar/indie_space_56x40.dmm
  _maps/outpost/indie_space.dmm
  _maps/outpost/nanotrasen_ice.dmm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/turfs/closed/indestructible.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/uplink/uplink_items.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
Labels: Map Change, Code change

#3736 Gun Zoom Changes
  code/__DEFINES/guns.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/traits.dm
  code/_onclick/click.dm
  code/datums/components/fullauto.dm
  code/datums/components/fullauto_mecha.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/attachments/long_scope.dm
  code/game/objects/items/attachments/short_scope.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/weapon_attachments.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/movespeed/modifiers/items.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/ballistic/marksman.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  code/modules/projectiles/guns/manufacturer/solar_armories/ballistic.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/guns/misc/blastcannon.dm
  code/modules/projectiles/projectile.dm
  icons/obj/guns/attachments.dmi
  icons/obj/guns/manufacturer/clip_lanchester/48x32.dmi
  icons/obj/guns/manufacturer/inteq/48x32.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change, Test Merge Required

#3887 Faction Cargo: Armor
  code/controllers/subsystem/traumas.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/cargo/packs.dm
  code/modules/cargo/packs/armor.dm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/factions/srm.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/faction/faction_datum.dm
  code/modules/holiday/holidays.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/spells/spell.dm
  shiptest.dme
Labels: DME Edit, Code change

#3946 Renames and rewrites the Odysseus and Gygax
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/mecha/medical/odysseus.dm
  code/game/objects/items/toy_mechs.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/bounties/mech.dm
  code/modules/cargo/packs/mechs.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
Labels: Map Change, Code change, Ruin

#3895 Partial Tempchanges Revert
  code/__DEFINES/species.dm
  code/_onclick/hud/alert.dm
  code/datums/weather/weather_types/hailstorm.dm
  code/datums/weather/weather_types/snowfall.dm
  code/game/objects/structures/shower.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents/mixed_drinks.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
  code/modules/surgery/organs/lungs.dm
Labels: Code change, Test Merge Required

#4018 Removes every "Hurr Durr" from code.
  code/datums/mood_events/generic_negative_events.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/power/singularity/field_generator.dm
Labels: Code change

#3978 Removal of Mutations from Radiation
  code/modules/mob/living/carbon/human/species.dm
Labels: Code change

#4003 Scrap Audit - Circuit Board Removals and Additions + Mech Wreck Chassis Additions
  code/game/mecha/mecha_wreckage.dm
  code/game/objects/effects/spawners/random/boards.dm
  code/game/objects/effects/spawners/random/waste_planet.dm
Labels: Code change

#3989 Factional Cargo: Magazines, I Love War Edition
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Code change

#3761 Adds the Banshee-class Salvage Clipper [Hardliner]
  _maps/configs/syndicate_hardliners_banshee.json
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
Labels: Map Change, Test Merged, Test Merge Candidate, Ship

#3972 Adds a Shaft Miner to the Harrier, removes the Janitor (Role)
  _maps/configs/nanotrasen_harrier.json
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4021 The grill no longer ear-hurting-ly loud
  code/datums/looping_sounds/machinery_sounds.dm
Labels: Code change

#3903 Fixes turrets again
  _maps/shuttles/inteq/inteq_colossus.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_control.dm
  code/modules/unit_tests/ship_outpost_placement.dm
Labels: Map Change, Ship, Code change

#3987 Rechambers the Firestorm to .44 Roumain
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  code/game/objects/items/storage/filled_guncases.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/clothing/outfits/ert/roumain_ert.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
Labels: Map Change, Code change, Ruin

#4031 linter fix but I hit it with a big stick
  .github/workflows/ci_suite.yml
  _maps/shuttles/inteq/inteq_colossus.dmm
Labels: Map Change, GitHub, Ship

#3992 M20 Auto Elite
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  icons/obj/guns/manufacturer/inteq/48x32.dmi
  icons/obj/guns/manufacturer/serene_outdoors/48x32.dmi
Labels: Sprites, Code change

#3589 Robotic limb degradation
  code/datums/components/crafting/recipes/misc.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/cable.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/ipc_bodyparts.dm
  code/modules/surgery/mechanical.dm
  icons/hud/screen_gen.dmi
  icons/obj/items.dmi
Labels: Sprites, Code change, Test Merge Required

#4029 Adds one singular item to the Banshee that I forgot
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
Labels: Map Change, Ship

#4033 Firestorm Fixes
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
Labels: Code change

#3993 Price Rebalance & Cruft Removal
  code/modules/cargo/packs/animal.dm
  code/modules/cargo/packs/canister.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/emergency.dm
  code/modules/cargo/packs/food.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/cargo/packs/material.dm
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/sec_supply.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/cargo/packs/tools.dm
Labels: Code change

#3997 Flare and floodlight tweaks
  code/game/objects/items/devices/flashlight.dm
  code/modules/power/floodlight.dm
Labels: Code change

#3949 Legion Core Toxins
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Code change

#4016 Craftable Bottles and Blackmarket Distiller
  code/modules/cargo/packs/food.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Code change

#4002 Gathering now checks if the item can be reached
  code/datums/components/storage/storage.dm
Labels: Code change, Test Merge Required

#4009 fix #4007
  _maps/outpost/indie_space.dmm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
Labels: Map Change, Fix, Code change

#3944 Re:Eoehoma Firearms
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/ballistics.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/lasers.dm
  icons/obj/guns/manufacturer/eoehoma/48x32.dmi
  icons/obj/guns/manufacturer/eoehoma/lefthand.dmi
  icons/obj/guns/manufacturer/eoehoma/onmob.dmi
  icons/obj/guns/manufacturer/eoehoma/righthand.dmi
  icons/obj/guns/manufacturer/frontier_import/48x32.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#3986 .45-70 now comes in 24-round boxes
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_pistol_stacks.dm
Labels: Code change

#4019 Removes Floor tiles under catwalks on the Mudskipper
  _maps/shuttles/independent/independent_mudskipper.dmm
Labels: Map Change, Ship

#3988 You can use a multitool for mechanical brain surgery on the fix brain step.
  code/modules/surgery/mechanical.dm
Labels: Code change

#4038 fix tile indie space
  _maps/outpost/indie_space.dmm
Labels: Map Change

#4036 Makes dogtag retrieval missions take both Ramzi and Frontiersman tags, removes RnD retrieval
  code/modules/overmap/missions/acquire_mission.dm
Labels: Code change

#3918 MP-Gygax, and adds the factional mech conversion kits to cargo
  code/game/mecha/combat/gygax.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/modules/cargo/packs/mechs.dm
  icons/mecha/mech_construct.dmi
  icons/mecha/mech_construction.dmi
  icons/mecha/mecha.dmi
Labels: Sprites, Code change

#3984 You can no longer gain deep-rooted traumas from failed brain surgery or natural damage.
  code/modules/mob/living/brain/brain_item.dm
  code/modules/surgery/brain_surgery.dm
Labels: Code change

#4004 Cargo Implants - Basic Cybernetics
  code/modules/cargo/packs/cybernetics.dm
  shiptest.dme
Labels: DME Edit, Code change

#4035 Crate shelvers no longer persist after attempting to spawn
  code/modules/mapping/mapping_helpers.dm
Labels: Code change

#3999 Adds an electric welding tool to Chief Engineer toolbelts and the ERT utility belt
  code/game/objects/items/storage/belt.dm
Labels: Code change

#4008 Deconstruct Act Respects Invulnerability
  code/game/atoms.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/objs.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/dresser.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/platforms.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/salvaging.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/closed/indestructible.dm
Labels: Code change

#3996 Reduces the chance of getting hurt from a broken bone if one is walking
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Code change

#4028 Adds A Variant Gauss Round
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/ammunition/special/gauss.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_gauss_stacks.dm
  code/modules/projectiles/projectile/bullets/gauss.dm
  icons/obj/ammunition/ammo_bullets.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
Labels: Sprites, Code change

#3994 Partially ports boxed messages, fieldset message blocks, and improves vote visibility
  code/__DEFINES/chat.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/datums/components/mood.dm
  code/datums/mind.dm
  code/datums/votes/_vote_datum.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/admin/verbs/debug.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/buildmode/submodes/copy.dm
  code/modules/buildmode/submodes/delete.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/buildmode/submodes/lightmaker.dm
  code/modules/buildmode/submodes/outfit.dm
  code/modules/buildmode/submodes/proccall.dm
  code/modules/buildmode/submodes/relocate_to.dm
  code/modules/buildmode/submodes/throwing.dm
  code/modules/buildmode/submodes/tweakcomps.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: TGUI, Code change

#4052 copys some tg code to fix the cleanbot fails
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Code change

#3910 Arke-Class Surveying Ship | CLIP-LAND
  _maps/configs/minutemen_arke.json
  _maps/shuttles/minutemen/minutemen_arke.dmm
  _maps/shuttles/minutemen/minutemen_atlas.dmm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/modules/clothing/outfits/factions/minutemen.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4041 fixes spacesuits being in the wrong category
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/spacesuits.dm
Labels: Fix, Code change

#4044 Removes ireland.
  code/modules/food_and_drinks/food/snacks_meat.dm
Labels: Code change

#4045 Security Belt Additions
  code/game/objects/items/storage/belt.dm
Labels: Balance/Rebalance, Code change

#4046 fix medpen name
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Fix, Code change

#4059 Singular Vox Sprite
  icons/mob/species/vox/onmob_mask_vox.dmi
Labels: Sprites

#4058 fixes qdel bug (mobs in wrapped closets can qdel contents) #4053
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Code change

#4056 fixes #4043 (extra space in bodypart info)
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Code change

#4051 Adding an NGR mining webbing variant
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
  code/modules/clothing/factions/ngr.dm
  icons/mob/clothing/faction/ngr/belt.dmi
  icons/obj/clothing/faction/ngr/belt.dmi
Labels: Map Change, Sprites, Ship, Code change

#4049 Add Hyposprays to Cargo
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_litieguai.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/cargo/packs/medical.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/hypovial.dm
Labels: Map Change, Ship, Code change

#4055 Combat Medic Hardsuit Changes
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Code change

#4048 Mech Zoom
  code/game/mecha/combat/marauder.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_topic.dm
  code/modules/cargo/packs/mechs.dm
Labels: Code change

#4061 Kepori Balaclava + Webbing Sprice
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/breath.dm
  icons/mob/species/kepori/onmob_belt_kepori.dmi
  icons/mob/species/kepori/onmob_mask_kepori.dmi
Labels: Sprites, Code change

#3968 Libertatia 2
  _maps/configs/independent_mudskipper.json
  _maps/configs/pirate_falmouth.json
  _maps/configs/pirate_libertatia.json
  _maps/shuttles/pirate/pirate_falmouth.dmm
  _maps/shuttles/pirate/pirate_libertatia.dmm
Labels: Map Change, Test Merged, Ship

#4065 Renames the Falmouth file to be indie instead of pirate
  _maps/configs/independent_falmouth.json
  _maps/shuttles/independent/independent_falmouth.dmm
Labels: Map Change, Ship

#4066 Fixes Vox Itemstates
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
Labels: Code change

#4067 Buff HC Gauss
  code/modules/projectiles/projectile/bullets/gauss.dm
Labels: Code change

#4062 Clarifies latch usage and fixes a bug with cell ejection on the E-40
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/ballistics.dm
Labels: Code change

#4063 Removes an erroneous airlock from the Derecho
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
Labels: Map Change, Ship

#3917 The Great Shiptest IRS Audit (Branch Edition)
  code/game/machinery/roulette_machine.dm
  code/game/machinery/slotmachine.dm
  code/modules/cargo/packs/civilian.dm
  tgui/packages/tgui/interfaces/MiningVendor.js
  tgui/packages/tgui/interfaces/Roulette.js
  tgui/packages/tgui/interfaces/Vending.js
Labels: TGUI, Code change

#4050 Removes an extra arg and formats set_sleeping proc name correctly
  code/datums/martial/boxing.dm
  code/datums/martial/cqc.dm
  code/game/machinery/cryopod.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/hot_potato.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mining/fulton.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/status_procs.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Code Improvement, Code change

#3976 New Ship: Nimbus-Class Caravel
  _maps/configs/cybersun_nimbus.json
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  code/game/objects/structures/safe.dm
Labels: Map Change, Test Merged, Ship, Code change

#4013 Haboob-class Patrol Boat (Small NGR Combat Ship)
  _maps/configs/syndicate_ngr_haboob.json
  _maps/shuttles/syndicate/syndicate_ngr_haboob.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4074 Removes Wirecarp from Player Access
  code/modules/modular_computers/file_system/programs/ntmonitor.dm
Labels: Code change

#3995 Applies some bugfixes to examine_more interaction with modular computers and adds examine_more interaction to tablets
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/modular_computers/computers/item/laptop.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/power/apc.dm
Labels: Fix, Test Merge Candidate, Code change

#4079 Ammo Cans can hold Weapon Cells
  code/game/objects/items/storage/ammo_can.dm
Labels: Code change

#4071 Increase Drill Mission Value
  code/modules/overmap/missions/drill_mission.dm
Labels: Code change

#4069 veins no longer get bitchy when you try and have more than 3 people near them
  code/__DEFINES/dcs/signals/signals.dm
  code/modules/mining/drill.dm
  code/modules/mining/ore_veins.dm
  code/modules/mob_spawner/spawner_componet.dm
  code/modules/overmap/missions/drill_mission.dm
Labels: Code change

#4075 Harrier now has anesthesia tank.
  _maps/shuttles/nanotrasen/nanotrasen_harrier.dmm
Labels: Map Change, Ship

#4087 Makes Strippers Cheaper To Get
  code/modules/projectiles/boxes_magazines/ammo_loaders.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Code change

#4089 Adjusts shotgun tube size
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#4088 Update cybersun_nimbus.json
  _maps/configs/cybersun_nimbus.json
Labels: Map Change, Ship

#4070 FREE cargo beacons
  code/modules/cargo/console.dm
Labels: Code change

#4095 fixes misaligned border floor
  icons/turf/decals/decals.dmi
Labels: Sprites

#3838 Continued Ammo Adjustments
  code/game/objects/effects/spawners/random/exotic.dm
  code/game/objects/structures/crates_lockers/closets/secure/misc.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/clothing/outfits/ert/frontiersmen_ert.dm
  code/modules/projectiles/ammunition/_ammo_casing.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_pistol_stacks.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/spells/spell_types/rightandwrong.dm
Labels: Test Merged, Code change

#4086 Reduces the Komodo to atoms
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: Map Change, Ship

#3390 Trickwine refactor to use status effects
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/forcefields.dm
  code/game/objects/items/manuals.dm
  code/modules/cargo/blackmarket/blackmarket_items/consumables.dm
  code/modules/food_and_drinks/drinks/drinks/breakawayflask.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents/ethanol.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
Labels: Refactor, Code change

#4100 Fixes AI Movement Runtime
  code/datums/ai/_ai_controller.dm
Labels: Code change

#4098 Fried Eggs no longer count as a fried food.
  code/modules/food_and_drinks/food/snacks_egg.dm
Labels: Code change

#4094 Morphine requires more cycles to put you to sleep
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Code change

#3952 Camera Console Recalibration and Bodycameras
  code/datums/components/storage/concrete/pockets.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera.dm
  code/game/objects/items/bodycamera.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/packs/tools.dm
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  icons/obj/item/bodycamera.dmi
  shiptest.dme
  sound/items/bodycamera_off.ogg
  sound/items/bodycamera_on.ogg
  tgui/packages/tgui/interfaces/CameraConsole.js
  tgui/packages/tgui/interfaces/NtosSecurEye.js
Labels: DME Edit, Sprites, TGUI, Sound, Code change

#4091 (Autowiki) Ship size is calculated by area rather than longest dimension
  code/modules/autowiki/pages/ships.dm
Labels: Code change

#4096 Minor Abandoned Listening Post Housekeeping
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
Labels: Map Change, Ruin

#4106 Concrete-Ening: Floor Tile Edition
  code/game/turfs/open/floor/conc_floor.dm
  icons/turf/floors.dmi
  icons/turf/floors/concrete.dmi
  icons/turf/floors/hexacrete.dmi
Labels: Sprites, Code change

#4110 Adds ammo boxes to the Vaquero
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change, Ship

#4057 Fixes #3981 (rockplanet shippingdock not having planetary turfs)
  _maps/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  code/game/turfs/open/floor/plating/rockplanet.dm
Labels: Map Change, Code change, Ruin
