Repository shiptest-ss13/Shiptest, pull requests merged in 2025-03, with the labels that each got.

#4268 NGR-Rail-Lights-and-Operative-outfit-update
  _maps/shuttles/syndicate/syndicate_ngr_haboob.dmm
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
  code/modules/clothing/outfits/factions/syndicate.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#3733 New Rock Outpost
  _maps/map_files/generic/CentCom.dmm
  _maps/outpost/elevator_rock.dmm
  _maps/outpost/hangar/ngr_rock_20x20.dmm
  _maps/outpost/hangar/ngr_rock_40x20.dmm
  _maps/outpost/hangar/ngr_rock_40x40.dmm
  _maps/outpost/hangar/ngr_rock_56x20.dmm
  _maps/outpost/hangar/ngr_rock_56x40.dmm
  _maps/outpost/ngr_rock.dmm
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/indestructible.dm
  code/game/turfs/open/floor/plating/icemoon.dm
  code/game/turfs/open/floor/plating/rockplanet.dm
  code/modules/overmap/objects/outpost/elevator/elevator_platform.dm
  code/modules/overmap/objects/outpost/outpost_types.dm
  code/modules/ruins/objects_and_mobs/generic_hazards/hazards/steam_sprayer.dm
  shiptest.dme
Labels: Map Change, DME Edit, Test Merge Candidate, Code change, Test Merge Required

#4293 fix more attachment points
  code/game/objects/items/attachments/long_scope.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/ballistics.dm
  code/modules/projectiles/guns/manufacturer/frontier_import/ballistics.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/nanotrasen_sharplite/ballistics.dm
  icons/obj/guns/manufacturer/frontier_import/48x32.dmi
Labels: Sprites, Code change

#4300 Tango-class incorrectly mapped to Kunai-class corrected in Subshuttle Catalog
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
Labels: Map Change, Ship

#4305 Update nanotrasen.dm
  code/modules/mob/living/simple_animal/hostile/human/nanotrasen.dm
Labels: Code change

#4307 Adds Solcomm to AIs
  code/modules/language/language_holder.dm
Labels: Code change

#4299 removes a trashcan in raleigh
  _maps/shuttles/independent/independent_raleigh.dmm
Labels: Map Change, Ship

#4247 Adds Mil variants of Ringneck and Cobra to cargo.
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/cargo/packs/gun.dm
Labels: Code change

#4199 Cleans up security consoles and SecurEye refreshing
  code/game/machinery/computer/camera.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
Labels: Code change

#4298 Inteq Sprice Update
  _maps/shuttles/inteq/inteq_valor.dmm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/head/winterhood.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/clothing/suits/wintercoat.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  icons/obj/clothing/suits/wintercoat.dmi
Labels: Map Change, Sprites, Ship, Code change

#4302 Adds CLIP gas masks to CLIP SSUs.
  code/game/machinery/suit_storage_unit.dm
Labels: Code change

#4202 Lights, Camera, Action - Broadcast Cameras!
  code/__DEFINES/radio.dm
  code/datums/action.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/bodycamera.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/cargo/packs/civilian.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  icons/mob/inhands/misc/broadcast_lefthand.dmi
  icons/mob/inhands/misc/broadcast_righthand.dmi
  icons/obj/item/broadcasting.dmi
Labels: Sprites, Test Merge Candidate, Code change

#4242 Adds every single moth plushie variant to loadout
  code/game/objects/items/miscellaneous.dm
  code/game/objects/items/plushes.dm
  code/modules/client/loadout/loadout_general.dm
Labels: Code change

#4317 Unloading machines no longer pick up ice
  _maps/outpost/indie_space.dmm
  code/modules/mining/machine_unloading.dm
Labels: Map Change, Code change

#4316 Wooden stair fixes
  code/game/turfs/open/floor/plasteel_floor.dm
Labels: Code change

#4315 Make chem scanner give the temperature of reagent
  code/game/objects/items/devices/scanners.dm
Labels: Code change

#4313 rations now explicitly tell you whats in them
  code/modules/food_and_drinks/food/ration.dm
Labels: Code change

#4291 Hangar Cargo Conveyors
  _maps/outpost/hangar/indie_space_20x20.dmm
  _maps/outpost/hangar/indie_space_40x20.dmm
  _maps/outpost/hangar/indie_space_40x40.dmm
  _maps/outpost/hangar/indie_space_56x20.dmm
  _maps/outpost/hangar/indie_space_56x40.dmm
  _maps/outpost/hangar/ngr_rock_20x20.dmm
  _maps/outpost/hangar/ngr_rock_40x20.dmm
  _maps/outpost/hangar/ngr_rock_40x40.dmm
  _maps/outpost/hangar/ngr_rock_56x20.dmm
  _maps/outpost/hangar/ngr_rock_56x40.dmm
  _maps/outpost/hangar/nt_ice_20x20.dmm
  _maps/outpost/hangar/nt_ice_40x20.dmm
  _maps/outpost/hangar/nt_ice_40x40.dmm
  _maps/outpost/hangar/nt_ice_56x20.dmm
  _maps/outpost/hangar/nt_ice_56x40.dmm
  code/game/objects/structures/plasticflaps.dm
  code/modules/cargo/console.dm
  code/modules/cargo/hangar_crate_spawner.dm
  code/modules/cargo/supplypod_beacon.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/recycling/conveyor2.dm
  code/modules/shuttle/shuttle.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/OutpostCommunications/index.tsx
Labels: Map Change, DME Edit, TGUI, Feature, Code change, Test Merge Required

#4285 Ports Demolition Mod tgstation
  code/_onclick/item_attack.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/melee/chainsaw.dm
  code/game/objects/items/melee/fireaxe.dm
  code/game/objects/items/melee/knife.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/melee/spear.dm
  code/game/objects/items/melee/sword.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/objs.dm
  code/game/turfs/closed/_closed.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/surgery/tools.dm
Labels: Code change, Test Merge Required

#4321 Adds a Hardliners stamp
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-hardliners.png
Labels: Map Change, Sprites, Ship, Code change

#4214 Planet Countdowns
  code/controllers/subsystem/overmap.dm
  code/game/objects/effects/countdown.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/overmap_token.dm
Labels: Code change

#4207 CMM Atlas Tweaks
  _maps/shuttles/minutemen/minutemen_atlas.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4297 fairly minor cirrus patch
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
Labels: Map Change, Ship

#4324 Adds ClothesMate vendors to outposts
  _maps/outpost/indie_space.dmm
  _maps/outpost/nanotrasen_ice.dmm
  code/modules/vending/clothesmate.dm
Labels: Map Change, Code change

#4239 New Beach Ruin: Frontiersmen Depot
  _maps/RandomRuins/BeachRuins/beach_bunkers.dmm
  code/datums/mapgen/planetary/BeachGenerator.dm
  code/datums/ruins/beachplanet.dm
  code/game/area/areas/ruins/beachplanet.dm
  code/game/objects/items/documents.dm
  code/game/turfs/open/floor/plating/beach.dm
  code/game/turfs/open/water.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  icons/obj/bureaucracy.dmi
Labels: Map Change, Sprites, Code change, Ruin

#4326 Fixes borg light overlays updating improperly
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Code change

#4223 Crew Bank Account Implementation
  code/modules/economy/account.dm
  code/modules/overmap/missions.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/overmap/ships/owner_action.dm
  tgui/packages/tgui/interfaces/ShipOwner.tsx
Labels: TGUI, Code change

#4265 Reduces minimum timer on C4 from 10 to 0
  code/game/objects/items/grenades/plastic.dm
Labels: Code change

#4290 more drill fixes
  code/__HELPERS/game.dm
  code/modules/mining/ore_veins.dm
  code/modules/mob_spawner/spawner_componet.dm
Labels: Code change

#4301 Cargo Telescopic Riot Shields
  code/datums/components/crafting/recipes/weapon.dm
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#4319 Make gun locker buildable and tweak it a bit.
  code/game/objects/items/stacks/sheets/recipes/recipes_metal.dm
  code/game/objects/structures/guncase.dm
Labels: Code change

#4288 Turrets
  _maps/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/shuttles/subshuttles/frontiersmen_gut.dmm
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/turret_types/ruin_turret_types.dm
  code/game/machinery/porta_turret/turret_types/ship_turret_types.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/ruins/icemoonruin_code/tesla_lab.dm
  code/modules/uplink/uplink_items.dm
  code/modules/vehicles/atv.dm
  shiptest.dme
Labels: Map Change, DME Edit, Ship, Code change, Test Merge Required, Ruin

#4327 Talos Job Slot Changes
  _maps/configs/inteq_talos.json
  _maps/shuttles/inteq/inteq_talos.dmm
Labels: Map Change, Ship

#4331 Duffel + backpack access fix for ghosts
  code/datums/components/storage/storage.dm
Labels: Code change

#4332 Hoodie Hotfix
  code/modules/clothing/suits/hoodies.dm
Labels: Code change

#4078 Fills in autowiki details for ships made with old schema
  _maps/configs/minutemen_arke.json
  _maps/configs/syndicate_hardliners_banshee.json
Labels: Map Change, Ship

#4283 Significantly Reduces Price of Stockparts + Specific Boxes and Volume
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs/machinery.dm
Labels: Code change

#4287 you can now send items to your command's fax
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/paperwork/fax.dm
  code/modules/requests/requests_manager.dm
Labels: Code change

#4335 Babyproofs Cargo Conveyor Chutes
  _maps/outpost/hangar/indie_space_20x20.dmm
  _maps/outpost/hangar/indie_space_40x20.dmm
  _maps/outpost/hangar/indie_space_40x40.dmm
  _maps/outpost/hangar/indie_space_56x20.dmm
  _maps/outpost/hangar/indie_space_56x40.dmm
  _maps/outpost/hangar/ngr_rock_20x20.dmm
  _maps/outpost/hangar/ngr_rock_40x20.dmm
  _maps/outpost/hangar/ngr_rock_40x40.dmm
  _maps/outpost/hangar/ngr_rock_56x20.dmm
  _maps/outpost/hangar/ngr_rock_56x40.dmm
  _maps/outpost/hangar/nt_ice_20x20.dmm
  _maps/outpost/hangar/nt_ice_40x20.dmm
  _maps/outpost/hangar/nt_ice_40x40.dmm
  _maps/outpost/hangar/nt_ice_56x20.dmm
  _maps/outpost/hangar/nt_ice_56x40.dmm
Labels: Map Change, Fix

#4341 You can do damage to walls again
  code/game/turfs/closed/_closed.dm
Labels: Code change

#4345 Fixes a description on T3 matter bin crate.
  code/modules/cargo/packs/machinery.dm
Labels: Code change

#4330 gun fluff moving
  code/datums/components/attachment.dm
  code/game/objects/items/attachments/ammo_counter.dm
  code/modules/cargo/packs/weapon_attachments.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/gunhud.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
  icons/obj/guns/attachments.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#4344 Toy guns are now made by Donk
  code/modules/projectiles/guns/ballistic/toy.dm
Labels: Code change

#4340 Better explosion sounds
  code/controllers/subsystem/explosions.dm
  code/game/sound.dm
  sound/effects/explosion_far1.ogg
  sound/effects/explosion_far2.ogg
  sound/effects/explosion_far3.ogg
  sound/effects/explosion_far4.ogg
  sound/effects/explosion_far5.ogg
  sound/effects/explosion_large1.ogg
  sound/effects/explosion_large2.ogg
  sound/effects/explosion_large3.ogg
  sound/effects/explosion_large4.ogg
  sound/effects/explosion_large5.ogg
  sound/effects/explosion_large6.ogg
  sound/effects/explosion_med1.ogg
  sound/effects/explosion_med2.ogg
  sound/effects/explosion_med3.ogg
  sound/effects/explosion_med4.ogg
  sound/effects/explosion_med5.ogg
  sound/effects/explosion_med6.ogg
  sound/effects/explosion_micro1.ogg
  sound/effects/explosion_micro2.ogg
  sound/effects/explosion_micro3.ogg
  sound/effects/explosion_small1.ogg
  sound/effects/explosion_small2.ogg
  sound/effects/explosion_small3.ogg
  sound/effects/explosion_small4.ogg
  sound/effects/explosion_smallfar1.ogg
  sound/effects/explosion_smallfar2.ogg
  sound/effects/explosion_smallfar3.ogg
  sound/effects/explosion_smallfar4.ogg
Labels: Sound, Code change

#4348 Rebalances and rewrites Goliaths
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Code change

#4174 Ramzi Clique Rustbase Ship Ruin
  _maps/RandomRuins/RockRuins/rockplanet_rustbase.dmm
  code/datums/ruins/rockplanet.dm
  code/game/area/areas/ruins/rockplanet.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#4334 Fixes Broken Hardline Decal on ngr_rock Outpost
  _maps/outpost/ngr_rock.dmm
Labels: Map Change

#4325 Mech Paths and 515 EX kit
  code/game/mecha/combat/gygax.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/modules/cargo/packs/mechs.dm
Labels: Code change

#4351 Brings .22lr back to 20
  code/modules/projectiles/projectile/bullets/pistol.dm
Labels: Code change

#4359 308 price 250 down from 500
  code/modules/cargo/packs/ammo.dm
Labels: Code change

#4364 Genemod Ears no longer take 2x damage at all times
  code/modules/surgery/organs/ears.dm
Labels: Code change

#4365 Equalizes DMR Zoom
  code/__DEFINES/guns.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Code change

#4366 tape recorder to command pouch
  code/game/objects/items/storage/pouches.dm
Labels: Code change

#4360 Adds Missing Indestructible Rock Turfs
  code/game/turfs/closed/indestructible.dm
Labels: Code change

#4367 Language cleanup
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/holocall.dm
  code/datums/mutations/speech.dm
  code/modules/antagonists/borer/borer.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/outfits/factions/gezena.dm
  code/modules/clothing/outfits/factions/solgov.dm
  code/modules/language/beachbum.dm
  code/modules/language/buzzwords.dm
  code/modules/language/calcic.dm
  code/modules/language/common.dm
  code/modules/language/draconic.dm
  code/modules/language/language_holder.dm
  code/modules/language/moffic.dm
  code/modules/language/monkey.dm
  code/modules/language/mushroom.dm
  code/modules/language/narsian.dm
  code/modules/language/piratespeak.dm
  code/modules/language/shadowtongue.dm
  code/modules/language/slime.dm
  code/modules/language/solarian.dm
  code/modules/language/spider.dm
  code/modules/language/sylvan.dm
  code/modules/language/vox_pidgin.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/surgery/organs/tongue.dm
  icons/misc/language.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#4352 reduces landmines in planetgen
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/modules/overmap/missions/acquire_mission.dm
Labels: Code change

#4227 TGUI plant analyzer
  check_regex.yaml
  code/__DEFINES/botany.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/plant_analyzer.dm
  code/modules/hydroponics/seeds.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/PlantAnalyzer/constants.ts
  tgui/packages/tgui/interfaces/PlantAnalyzer/index.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/types.ts
Labels: DME Edit, TGUI, Code change, Test Merge Required

#4346 Abandoned Crate Lootpool Adjustments
  code/game/objects/items/storage/firstaid.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/paperwork/paper_premade.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Code change

#4353 Arke Paperstuff + Gas Masks
  _maps/shuttles/minutemen/minutemen_arke.dmm
Labels: Map Change, Ship

#3644 tweaks to random spawners
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  _maps/outpost/indie_space.dmm
  _maps/shuttles/independent/independent_atoll.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_scarab.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/spawners/random/decoration.dm
  code/game/objects/effects/spawners/random/engineering.dm
  code/game/objects/effects/spawners/random/entertainment.dm
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/game/objects/effects/spawners/random/medical.dm
  code/game/objects/effects/spawners/random/salvaging.dm
  code/game/objects/effects/spawners/random/waste_planet.dm
  code/game/objects/items/storage/wallets.dm
  code/game/objects/structures/salvaging.dm
  code/modules/clothing/gloves/color.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/ruins/jungleplanet_ruin_code/airbase.dm
  tools/UpdatePaths/Scripts/3526_replace_spawners.txt
Labels: Map Change, Balance/Rebalance, Ship, Code change, Ruin

#4320 Foodening (Food Desc Rewrite)
  code/modules/food_and_drinks/food/bait.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/ration.dm
  code/modules/food_and_drinks/food/snacks_burgers.dm
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/food/snacks_pie.dm
  code/modules/food_and_drinks/food/snacks_pizza.dm
  code/modules/food_and_drinks/food/snacks_salad.dm
  code/modules/food_and_drinks/food/snacks_sandwichtoast.dm
  code/modules/food_and_drinks/food/snacks_soup.dm
Labels: Code change

#4369 radiation storms are usable as weather
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Code change

#4249 ship orbit menu improvments
  code/modules/mob/dead/observer/orbit.dm
  code/modules/overmap/helm.dm
Labels: Code change

#4251 make the star and outpost tokens objects of interest
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/objects/star.dm
Labels: Code change

#4117 Wrecked Factory Touch Ups
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Map Change, Code change, Ruin

#4292 Removes most the bad decals on the walls of ships
  _maps/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  _maps/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  _maps/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  _maps/shuttles/independent/independent_dwayne.dmm
  _maps/shuttles/independent/independent_junker.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  _maps/shuttles/nanotrasen/nanotrasen_tegu.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/solgov/solgov_inkwell.dmm
  _maps/shuttles/solgov/solgov_paracelsus.dmm
  code/game/objects/effects/decals/decal.dm
  code/modules/unit_tests/ruin_placement.dm
Labels: Map Change, Ship, Code change, Ruin

#4318 Health scanner show structure damage and qol
  code/game/objects/items/devices/scanners.dm
Labels: Code change

#4356 Tiny Distillery Tweaks
  _maps/RandomRuins/RockRuins/rockplanet_distillery.dmm
Labels: Map Change, Ruin

#4371 blackbox keys should not have spaces
  code/modules/reagents/chemistry/reagents.dm
Labels: Code change

#4382 announce mission pay
  code/modules/overmap/missions.dm
Labels: Code change

#4386 Basic Bulk Fertilizer
  code/modules/cargo/packs/chemistry.dm
  code/modules/reagents/reagent_containers/jug.dm
Labels: Code change

#4390 solcon turrets
  _maps/shuttles/solgov/solgov_inkwell.dmm
  code/game/machinery/porta_turret/turret_types/ship_turret_types.dm
Labels: Map Change, Ship, Code change

#4222 Trickwine Fixes
  code/game/objects/effects/particles/misc.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
  icons/effects/particles/generic.dmi
Labels: Sprites, Code change

#4373 changes the clip war correspondent outfits and adds entretainment monitors to clip ships
  _maps/shuttles/minutemen/minutemen_arke.dmm
  _maps/shuttles/minutemen/minutemen_atlas.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  code/modules/clothing/outfits/factions/minutemen.dm
Labels: Map Change, Ship, Code change

#4381 Hermits use a spawner instead of evil subtype
  _maps/RandomRuins/SandRuins/whitesands_surface_e11_manufactory.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/game/objects/effects/spawners/mobspawner.dm
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/game/objects/items/grenades/ghettobomb.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
Labels: Map Change, Ship, Code change, Ruin

#4392 38 trickwine fix
  code/modules/cargo/blackmarket/blackmarket_items/ammo.dm
Labels: Code change

#4394 blackmarket logging similar to crate_ordered
  code/modules/cargo/blackmarket/blackmarket_item.dm
Labels: Code change

#4354 Syndicate Hardsuit Helmet Lights
  code/datums/action.dm
  code/datums/status_effects/buffs.dm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Code change

#4378 more ammo box sprites
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_gauss_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_pistol_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_rifle_stacks.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_smg_stacks.dm
  icons/obj/ammunition/ammo_boxes.dmi
Labels: Sprites, Code change

#4383 SUNS cape fix
  icons/mob/clothing/faction/suns/neck.dmi
Labels: Sprites

#4389 broadcast camera improvements
  code/game/objects/items/bodycamera.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: Code change

#4406 fix evil sleep
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Code change

#4270 Adds painkiller gameplay to surgery
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/special.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/surgery/bone_repair.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/surgery_step.dm
Labels: Code change, Test Merge Required

#4412 broadcast cameras notify entertainment monitors they're broadcasting now
  code/game/machinery/computer/camera.dm
  code/game/objects/items/bodycamera.dm
Labels: Code change

#4221 Modsuits 2025
  code/__DEFINES/mod.dm
  code/datums/components/gps.dm
  code/datums/status_effects/buffs.dm
  code/modules/cargo/packs/modsuits.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mod/mod_actions.dm
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_ai.dm
  code/modules/mod/mod_construction.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_core.dm
  code/modules/mod/mod_paint.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/mod_ui.dm
  code/modules/mod/modules/_module.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_maint.dm
  code/modules/mod/modules/modules_medical.dm
  code/modules/mod/modules/modules_science.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/mod/modules/modules_service.dm
  code/modules/mod/modules/modules_storage.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/mod/modules/modules_visor.dm
  shiptest.dme
Labels: DME Edit, Code change

#4246 EHF Point Beacons (Planet Preservation)
  code/__HELPERS/priority_announce.dm
  code/__HELPERS/virtual_z_level.dm
  code/game/machinery/planet_beacon.dm
  code/game/objects/items/cards_ids.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/overmap/objects/dynamic_datum.dm
  icons/obj/machines/beacon.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#4409 Fixes people forgetting how to breath
  code/modules/mob/living/carbon/life.dm
Labels: Code change

#4269 Adds an angle grinder to the Nail
  _maps/shuttles/subshuttles/pgf_nail.dmm
  html/changelogs/AutoChangeLog-pr-4205.yml
Labels: Map Change, Ship

#4374 Adds Green Nitrile Gloves to the Talos, Vaquero, and Colossus
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
Labels: Map Change, Ship

#4393 Adds Azuilhauz variants for Vox and Kepori
  code/__DEFINES/species_clothing_defines.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/species/kepori/onmob_neck_kepori.dmi
  icons/mob/species/vox/onmob_neck_vox.dmi
Labels: Sprites, Code change

#4437 Removes Elzuose (and IPC and Phorid) Damage Mods
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Code change

#4304 Sunskipper update
  _maps/shuttles/independent/independent_sunskipper.dmm
  code/modules/clothing/outfits/factions/independent.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4408 touches up background radiation (on waste worlds)
  code/game/objects/effects/radiation.dm
Labels: Code change, Test Merge Required

#4436 Decreases Drying Time on Concrete Floor
  code/game/turfs/open/floor/conc_floor.dm
Labels: Code change

#4413 Cable healing on mechanical limbs no longer does structure damage
  code/modules/power/cable.dm
Labels: Code change

#4414 IPCs with the MMI brain setting now get an MMI brain
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Labels: Code change

#4423 Hiding weapon aim action button
  code/modules/projectiles/gun.dm
Labels: Code change

#4424 Additional Engineering Tools on the Cargo Market
  code/modules/cargo/packs/tools.dm
Labels: Code change

#4429 Fixes Melee Refactor bugs and reverses undocumented knife change
  code/game/objects/items/melee/blunt.dm
  code/game/objects/items/melee/dualenergy.dm
  code/game/objects/items/melee/knife.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/axes_lefthand.dmi
  icons/mob/inhands/weapons/axes_righthand.dmi
  icons/mob/inhands/weapons/blunt_lefthand.dmi
  icons/mob/inhands/weapons/blunt_righthand.dmi
Labels: Sprites, Code change

#4355 Bolide Armory matchup (Bonus new mattress for the Crying Sun)
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
Labels: Map Change, Ship

#4430 small grammar fix
  code/modules/missions/outpost/_outpost.dm
Labels: Code change

#4459 coaltion can buy their guns again
  code/modules/faction/faction_datum.dm
Labels: Code change

#4435 Update jungle_bombed_starport.dmm
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  code/datums/ruins/jungle.dm
Labels: Map Change, Code change, Ruin

#4454 add ramzi faction
  code/__DEFINES/factions.dm
  code/game/machinery/porta_turret/turret_types/ruin_turret_types.dm
  code/game/machinery/porta_turret/turret_types/ship_turret_types.dm
  code/modules/faction/faction_datum.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
Labels: Code change

#4457 fix camera announec
  code/game/machinery/computer/camera.dm
  code/game/objects/items/bodycamera.dm
Labels: Code change

#3702 New Space Ruin: The Ramzi Scrapping Station
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/game/machinery/flasher.dm
  code/game/objects/structures/false_walls.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/paperwork/paper_premade.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#4416 This mission no longer spawns a naked man
  _maps/RandomRuins/WasteRuins/wasteplanet_tradepost.dmm
Labels: Map Change, Ruin

#4442 Two mission fixes
  _maps/RandomRuins/BeachRuins/beach_bunkers.dmm
  _maps/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
Labels: Map Change, Ruin

#4462 Removes the `central maint` area from the Scarab.
  _maps/shuttles/independent/independent_scarab.dmm
Labels: Map Change, Ship

#4403 cirrus/nimbus changes
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
Labels: Map Change, Ship, Code change

#4400 Quirk Rebalance + Bonus Language Quirks
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/_globalvars/lists/flavor_misc.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/mood.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/datums/traits/negative/addictions.dm
  code/datums/traits/negative/bad_touch.dm
  code/datums/traits/negative/blindness.dm
  code/datums/traits/negative/congenital_analgesia.dm
  code/datums/traits/negative/deafness.dm
  code/datums/traits/negative/frail.dm
  code/datums/traits/negative/heavy_sleeper.dm
  code/datums/traits/negative/light_drinker.dm
  code/datums/traits/negative/nearsighted.dm
  code/datums/traits/negative/paraplegic.dm
  code/datums/traits/negative/phobia.dm
  code/datums/traits/negative/prosopagnosia.dm
  code/datums/traits/negative/pushover.dm
  code/datums/traits/neutral.dm
  code/datums/traits/neutral/ageusia.dm
  code/datums/traits/neutral/bald.dm
  code/datums/traits/neutral/deviant_tastes.dm
  code/datums/traits/neutral/gunslinger.dm
  code/datums/traits/neutral/languages.dm
  code/datums/traits/neutral/monochromatic.dm
  code/datums/traits/neutral/musician.dm
  code/datums/traits/neutral/photographer.dm
  code/datums/traits/neutral/rilena_fan.dm
  code/datums/traits/neutral/vegetarian.dm
  code/datums/traits/positive/alcohol_tolerance.dm
  code/datums/traits/positive/apathetic.dm
  code/datums/traits/positive/empath.dm
  code/datums/traits/positive/freerunning.dm
  code/datums/traits/positive/friendly.dm
  code/datums/traits/positive/light_step.dm
  code/datums/traits/positive/self_aware.dm
  code/game/objects/items/grenades/discogrenade.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/cargo/packs/food.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/language/moffic.dm
  code/modules/language/teceti_unified.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living_say.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents/ethanol.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/eyes.dm
  icons/misc/language.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#4474 Minor cargo fix
  code/modules/cargo/packs/gun.dm
Labels: Code change

#4446 Multishot Mech gun fix
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Code change

#4476 Welding Goggles can be purchased from outpost
  code/modules/cargo/packs/tools.dm
Labels: Code change

#4483 fix the booze mission
  code/datums/ruins/beachplanet.dm
Labels: Code change, Ruin

#4347 Nerfs buckshot AP, buffs .357 damage
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Test Merge Candidate, Code change

#4380 Tweaks rifle and sniper ammo
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
Labels: Test Merge Candidate, Code change

#4431 update airbase turrets
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/modules/ruins/jungleplanet_ruin_code/airbase.dm
Labels: Map Change, Ship, Code change, Ruin

#4466 Updates rachnid name generation to be lore-compliant
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/overmap/objects/outpost/outpost.dm
  strings/names/spider_first.txt
  strings/names/spider_last.txt
  strings/names/spider_names.txt
Labels: Code change

#4482 fix gun manufacturer tag
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: Code change

#4376 Revert "Brings .22lr back to 20"
  code/modules/projectiles/projectile/bullets/pistol.dm
Labels: Code change, Test Merge Required

#4453 Buffs Woodsman's rate of fire
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#4468 Guncloset can now hold 8 guns and Ammo Can Fix
  code/game/objects/items/storage/ammo_can.dm
  code/game/objects/structures/guncase.dm
Labels: Code change

#4470 admin button to delete all active missions,
  code/controllers/subsystem/missions.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug/delete_active_missions.dm
  shiptest.dme
Labels: DME Edit, Code change

#4481 starlight fix
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Code change

#4350 Minor Riggs Changes
  _maps/shuttles/independent/independent_rigger.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4489 Autowiki Ships Update
  _maps/configs/independent_mkii_dwayne.json
  code/__HELPERS/maths.dm
  code/controllers/subsystem/mapping.dm
  code/modules/autowiki/pages/reagents.dm
  code/modules/autowiki/pages/ships.dm
  code/modules/autowiki/pages/shiptable.dm
  code/modules/faction/faction_datum.dm
Labels: Map Change, Ship, Code change

#4475 Being a Blind person no longer forces you to close your eyes
  code/modules/mob/status_procs.dm
Labels: Code change

#4417 A cap on simple missions
  code/modules/overmap/objects/outpost/outpost.dm
Labels: Code change

#4377 Ammo cost rebalance
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_smg_stacks.dm
Labels: Test Merge Candidate, Code change

#4420 Overclock your 501p
  code/game/mecha/combat/gygax.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/modules/cargo/packs/mechs.dm
Labels: Code change

#4425 Woodsman zoom and Vickland ghost scope slot fix
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/projectiles/guns/manufacturer/serene_sporting/ballistics.dm
Labels: Code change

#4426 short scope gives minimum recoil
  code/game/objects/items/attachments/short_scope.dm
Labels: Code change

#4432 Better behavoir so missions activate a bit quicker
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/missions.dm
Labels: Code change

#4444 nerfs lucky #2
  _maps/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  code/datums/ruins/wasteplanet.dm
Labels: Map Change, Test Merge Candidate, Code change, Ruin

#4401 ports the port of LETPASSCLICKS from tg
  code/__DEFINES/flags.dm
  code/_onclick/adjacent.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Code change, Test Merge Required

#4415 Tweaks to orbit menu.
  code/modules/missions/mission_important_comp.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/objects/star.dm
  tgui/packages/tgui/interfaces/Orbit/OrbitContent.tsx
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: TGUI, Code change

#4418 Removes armor from boots, gloves, and jumpsuits (and a hat)
  code/modules/clothing/chameleon.dm
  code/modules/clothing/factions/clip.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/factions/hardliners.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/factions/suns.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/jobs/Plasmaman/security.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/solgov.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mining/equipment/explorer_gear.dm
Labels: Code change

#4439 Reduces E11 spread by half + Black Market price decrease
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/projectiles/guns/manufacturer/eoehoma/lasers.dm
Labels: Code change

#4387 Wooden Planter Boxs and Botany Balance
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/roumain/srm_vagrant.dmm
  code/__DEFINES/_helpers.dm
  code/__DEFINES/botany.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/elements/climbable.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/hydroponics/seeds.dm
  code/modules/hydroponics/tray/_tray.dm
  code/modules/hydroponics/tray/chemreact.dm
  code/modules/hydroponics/tray/constructable.dm
  code/modules/hydroponics/tray/organic.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  icons/obj/hydroponics/equipment.dmi
  shiptest.dme
Labels: Map Change, DME Edit, Sprites, Test Merge Candidate, Ship, Code change

#4445 Minor tweaks to the overmap inspect
  code/modules/overmap/overmap_inspect.dm
  tgui/packages/tgui/interfaces/OvermapInspect/index.tsx
Labels: TGUI, Code change

#4449 Adding Smoke Grenades and Re-pricing Stingers in Cargo
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs/sec_supply.dm
Labels: Code change

#4450 Exosuit bump drilling
  code/game/mecha/equipment/tools/mining_tools.dm
Labels: Code change

#4495 Furnaces are 10x as fast at refining
  code/modules/mining/machine_processing.dm
Labels: Code change

#4493 Doubles spraycan charges, adds spraycan to roundstart gear items
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/objects/items/crayons.dm
  code/modules/client/loadout/loadout_general.dm
Labels: Code change

#4461 E11 hermits can now randomly spawn on sandworlds.
  _maps/RandomRuins/SandRuins/whitesands_surface_e11_manufactory.dmm
  code/datums/ruins/whitesands.dm
  code/game/objects/effects/spawners/mobspawner.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  code/modules/paperwork/folders_premade.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  icons/mob/simple_human.dmi
Labels: Map Change, Sprites, Code change, Ruin

#4452 Rechambers the Vickland to 8mm
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/game/objects/items/storage/pouches.dm
  code/modules/cargo/packs/gun.dm
  code/modules/clothing/outfits/ert/roumain_ert.dm
  code/modules/projectiles/boxes_magazines/ammo_loaders.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/ammunition/ammo.dmi
Labels: Map Change, Sprites, Code change, Ruin
