Repository shiptest-ss13/Shiptest, pull requests merged in 2025-06, with the labels that each got.

#4888 removes CI windows build
  .github/workflows/ci_suite.yml
Labels: GitHub

#4852 SUNS hatched subtypes
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  _maps/shuttles/independent/independent_corona.dmm
  _maps/shuttles/syndicate/syndicate_mercury.dmm
  _maps/shuttles/syndicate/syndicate_panacea.dmm
  code/game/objects/items/stacks/tiles/tiles_suns.dm
  code/game/turfs/open/floor/suns_floor.dm
Labels: Map Change, Ship, Code change

#4901 fixes active turfs and missions on jungle_cavecrew
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
Labels: Map Change, Ruin

#4876 reduce hivebot count in wasteplanet_tradepost
  _maps/RandomRuins/WasteRuins/wasteplanet_tradepost.dmm
Labels: Map Change, Ruin

#4868 Makes it easier to poke and annoy your colleagues than ever before. Also makes it so that hugging or shaking someone's hand requires you to grab them first.
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code change

#4903 Stops base overmap from getting random colors
  code/controllers/subsystem/overmap.dm
Labels: Code change

#4905 Fixes "an negative" typo
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
Labels: Code change

#4817 Thruster speed on helm consoles is now accurate
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: Test Merge Candidate, Code change

#4851 Makes the beacon have two shots
  code/modules/cargo/packs/weapon_attachments.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/manufacturer/hunter_pride/ballistics.dm
Labels: Code change

#4909 Update jungle_cavecrew.dmm
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
Labels: Map Change, Ruin

#4819 Digi camopants
  icons/mob/species/misc/digitigrade.dmi
Labels: Sprites

#4865 Fixes om5 smooth tile projectile offset
  code/modules/projectiles/projectile.dm
Labels: Code change

#4741 Various Inteq Sprite Fixes
  code/modules/clothing/factions/inteq.dm
  icons/mob/clothing/faction/inteq/vox.dmi
Labels: Sprites, Test Merge Candidate, Code change

#4853 readds most "working" antags to the antag panel
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/wizard/wizard.dm
Labels: Code change

#4823 Security hardsuit and HOS hardsuit reflavoring+respriting
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/mob/species/misc/digitigrade_suits.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Sprites, Code change

#4887 You can now pour reagents on the floor one by one with a separatory funnel.
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code change

#4789 face masks in loadout + species mask touchups
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/clothing/factions/ngr.dm
  code/modules/clothing/masks/breath.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/faction/inteq/mask.dmi
  icons/mob/clothing/faction/ngr/mask.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/species/kepori/onmob_mask_kepori.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, Code change

#4897 Revert 7.5 CLIP change
  code/game/machinery/porta_turret/turret_types/ruin_turret_types.dm
  code/game/machinery/porta_turret/turret_types/ship_turret_types.dm
  code/game/objects/items/shrapnel.dm
  code/game/objects/items/storage/ammo_can.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_sniper_stacks.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
Labels: Code change

#4797 "beta" notice for 516
  code/controllers/subsystem/statpanel.dm
Labels: Stale, Code change

#4921 hacks in ship officer bans
  code/modules/admin/sql_ban_system.dm
  code/modules/mob/dead/new_player/ship_select.dm
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: TGUI, Code change

#4927 fix high priority mission selection
  code/modules/events/high_priority_mission.dm
Labels: Code change

#4916 drills automatically shut down
  code/modules/mining/drill.dm
  code/modules/missions/dynamic/signaled.dm
Labels: Code change

#4798 NTOS errors have an in-lore copyright
  code/__DEFINES/time.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/tgui.dm
  code/modules/admin/chat_commands.dm
Labels: Stale, Code change

#4867 Ports Assorted tg music player changes
  code/__DEFINES/cooldowns.dm
  code/__HELPERS/roundend.dm
  code/__HELPERS/text.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/tgui/tgui_input_number.dm
  code/modules/tgui/tgui_input_text.dm
  shiptest.dme
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
Labels: DME Edit, TGUI, Test Merge Candidate, Code change

#4648 Nanotrasen Refueling Station (Full Half)
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/SpaceRuins/onehalftwo.dmm
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
  _maps/shuttles/subshuttles/Subshuttle Catalog.txt
  _maps/shuttles/subshuttles/independent_bonnie.dmm
  code/datums/ruins/space.dm
  code/datums/shuttles.dm
  code/game/area/areas/ruins/space.dm
  code/game/machinery/porta_turret/turret_types/ruin_turret_types.dm
  code/game/objects/items/storage/backpack.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/modules/paperwork/paper_premade.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change, Ruin

#4773 Adds hunting bounties.
  code/modules/cargo/exports/dogtags.dm
  code/modules/cargo/exports/hunting.dm
  code/modules/cargo/exports/trophys.dm
  shiptest.dme
Labels: DME Edit, Code change, Test Merge Required

#4933 maintains the raleigh a bit
  _maps/shuttles/independent/independent_raleigh.dmm
Labels: Map Change, Ship

#4841 Adds the Magpie-class Exploration Frigate [NT]
  _maps/configs/nanotrasen_magpie.json
  _maps/shuttles/nanotrasen/nanotrasen_magpie.dmm
  code/modules/clothing/outfits/factions/nanotrasen.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4782 Adds the Rhode-class cargo frieghter. (Scav Two)
  _maps/configs/independent_rhode.json
  _maps/shuttles/independent/independent_rhode.dmm
Labels: Map Change, Test Merge Candidate, Ship

#4850 makes the vickland 10 rounds again + 308 HP sprite instead of Inteq
  _maps/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  code/modules/projectiles/boxes_magazines/ammo_loaders.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_rifle_stacks.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  icons/obj/ammunition/ammo.dmi
Labels: Map Change, Sprites, Code change, Ruin

#4788 New IPC Frame: Absolution-Lux "Solferino"
  code/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  icons/mob/species/ipc/bodyparts.dmi
Labels: Sprites, Code change

#4836 Fix some reagent explosions not exploding hard enough
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Code change

#4918 makes indie cobra burst fire
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: Code change

#4930 Adds missing inhands for rollie-type cigarettes
  icons/mob/inhands/clothing/masks_lefthand.dmi
  icons/mob/inhands/clothing/masks_righthand.dmi
Labels: Sprites

#4924 Ramzi Elite Hardsuit (Whoops)
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Sprites, Merge Conflict, Code change

#4931 removes ciggie preference from smoker
  code/datums/traits/negative/addictions.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Code change

#4615 Teceti Foods
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/game/objects/items/food/burger.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/meatslab.dm
  code/game/objects/items/trash.dm
  code/modules/cargo/packs/food.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/rations/dofi.dm
  code/modules/food_and_drinks/food/rations/miras.dm
  code/modules/food_and_drinks/food/rations/sososi.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/hydroponics/grown/dote_berry.dm
  code/modules/hydroponics/grown/dotu_fime.dm
  code/modules/hydroponics/grown/fara_li.dm
  code/modules/hydroponics/grown/refa_li.dm
  code/modules/hydroponics/grown/siti.dm
  code/modules/hydroponics/grown/sososi.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents/base_drinks.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/snack.dm
  icons/obj/drinks/drinks.dmi
  icons/obj/food/burgerbread.dmi
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
  icons/obj/food/frozen_treats.dmi
  icons/obj/food/meat.dmi
  icons/obj/food/ration.dmi
  icons/obj/food/soupsalad.dmi
  icons/obj/hydroponics/growing_fruits.dmi
  icons/obj/hydroponics/growing_vegetables.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/janitor.dmi
  shiptest.dme
Labels: DME Edit, Sprites, Code change

#4944 fix snout masks/helmets for FBP sarathi
  code/modules/surgery/bodyparts/robot_bodyparts.dm
Labels: Code change

#4919 gives kinetic crushers knockback
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Code change

#4922 The Rain shall rain upon thee
  code/datums/weather/weather_types/rain.dm
  code/modules/mob/living/carbon/examine.dm
Labels: Code change

#4953 Fix turret human shoot toggle not toggling shoot human
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code change

#4954 Fixes the vi suits cause they dont work right now
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
Labels: Sprites

#4956 Fixes the black market camo set not spawning correctly
  code/modules/cargo/blackmarket/packs/clothing.dm
Labels: Code change

#4962 Fixes Frontiersmen simplemob drops
  code/modules/mob/living/simple_animal/corpse_spawners/frontiersman.dm
Labels: Code change

#4958 Resprites the floral shirt+adds two new ones aswell
  code/modules/client/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites, Code change

#4950 New Syndicate Softsuits
  _maps/RandomRuins/BeachRuins/beach_ancient_ruin.dmm
  _maps/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/RandomRuins/RockRuins/rockplanet_rustbase.dmm
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  _maps/shuttles/syndicate/syndicate_hardliners_banshee.dmm
  _maps/shuttles/syndicate/syndicate_hardliners_leyak.dmm
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  _maps/shuttles/syndicate/syndicate_ngr_haboob.dmm
  _maps/shuttles/syndicate/syndicate_ngr_kaliandhi.dmm
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/cargo/blackmarket/packs/clothing.dm
  code/modules/cargo/packs/spacesuits.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  icons/mob/clothing/head/spacesuits.dmi
  icons/mob/clothing/suits/spacesuits.dmi
  icons/obj/clothing/head/spacesuits.dmi
  icons/obj/clothing/suits/spacesuits.dmi
  tools/UpdatePaths/Scripts/4950_syndi_suits.txt
Labels: Map Change, Sprites, Ship, Code change, Ruin

#4955 Removes some brain traumas i don't like
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/severe.dm
Labels: Code change

#4959 fix cobra magazine again
  icons/obj/ammunition/ammo.dmi
Labels: Sprites

#4965 Actually fixes frontiersmen simple mob drops
  code/modules/mob/living/simple_animal/corpse_spawners/frontiersman.dm
Labels: Code change

#4947 Makes the Military Cobra Internally Suppressed
  code/game/objects/items/attachments/silencer.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  icons/obj/guns/manufacturer/scarborough/48x32.dmi
Labels: Sprites, Code change

#4963 Updates Rabbit Ear Sprites!
  icons/mob/species/human/rabbit.dmi
Labels: Sprites

#4952 Fixes sparks passing through walls and windows
  code/game/objects/effects/effect_system/effect_system.dm
Labels: Code change

#4969 moves around a bunch of teceti food numbers
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/meatslab.dm
  code/modules/food_and_drinks/food/rations/dofi.dm
  code/modules/food_and_drinks/food/rations/miras.dm
  code/modules/food_and_drinks/food/rations/sososi.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
Labels: Code change

#4968 Adds a filing cabinet to the Arke.
  _maps/shuttles/minutemen/minutemen_arke.dmm
Labels: Map Change, Ship

#4974 tactical armor vests no longer block syringes
  code/modules/clothing/suits/armor.dm
Labels: Code change

#4986 rottweiler boxes take specialist ammo
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
Labels: Code change

#4973 Fixes Vickland Stripper Clips not taking Specialty Ammo
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/boxes_magazines/ammo_loaders.dm
Labels: Code change

#4975 .300 speedloader fixes and .300 TRAC sprite
  code/modules/projectiles/boxes_magazines/ammo_loaders.dm
  icons/obj/ammunition/ammo_bullets.dmi
Labels: Sprites, Code change

#4896 Fixes tape recorders not formatting text properly
  code/game/objects/items/devices/taperecorder.dm
  code/modules/ruins/icemoonruin_code/tesla_lab.dm
  code/modules/ruins/rockplanet_ruin_code/mining_base.dm
  code/modules/ruins/wasteplanet_ruin_code/tradepost.dm
Labels: Code change

#4979 adds teceti foods to cybersun ships
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  _maps/shuttles/cybersun/cybersun_nimbus.dmm
  icons/obj/food/meat.dmi
Labels: Map Change, Sprites, Ship

#4985 Fixes Cycler examine and worn icon
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/clothing/back.dmi
Labels: Sprites, Code change

#4980 makes stardrop come in patches
  code/game/objects/items/storage/firstaid.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/reagent_containers/patch.dm
Labels: Code change

#4942 A Redo of NT ice outpost.
  _maps/outpost/elevator_ice.dmm
  _maps/outpost/hangar/nt_ice_20x20.dmm
  _maps/outpost/hangar/nt_ice_40x20.dmm
  _maps/outpost/hangar/nt_ice_40x40.dmm
  _maps/outpost/hangar/nt_ice_56x20.dmm
  _maps/outpost/hangar/nt_ice_56x40.dmm
  _maps/outpost/nanotrasen_ice.dmm
  code/game/objects/structures/window.dm
  code/game/turfs/open/floor/hangar.dm
  code/game/turfs/open/floor/plating/icemoon.dm
Labels: Map Change, Test Merge Candidate, Code change

#4943 PGF-Ship-touchups-+-Cthonian-overhaul
  _maps/configs/pgf_mercurial_quasar.json
  _maps/configs/pgf_woeful_cthonian.json
  _maps/shuttles/pgf/pgf_crying_sun.dmm
  _maps/shuttles/pgf/pgf_elated_bolide.dmm
  _maps/shuttles/pgf/pgf_mercurial_quasar.dmm
  _maps/shuttles/pgf/pgf_woeful_cthonian.dmm
  code/modules/cargo/packs/armor.dm
  code/modules/clothing/factions/gezena.dm
  code/modules/clothing/outfits/factions/gezena.dm
Labels: Map Change, Test Merge Candidate, Ship, Code change

#4992 Removes combat exosuits from cargo + mech rocket removal
  _maps/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  code/modules/cargo/packs/mechs.dm
Labels: Map Change, Code change, Ruin

#4957 ships can no longer hail themselves
  code/modules/overmap/_overmap_datum.dm
Labels: Code change

#4999 More Ore Vein Tweaks
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/modules/mining/ore_veins.dm
  code/modules/missions/outpost/drill_mission.dm
Labels: Code change

#5000 Oxygen lockers no longer obliterate themselves sometimes and have plasma tanks for plasma breathing individuals
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Code change

#5007 hair resprites (long emo, spiky ponytail, bunhead3 and new longbun)
  code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  icons/mob/human_face.dmi
Labels: Sprites, Code change

#4987 Cargo pants resprite (indie expansion 20000)
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/clothing/under/pants.dm
  icons/mob/clothing/under/shorts_pants.dmi
  icons/obj/clothing/under/shorts_pants.dmi
Labels: Sprites, Code change
